{{={{{ }}}=}}
<div data-ng-controller="PackagesConfirmCtrl" data-ng-init='data.packageId="{{{packageId}}}"'>
    <header>
        <h1>
            Confirmación de contratación de paquete:
        </h1>
    </header>
    <section>
        <ng-card>
            <div class="packageContainer">
                <div class="my-reviews">
                    <div class="package">
                        <div class="review-proper">
                            <div class="company-logo {{data.package.title}}">
                                {{data.package.title}}
                            </div>
                            <div class="company-name">
                                <h2 class="title-md">Paquete {{data.package.title}}</h2>
                                <div class="description">
                                    <div>
                                        <p class="vote-count">{{data.package.dischargeLeads}} contactos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="price">
                                <span class="usd">{{data.package.price}}.-</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a href="{{data.button}}" target="_blank" data-ng-click="confirmPackage()" class="button button-primary button-lg" data-ng-class="{waiting: !data.button}" data-ng-disabled="!data.button">
                        Confirmar
                    </a>
                    <a class="cancel" data-ng-click="cancel()">
                        Cancelar
                    </a>
                </div>
            </div>
        </ng-card>
        <ng-card>
            <div class="mercadopago">
                <div class="vip-section-service">
                    <div class="tabs-section">
                        <div class="tabs-container" id="tabs-content-1">
                            <header><span class="icon-service logo-mp"></span>La solución para que pagues de forma rápida, segura y ¡sin costo adicional!</header>
                            <div class="tabs-content">
                                <div class="card-section">
                                    <h2 class="payment-title text-dark">¡Tarjeta de crédito en hasta 12 cuotas sin interés!</h2>
                                    <ul class="list_cards">
                                        <li class="small" aria-hidden="false" aria-setsize="23" aria-posinset="1" aria-label="page1" style="">
                                            <span class="payments-medium _294-medium" alt="Banco Hipotecario"></span>
                                        </li>
                                        <li class="small" aria-hidden="false" aria-setsize="23" aria-posinset="2" aria-label="page1" style="">
                                            <span class="payments-medium _1041-medium" alt="Emitida por American Express"></span>
                                        </li>
                                        <li class="small" aria-hidden="false" aria-setsize="23" aria-posinset="3" aria-label="page1" style="">
                                            <span class="payments-medium _319-medium" alt="Citi"></span>
                                        </li>
                                        <li class="small" aria-hidden="false" aria-setsize="23" aria-posinset="4" aria-label="page1" style="">
                                            <span class="payments-medium _1026-medium" alt="Banco Industrial"></span>
                                        </li>
                                        <li class="medium" aria-hidden="false" aria-setsize="23" aria-posinset="5" aria-label="page1" style="">
                                            <span class="payments-medium _1078-medium" alt="Mercado Pago + Banco Patagonia"></span>
                                        </li>
                                        <li class="small" aria-hidden="true" aria-setsize="23" aria-posinset="6" aria-label="page2" style="">
                                            <span class="payments-medium _692-medium" alt="Cencosud"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="7" aria-label="page2" style="">
                                            <span class="payments-medium _303-medium" alt="Banco Patagonia"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="8" aria-label="page2" style="">
                                            <span class="payments-medium _1005-medium" alt="Provencred"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="9" aria-label="page2" style="">
                                            <span class="payments-medium _1049-medium" alt="Banco de La Pampa"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="10" aria-label="page2" style="">
                                            <span class="payments-medium _1044-medium" alt="Banco Provincia"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="11" aria-label="page3" style="">
                                            <span class="payments-medium _1028-medium" alt="Diners"></span>
                                        </li>
                                        <li class="small" aria-hidden="true" aria-setsize="23" aria-posinset="12" aria-label="page3" style="">
                                            <span class="payments-medium _1007-medium" alt="Nativa Mastercard"></span>
                                        </li>
                                        <li class="small" aria-hidden="true" aria-setsize="23" aria-posinset="13" aria-label="page3" style="">
                                            <span class="payments-medium _288-medium" alt="Tarjeta Shopping"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="14" aria-label="page3" style="">
                                            <span class="payments-medium _282-medium" alt="Banco Nacion"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="15" aria-label="page3" style="">
                                            <span class="payments-medium _272-medium" alt="Banco Comafi"></span>
                                        </li>
                                        <li class="small" aria-hidden="true" aria-setsize="23" aria-posinset="16" aria-label="page4" style="">
                                            <span class="payments-medium _338-medium" alt="ICBC"></span>
                                        </li>
                                        <li class="small" aria-hidden="true" aria-setsize="23" aria-posinset="17" aria-label="page4" style="">
                                            <span class="payments-medium _326-medium" alt="HSBC"></span>
                                        </li>
                                        <li class="small" aria-hidden="true" aria-setsize="23" aria-posinset="18" aria-label="page4" style="">
                                            <span class="payments-medium _688-medium" alt="Cabal"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="19" aria-label="page4" style="">
                                            <span class="payments-medium _313-medium" alt="Banco Supervielle"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="20" aria-label="page4" style="">
                                            <span class="payments-medium _333-medium" alt="Nuevo Banco de Santa Fe"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="21" aria-label="page5" style="">
                                            <span class="payments-medium _286-medium" alt="Banco San Juan"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="22" aria-label="page5" style="">
                                            <span class="payments-medium _331-medium" alt="Nuevo Banco de Entre Rios"></span>
                                        </li>
                                        <li class="medium" aria-hidden="true" aria-setsize="23" aria-posinset="23" aria-label="page5" style="">
                                            <span class="payments-medium _287-medium" alt="Banco Santa Cruz"></span>
                                        </li>
                                    </ul>
                                    <p class="payments-conditions">
                                        <a rel="nofollow" class="iframe-modal" data-block="trigger" title="Ver condiciones" data-modal:dinamic="true" href="http://www.mercadolibre.com.ar/gz/condiciones-bancos" data-modal:width="720" data-modal:height="450" data-modal:url="http://www.mercadolibre.com.ar/gz/condiciones-bancos?modal=true&amp;resize=false">
                                            Ver condiciones
                                        </a>
                                    </p>
                                    <p class="text-light time-string"><span class="ch-icon-time"></span>Pagas, y se acredita instantáneamente.</p>
                                </div>
                                <hr>
                                <div class="offline">
                                    <div class="">
                                        <h2 class="payment-title text-dark">Efectivo</h2>
                                        <ul class="list_cards">
                                            <li class="scroll-carousel-item">
                                                <span class="payments-small _pagofacil-small" alt="Pago Fácil"></span>
                                            </li>
                                            <li class="scroll-carousel-item">
                                                <span class="payments-small _rapipago-small" alt="Rapipago"></span>
                                            </li>
                                            <li class="scroll-carousel-item">
                                                <span class="payments-small _bapropagos-small" alt="Provincia NET"></span>
                                            </li>
                                        </ul>
                                        <p class="time-string text-light"><span class="ch-icon-time"></span> Pagas, y se acredita instantáneamente.
                                            <br> Con Provincia NET se acredita en 1 día hábil.</p>
                                    </div>
                                    <div class="">
                                        <h2 class="payment-title text-dark">Transferencia bancaria</h2>
                                        <ul class="list_cards">
                                            <li class="scroll-carousel-item">
                                                <span class="payments-small _redlink-small" alt="Red Link"></span>
                                            </li>
                                        </ul>
                                        <p class="time-string text-light"><span class="ch-icon-time"></span> Pagas, y se acredita de 1 a 2 días hábiles.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-card>
    </section>
</div>