@import '../../less/global/colors';
@import '../../less/global/modal';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';
[data-ng-controller="PackagesConfirmCtrl"] {
    display: flex;
    flex-direction: column;
    color: @primary-color;
    flex: 1;
    justify-content: center;
    align-items: center;
    .maxWidth1440 {
        max-width: 1440px;
        min-width: 1132px;
        margin: auto;
    }
    .maxWidth1440;
    .boldText {
        font-weight: 500;
    }
    .secondary {
        color: @secondary-color;
    }
    header {
        padding: 20px;
        text-align: center;
        border-bottom: none;
        width: 70%;
        h1 {
            font-size: 2rem;
        }
    }
    section {
        display: flex;
        flex-direction: column;
        padding: 10px;
        ng-card {
            display: flex;
            font-size: 1em;
            .product {}
        }
    }
    ng-card {
        flex: 1;
    }
    .packageContainer {
        display: flex;
        flex: 1;
        .cancel{
            margin-left: 20px;
        }
        .buttons {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .button {
                width: 160px;
            }
        }
        .my-reviews {
            flex: 1;
        }
        .package {
            .review-proper {
                padding: 30px 20px;
                display: block;
                display: flex;
                @media screen and (min-width: 510px) {
                    max-width: 400px;
                    margin: 0 auto;
                }
                .company-logo {
                    align-content: center;
                    background-color: white;
                    border: 1px solid @gzz-medium-gray;
                    display: flex;
                    flex-direction: column;
                    height: 80px;
                    width: 80px;
                    justify-content: center;
                    overflow: hidden;
                    padding: 3px;
                    border-radius: 50%;
                    align-items: center;
                    color: white;
                    font-weight: 500;
                    font-size: 1.2em;
                    &.Coati {
                        background-color: #bc8248;
                    }
                    &.Huemul {
                        background-color: #fac51c;
                    }
                    &.Suri {
                        background-color: #f37934;
                    }
                }
                .price {
                    display: flex;
                    align-items: center;
                    font-size: 2em;
                    flex: 1;
                    .icon {
                        font: normal normal normal 30px/1 FontAwesome;
                        margin-right: 10px;
                    }
                    .usd {
                        &:before {
                            content: "\f155";
                            .icon;
                        }
                    }
                }
                .company-name {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 3;
                    margin-left: 15px;
                    h1 {
                        display: flex;
                        justify-content: space-between;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: 5px;
                        span {
                            font-size: .8em;
                            color: lightgrey;
                        }
                    }
                    .score {
                        display: block;
                        margin-bottom: 10px;
                    }
                    .description {
                        display: flex;
                        flex-direction: row;
                        .vote-count {
                            font-size: 1.2em;
                            color: @gzz-dark-gray;
                            margin-bottom: 10px;
                        }
                    }
                    .actions {
                        .actions-space {
                            margin-left: 10px;
                        }
                    }
                }
                .confirm-removal {
                    flex: 1;
                    margin-left: 15px;
                    .actions {
                        margin-top: 10px;
                    }
                }
                .date {
                    font-size: 14px;
                    color: @gzz-dark-gray;
                }
            }
        }
    }
    .mercadopago {
        .list_cards {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            li {
                width: 70px;
                height: 30px;
                margin: 6px auto;
                &.medium {
                    width: 120px;
                }
                &.small {
                    width: 65px;
                }
                span {
                    margin: auto;
                    display: block;
                }
            }
        }
        .offline {
            display: flex;
        }
        .vip-section-service .payments-conditions {
            text-align: right;
        }
        .vip-section-service .icon-service.logo-mp {
            background-position: 0 -97px;
            height: 72px;
            margin-right: 20px;
        }
        .vip-section-service .icon-service.logo-mp,
        .vip-section-service .icon-service.logo-me {
            background-image: url("https://http2.mlstatic.com/resources/frontend/web-vip/assets/sprite_services_logos@2x-132eacf6e82c4230d72e2890513b4b78.png");
            background-size: cover;
            width: 77px;
        }
        .vip-section-service .icon-service {
            display: block;
            background-repeat: no-repeat;
        }
        .vip-section-service .logo-mp {
            width: 54px;
            height: 50px;
            background-position: 0 -69px;
        }
        .vip-section-service .payment-title + .time-string {
            margin: 0 0 0 10px;
            display: inline-block;
        }
        .vip-section-service .payment-title + .scroll-carousel-wrapper {
            margin-top: 5px;
        }
        .vip-section-service .payment-title,
        .vip-section-service .shipping-title {
            font-weight: bold;
            margin: 0;
            font-size: 1.2em;
            display: inline-block;
            color: #333;
        }
        .vip-section-service .payment-title-lowercase,
        .vip-section-service .shipping-title-lowercase {
            text-transform: lowercase;
        }
        .vip-section-service .payment-title + .time-string {
            margin: 0 0 0 10px;
            display: inline-block;
        }
        .vip-section-service .payment-title + .scroll-carousel-wrapper {
            margin-top: 5px;
        }
        .vip-section-service .scroll-carousel.payments-carousel .scroll-carousel-item .payments-medium {
            display: inline-block;
            margin: 0 auto;
        }
        .vip-section-service .scroll-carousel.payments-carousel .scroll-carousel-item .payments-medium + span {
            bottom: 3px;
            display: inline-block;
            left: 0;
            position: absolute;
            right: 0;
        }
        .scroll-carousel-wrapper .scroll-carousel {
            -webkit-overflow-scrolling: touch;
            overflow: auto;
            margin: 10px 0;
        }
        .scroll-carousel-wrapper .scroll-carousel::-webkit-scrollbar {
            display: none;
            height: 0;
        }
        .scroll-carousel-wrapper .scroll-carousel-list,
        .scroll-carousel-wrapper ul {
            display: flex;
            flex-wrap: wrap;
        }
        .scroll-carousel-wrapper .scroll-carousel-item,
        .scroll-carousel-wrapper > li {
            display: table-cell;
            vertical-align: top;
            padding: 0;
            position: relative;
            overflow: hidden;
        }
        .scroll-carousel-wrapper .scroll-carousel-item:first-child,
        .scroll-carousel-wrapper > li:first-child {
            padding-left: 0;
        }
        .scroll-carousel-wrapper .scroll-carousel-item:last-child,
        .scroll-carousel-wrapper > li:last-child {
            padding-right: 0;
        }
        .scroll-carousel-wrapper .scroll-carousel-item > a,
        .scroll-carousel-wrapper > li > a {
            display: block;
        }
        .scroll-carousel-wrapper .scroll-carousel-item img,
        .scroll-carousel-wrapper > li img {
            display: block;
            max-width: inherit;
            margin: 0 auto;
        }
        .scroll-carousel-wrapper .scroll-carousel-item {
            padding: 0 5px;
        }
        .scroll-carousel-wrapper .carousel-item-title {
            display: -webkit-box;
            line-height: 1;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: #666;
            font-size: 12px;
            max-height: 32px;
            line-height: 1.25;
            margin: 10px 0 0;
            overflow: hidden;
            word-break: break-word;
        }
        .scroll-carousel-wrapper .image-wrapper {
            border: 1px solid #eee;
            height: 120px;
            position: relative;
            width: 120px;
        }
        .scroll-carousel-wrapper .image-wrapper img {
            display: block;
            left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            max-height: 118px;
            max-width: 118px;
        }
        .scroll-carousel-wrapper .carousel-item-price {
            color: #900;
            font-size: 14px;
            line-height: 18px;
            margin-top: 3px;
            white-space: nowrap;
        }
        .scroll-carousel-wrapper .carousel-item-price sup {
            font-size: 10px;
            line-height: 1.2;
            vertical-align: text-top;
        }
        .scroll-carousel-wrapper.base .scroll-carousel-item a {
            max-width: 120px;
        }
        .scroll-carousel-wrapper.base .image-wrapper {
            border: 1px solid #eee;
            height: 120px;
            position: relative;
            width: 120px;
        }
        .scroll-carousel-wrapper.base .image-wrapper img {
            display: block;
            left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            max-height: 118px;
            max-width: 118px;
        }
        .scroll-carousel-wrapper.small .scroll-carousel-item a {
            max-width: 70px;
        }
        .scroll-carousel-wrapper.small .image-wrapper {
            border: 1px solid #eee;
            height: 70px;
            position: relative;
            width: 70px;
        }
        .scroll-carousel-wrapper.small .image-wrapper img {
            display: block;
            left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            max-height: 68px;
            max-width: 68px;
        }
        .scroll-carousel-wrapper.small .carousel-item-price {
            font-size: 12px;
        }
        .scroll-carousel-wrapper.xsmall .scroll-carousel-item a {
            max-width: 40px;
        }
        .scroll-carousel-wrapper.xsmall .image-wrapper {
            border: 1px solid #eee;
            height: 40px;
            position: relative;
            width: 40px;
        }
        .scroll-carousel-wrapper.xsmall .image-wrapper img {
            display: block;
            left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            max-height: 38px;
            max-width: 38px;
        }
        .scroll-carousel-wrapper.xsmall .carousel-item-price {
            font-size: 12px;
        }
        .scroll-carousel-wrapper .ch-icon-truck {
            -webkit-transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            transform: scaleX(-1);
            -ms-filter: "FlipH";
            filter: FlipH;
            display: inline-block;
            font-size: 15px;
            margin: 0px;
        }
        .scroll-carousel-wrapper .free-shiping-text {
            color: #390;
            font-size: 11px;
            line-height: 1.3;
            padding-left: 2px;
            text-indent: 0;
        }
        .scroll-carousel-wrapper .image-wrapper {
            border: 1px solid #ddd;
        }
        .scroll-carousel-wrapper .officialstore-icon {
            display: inline-block;
            background-image: url('https://http2.mlstatic.com/resources/frontend/web-vip/assets/icon-to-19f952a78c0a939c83836103714f6c31.png');
            background-repeat: no-repeat;
            font-size: 11px;
            line-height: 1.3;
            padding-left: 18px;
            color: #333;
        }
        .scroll-carousel-wrapper .officialstore-icon.only-icon {
            margin-top: 2px;
            text-indent: 999999px;
            overflow: hidden;
            height: 14px;
            width: 14px;
            padding-left: 0px;
            vertical-align: text-top;
        }
        .payment-options p {
            color: #666;
        }
        .tabs-section {
            position: relative;
        }
        .tabs-section .tabs-trigger {
            border: 1px solid #F2F2F2;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            display: inline-block;
            height: 110px;
            margin-right: 10px;
            vertical-align: top;
            width: 170px;
            text-align: center;
            padding: 10px;
            position: relative;
        }
        .tabs-section .tabs-trigger:before {
            border: .75em solid transparent;
            border-bottom-color: #E0E0E0;
            content: '';
            display: none;
            height: 0;
            left: 0;
            margin: 3px auto 0;
            position: absolute;
            right: 0;
            top: 100%;
            width: 0;
        }
        .tabs-section .tabs-container {
            background-color: #F2F2F2;
            border-radius: 5px;
            overflow: hidden;
            text-align: left;
            max-width: 920px;
        }
        .tabs-section .tabs-container .card-subtitle {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .tabs-section .tabs-container > header {
            display: flex;
            align-items: center;
            background-color: #E0E0E0;
            margin: 0;
            padding: 25px 20px;
            font-size: 16px;
            width: initial;
            text-align: initial;
        }
        .tabs-section .tabs-container .tabs-content {
            padding: 15px 20px;
        }
        .tabs-section .tabs-trigger-input:checked + label {
            background-color: #F2F2F2;
        }
        .tabs-section .tabs-trigger-input:checked + label:before {
            display: block;
        }
        .tabs-section #tabs-1:checked ~ #tabs-content-1,
        .tabs-section #tabs-2:checked ~ #tabs-content-2,
        .tabs-section #tabs-3:checked ~ #tabs-content-3,
        .tabs-section #tabs-4:checked ~ #tabs-content-4,
        .tabs-section #tabs-5:checked ~ #tabs-content-5 {
            display: block;
        }
        .tabs-section-block .tabs-container,
        .tabs-section-block .tabs-trigger:before {
            display: block;
        }
        .tabs-section-block .tabs-trigger {
            background-color: #F2F2F2;
        }
        .lt-ie9 .tabs-container {
            display: block !important;
        }
        .tabs-section-animation {
            position: relative;
        }
        .tabs-section-animation input {
            display: none;
        }
        .tabs-section-animation li {
            float: left;
            margin-right: 3px;
        }
        .tabs-section-animation .tabs-trigger {
            border-radius: 5px 5px 0 0;
            border: solid 1px #ededed;
            display: block;
            font-weight: normal !important;
            padding: 5px;
            position: relative;
            z-index: 2;
            -webkit-user-select: none;
            user-select: none;
        }
        .tabs-section-animation .tabs-content {
            border: solid 1px #ededed;
            bottom: 0;
            box-sizing: border-box;
            left: 0;
            opacity: 0;
            overflow: hidden;
            padding: 10px;
            position: absolute;
            right: 0;
            top: 19px;
            overflow: hidden;
        }
        .tabs-section-animation .tabs-content > *,
        .tabs-section-animation .tabs-content tbody {
            opacity: 0;
            -webkit-transition: opacity ease-in 0.2s;
            -o-transition: opacity ease-in 0.2s;
            transition: opacity ease-in 0.2s;
        }
        .tabs-section-animation [type='radio']:checked ~ .tabs-content,
        .tabs-section-animation [type='radio']:checked ~ .tabs-content > *,
        .tabs-section-animation [type='radio']:checked ~ .tabs-content tbody {
            opacity: 1;
            z-index: 1;
        }
        .tabs-section-animation [type='radio']:checked ~ .tabs-trigger {
            font-weight: bold !important;
            background-color: #ededed;
            border-bottom-color: #FFF;
            background-image: linear-gradient(#ededed, #FFF);
        }
        .payments-medium {
            background: url(https://resources.mlstatic.com/payment-logos/payment-logos-mla-medium_v_d60f4c654e.png) no-repeat;
        }
        ._pagofacil-medium {
            width: 26px;
            height: 26px;
            background-position: left 0;
        }
        ._amex-medium,
        ._2-medium {
            width: 24px;
            height: 24px;
            background-position: left -28px;
        }
        ._297-medium {
            width: 58px;
            height: 17px;
            background-position: left -54px;
        }
        ._282-medium {
            width: 107px;
            height: 21px;
            background-position: left -73px;
        }
        ._master-medium {
            width: 34px;
            height: 20px;
            background-position: left -96px;
        }
        ._cencosud-medium,
        ._692-medium {
            width: 33px;
            height: 22px;
            background-position: left -118px;
        }
        ._331-medium {
            width: 100px;
            height: 17px;
            background-position: left -142px;
        }
        ._338-medium {
            width: 58px;
            height: 19px;
            background-position: left -161px;
        }
        ._banelco-medium {
            width: 54px;
            height: 17px;
            background-position: left -182px;
        }
        ._naranja-medium,
        ._5-medium {
            width: 35px;
            height: 22px;
            background-position: left -201px;
        }
        ._303-medium {
            width: 95px;
            height: 9px;
            background-position: left -225px;
        }
        ._1026-medium {
            width: 54px;
            height: 23px;
            background-position: left -236px;
        }
        ._argencard-medium,
        ._4-medium {
            width: 23px;
            height: 23px;
            background-position: left -261px;
        }
        ._1005-medium {
            width: 73px;
            height: 12px;
            background-position: left -286px;
        }
        ._rapipago-medium {
            width: 76px;
            height: 14px;
            background-position: left -300px;
        }
        ._272-medium {
            width: 100px;
            height: 15px;
            background-position: left -316px;
        }
        ._cabal-medium,
        ._688-medium {
            width: 23px;
            height: 23px;
            background-position: left -333px;
        }
        ._1007-medium,
        ._nativa-medium {
            width: 50px;
            height: 22px;
            background-position: left -358px;
        }
        ._294-medium {
            width: 63px;
            height: 22px;
            background-position: left -382px;
        }
        ._333-medium {
            width: 101px;
            height: 17px;
            background-position: left -406px;
        }
        ._visa-medium {
            width: 45px;
            height: 14px;
            background-position: left -425px;
        }
        ._bapropagos-medium {
            width: 62px;
            height: 19px;
            background-position: left -441px;
        }
        ._redlink-medium {
            width: 27px;
            height: 27px;
            background-position: left -462px;
        }
        ._286-medium {
            width: 102px;
            height: 25px;
            background-position: left -491px;
        }
        ._tarshop-medium,
        ._288-medium {
            width: 36px;
            height: 22px;
            background-position: left -518px;
        }
        ._287-medium {
            width: 100px;
            height: 20px;
            background-position: left -542px;
        }
        ._279-medium {
            width: 66px;
            height: 17px;
            background-position: left -564px;
        }
        ._diners-medium,
        ._1028-medium {
            width: 85px;
            height: 22px;
            background-position: left -583px;
        }
        ._319-medium {
            width: 38px;
            height: 22px;
            background-position: left -607px;
        }
        ._326-medium {
            width: 69px;
            height: 12px;
            background-position: left -631px;
        }
        ._1041-medium {
            width: 70px;
            height: 22px;
            background-position: left -645px;
        }
        ._1044-medium {
            width: 106px;
            height: 20px;
            background-position: left -669px;
        }
        ._1043-medium {
            width: 105px;
            height: 23px;
            background-position: left -691px;
        }
        ._1049-medium {
            width: 99px;
            height: 10px;
            background-position: left -716px;
        }
        ._313-medium {
            width: 60px;
            height: 23px;
            background-position: left -728px;
        }
        ._296-medium {
            width: 26px;
            height: 26px;
            background-position: left -753px;
        }
        ._cargavirtual-medium {
            width: 26px;
            height: 26px;
            background-position: left -781px;
        }
        ._cmr-medium {
            width: 32px;
            height: 23px;
            background-position: left -809px;
        }
        ._cordial-medium {
            width: 63px;
            height: 22px;
            background-position: left -834px;
        }
        ._cordobesa-medium {
            width: 68px;
            height: 13px;
            background-position: left -858px;
        }
        ._1078-medium {
            width: 95px;
            height: 22px;
            background-position: left -873px;
        }
        .vip-section-service .scroll-carousel .payments-small {
            display: block;
            margin: 6px auto;
        }
        .payments-small {
            background: url(https://resources.mlstatic.com/payment-logos/payment-logos-mla-small_v_d60f4c654e.png) no-repeat;
        }
        ._pagofacil-small {
            width: 22px;
            height: 22px;
            background-position: left 0;
        }
        ._amex-small,
        ._2-small {
            width: 22px;
            height: 19px;
            background-position: left -24px;
        }
        ._297-small {
            width: 51px;
            height: 15px;
            background-position: left -45px;
        }
        ._282-small {
            width: 97px;
            height: 19px;
            background-position: left -62px;
        }
        ._master-small {
            width: 28px;
            height: 17px;
            background-position: left -83px;
        }
        ._cencosud-small,
        ._692-small {
            width: 29px;
            height: 19px;
            background-position: left -102px;
        }
        ._331-small {
            width: 100px;
            height: 15px;
            background-position: left -123px;
        }
        ._338-small {
            width: 48px;
            height: 16px;
            background-position: left -140px;
        }
        ._banelco-small {
            width: 46px;
            height: 13px;
            background-position: left -158px;
        }
        ._naranja-small,
        ._5-small {
            width: 30px;
            height: 19px;
            background-position: left -173px;
        }
        ._303-small {
            width: 83px;
            height: 10px;
            background-position: left -194px;
        }
        ._1026-small {
            width: 45px;
            height: 19px;
            background-position: left -206px;
        }
        ._argencard-small,
        ._4-small {
            width: 19px;
            height: 19px;
            background-position: left -227px;
        }
        ._1005-small {
            width: 65px;
            height: 11px;
            background-position: left -248px;
        }
        ._rapipago-small {
            width: 63px;
            height: 12px;
            background-position: left -261px;
        }
        ._272-small {
            width: 89px;
            height: 13px;
            background-position: left -275px;
        }
        ._cabal-small,
        ._688-small {
            width: 19px;
            height: 19px;
            background-position: left -290px;
        }
        ._1007-small,
        ._nativa-small {
            width: 41px;
            height: 18px;
            background-position: left -311px;
        }
        ._294-small {
            width: 53px;
            height: 19px;
            background-position: left -331px;
        }
        ._333-small {
            width: 95px;
            height: 16px;
            background-position: left -352px;
        }
        ._visa-small {
            width: 34px;
            height: 11px;
            background-position: left -370px;
        }
        ._bapropagos-small {
            width: 56px;
            height: 17px;
            background-position: left -383px;
        }
        ._redlink-small {
            width: 22px;
            height: 22px;
            background-position: left -402px;
        }
        ._286-small {
            width: 88px;
            height: 20px;
            background-position: left -426px;
        }
        ._tarshop-small,
        ._288-small {
            width: 31px;
            height: 19px;
            background-position: left -448px;
        }
        ._287-small {
            width: 84px;
            height: 15px;
            background-position: left -469px;
        }
        ._279-small {
            width: 51px;
            height: 13px;
            background-position: left -486px;
        }
        ._diners-small,
        ._1028-small {
            width: 70px;
            height: 18px;
            background-position: left -501px;
        }
        ._319-small {
            width: 31px;
            height: 19px;
            background-position: left -521px;
        }
        ._326-small {
            width: 58px;
            height: 10px;
            background-position: left -542px;
        }
        ._1041-small {
            width: 61px;
            height: 19px;
            background-position: left -554px;
        }
        ._1044-small {
            width: 97px;
            height: 18px;
            background-position: left -575px;
        }
        ._1043-small {
            width: 88px;
            height: 15px;
            background-position: left -595px;
        }
        ._1049-small {
            width: 85px;
            height: 9px;
            background-position: left -612px;
        }
        ._313-small {
            width: 50px;
            height: 11px;
            background-position: left -623px;
        }
        ._296-small {
            width: 21px;
            height: 21px;
            background-position: left -636px;
        }
        ._cargavirtual-small {
            width: 22px;
            height: 22px;
            background-position: left -659px;
        }
        ._cmr-small {
            width: 26px;
            height: 19px;
            background-position: left -683px;
        }
        ._cordial-small {
            width: 55px;
            height: 19px;
            background-position: left -704px;
        }
        ._cordobesa-small {
            width: 57px;
            height: 11px;
            background-position: left -725px;
        }
        ._1078-small {
            width: 78px;
            height: 19px;
            background-position: left -738px;
        }
    }
}
