{{={{{ }}}=}}
<div data-ng-controller="PackagesConfirmCtrl" data-ng-init='data.packageId="{{{packageId}}}"'>
    <header>
        <h1>
		 	Confirmación
		</h1>
    </header>
    <section>
	    <div class="packageContainer">
	        <div class="my-reviews">
	            <div class="package">
	                <div class="review-proper">
	                    <div class="company-logo {{data.package.title}}">
	                        {{data.package.title}}
	                    </div>
	                    <div class="company-name">
	                        <h1 class="title-sm">Paquete {{data.package.title}}</h1>
	                        <div class="description">
	                            <div>
	                                <p class="vote-count">{{data.package.dischargeLeads}} contactos</p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="price">
	                        <span class="usd">{{data.package.price}}.-</span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="vip-section-service vip-section-mpago">
	        <div class="vip-card">
	            <p class="card-title">Medios de pago</p>
	            <div class="card-section service-mpago">
	                <div class="service-col small">
	                    <span class="icon-service logo-mp"></span>
	                </div>
	                <div class="service-col large">
	                    <p class="card-subtitle">La solución para que pagues de forma rápida y segura.</p>
	                    <div class="creditcards">
	                        <span class="card payments-small _visa-small" alt="visa"></span>
	                        <span class="card payments-small _master-small" alt="master"></span>
	                        <span class="card payments-small _amex-small" alt="amex"></span>
	                        <span class="card payments-small _facil-small" alt="pagofacil"></span>
	                        <span class="card payments-small _rapi-small" alt="rapipago"></span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
        <div class="buttons button-stack">
            <a href="{{data.button}}" target="_blank" data-ng-click="confirmPackage()" class="button button-primary button-lg ng-binding">
                Confirmar
            </a>
            <button class="button button-secondary button-lg ng-binding" data-ng-click="cancel()">
                Cancelar
            </button>
        </div>
    </section>
</div>
