@import '../../less/global/colors';
@import '../../less/global/modal';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';

@site-max-width: 750px;
@site-min-width: 320px;
[data-ng-controller="PackagesConfirmCtrl"] {
    background: rgba(84, 41, 89, .4);
    display: flex;
    flex-direction: column;
    color: @primary-color;
    flex: 1;
    .boldText {
        font-weight: 500;
    }
    .secondary {
        color: @secondary-color;
    }
    header {
        margin-top: 56px;
        padding: 20px;
        background-color: white;
        text-align: center;
        border-bottom: none;
    }
    section {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        flex: 1;

        .package {
            .review-proper {
                padding: 30px 20px;
                display: block;
                display: flex;
                @media screen and (min-width: 510px){
                    max-width: 400px;
                    margin: 0 auto;
                }
                .company-logo {
                    align-content: center;
                    background-color: white;
                    border: 1px solid @gzz-medium-gray;
                    display: flex;
                    flex-direction: column;
                    height: 70px;
                    justify-content: center;
                    overflow: hidden;
                    padding: 3px;
                    width: 70px;
                    border-radius: 50%;
                    align-items: center;
                    color: white;
                    font-weight: 500;
                    &.Coati {
                        background-color: #bc8248;
                    }
                    &.Huemul {
                        background-color: #fac51c;
                    }
                    &.Suri {
                        background-color: #f37934;
                    }
                }
                .price {
                    display: flex;
                    align-items: center;
                    font-size: 1.2em;
                    flex: 1;
                    .icon {
                        font: normal normal normal 30px/1 FontAwesome;
                        margin-right: 10px;
                    }
                    .usd {
                        &:before {
                            content: "\f155";
                            .icon;
                        }
                    }
                }
                .company-name {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 3;
                    margin-left: 15px;
                    h1 {
                        display: flex;
                        justify-content: space-between;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: 5px;
                        span {
                            font-size: .8em;
                            color: lightgrey;
                        }
                    }
                    .score {
                        display: block;
                        margin-bottom: 10px;
                    }
                    .description {
                        display: flex;
                        flex-direction: row;
                        .vote-count {
                            font-size: 14px;
                            color: @gzz-dark-gray;
                            margin-bottom: 10px;
                        }
                    }
                    .actions {
                        .actions-space {
                            margin-left: 10px;
                        }
                    }
                }
                .confirm-removal {
                    flex: 1;
                    margin-left: 15px;
                    .actions {
                        margin-top: 10px;
                    }
                }
                .date {
                    font-size: 14px;
                    color: @gzz-dark-gray;
                }
            }
        }

        .buttons{
            border-top: 1px solid @gzz-medium-gray;
            padding-top: 20px;
            flex: 1;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        /*ML*/
        .vip-section-service{
            border-top: 1px solid @gzz-medium-gray;
            padding-top: 20px;
            .vip-card{
                @media screen and (min-width: 510px){
                    max-width: 400px;
                    margin: 0 auto;
                }
            }
        }
        .vip-card .card-section:last-child {
            padding-bottom: 0;
        }
        .vip-section-service .card-section {
            position: relative;
            min-height: 55px;
        }
        .vip-card .card-section {
            padding: 14px 0;
        }
        .vip-section-service .service-col.small {
            float: left;
            text-align: center;
        }
        .vip-section-service .icon-service {
            background-image: url("https://http2.mlstatic.com/resources/frontend/web-vip/assets/sprite_services_logos@2x-132eacf6e82c4230d72e2890513b4b78.png");
            background-size: 54px 354px;
        }
        .vip-section-service .icon-service {
            display: block;
            width: 48px;
            height: 34px;
            margin: 5px 0 0 7px;
            background-image: url("https://http2.mlstatic.com/resources/frontend/web-vip/assets/sprite_services_logos-6461256f40c796baa29aee747084665c.png");
            background-repeat: no-repeat;
        }
        .vip-section-service .logo-mp {
            width: 54px;
            height: 50px;
            background-position: 0 -69px;
        }
        .vip-section-service .service-col.large {
            padding-left: 80px;
            padding-bottom: 15px;
        }
        .vip-section-service .card-subtitle {
            margin: 2px 0 4px;
            color: #333;
            line-height: 20px;
        }
        .vip-card .card-subtitle {
            margin-bottom: 10px;
            font-size: 16px;
        }
        .vip-section-service span[class*="payments-"] {
            display: inline-block;
            vertical-align: middle;
        }
        .vip-section-service .creditcards > span {
            margin-right: 4px;
            margin-bottom: 5px;
        }
        .creditcards > span {
            vertical-align: middle;
            display: inline-block;
        }
        .payments-small {
            background: url(https://resources.mlstatic.com/payment-logos/payment-logos-mla-small_v_d60f4c654e.png) no-repeat;
        }
        ._visa-small {
            width: 34px;
            height: 11px;
            background-position: left -370px;
        }
        ._master-small {
            width: 28px;
            height: 17px;
            background-position: left -83px;
        }
        ._amex-small, ._2-small {
            width: 22px;
            height: 19px;
            background-position: left -24px;
        }
        ._facil-small {
            width: 25px;
            height: 22px;
            background-position: left 0px;
        }
        ._rapi-small {
            width: 68px;
            height: 17px;
            background-position: left -259px;
        }
        /*ML*/
    }
}
