{{={{{ }}}=}}
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Home placeholder | Llamaway</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">
        
	<script>
        window.env = {{{{envJSON}}}};
    </script>

    {{{#req.env.production}}}
        <script src="/dist/apps/loginCallback/view.public.{{{finger_print}}}.min.js"></script>
    {{{/req.env.production}}}
    {{{#req.env.development}}}
        <script src="/dist/apps/loginCallback/view.public.js"></script>
    {{{/req.env.development}}}

</head>
<body>
   <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{{gtmId}}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{{gtmId}}}');</script>
    <!-- End Google Tag Manager -->
</body>
</html>