@import '../../less/mobile/forms';
@import '../../less/mobile/cards';

@import '../../less/global/colors';

[data-ng-controller="NotFoundCtrl"]{
	.contentCenter{
	    display: flex;
        align-items: center;
        justify-content: center;
        h1, h2{
        	font-size: 2em;
        	text-align: center;
        }
        .title-hero{
        	padding: 20px;
        }
		.person{
			display: flex;
			flex-wrap: wrap;
    		justify-content: center;
	        position: relative;
	        text-align:center;
	        align-items: center;
	        .picture-container{
	        	text-align:center;
	        	padding-bottom: 20px;
	        	.picture {
	        		display: inline-block;
		    		background-color: white;
		    		border-radius: 2;
		    		justify-content: center;
		    		overflow: hidden;
		    		padding: 3px;
		            align-content: center;
		            background-color: white;
		            border: 1px solid @gzz-light-gray;
		            height: 300px;
		            margin-right: 20px;
		            width: 300px;
	        		img {
	        			position: relative;
		                top: 50%;
		                transform: translateY(-50%);
		                max-width: 100%;
		                max-height: 100%;
	        		}
	        	}
	        }
	        .data{
	        	h1{
	        		font-family:latobold;
	        	}
	        }
		}

		.contact{
			text-align:center;
			padding: 20px;
		}

		.actions {
			display: flex;
    		justify-content: center;
			padding: 20px;
            button+button {
                margin-right: 0;
                margin-left: 10px;
            }
		}

		.from{
			text-align:center;
			padding-bottom: 20px;
		}
		.fromNoEncontrado{
			padding: 20px;
	        position: relative;
	        align-items: center;
	        .logoFrom {
	        	display: inline-block;
	    		background-color: white;
	    		border-radius: 2;
	    		justify-content: center;
	    		overflow: hidden;
	    		padding: 3px;
	            align-content: center;
	            background-color: white;
	            border: 1px solid @gzz-light-gray;
	            height: 90px;
	            margin-right: 20px;
	            width: 90px;
	    		img {
	 
	                position: relative;
	                top: 50%;
	                transform: translateY(-50%);
	                max-width: 100%;
	                max-height: 100%;
	                
	    		}
	        }
	        
		}
	}

	
	/*media query*/
    @Res1024: ~"only screen and (max-width:1024px)";
    @Res600: ~"only screen and (max-width: 600px)";
    @media @Res600 {
        padding-top: 0px;
        .without {
            .first{
                width: 100%;
            }
            .second{
                flex-direction:column;
                span{
                    margin: 20px;
                }
            }
        }
        .contentCenter .actions {
			flex-direction: column;
			.button-stack;
			button{
				.button-block;
			}		
            button+button {
                margin: auto;
            }
		}
    }
}
