{{={{{ }}}=}}

<div data-ng-controller="NotFoundCtrl">
	    <div class="contentCenter">
	        <section>
				<h1 class="title-hero">Esa página no existe</h1>
				<div class="missing-person-container" data-ng-show="data.missingPerson">
					<h2 class=title-hero>Pero podés ayudarnos a encontrar a</h2> 
					<div class="person">
						<div class="picture-container">
							<div class="picture">
								<img src="http://static.noencontrado.org/img/{{data.person.id}}.jpg"/>
							</div>
						</div>

						<div class="data">
							<h1 class="title-hero">{{data.person.nombre}} {{data.person.apellido}}</h1>
							<div class="details">
								<div>Edad actual: {{data.person.edad}}</div>
								<div>Edad en la foto: {{data.person.edad_foto}}</div>
								<div>Residencia: {{data.person.residencia}}</div>
								<div>Perdido desde: {{data.person.fecha_desaparicion}}</div>
							</div>
						</div>
					</div>
					<div class="contact">
						<p>Si tenés alguna información contactanos 0800-333-5500</p>
						<p>info@missingchildren.org.ar</p>
					</div>
					<div class="from">
						Una iniciativa de:
						<div class="fromNoEncontrado">
							<div class="logoFrom">
								<a href="http://www.missingchildren.org.ar/" target="_blank">
									<img src="https://res.cloudinary.com/glinzzprod/image/upload/v1457672438/MissingChildren_qgenan.jpg"/>
								</a>
							</div>
							<div class="logoFrom">
								<a href="http://www.noencontrado.org/" target="_blank">
									<img src="https://res.cloudinary.com/glinzzprod/image/upload/v1457672479/Noencontrado_vnaisd.jpg"/>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="actions">
						<button class="button button-primary" data-ng-click="showMyAccount()" data-ng-if="ix.userLoaded">Ir a mi cuenta</button>
						<button class="button button-naked button-sm" data-ng-click="goHome()" data-ng-if="!ix.userLoaded">Ir a la página principal</button>
						<button class="button button-secondary" data-ng-click="back()">Volver</button>
					</div>
				</div>
	        </section>
        </div>
</div>
