@import '../../less/global/colors';
@import '../../less/global/modal';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';


[data-ng-controller="CallbackMercadoPagoCtrl"] {
    display: flex;
    flex-direction: column;
    color: @primary-color;
    align-items: center;
    justify-content: center;
    flex: 1;

    .maxWidth1440{
        max-width:  1440px;
        min-width: 1132px;
        margin: auto;
    }
    .maxWidth1440;

    .boldText {
        font-weight: 500;
    }
    .secondary {
        color: @secondary-color;
    }

    header {
        padding: 20px;
        text-align: center;
        border-bottom: none;
        width: 70%;
        h1{
            font-size: 2rem;
        }
    }
    section {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 70%;
    }
    [data-section-name="hire"] {
        padding: 0;
        flex: 1;
        justify-content: center;
        .packages{
            display: flex;
            flex-direction: column;
            .benefits {
                display: flex;
                flex-direction: column;
                .benefit{
                    display: flex;
                    justify-content: space-between;
                    &:first-child{
                        .checks{
                            >div{
                                border-top: 1px solid @grey-red-color;
                            }
                        }
                    }
                    &:last-child{
                        .checks{
                            >div{
                                border-bottom: 1px solid @grey-red-color;
                            }
                        }
                    }
                    .name{
                        padding: 24px 0;
                        flex-basis: 20%;
                        text-align: left;
                        margin: auto 0;
                        font-size: 1.5em;
                    }
                    .checks{
                        display: flex;
                        font-size: 1.5em;
                        flex-basis: 80%;
                        justify-content: center;
                        align-items: stretch;
                        width: 100%;
                        min-height: 50px;
                        >div{
                            flex:1;
                            &:first-child{
                                border-left: 1px solid @grey-red-color;
                            }
                            border-right: 1px solid @grey-red-color;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            &.icon{
                                font: normal normal normal 32px/1 FontAwesome;
                                color:@secondary-color;
                            }
                            &.check{
                                &:before{
                                    content:"\f00c";
                                }
                            }
                            &.noCheck{
                                &:before{
                                    content:"\f00d";
                                }
                            }
                        }
                    }
                }
            }
            .titles {
                display: flex;
                flex-direction: row;
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //height: 4em;
                    text-align: center;
                    flex: 1;
                    font-size: 1.5em;
                    &.gold{
                        background-color: @primary-color;
                        color: white;
                        border-radius: 20px 20px 0 0;
                    }
                }
                div {
                    padding: 15px;
                }
            }
            .prices{
                display: flex;
                padding-top: 8px;
                .price {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    flex-basis: 20%;
                    button {
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        height: 60px;
                        min-width: 100px;
                        width: 90%;
                        font-size: 1.2em;
                        &.smallPadding{
                            padding: 8px 5px;
                        }
                        .leads {
                            font-size: .8rem;
                        }
                        .priceLeads .big{
                            display: block;
                        }
                        .priceLeads{
                            &:not(.big){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .notNow {
            margin: 20px;
            justify-content: center;
            display: flex;
        }
        .unlock{
            text-align: center;
            margin: 20px;
            h2{
                font-size: 2em;
                font-weight: 300;
            }
            p{
                font-size: 1.5em;
            }
            .moreInformation{
                text-decoration: none;
                color: @secondary-color;
                font-weight: 500;
            }
        }
    }
    .my-reviews {
        .container-package{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .package {
                max-width: 500px;
                min-width: 500px;
                font-size: 1.5em;
                border-bottom: 1px solid @gzz-medium-gray;
                flex:1;
                .review-proper {
                    margin: 0 auto;
                    padding: 20px 10px;
                    display: block;
                    display: flex;


                    .company-logo {
                        align-content: center;
                        background-color: white;
                        border: 1px solid @gzz-medium-gray;
                        display: flex;
                        flex-direction: column;
                        height: 90px;
                        width: 90px;
                        justify-content: center;
                        overflow: hidden;
                        padding: 3px;
                        border-radius: 50%;
                        align-items: center;
                        color: white;
                        font-weight: 500;
                        &.Coati{
                            background-color: #bc8248;
                        }
                        &.Huemul{
                            background-color: #fac51c;
                        }
                        &.Suri{
                            background-color: #f37934;
                        }
                    }

                    .company-name {
                        flex:1;
                        margin-left: 20px;

                        h1 {
                            display: flex;
                            justify-content: space-between;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            margin-bottom: 5px;
                            span{
                                padding-top: 2px;
                                font-size: .8em;
                                color: lightgrey;
                            }
                        }

                        .score {
                            display: block;
                            margin-bottom: 10px;
                        }
                        .description{
                            display: flex;
                            flex-direction: row;
                            @media only screen and (max-width: 600px) {
                                .state .name{
                                    display: none;
                                }
                            }
                            .data{
                                flex:1;
                            }
                            .state{
                                display: flex;
                                align-items: center;
                                font-size:  1em;
                                flex:1;
                                .icon{
                                    font: normal normal normal 30px/1 FontAwesome;
                                    margin-right: 10px;
                                }
                                .enable{
                                    color: #468847;
                                    &:before{
                                        content:"\f058";
                                        .icon;
                                    }
                                }
                                .info{
                                    color: #0000FF;
                                    &:before{
                                        content:"\f05a";
                                        .icon;
                                    }
                                }
                                .cancel{
                                    color: #FF0000;
                                    &:before{
                                        content:"\f057";
                                        .icon;
                                    }
                                }
                            }
                            .vote-count {
                                font-size: .8em;
                                color: @gzz-dark-gray;
                                margin-bottom: 10px;
                            }
                        }

                        .actions {
                            .actions-space {
                                margin-left: 10px;
                            }
                        }

                    }
                    .confirm-removal {
                        flex:1;
                        margin-left: 15px;
                        .actions {
                            margin-top: 10px;
                        }
                    }

                    .date {
                        font-size: 14px;
                        color: @gzz-dark-gray;
                    }
                }
            }
        }
    }
    .cancel{
        display: flex;
        justify-content: center;
    }
}
