{{={{{ }}}=}}
<div data-ng-controller="CallbackMercadoPagoCtrl" data-ng-init='data.packageId="{{{packageId}}}"'>
	<header>
        <h1 data-ng-if="data.package.state == 'pending'">Su paquete está pendiente de pago</h1>
        <h1 data-ng-if="data.package.state == 'enable_backoffice'">Su paquete fue acreditado</h1>
        <h1 data-ng-if="data.package.state == 'intention_payment_mp'">Debe retomar el pago en MercadoPago</h1>
        <h1 data-ng-if="data.package.state == 'enable_mp'">Su paquete fue acreditado</h1>
        <h1 data-ng-if="data.package.state == 'other_mp'">Su paquete NO fue acreditado</h1>
        <h2 data-ng-if="flag">Tenés consultas pendendientes, ahora ya podés <a href="/mi-cuenta#/mis-consultas">desloquearlas</a></h2>
    </header>
    <section>
        <div class="my-reviews">
            <div class="container-package">
                <ng-card class="package">
                    <div class="review-proper">
                        <div class="company-logo {{data.package.title}}">
                            {{data.package.title}}
                        </div>
                        <div class="company-name">
                            <h1 class="title-sm">Paquete {{data.package.title}}</h1>
                            <div class="description">
                                <div class="data">
                                    <p class="vote-count">Id: {{data.package._id | limitTo:10 }}</p>
                                    <p class="vote-count">{{data.package.dischargeLeads}} contactos</p>
                                    <p class="vote-count">Precio: $ {{data.package.price}}.-</p>
                                </div>
                                <div class="state">
                                    <span class="info" data-ng-if="data.package.state == 'pending'"><span class="name">Pendiente</span></span>
                                    <span class="enable" data-ng-if="data.package.state == 'enable_backoffice'"><span class="name">Acreditado</span></span>
                                    <span class="info" data-ng-if="data.package.state == 'intention_payment_mp'" data-ng-click="retomarPago(data.package._id)"><span class="name">Retomar pago</span></span>
                                    <span class="enable" data-ng-if="data.package.state == 'enable_mp'"><span class="name">Acreditado</span></span>
                                    <span data-ng-if="data.package.state == 'other_mp'">
                                                <span class="info" data-ng-if="data.package.mp.payment.status == 'in_process'" alt="MercadoPago está procesando tu pago"><span class="name">Procesando</span></span>
                                    <span class="cancel" data-ng-if="data.package.mp.payment.status == 'rejected'" alt="El pago fue rechazado por MercadoPago. Inténtelo nuevamente en su sitio"><span class="name">Rechazado</span></span>
                                    <span class="info" data-ng-if="data.package.mp.payment.status == 'in_mediation'" alt="Se ha iniciado una disputa en MercadoPago."><span class="name">Disputa</span></span>
                                    <span class="cancel" data-ng-if="data.package.mp.payment.status == 'cancelled'" alt="Cancelaste tu pago o el tiempo expiró."><span class="name">Cancelado</span></span>
                                    <span class="info" data-ng-if="data.package.mp.payment.status == 'refunded'" alt="El pago te fue devuelto."><span class="name">Devolución</span></span>
                                    <span class="info" data-ng-if="data.package.mp.payment.status == 'charged_back'" alt="Te fue hecho un contracargo en la tarjeta."><span class="name">Contracargo</span></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-card>
            </div>
            <div class="not-review" data-ng-show="data.packages.length < 1">
                <h2 class="title-sm">No has comprado ningún paquete. No pierdas contactos!</h2>
            </div>
        </div>
        <div class="button-stack">
            <button class="button button-secondary button-lg ng-binding" data-ng-click="notNow()">
                Ir a Mi Cuenta
            </button>
        </div>
    </section>
</div>