@import '../../less/global/colors';
@import '../../less/global/modal';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';
@site-max-width: 750px;
@site-min-width: 320px;
[data-ng-controller="CallbackMercadoPagoCtrl"] {
    background: rgba(84, 41, 89, .4);
    display: flex;
    flex-direction: column;
    color: @primary-color;
    flex: 1;
    .boldText {
        font-weight: 500;
    }
    .secondary {
        color: @secondary-color;
    }
    header {
        margin-top: 56px;
        padding: 20px;
        background-color: white;
        text-align: center;
        border-bottom: none;
    }
    section {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        flex:1;
    }

    .my-reviews{

        .review {

            border-bottom: 1px solid @gzz-medium-gray;
            .review-proper {
                padding: 30px 20px;
                display: block;
                display: flex;


                .company-logo {
                    align-content: center;
                    background-color: white;
                    border: 1px solid @gzz-medium-gray;
                    border-radius: 2;
                    display: flex;
                    flex-direction: column;
                    height: 70px;
                    justify-content: center;
                    overflow: hidden;
                    padding: 3px;
                    width: 70px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        flex-grow: 0;
                    }
                }

                .company-name {
                    flex:1;
                    margin-left: 15px;

                    h1 {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: 5px;
                    }

                    .score {
                        display: block;
                        margin-bottom: 10px;
                    }
                    .vote-count {
                        font-size: 14px;
                        color: @gzz-dark-gray;
                        margin-bottom: 10px;
                    }

                    .actions {
                        .actions-space {
                            margin-left: 10px;
                        }
                    }

                }
                .confirm-removal {
                    flex:1;
                    margin-left: 15px;
                    .actions {
                        margin-top: 10px;
                    }
                }

                .date {
                    font-size: 14px;
                    color: @gzz-dark-gray;
                }
            }
        }
        .not-review{
            text-align: center;
        }
        h2 {
            margin: 20px;
        }
        .search {
            border-top: 1px solid @gzz-medium-gray;
            padding: 20px;
        }
        .package {
            font-size: 1em;
            border-bottom: 1px solid @gzz-medium-gray;
            .review-proper {
                margin: 0 auto;
                max-width: 450px;
                min-width: 300px;
                padding: 30px 10px;
                display: block;
                display: flex;


                .company-logo {
                    align-content: center;
                    background-color: white;
                    border: 1px solid @gzz-medium-gray;
                    display: flex;
                    flex-direction: column;
                    height: 70px;
                    justify-content: center;
                    overflow: hidden;
                    padding: 3px;
                    width: 70px;
                    border-radius: 50%;
                    align-items: center;
                    color: white;
                    font-weight: 500;
                    &.Coati{
                        background-color: #bc8248;
                    }
                    &.Huemul{
                        background-color: #fac51c;
                    }
                    &.Suri{
                        background-color: #f37934;
                    }
                }

                .company-name {
                    flex:1;
                    margin-left: 15px;

                    h1 {
                        display: flex;
                        justify-content: space-between;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: 5px;
                        span{
                            padding-top: 2px;
                            font-size: .8em;
                            color: lightgrey;
                        }
                    }

                    .score {
                        display: block;
                        margin-bottom: 10px;
                    }
                    .description{
                        display: flex;
                        flex-direction: row;
                        @media only screen and (max-width: 600px) {
                            .state .name{
                                display: none;
                            }
                        }
                        .state{
                            display: flex;
                            align-items: center;
                            margin-left: 60px;
                            font-size:  1em;
                            .icon{
                                font: normal normal normal 30px/1 FontAwesome;
                                margin-right: 10px;
                            }
                            .enable{
                                color: #468847;
                                &:before{
                                    content:"\f058";
                                    .icon;
                                }
                            }
                            .info{
                                color: #0000FF;
                                &:before{
                                    content:"\f05a";
                                    .icon;
                                }
                            }
                            .cancel{
                                color: #FF0000;
                                &:before{
                                    content:"\f057";
                                    .icon;
                                }
                            }
                        }
                        .vote-count {
                            font-size: 14px;
                            color: @gzz-dark-gray;
                            margin-bottom: 10px;
                        }
                    }

                    .actions {
                        .actions-space {
                            margin-left: 10px;
                        }
                    }

                }
                .confirm-removal {
                    flex:1;
                    margin-left: 15px;
                    .actions {
                        margin-top: 10px;
                    }
                }

                .date {
                    font-size: 14px;
                    color: @gzz-dark-gray;
                }
            }
        }
        .not-review{
            text-align: center;
        }
        h2 {
            margin: 20px;
        }
        .search {
            border-top: 1px solid @gzz-medium-gray;
            padding: 20px;
        }
    }
}