@import '../../less/global/directives';
@import '../../less/global/alerts';
@import '../../less/global/layout';
@import '../../less/desktop/forms';
@import '../../less/desktop/buttons';
@import '../../less/desktop/text';
[ng-controller="SignInUpCtrl"] {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    .form-field-text {
        width: 100%;
        input,
        textarea {
            width: 100%;
        }
    }
    .sign-up,
    .sign-in {
        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            color: @primary-color;
            border-bottom: 2px solid @secondary-color;
            &.welcome {
                color: white;
                background-color: @secondary-color;
                text-align: center;
                h1 {
                    font-family: 'Amatica SC', cursive;
                    font-size: 2.5em;
                    font-weight: 700;
                }
            }
        }
    }
    .sign-up-selection,
    .sign-up,
    .sign-in,
    .validated-user,
    .recover-password {
        .page-header {
            margin-top: initial;
        }
        .reviews {
            margin-top: initial;
            background-color: #fff;
            display: flex;
            justify-content: center;
            blockquote {
                display: block;
                background: #fff;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 20px;
                position: relative;
                font-family: Georgia, serif;
                font-size: 17px;
                color: #666;
                font-style: italic;
                text-align: justify;
            }
            span.star {
                color: #e8bc09;
                display: inline-block;
                font-size: 13px;
                letter-spacing: 0;
                text-decoration: none;
            }
            .review {
                display: flex;
                width: 650px;
                justify-content: center;
                align-items: center;
                .space {
                    .image-container {
                        display: flex;
                        justify-content: center;
                        padding: 30px 0px 0px 0px;
                        .radius {
                            border-radius: 50%;
                            width: 64px;
                            height: 64px;    
                        }
                    }
                    padding-bottom: 30px;
                    .name {
                        text-align: center;
                        color: #797474;
                        text-align: center;
                        padding: 0px;
                        font-weight: 600;
                        font-size: 12px;
                    }
                    .place {
                        text-align: center;
                        color: rgba(155, 155, 155, 1);
                        text-align: center;
                        padding: 0px;
                        font-size: 12px;
                    }
                }
                .marquee {
                    width: 320px;
                    .name {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .testimonial {
                            text-align: center;
                            color: #9b9b9b;
                            text-align: center;
                            line-height: 1.3;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        display: flex;
        flex-direction: column;
        flex:1;
        // &:not(.sign-in){
        min-height: 100%;
        //}
        .classic {
            min-width: 400px;
            background: url('https://res.cloudinary.com/llamaway/image/upload/v1471150644/adventure2_l1wfew.jpg') no-repeat center center;
            background-size: cover;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid @gzz-medium-gray;
            .container {
                background-color: white;
                width: 400px;
                margin-top: 150px;
                margin-bottom: 150px;
                .sign-form {
                    padding-bottom: 0px;
                }
            }
            >p {
                padding: 20px;
                border-bottom: 1px solid @gzz-medium-gray;
                background-color: @gzz-chalk;
            }
        }
        .selectTypeUser {
            display: flex;
            flex-direction: row;
            flex: 1;
            >div {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    margin: initial;
                }
                &.llamita {
                    background-image: url('https://res.cloudinary.com/llamaway/image/upload/v1471150644/adventure2_l1wfew.jpg');
                    background-size: cover;
                }
                &.guia {
                    background-image: url('https://res.cloudinary.com/llamaway/image/upload/v1471150644/guide_d18wnj.jpg');
                    background-size: cover;
                }
            }
        }
        .options {
            //background-color: @gzz-chalk;
            padding: 20px;
            text-align: center;
            a {
                color: @secondary-color;
            }
        }
        .options-kill-me-please {
            padding: 20px;
        }
        .conditions {
            padding: 20px 0;
            a {
                color: @secondary-color;
            }
        }
        .startSesion {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 16px;
            padding-bottom: 16px;
            display: flex;
            justify-content: center;
            a {
                color: @secondary-color;
            }
        }
        .reset-password {
            .error-message {
                border-bottom: 0;
                &.show {
                    display: block;
                }
            }
        }
        .social-title {
            background-color: white;
            padding: 20px;
            text-align: center;
        }
        .social {
            background-color: white;
            padding: 0 20px;
        }
    }
    .recover-password {
        display: flex;
        flex-direction: column;
        height: 100vh;
        .sent {
            padding: 20px;
            p {
                margin-bottom: 20px;
            }
        }
    }
    .existing-user {
        padding: 20px;
        h1 {
            margin-bottom: 20px;
        }
    }
    .validated-user {
        .sent {
            .search{
                display: none;
            }
            padding: 20px;
            p {
                margin-bottom: 20px;
            }
        }
    }
    trix-toolbar {
        margin-top: 20px;
    }
    trix-toolbar .button_groups {
        button.code {
            display: none;
        }
        button.link {
            display: none;
        }
        button.strike {
            display: none;
        }
        button.quote {
            display: none;
        }
        button.increase {
            display: none;
        }
        button.decrease {
            display: none;
        }
    }
    trix-editor {
        min-height: 150px;
    }
}
