{{={{{ }}}=}}
<div class="existing-user" ng-show="ix.show=='existingUser'">
	<h1 class="title-rg">Ya estabas registrado con {{data.signup.email}}</h1>
	<div class="button-stack button-stack-auto-arrange">
		<button class="button button-lg button-primary" gzz-ref-scroll ng-click="recoverPasswordFromSignup(data.signup.email)">Recuperar contraseña</button>
		<button class="button button-naked button-sm" gzz-ref="signup">Registrarme con otro email</button>
	</div>
</div>
