@import '../../less/global/directives';
@import '../../less/global/alerts';
@import '../../less/mobile/layout';
@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/text';

[ng-controller="SignInUpCtrl"]{
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: white;
    .sign-up,.sign-in{
        width: 100%;
        .page-header{
            box-sizing: initial;
            border-bottom: none;
            &.welcome{
                color: white;
                background-color: @secondary-color;
                text-align: center;
                h1{
                    font-family: 'Amatica SC', cursive;
                    font-size: 1.5em;
                    font-weight: 700;
                }
            }
        }
    }
    .sign-up-selection,.sign-up,.sign-in{
        display: flex;
        flex-direction: column;
        width: 100%;
        .classic {
            header{
                margin-top: 56px;
                .page-header;
            }
            background-color: white;
            .sign-form{
                padding-bottom: 0px;
            }
            border-bottom: 1px solid @gzz-medium-gray;
            >p {
                padding: 20px;
                border-bottom: 1px solid @gzz-medium-gray;
                background-color: @gzz-chalk;
            }
        }
        .selectTypeUser{
            margin: auto 20px;
            .button-stack .button{
                padding: 13px 26px;
            }
        }

        .marginLLamita{
            margin-top: 10%;
        }
        .options {
            //background-color: @gzz-chalk;
            padding: 20px;
            text-align: center;
            a{
                color: @secondary-color;
            }
        }

        .options-kill-me-please{
            padding: 20px;
        }

        .conditions{
            padding: 20px 0;
            a{
                color: @secondary-color;
            }
        }

        .startSesion{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 16px;
            padding-bottom: 16px;
            display: flex;
            justify-content: center;
            a{
                color: @secondary-color;
            }
        }

        .reset-password{
            .error-message{
                border-bottom: 0;
                &.show{
                    display: block;
                }
            }
        }

        .social-title {
            background-color: white;
            padding: 20px;
            text-align: center;
        }

        .social{
            background-color: white;
            padding: 0 20px;
        }
    }

    .recover-password{
        display: flex;
        flex-direction: column;
        height: 100vh;
        .page-header{
            margin-top: 56px;
        }
        .sent{
            padding: 20px;
            p {
                margin-bottom: 20px;
            }
        }
    }
    .existing-user {
        padding: 20px;
        h1 {
            margin-bottom: 20px;
        }
    }
    .validated-user {
        margin-top: 56px;
       .sent{
           padding: 20px;
           p {
               margin-bottom: 20px;
           }
       }
    } 

    trix-toolbar{
        margin-top: 20px;
    }   
    trix-toolbar .button_groups {
        button.code {
            display: none;
        }
        button.link {
            display: none;
        }
        button.strike {
            display: none;
        }
        button.quote {
            display: none;
        }
        button.increase {
            display: none;
        }
        button.decrease {
            display: none;
        }
    }

    trix-editor{
        min-height: 150px;
    }
}
