{{={{{ }}}=}}
<div class="recover-password" ng-show="ix.show=='resetPassword'">
	<div class="classic">
		<div class="container">
			<div class="input" ng-show="!ix.status">
				<header class="page-header">
					<h1 class="title-rg">Recuperar contraseña</h1>
					<p>Ingresá tu email y te enviaremos instrucciones para recuperar tu contraseña.</p>
				</header>

				<form class="base-form" ame="" gzz-validate="recover-password" ng-submit="recoverPassword()" novalidate>
					<label class="form-field-text" gzz-valid="data.recover.email && !ix.emailNotExists">
						<span class="field-label">Email</span>
						<input type="email" name="email" ng-model="data.recover.email" data-ng-value="{{data.signup.email}}">
						<div class="error-message">
							<span ng-show="ix.emailNotExists">
							{{data.emailNotRegistered}}
							</span>
							<span ng-show="ix.invalidFormat">
								{{data.invalidFormat}}
							</span>
						</div>
					</label>
					<div class="button-stack">
						<button class="button button-primary button-lg button-block" ng-disabled="ix.submitting == 'recover'">
							{{ix.submitting?'Enviando':'Recuperar contraseña'}}
						</button>
					</div>
				</form>

			</div>
			<div class="sent" ng-show="ix.status == 'sent'">
				<h1 class="title-rg">Te enviamos un email</h1>
				<p>Te enviamos un email con instrucciones para recuperar tu contraseña.<br>Cuando hayas sepas tu contraseña podrás ingresar.</p>
				<div class="button-stack">
					<button class="button button-block" gzz-ref="login">Ingresar</button>
				</div>
			</div>
		</div>
	</div>
</div>
