{{={{{ }}}=}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.js"></script>
<script src="/libs/angular-trix/dist/angular-trix.min.js"></script>

<div class="sign-up-selection" data-ng-show="ix.show=='seleccion'">
	<header class="page-header">
		<h1 class="title-rg">
			Registrate y empezá a vivir la aventura
		</h1>
	</header>
	<section class="selectTypeUser" data-ng-show="ix.show=='seleccion'">
		<div class="button-stack guia">
			<button class="button button-primary button-lg button-block" gzz-ref="registrar_empresa" ng-click="showTawlkto()">
				Soy una empresa o un guia
			</button>
		</div>
		<div class="button-stack marginLLamita llamita">
			<button class="button button-secondary button-lg button-block" gzz-ref="registrar_aventurero" ng-click="hideTawlkto()">
				Soy un Aventurero!
			</button>
		</div>
	</section>
</div>

<div class="sign-up" data-ng-show="ix.show=='registrar_aventurero' || ix.show=='registrar_empresa'">
	<section class="classic">
		<div class="container">
			<header class="page-header welcome" >
				<h1 class="title-hero" data-ng-class="{'center': ix.show=='registrar_empresa'}">
					 {{ix.show=='registrar_empresa' ? '¡Bienvenido!' : 'Registro de llamita (Aventurero)'}}
				</h1>
			</header>
			<form class="sign-form base-form" name="signup-company" data-gzz-validate="signup-company" data-ng-submit="signUp($event)" data-ng-show="ix.show=='registrar_empresa'" novalidate>
				<label class="form-field-text" data-gzz-valid="data.email" data-ng-class="{'on-error':ix.emailConflict}" >
					<span class="field-label">Email</span>
					<input type="email" name="email" data-ng-model="data.email" required>

					<div class="error-message"  ng-show="ix.emailConflict">Email ya registrado.</div>
					<div class="error-message"  ng-show="!data.error.isInvalidEmail && !ix.emailConflict">Ingresá una dirección de email</div>
	            	<div class="error-message" ng-show="data.error.isInvalidEmail">La direccion de email que ingresaste es inválida.
	            	</div>
				</label>
				<label class="form-field-text" data-gzz-valid="data.company.contactName" data-ng-show="ix.show=='registrar_empresa'">
					<span class="field-label">Nombre de contacto</span>
					<input type="text" data-ng-model="data.company.contactName" required>
					<div class="error-message">{{data.genericErrorMessage}}</div>
				</label>

				<label class="form-field-text" data-gzz-valid="data.company.phone" >
					<span class="field-label">Teléfono (con código de área)</span>
					<input type="tel" name="phone" data-ng-model="data.company.phone" required placeholder="+54 (11) 15 1234-5678">
					<div class="error-message">{{data.genericErrorMessage}}</div>
				</label>

				<label class="form-field-text" data-gzz-valid="data.password && data.password.length >=6 && data.password.length <= 20">
					<span class="field-label">Contraseña</span>
					<input type="password" data-ng-model="data.password" maxlength="20" required/>
		            <div class="error-message">
		                {{data.password && data.password.length < 6 || data.password.length > 20 ? data.invalidPasswordLength : data.genericErrorMessage}}
		            </div>
				</label>
				<label class="form-field-text" data-gzz-valid="data.confirm_password == data.password">
					<span class="field-label">Confirmaci&oacute;n de contrase&ntilde;a</span>
					<input type="password" data-ng-model="data.confirm_password" maxlength="20" required/>
		            <div class="error-message">
		                La confirmaci&oacute;n de contrase&ntilde;a no es igual a la contraseña.
		            </div>
				</label>
				<div class="button-stack">
					<button class="button button-primary button-lg button-block" data-ng-disabled="ix.submitting == 'signup'" data-ng-class="{waiting:ix.submitting == 'signup'}">
						{{ix.submitting?'Creando Cuenta':'Continuar'}}
					</button>
				</div>
				<div>
				    <div class="social-title">
				        <span>También podés registrarte con:</span>
				    </div>
				    <div class="social button-stack button-stack-auto-arrange">
				        <button type="button" class="button button-block button-lg button-facebook" data-ng-click="signInUpWithFacebook()"><i class="fa fa-facebook"></i> Facebook</button>
				    </div>
				</div>
				<div class="startSesion">
					¿Ya eres miembro de Llama? <a href="" class="button button-sm button-naked" gzz-ref="login" gzz-ref-scroll="top">Iniciar sesión</a>
				</div>
				<div class="conditions">
					Al registrarme, <a href="/terminos-condiciones" class="button button-sm button-naked">acepto Condiciones del servicio</a>, <!--<a href="" class="button button-sm button-naked">Condiciones sobre pagos</a>,--> <a href="/politica-privacidad" class="button button-sm button-naked">Politica de Privacidad y de Cookies</a> de Llamaway.
				</div>
			</form>
			<form class="sign-form base-form" name="signup" data-gzz-validate="signup" data-ng-submit="signUp($event)" data-ng-show="ix.show!='registrar_empresa'" novalidate>
				<label class="form-field-text" data-gzz-valid="data.email && !ix.emailConflict" data-ng-class="ix.view409Error">
					<span class="field-label">Email</span>
					<input type="email" name="email" data-ng-model="data.email" required>
					<div class="error-message" data-ng-show="ix.emailConflict">Email ya registrado.</div>
					<div class="error-message" data-ng-show="!data.error.isInvalidEmail && !ix.emailConflict">Ingresá al menos una dirección de email</div>
	            	<div class="error-message" data-ng-show="data.error.isInvalidEmail">La direccion de email que ingresaste es inválida.
	            	</div>
				</label>
				<label class="form-field-text" data-gzz-valid="data.password && data.password.length >=6 && data.password.length <= 20">
					<span class="field-label">Contraseña</span>
					<input type="password" data-ng-model="data.password" maxlength="20" required/>
		            <div class="error-message">
		                {{data.password && data.password.length < 6 || data.password.length > 20 ? data.invalidPasswordLength : data.genericErrorMessage}}
		            </div>
				</label>
				<label class="form-field-text" data-gzz-valid="data.confirm_password == data.password">
					<span class="field-label">Confirmaci&oacute;n de contrase&ntilde;a</span>
					<input type="password" data-ng-model="data.confirm_password" maxlength="20" required/>
		            <div class="error-message">
		                La confirmaci&oacute;n de contrase&ntilde;a no es igual a la contraseña.
		            </div>
				</label>
				<div class="button-stack">
					<button class="button button-primary button-lg button-block" data-ng-disabled="ix.submitting == 'signup'" data-ng-class="{waiting:ix.submitting == 'signup'}">
						{{ix.submitting?'Creando Cuenta':'Continuar'}}
					</button>
				</div>
				<div data-ng-show="ix.show=='registrar_aventurero'">
				    <div class="social-title">
				        <span>También podés registrarte con:</span>
				    </div>
				    <div class="social button-stack button-stack-auto-arrange">
				        <button type="button" class="button button-block button-lg button-facebook" data-ng-click="signInUpWithFacebook()"><i class="fa fa-facebook"></i> Facebook</button>
				    </div>
				</div>
				<div class="options-kill-me-please">
					<span>¿Ya tenés cuenta?</span>
					<button class="button button-sm button-naked" gzz-ref="login" gzz-ref-scroll="top">Ingresar</button>
				</div>

				<div class="conditions">
					Al registrarme, <a href="/terminos-condiciones" class="button button-sm button-naked">acepto Condiciones del servicio</a>, <!--<a href="" class="button button-sm button-naked">Condiciones sobre pagos</a>,--> <a href="/politica-privacidad" class="button button-sm button-naked">Politica de Privacidad y de Cookies</a> de Llamaway.
				</div>
			</form>
		</div>
	</section>
</div>