{{={{{ }}}=}}
<div class="sign-in" ng-show="ix.show=='login'">
	
		<div class="classic">
			<div class="container">
				<header>
					<h1>Ingresar a mi cuenta</h1>
					<p ng-show="ix.sign == 'inOrderToContinue'">Para continuar necesitás ingresar a tu cuenta</p>
				</header>
				<form name ="loginForm" gzz-validate="signin" ng-submit="signInEmailPassword()" class="base-form" novalidate>
					<label class="form-field-text" data-gzz-valid="data.signin.email">
			            <span class="field-label">Email</span>
			            <input type="email" name="email" ng-model="data.signin.email" required/>
			            <div class="error-message">
			            	{{loginForm.email.$error.required ? data.genericErrorMessage : data.invalidFormat}}
			            </div>
			        </label>
			        <label class="form-field-text" data-gzz-valid="data.signin.password && data.signin.password.length >=6  && data.signin.password.length <= 20">
			            <span class="field-label">Contraseña</span>
			            <input type="password" ng-model="data.signin.password" maxlength="20" />
			            <div class="error-message">
			                {{data.signin.password && data.signin.password.length < 6 || data.signin.password.length > 20 ? data.invalidPasswordLength : data.genericErrorMessage}}
			            </div>
			        </label>

					<label ng-show="ix.wrongEmailOrPassword" class="form-error-message">
						Email o contraseña incorrectos
					</label>

			        <div class="button-stack">
			            <button class="button button-primary button-lg button-block" ng-disabled="ix.submitting == 'signin'" ng-class="{waiting:ix.submitting == 'signin'}">
			                {{ix.submitting?'Ingresando':'Ingresar'}}
			            </button>

						<button ga-click="User,ForgotPass" class="button button-block button-naked button-sm" gzz-ref="resetPassword" gzz-ref-scroll>Olvidé mi contraseña</button>
			        </div>
				</form>
				<div class="social-title">
					También podés ingresar con:
				</div>
				<div class="social button-stack button-stack-auto-arrange">
					<button class="button button-block button-lg button-facebook" ng-click="signInUpWithFacebook()"><i class="fa fa-facebook"></i> Facebook</button>
				</div>
				<div class="options">
					<span>No tengo cuenta</span>
					<a href="" gzz-ref="seleccion" gzz-ref-scroll="top">Registrarme</a>
				</div>
			</div>
		</div>
	</div>
