{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
<div ng-controller="SignInUpCtrl">
	{{{>signinTpl}}}
	{{{>signupTpl}}}
	{{{>recoverPasswordTpl}}}
	{{{>existingUserTpl}}}
	{{{>validateUserTpl}}}
</div>
