{{={{{ }}}=}}
<div class="validated-user" ng-show="ix.show=='validatedUser'">
	<div class="classic">
		<div class="container">
		    <div class="sent">
		        <h1 class="title-rg">Listo!</h1>
		        <p>Ya podés acceder a todas las funcionalidades de Llamaway.</p>
		        <div class="button-stack actions">
		            <button class="button button-block button-primary button-sm search " data-ng-click="showSearchBox()">Buscar una aventura</button>
		            <button class="button button-block button-secondary button-sm" data-ng-click="goHome()">Ir a la página principal</button>
		        </div>
		    </div>
		</div>
    </div>
</div>