{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZL95pQHjWYOszZIN0uxA7Ktiob9rKdzY"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.js"></script>
<script src="/libs/angular-trix/dist/angular-trix.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.js"></script>
<!-- Upload -->
<script src="//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.min.js"></script>
<script src="/libs/ngImgCropFullExtended/ng-img-crop.js"></script>
<link rel="stylesheet" href="/libs/ngImgCropFullExtended/ng-img-crop.css">
<div data-ng-controller="MyAccountCtrl" data-ng-show="data.userLoaded==true">
    <header class="page-header">
        <h1 class="title-hero">Mi cuenta</h1>
    </header>
    <div class="leads" data-ng-hide="!ix.isUserCompany || ix.showWelcome || ix.showWelcome2">
        <div class="alert alert-neutral" data-ng-show="data.info.company.leads > 5">
            Contactos disponibles: {{data.info.company.leads}} <a href="/paquetes"><i class="fa fa-question-circle"></i></a>
        </div>
        <div class="alert alert-positive" data-ng-show="!data.info.company.leads || data.info.company.leads == 0">
            No pierdas contactos! Contrat&aacute; un paquete <a href="/paquetes">ahora</a>
        </div>
        <div class="alert alert-positive" data-ng-show="data.info.company.leads > 0 && data.info.company.leads <= 5">
            Te quedan {{data.info.company.leads}} contactos! Contrat&aacute; un paquete <a href="/paquetes">ahora</a>
        </div>
    </div>
    <div class="container">
        <aside class="left">
            <ng-card>
                <div class="card-content">
                    <span class="card-title menu active" data-gzz-ref="mis-datos" data-ng-class="{'selected':(ix.section=='mis-datos')}">Datos</span>
                    <span class="card-title menu" data-ng-click="showAdventures();" data-ng-class="{'selected':(ix.section=='mis-aventuras')}" data-ng-show="ix.isUserCompany">Mis aventuras</span>
                    <span class="card-title menu active" data-ng-click="showPackages();" data-ng-class="{'selected':(ix.section=='mis-paquetes')}" data-ng-show="ix.isUserCompany">Mis paquetes</span>
                    <span class="card-title menu active" data-ng-click="showContact();" data-ng-class="{'selected':(ix.section=='mis-consultas')}" data-ng-show="ix.isUserCompany">Mis consultas</span>
                </div>
            </ng-card>
        </aside>
        <div class="right">
            <ng-card class="blockRight" data-ng-show="ix.section=='mis-datos' && ix.isUserCompany">
                <div class="card-content">
                    <span class="card-title">Mi página</span>
                    <div class="my-form">
                        <div class="colores" data-ng-show="ix.showWelcome">
                            <span class="welcome">¡Bienvenido!</span>
                            <p>En esta seccion podrás crear tu página personalizada. Llena los siguientes campos, comparte tu URL y comienza a vivir la experiencia <span class="bold">Llamaway</span></p>
                        </div>
                        <div data-ng-if="ix.pageUpdated" class="alert alert-positive">
                            Se actualizaron los datos correctamente.
                        </div>
                        <form class="sign-form base-form" name="myPageForm" data-gzz-validate="myPageForm" ng-hide="picFile" ng-init="ix.show='editPage'" novalidate>

                            <label class="form-field-button">
                                <span class="field-label">Logo del perfil</span>
                                <div class="container-logo">
                                    <div class="logo">
                                        <img src="{{data.info.company.profile_picture.url}}" alt="{{data.info.company.name}} logo" />
                                    </div>
                                    <div class="button-stack select-button" >
                                        <button type="button" class="button button-block button-primary" ng-model="picFile" ngf-select accept="image/*">
                                            Cambiar logo
                                        </button>
                                    </div>
                                </div>
                            </label>
                            <label class="form-field-text" data-gzz-valid="data.info.company.name && !data.isInvalidName" data-ng-show="ix.isUserCompany">
                                <span class="field-label">Razón social o nombre de tu empresa</span>
                                <input type="text" data-ng-model="data.info.company.name" required="" class="ng-pristine ng-invalid ng-invalid-required ng-touched" data-ng-change="changeCompanyName()" data-ng-blur="verifyPageName()">
                                <div class="error-message ng-binding" data-ng-show="!data.info.company.name">Completá este dato</div>
                                <div class="error-message ng-binding" data-ng-show="data.info.company.name && data.isInvalidName">Nombre inválido</div>
                            </label>
                            <label class="form-field-text" data-ng-class="{'on-error':ix.existingPageName}" data-gzz-valid="data.info.company.pageName && !data.isInvalidPageName && !ix.existingPageName" data-ng-show="ix.isUserCompany && !ix.existsPageName">
                                <span class="field-label">Nombre de la pagina</span>
                                <div class="container-url">
                                    <span class="field-label small">{{{url}}}/e/</span>
                                    <input type="text" data-ng-model="data.info.company.pageName" required="" class="ng-pristine ng-invalid ng-invalid-required ng-touched light" data-ng-change="changePageName()" data-ng-blur="verifyPageName()">

                                </div>
                                <div class="error-message ng-binding" data-ng-show="!ix.existingPageName && !data.isInvalidPageName">{{data.genericErrorMessage}}</div>
                                <div class="error-message ng-binding" data-ng-show="!ix.existingPageName && data.isInvalidPageName">Debe tener una longitud mayor a 4 caracteres.</div>
                                <div class="error-message ng-binding" data-ng-show="ix.existingPageName">Este nombre de p&aacute;gina ya est&aacute; siendo utilizado.</div>
                            </label>
                            <label class="form-field" data-ng-show="ix.existsPageName">
                                <span class="field-label">Url</span>
                                <span class="field-text pageUrl">
                                            <a href="/e/{{data.info.company.pageName}}" alt="Ir a mi pagina">https://{{{url}}}/e/{{data.info.company.pageName}}</a>
                                        </span>
                            </label>
                            <div class="form-field-text" data-gzz-valid="data.info.company.description">
                                <span class="field-label">Mi descripción</span>
                                <trix-editor angular-trix data-ng-model="data.info.company.description" class="trix-content" trix-attachment-add="trixAttachmentAdd(e, editor);" trix-change="trixChange(e, editor);">
                                </trix-editor>
                                <p class="field-form-hint">Restan {{10000 - data.info.company.description.length}} caracteres.</p>
                                <div class="error-message ng-binding">{{data.genericErrorMessage}}</div>
                            </div>
                            <label class="form-field-multiselect" data-gzz-valid="data.activities.length >0">
                                <span class="field-label">¿Que tipo de aventuras realizas?</span>
                                <span class="arrow">
                                            <div isteven-multi-select
                                                    input-model="multiselect.listActivityType"
                                                    output-model="data.activities"
                                                    output-properties="id name"
                                                    button-label="<[ name ]>"
                                                    item-label="<[ name ]>"
                                                    tick-property="check"
                                                    helper-elements=""
                                                    translation="multiselect.localLang">
                                            </div>
                                        </span>
                                <div class="error-message">{{data.genericErrorMessage}}</div>
                            </label>
                            <label class="form-field-text" data-gzz-valid="isValidLocation">
                                <span class="field-label">Ubicación</span>
                                <div class="arrow location">
                                    <gzz-google-location data-ng-model="data.info.company.golocation.formatted_address"></gzz-google-location>
                                    <gzz-location-button data-ng-model="data.info.company.golocation" data-ng-go-to-search="true"></gzz-google-location-button>
                                </div>
                                <div class="error-message ng-binding" data-ng-show="!isValidLocation">Ubicación Inválida (Formato: Localidad - Provincia - País)</div>
                            </label>
                            <div class="button-stack">
                                <button class="button button-primary button-lg button-block" data-ng-click="updatePage()" data-ng-class="{waiting:ix.submitting == 'page'}" data-ng-disabled="ix.submitting == 'page'">
                                    {{ix.submitting?'Actualizando':'Guardar'}}
                                </button>
                            </div>
                        </form>
                        <form class="edit-logo-form base-form" ng-show="picFile" novalidate>
                            <div>
                                <div ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                    <div class="title-rg subtitule">
                                        Elegí que parte de la foto vas a subir
                                    </div>
                                    <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" area-type="rectangle" result-image-format="image/jpeg" aspect-ratio="1" init-max-area="true" live-view="blockingObject">
                                    </img-crop>
                                </div>
                                <div class="button-stack upload-button">
                                    <button class="button button-block button-primary button-lg" ng-click="upload(picFile.name)">
                                        Subir foto
                                    </button>
                                     <button class="button button-block button-lg" ng-click="cancelUpload()">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-card>
            <div class="blockRight myData" data-ng-show="ix.section=='mis-datos'">
                <ng-card data-ng-show="ix.section=='mis-datos'">
                    <div class="card-content">
                        <span class="card-title">Datos</span>
                        <div class="my-form">
                            <div class="colores" data-ng-show="ix.showWelcome2">
                                <span class="welcome">¡Bienvenido!</span>
                                <p>Completá los datos de contacto y mejora tu experiencia <span class="bold">Llamaway</span></p>
                            </div>
                            <div data-ng-if="ix.infoUpdated" class="alert alert-positive">
                                Tus datos se actualizaron exitosamente.
                            </div>
                            <form class="sign-form base-form" name="myAccountForm" data-gzz-validate="info" data-ng-submit="updateInfo()" novalidate>
                                <label class="form-field-text" data-gzz-valid="!ix.isUserCompany || data.info.company.contactName" data-ng-show="ix.isUserCompany">
                                    <span class="field-label">Nombre de contacto</span>
                                    <input type="text" data-ng-model="data.info.company.contactName" required="" class="ng-pristine data-ng-invalid data-ng-invalid-required data-ng-touched">
                                    <div class="error-message data-ng-binding">Completá este dato</div>
                                </label>
                                <label class="form-field-text" data-gzz-valid="!ix.isUserCompany || data.info.company.phone" data-ng-show="ix.isUserCompany">
                                    <span class="field-label">Teléfono (con código de área)</span>
                                    <input type="tel" name="phone" data-ng-model="data.info.company.phone" required="" class="ng-pristine data-ng-untouched data-ng-invalid data-ng-invalid-required">
                                    <div class="error-message data-ng-binding">Completá este dato</div>
                                </label>
                                <label class="form-field-text" data-gzz-valid="data.info.email && !ix.emailConflict">
                                    <span class="field-label">Email</span>
                                    <input type="email" name="email" data-ng-model="data.info.email" required>
                                    <div class="error-message">
                                        <span data-ng-show="myAccountForm.email.$error.required">{{data.genericErrorMessage}}</span>
                                        <span data-ng-show="ix.emailConflict">{{data.existingUser}}</span>
                                        <span data-ng-show="!ix.emailConflict && !myAccountForm.email.$error.required">{{data.invalidFormat}}</span>
                                    </div>
                                </label>
                                <label class="form-field-select">
                                    <span class="field-label">
                                        ¿Cada cuánto deseas recibir notificaciones de preguntas y respuestas?
                                    </span>
                                    <span class="arrow">
                                        <select data-ng-model="data.info.notificationConfig.messageDaysFrequency">
                                            <option value="0">Instantaneo</option>
                                            <option value="1">Resumen diario</option>
                                            <option value="7">Resumen semanal</option>
                                            <option value="-1">Nunca</option>
                                        </select>
                                    </span>
                                    <div class="error-message">
                                        {{data.genericErrorMessage}}
                                    </div>
                                </label>
                                <div class="button-stack">
                                    <button class="button button-primary button-lg button-block" data-ng-class="{waiting:ix.submitting == 'info'}" data-ng-disabled="ix.submitting == 'info'">
                                        {{ix.submitting?'Actualizando':'Guardar'}}
                                    </button>
                                    <button class="button button-naked button-sm" data-ng-click="sendValidateEmail()">Enviar email de validación</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-card>
                <ng-card data-ng-show="ix.section=='mis-datos'">
                    <div class="card-content">
                        <span class="card-title">Contrase&ntilde;a</span>
                        <div class="my-form">
                            <div data-ng-if="ix.passwordUpdated" class="alert alert-positive">
                                Se actualizó tu contrase&ntilde;a
                            </div>
                            <form class="sign-form base-form" name="passwordForm" data-gzz-validate="pass" data-ng-submit="updatePassword()" novalidate>
                                <label class="form-field-text" data-gzz-valid="data.password.length  == 0 || (data.password.length >=6 && data.password.length <= 20)">
                                    <span class="field-label">Contraseña</span>
                                    <input type="password" data-ng-model="data.password">
                                    <div class="error-message">
                                        {{data.invalidPasswordLength}}
                                    </div>
                                </label>
                                <label class="form-field-text" data-gzz-valid="data.password == confirm_password">
                                    <span class="field-label">Confirmaci&oacute;n de contrase&ntilde;a</span>
                                    <input type="password" data-ng-model="confirm_password">
                                    <div class="error-message">
                                        La confirmacion de contrese&ntilde;a erronea
                                    </div>
                                </label>
                                <div class="button-stack">
                                    <button class="button button-primary button-lg button-block" data-ng-class="{waiting:ix.submitting == 'pass'}" data-ng-disabled="ix.submitting == 'pass'">
                                        {{ix.submitting?'Actualizando':'Guardar'}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-card>
            </div>
            <div class="my-reviews" data-ng-show="ix.section=='mis-aventuras' && ix.isUserCompany">
                <div class="container-reviews">
                    <div class="review" data-ng-repeat="adventure in data.info.adventures" data-ng-show="!adventure.deleted">
                        <ng-card>
                            <card-adventure data-ng-adventure="adventure" data-ng-company="true" data-ng-delete="removeAdventure" data-ng-remove="askRemove" data-ng-viewf="viewAdventure" data-ng-editf="editAdventure">
                            </card-adventure>
                        </ng-card>
                    </div>
                    <div class="not-review" data-ng-show="data.info.adventures.length < 1">
                        <h2 class="title-sm">No has cargado ninguna aventura todavía. No te quedes afuera!</h2>
                    </div>
                </div>
                <div class="search button-stack" data-ng-show="ix.section=='mis-aventuras' && ix.isUserCompany">
                    <a ga-click="User, createAventure, MyAccount" href="/nueva-aventura" class="button button-sm button-primary">
                        Crear aventura
                    </a>
                </div>
            </div>
            <div class="my-reviews" data-ng-show="ix.section=='mis-paquetes' && ix.isUserCompany">
                    <div class="container-package">
                        <ng-card class="package" id="{{package._id}}" data-ng-repeat="package in data.packages" data-ng-class="{'selected': selectedPackage == package._id }">
                            <div class="review-proper">
                                <div class="company-logo {{package.title}}">
                                    {{package.title}}
                                </div>
                                <div class="company-name" data-ng-show="!adventure.showRemove">
                                    <h1 class="title-sm">Paquete {{package.title}}<span>{{package.createdDate | date:'dd/MM/yyyy' : '-0300'}}</span></h1>
                                    <div class="description">
                                        <div class="data">
                                            <p class="vote-count">Id: {{package._id | limitTo:10 }}</p>
                                            <p class="vote-count">{{package.dischargeLeads}} contactos</p>
                                            <p class="vote-count">Precio: $ {{package.price}}</p>
                                        </div>
                                        <div class="state">
                                            <div class="returnContainer">
                                                <span class="info" data-ng-if="package.state == 'pending'" alt="No confirmaste el pago por lo cual está pendiente."><span class="name">Pendiente</span></span>
                                                <a data-ng-click="retomarPago(package._id)" data-ng-if="package.state == 'pending'" alt="Pagar paquete"><span class="name">Retomá el pago</span></a>
                                            </div>
                                            <span class="cancel" data-ng-if="package.state == 'cancel'"><span class="name">Cancelado</span></span>
                                            <span class="enable" data-ng-if="package.state == 'enable_backoffice'"><span class="name">Acreditado</span></span>
                                            <span class="info" data-ng-if="package.state == 'intention_payment_mp'" data-ng-click="retomarPago(package._id)"><span class="name return">Retomar pago</span></span>
                                            <span class="enable" data-ng-if="package.state == 'enable_mp'"><span class="name">Acreditado</span></span>
                                            <span data-ng-if="package.state == 'other_mp'">
                                                <span class="info" data-ng-if="package.mp.payment.status == 'in_process'" alt="MercadoPago está procesando tu pago"><span class="name">Procesando</span></span>
                                                <div class="returnContainer">
                                                    <span class="cancel" data-ng-if="package.mp.payment.status == 'rejected'" alt="El pago fue rechazado por MercadoPago. Inténtelo nuevamente en su sitio"><span class="name">Pago Rechazado</span></span>
                                                    <a data-ng-click="retomarPago(package._id)" data-ng-if="package.mp.payment.status == 'rejected'" alt="Pagar paquete"><span class="name">Volver a pagar</span></a>
                                                </div>
                                                <span class="info" data-ng-if="package.mp.payment.status == 'in_mediation'" alt="Se ha iniciado una disputa en MercadoPago."><span class="name">En disputa</span></span>
                                                <div class="returnContainer">
                                                    <span class="cancel" data-ng-if="package.mp.payment.status == 'cancelled'" alt="Cancelaste tu pago o el tiempo expiró."><span class="name">Cancelado</span></span>
                                                    <a data-ng-click="retomarPago(package._id)" data-ng-if="package.mp.payment.status == 'cancelled'" alt="Pagar paquete"><span class="name">Pagar nuevamente</span></a>
                                                </div>
                                                <span class="info" data-ng-if="package.mp.payment.status == 'refunded'" alt="El pago te fue devuelto."><span class="name">Reembosado</span></span>
                                                <span class="info" data-ng-if="package.mp.payment.status == 'charged_back'" alt="Te fue hecho un contracargo en la tarjeta."><span class="name">Contracargo</span></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-card>
                    </div>
                    <div class="not-review" data-ng-show="data.packages.length < 1">
                        <h2 class="title-sm">No has comprado ningún paquete. No pierdas contactos!</h2>
                    </div>
                    <div class="search button-stack">
                        <a ga-click="User, createAventure, MyAccount" href="/paquetes" class="button button-sm button-primary">
                            Contratar un paquete
                        </a>
                    </div>
            </div>
            <div class="my-reviews" data-ng-show="ix.section=='mis-consultas' && ix.isUserCompany">
                <div class="container-lead">
                    <ng-card id="{{lead._id}}" class="lead" data-ng-repeat="lead in data.leads" data-ng-class="{'pending' : lead.state == 'pending', 'selected': selectedLead==lead._id }" data-ng-click="unlock(lead)" data-ng-show="showCards || selectedCard == lead._id">
                        <span class="date">{{lead.contactDate | date:'dd/MM/yyyy' : '-0300'}}</span>
                        <span class="id">{{lead._id | limitTo:10 }}</span>
                        <div class="colour">
                            <div class="logo" data-ng-if="lead.adventure">
                                <img ng-src="{{lead.adventure.profile_picture.length ? lead.adventure.profile_picture[0].url : lead.adventure.profile_picture.url}}" alt="Aventura {{lead.adventure.name}}">
                            </div>
                            <div class="logo company-logo" data-ng-if="!lead.adventure">
                                <img src="{{data.info.company.profile_picture.url}}" alt="{{data.info.company.name}} logo" alt="Aventura {{lead.adventure.name}}" />
                            </div>
                        </div>
                        <div class="data">
                            <div class="name">{{lead.contactName ? lead.contactName : '********** ******'}}</div>
                            <div class="email" data-ng-if="!lead.email">*********@*****.com</div>
                            <div class="email" data-ng-if="lead.email"><a href="mailto:{{lead.email}}">{{lead.email}}</a></div>
                            <div class="">{{lead.phone ? lead.phone : '(****)****-****'}}</div>
                            <div class="comment" data-ng-if="lead.description">
                                <div class="message">{{lead.description}}</div>
                            </div>
                            <div class="comment" data-ng-if="!lead.description">
                                ******** ** ***** **** ***** ** ** ******
                            </div>
                            <div class="lock" data-ng-if="lead.state == 'pending'">
                                <span class="info"></span>
                            </div>
                            <span class="state" data-ng-if="lead.state == 'pending'">
                                Desbloquear
                            </span>
                        </div>
                        <!--
                        <div class="review-proper">
                            <div class="adventure">
                                <div class="logo" data-ng-if="lead.adventure">
                                    <img ng-src="{{lead.adventure.profile_picture.length ? lead.adventure.profile_picture[0].url : lead.adventure.profile_picture.url}}">
                                </div>
                                <div class="logo company-logo" data-ng-if="!lead.adventure">
                                    <img src="{{data.info.company.profile_picture.url}}" alt="{{data.info.company.name}} logo" />
                                </div>
                                <div>
                                    <h1 class="title-sm">{{lead.adventure.name ? 'Consulta en Aventura' : 'Consulta a Compañia'}}<span>{{lead.contactDate | date:'dd/MM/yyyy' : '-0300'}}</span></h1>
                                    <div class="vote-count"><span>Consulta Nº:</span> {{lead._id | limitTo:10 }}</div>
                                </div>
                            </div>
                            <div class="company-name">
                                <div class="description">
                                    <div class="data">
                                        <div>
                                            <div class="vote-count" data-ng-show="lead.adventure"><span>Aventura:</span> {{lead.adventure.name}}</div>
                                            <div class="vote-count complex">
                                                <div class="subcontainer">
                                                    <div class="name"> {{lead.contactName ? lead.contactName : '******'}}</div>
                                                    <div class="phone"> {{lead.phone ? lead.phone : '****-****'}}</div>
                                                </div>
                                            </div>
                                            <div class="vote-count email"> {{lead.email ? lead.email : '******'}}</div>
                                            <div class="vote-count comment" data-ng-if="lead.description">
                                                <div class="message">{{lead.description}}</div>
                                            </div>
                                            <div class="vote-count comment" data-ng-if="!lead.description">
                                                ******** ** ***** **** ***** ** ** ******
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lock" data-ng-if="lead.state == 'pending'">
                                        <span class="info"></span>
                                    </div>
                                </div>
                                <div class="state">
                                    <p class="vote-count" data-ng-if="lead.state == 'pending'">Desbloquear</p>
                                </div>
                            </div>
                        </div>
                        -->
                    </ng-card>
                    <div class="not-review" data-ng-show="data.leads.length < 1">
                        <h2 class="title-sm">Todavia no tenés ninguna consulta!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
