@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/desktop/alerts';
@import '../../less/desktop/forms';
@import '../../less/desktop/buttons';
@import '../../less/desktop/cards';

[data-ng-controller="MyAccountCtrl"] {
    background-color: @generalBackgroundColor;
    display: flex;
    flex-direction: column;
    flex:1;

    .maxWidth1440{
        max-width:  1440px;
        min-width: 1132px;
        margin: auto;
    }

    .leads {
        .alert-neutral {
            align-items: center;
            display: flex;
            justify-content: center;
            i {
                color: @secondary-color;
                font-size: 18px;
                margin-left: 10px;
            }
        }
        .alert-negative,
        .alert-positive {
            a {
                color: @gzz-smurf;
                text-decoration: underline;
            }
        }
    }
    .container {
        display: flex;
        .maxWidth1440;
        margin: 0 auto;
        width: 100%;
        align-self: center;
        .left {
            flex: 1;
            max-width: 250px;
            min-width: 250px;
            .menu {
                width: 100%;
                flex: 1;
                font-family: @base-font-family;
                font-size: 1.3em;
                position: relative;
                padding: 10px;
                border-bottom: solid 3px @gzz-light-gray;
                margin: 0;
                color: @gzz-dark-gray;
                cursor: pointer;
                &.selected {
                    border-bottom-color: @gzz-mint;
                    color: @gzz-coal;
                }
                &:hover:not(.selected) {
                    color: @gzz-coal;
                    border-bottom-color: @gzz-coal;
                }
            }
        }
        .right {
            display: flex;
            flex-wrap: wrap;
            flex: 3;
            justify-content: center;
            .blockRight{
                &.myData{
                    >ng-card{
                        background-color: white;
                    }
                    display: flex;
                    flex-wrap: wrap;
                }
                //min-width: 600px;
            }
            .my-form {
                background-color: @white;
                .alert {
                    >img {
                        height: 15px;
                    }
                }
                .alert+form {
                    border-top: 1px solid @gzz-medium-gray;
                }
                form {
                    .field-text,
                    .field-label {
                        &.small {
                            display: block;
                            font-size: 15px;
                            font-weight: 300;
                        }
                    }
                    .field-text.pageUrl {
                        overflow-wrap: break-word;
                    }
                    .light {
                        color: @gzz-dark-gray;
                    }
                }
                .colores {
                    .welcome {
                        font-size: 1.3em;
                        font-weight: bold;
                    }
                }
                .location {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gzz-google-location {
                        flex: 1;
                    }
                    gzz-location-button{
                        position: relative;
                        right: 79px;
                        a{
                            margin-top: 5px;
                            font-size: 19px;
                        }
                    }
                    button i {
                        font-size: 24px;
                    }
                }
                .container-logo{
                    display: flex;
                    align-items: center;
                    margin: 20px 0;
                    .logo {
                        width: 130px;
                        background-color: white;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        align-content: center;
                        background-color: white;
                        border: 1px solid @gzz-medium-gray;
                        margin-right: 20px;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            flex-grow: 0;
                        }
                    }
                }
                .container-url{
                    display: flex;
                    align-items: center;
                    .small{
                        padding-right: 10px;
                    }
                }
            }
            .kill-me-please {
                .company-row-mobile {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .company-row-desktop {
                    padding-left: 100px;
                    padding-right: 100px;
                }
                h2 {
                    margin: 20px;
                }
            }
            .my-reviews {
                .container-reviews{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .review {
                        min-width: 400px;
                        width: 33.33%;
                        .review-proper {
                            padding: 30px 20px;
                            display: block;
                            display: flex;
                            .company-logo {
                                align-content: center;
                                background-color: white;
                                border: 1px solid @gzz-medium-gray;
                                border-radius: 2;
                                display: flex;
                                flex-direction: column;
                                height: 70px;
                                justify-content: center;
                                overflow: hidden;
                                padding: 3px;
                                width: 70px;
                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    flex-grow: 0;
                                }
                            }
                            .company-name {
                                flex: 1;
                                margin-left: 15px;
                                h1 {
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    margin-bottom: 5px;
                                }
                                .score {
                                    display: block;
                                    margin-bottom: 10px;
                                }
                                .vote-count {
                                    font-size: 14px;
                                    color: @gzz-dark-gray;
                                    margin-bottom: 10px;
                                }
                                .actions {
                                    .actions-space {
                                        margin-left: 10px;
                                    }
                                }
                            }
                            .confirm-removal {
                                flex: 1;
                                margin-left: 15px;
                                .actions {
                                    margin-top: 10px;
                                }
                            }
                            .date {
                                font-size: 14px;
                                color: @gzz-dark-gray;
                            }
                        }
                        .space {
                            margin: 15px;
                        }
                        .actions {
                            display: flex;
                            justify-content: center;
                            .button-sm {
                                margin: 10px;
                            }
                        }
                    }
                    .not-review {
                        text-align: center;
                    }
                    h2 {
                        margin: 20px;
                    }
                }
                .search {
                    margin: 20px;
                }
                .container-package{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .package {
                        max-width: 500px;
                        min-width: 500px;
                        font-size: 1.5em;
                        border-bottom: 1px solid @gzz-medium-gray;
                        flex:1;
                        &.selected{
                            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                        }
                        .review-proper {
                            margin: 0 auto;
                            padding: 20px 10px;
                            display: block;
                            display: flex;


                            .company-logo {
                                align-content: center;
                                background-color: white;
                                border: 1px solid @gzz-medium-gray;
                                display: flex;
                                flex-direction: column;
                                height: 90px;
                                width: 90px;
                                justify-content: center;
                                overflow: hidden;
                                padding: 3px;
                                border-radius: 50%;
                                align-items: center;
                                color: white;
                                font-weight: 500;
                                &.Coati{
                                    background-color: #bc8248;
                                }
                                &.Huemul{
                                    background-color: #fac51c;
                                }
                                &.Suri{
                                    background-color: #f37934;
                                }
                            }

                            .company-name {
                                flex:1;
                                margin-left: 20px;

                                h1 {
                                    display: flex;
                                    justify-content: space-between;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    margin-bottom: 5px;
                                    span{
                                        padding-top: 2px;
                                        font-size: 1em;
                                        color: lightgrey;
                                    }
                                }

                                .score {
                                    display: block;
                                    margin-bottom: 10px;
                                }
                                .description{
                                    display: flex;
                                    flex-direction: row;
                                    @media only screen and (max-width: 600px) {
                                        .state .name{
                                            display: none;
                                        }
                                    }
                                    .data{
                                        flex:2;
                                    }
                                    .state{
                                        display: flex;
                                        align-items: center;
                                        font-size:  1em;
                                        flex:3;
                                        .icon{
                                            font: normal normal normal 30px/1 FontAwesome;
                                            margin-right: 10px;
                                        }
                                        .enable{
                                            color: #468847;
                                            &:before{
                                                content:"\f058";
                                                .icon;
                                            }
                                        }
                                        .returnContainer{
                                            display: flex;
                                            flex-direction: column;
                                            a{
                                                padding: 10px 0px 0px 36px;
                                                font-size: .8em;
                                                color:@secondary-color;
                                            }
                                        }
                                        .info{
                                            color: #0000FF;
                                            .name.return{
                                                    cursor: pointer;
                                                }
                                            &:before{
                                                content:"\f05a";
                                                .icon;
                                            }
                                        }
                                        .cancel{
                                            color: #FF0000;
                                            &:before{
                                                content:"\f057";
                                                .icon;
                                            }
                                        }
                                    }
                                    .vote-count {
                                        font-size: .8em;
                                        color: @gzz-dark-gray;
                                        margin-bottom: 10px;
                                    }
                                }

                                .actions {
                                    .actions-space {
                                        margin-left: 10px;
                                    }
                                }

                            }
                            .confirm-removal {
                                flex:1;
                                margin-left: 15px;
                                .actions {
                                    margin-top: 10px;
                                }
                            }

                            .date {
                                font-size: 14px;
                                color: @gzz-dark-gray;
                            }
                        }
                    }
                }
                .container-lead{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .lead {
                        position: relative;
                        max-width: 500px;
                        min-width: 500px;
                        font-size: 1.2em;
                        border-bottom: 1px solid @gzz-medium-gray;
                        flex:1;
                        &.selected{
                            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                        }
                        .idDate{
                            font-size: 14px;
                            color: white;
                            padding-top: 2px;
                            font-size: .8em;
                            color: lightgrey;
                            position: absolute;
                            top: 10px;
                        }
                        .id {
                            .idDate;
                            right: 10px;
                        }
                        .date {
                            .idDate;
                            left: 10px;
                        }
                        .colour{
                            height: 100px;
                            background-color: @primary-color;
                        }
                        .data{
                            display: flex;
                            flex-direction: column;
                            padding: 30px;
                            padding-top: 50px;
                            min-height: 250px;
                            div{
                                margin-bottom: 10px;
                                z-index: 1;
                            }
                            .name{
                                font-size: 1.2em;
                                font-weight: 600;
                            }                        
                            .email{
                                font-size: 1em;
                                a{
                                    color: @secondary-color;
                                    cursor: pointer;
                                }
                            }
                            .comment .message{
                                overflow-y: scroll;
                                max-height: 130px;
                            }
                            .lock{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                font-size:  2em;
                                position: absolute;
                                top: 40%;
                                left: 40%;
                                z-index: 0;
                                .icon{
                                    font: normal normal normal 30px/1 FontAwesome;
                                    margin-right: 10px;
                                    font-size: 4em;
                                }
                                .info{
                                    color: @gzz-medium-gray;
                                    &:before{
                                        content:"\f023";
                                        .icon;
                                    }
                                }
                            }
                            .state{
                                font-size:  1.5em;
                                color: @gzz-dark-gray;
                                text-align: center;
                                position: absolute;
                                bottom: 5px;
                                left: 34%;
                            }
                        }

                        &.pending{
                            &:hover {
                                cursor: pointer;
                                .data .lock .info{
                                     &:before{
                                        content:"\f13e";
                                    }
                                }
                            }
                            .data .lock .info{
                                &:hover { 
                                     &:before{
                                        content:"\f13e";
                                    }
                                }
                            }
                        }
                        .logo{
                            position: absolute;
                            background-color: white;
                            border: 1px solid @gzz-medium-gray;
                            display: flex;
                            flex-direction: column;
                            height: 100px;
                            width: 100px;
                            justify-content: center;
                            overflow: hidden;
                            align-items: center;
                            top: 30px;
                            left: 40%;
                            box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.16), 5px 5px 5px 2px rgba(0, 0, 0, 0.12);
                            img{
                                height: 100px;
                            }
                            &.company-logo {
                                border-radius: 50%;
                            }
                        }
                    }
                    .not-review {
                        text-align: center;
                    }
                    h2 {
                        margin: 20px;
                    }
                }
                .not-review {
                    text-align: center;
                    h2 {
                        margin: 20px;
                    }
                }
            }
        }
    }
    trix-toolbar {
        margin-top: 20px;
    }
    trix-toolbar .button_groups {
        button.code {
            display: none;
        }
        button.link {
            display: none;
        }
        button.strike {
            display: none;
        }
        button.quote {
            display: none;
        }
        button.increase {
            display: none;
        }
        button.decrease {
            display: none;
        }
    }
    trix-editor {
        min-height: 150px;
        margin-bottom: 10px;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    .edit-logo-form {
        .subtitule {
            text-align: center;
            padding-bottom: 40px;
        }
        .cropArea,
        .image-saved-container {
            overflow: hidden;
            //max-width: @site-max-width;
            min-height: 100%;
            //min-width: @site-min-width;
            padding-top: 40px;
            text-align: center;
            h3 {
                text-align: center;
            }
        }
        img-crop,
        .image-saved {
            height: 420px;
            @media (max-width: 600px) {
                height: 220px;
            }
        }
        .upload-button {
            padding-top: 40px;
        }
        .image-form {
            padding-top: 40px;
            .select-button {
                padding-bottom: 40px;
                border-bottom: solid 1px @gzz-light-gray;
            }
        }
    }

    @media only screen and (max-width: 1280px){
        .container {
            width: 100%;
            .right{
                .blockRight {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
            }
        }/*
        .form-field-text input, .form-field-trix input, .form-field-text textarea, .form-field-trix textarea{
            width: 300px;
        }
        .form-field, .form-field-text, .form-field-stars, .form-field-button, .form-field-select, .form-field-checklist, .form-field-radio, .form-field-radiogroup, .form-field-multiselect, .form-field-text, .form-field-trix, .form-field-select{
            width: 300px;
        }*/
    }

    @media only screen and (min-width: 1280px){
        .container .right{
            .blockRight {
                flex: 1;
            }
        }
    }
}
