@import '../../less/global/directives';
@import '../../less/global/alerts';
@import '../../less/global/layout';
@import '../../less/mobile/buttons';

@site-max-width: 750px;
@site-min-width: 320px;

[data-ng-controller="MyAccountCtrl"]{
    background-color: white;
    display: flex;
    flex-direction: column;

    .leads{
        border-bottom: solid 3px @gzz-light-gray;
        .alert-neutral{
            align-items: center;
            display: flex;
            justify-content: center;
            i{
                color:@secondary-color;
                font-size:18px;
                margin-left: 10px;
            }
        }
        .alert-negative, .alert-positive{
            a{
                color: @gzz-smurf;
                text-decoration: underline;
            }
        }
    }

    .tabs {
        display: flex;
        align-items: flex-start;
    }

    .menu {
        width:100%;
        flex: 1;
        font-family: @base-font-family;
        font-size: 1.3em;
        position: relative;
        padding: 10px;
        border-bottom: solid 3px @gzz-light-gray;
        margin: 0;
        color: @gzz-dark-gray;
        span {
            line-height: 24px;
            height: 24px;
            display: block;
        }
        &.selected {
            border-bottom-color: @gzz-mint;
            color: @gzz-coal;
        }
        &:hover:not(.selected) {
            color: @gzz-coal;
            border-bottom-color: @gzz-coal;
        }
    }
    .my-form {
        background-color: @white;
        .alert{
            >img{
                height: 15px;
            }
        }
        .alert+form {
            border-top: 1px solid @gzz-medium-gray;
        }
        form{
            .field-text, .field-label {
                &.small{
                    display: block;
                    font-size: 15px;
                    font-weight: 300;
                }
            }

            .field-text.pageUrl{
                overflow-wrap: break-word;
            }
            .light{
                color: @gzz-dark-gray;
            }
        }
        .colores{
            .welcome{
                font-size: 1.3em;
                font-weight: bold;
            }
        }
        .location{
            display: flex;
            flex-direction: row;
            align-items: center;
            gzz-google-location{
                flex: 1;
            }
            button i{
                font-size:  24px;
            }
        }
    }

    .kill-me-please {
        .company-row-mobile{
            padding-left:10px;
            padding-right:10px;
        }
        .company-row-desktop{
            padding-left:100px;
            padding-right:100px;
        }
        h2 {
            margin: 20px;
        }
    }


    .my-reviews{
        &.packages{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .review {

            border-bottom: 1px solid @gzz-medium-gray;
            .review-proper {
                padding: 30px 20px;
                display: block;
                display: flex;


                .company-logo {
                    align-content: center;
            		background-color: white;
            		border: 1px solid @gzz-medium-gray;
            		border-radius: 2;
            		display: flex;
            		flex-direction: column;
            		height: 70px;
            		justify-content: center;
            		overflow: hidden;
            		padding: 3px;
            		width: 70px;

            		img {
            			max-width: 100%;
            			max-height: 100%;
            			flex-grow: 0;
            		}
                }

                .company-name {
                    flex:1;
                    margin-left: 15px;

                    h1 {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: 5px;
                    }

                    .score {
                        display: block;
                        margin-bottom: 10px;
                    }
                    .vote-count {
                        font-size: 14px;
                        color: @gzz-dark-gray;
                        margin-bottom: 10px;
                    }

                    .actions {
                        .actions-space {
                            margin-left: 10px;
                        }
                    }

                }
                .confirm-removal {
                    flex:1;
                    margin-left: 15px;
                    .actions {
                        margin-top: 10px;
                    }
                }

                .date {
                    font-size: 14px;
                    color: @gzz-dark-gray;
                }
            }
        }
        .not-review{
            text-align: center;
        }
        h2 {
            margin: 20px;
        }
        .search {
            border-top: 1px solid @gzz-medium-gray;
            padding: 20px;
        }
        .package {
            font-size: 1em;
            border-bottom: 1px solid @gzz-medium-gray;
            min-width: 300px;
            flex: 1;        
            @media only screen and (min-width: 600px) {
                border-right: 1px solid @gzz-medium-gray;
            }
            &.selected{
                -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
            }
            .review-proper {
                display: flex;
                flex-direction: column;
                padding: 15px 5px 5px 5px;
                position: relative;
                .packageTitle{
                    display: flex;
                    flex-direction:row;
                    margin-bottom: 10px;
                    min-width: 290px;
                    margin: 0 auto;
                    .company-logo {
                        align-content: center;
                        background-color: white;
                        border: 1px solid @gzz-medium-gray;
                        display: flex;
                        flex-direction: column;
                        height: 70px;
                        justify-content: center;
                        overflow: hidden;
                        margin: 5px;
                        width: 70px;
                        border-radius: 50%;
                        align-items: center;
                        color: white;
                        font-weight: 500;
                        &.Coati{
                            background-color: #bc8248;
                        }
                        &.Huemul{
                            background-color: #fac51c;
                        }
                        &.Suri{
                            background-color: #f37934;
                        }
                    }
                    .title{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: @primary-color;
                        z-index: 1;
                    }
                    .consult {
                        font-size: 14px;
                        color: @gzz-dark-gray;
                        span{
                            font-weight: 600;
                        }
                    }
                }

                .company-name {
                    flex:1;
                    margin: 0 auto;
                    h1 {
                        display: flex;
                        justify-content: space-between;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: 5px;
                        span{
                            padding-top: 2px;
                            font-size: .8em;
                            color: lightgrey;
                        }
                    }

                    .score {
                        display: block;
                        margin-bottom: 10px;
                    }
                    .description{
                        display: flex;
                        flex-direction: row;
                        .state{
                            display: flex;
                            align-items: center;
                            margin-left: 60px;
                            font-size:  1em;
                            span{
                                display: flex;
                                align-items: center;
                            }
                            .icon{
                                font: normal normal normal 30px/1 FontAwesome;
                                margin-right: 10px;
                            }
                            .enable{
                                color: #468847;
                                &:before{
                                    content:"\f058";
                                    .icon;
                                }
                            }
                            .info{
                                color: #0000FF;
                                &:before{
                                    content:"\f05a";
                                    .icon;
                                }
                            }
                            .cancel{
                                color: #FF0000;
                                &:before{
                                    content:"\f057";
                                    .icon;
                                }
                            }
                        }
                        .vote-count {
                            font-size: 14px;
                            color: @gzz-dark-gray;
                            margin-bottom: 10px;
                        }
                    }

                    .actions {
                        .actions-space {
                            margin-left: 10px;
                        }
                    }

                }
                .confirm-removal {
                    flex:1;
                    margin-left: 15px;
                    .actions {
                        margin-top: 10px;
                    }
                }

                .date {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    font-size: 14px;
                    color: @gzz-dark-gray;
                }
            }
        }
        .not-review{
            text-align: center;
        }
        h2 {
            margin: 20px;
        }
        .search {
            border-top: 1px solid @gzz-medium-gray;
            padding: 20px;
        }
    }
    
    .container-lead{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .lead {
            border-right: 1px solid @gzz-medium-gray;
            min-width: 300px;
            @media only screen and (max-width: 600px) {
                max-width: 100%;
                min-width: 100%;
            }
            font-size: 1.5em;
            border-bottom: 1px solid @gzz-medium-gray;
            flex:1;
            &.selected{
                -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
            }
            &.pending{
                &:hover {
                    cursor: pointer;
                    .review-proper .company-name .description .info{
                         &:before{
                            content:"\f13e";
                        }
                    }
                }
                .info{
                    &:hover { 
                         &:before{
                            content:"\f13e";
                        }
                    }
                }
            }
            .review-proper {
                display: flex;
                flex-direction: column;
                padding: 15px 5px 5px 5px;
                position: relative;
                .date{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
                .adventure{
                    display: flex;
                    flex-direction:row;
                    margin-bottom: 10px;
                    .logo{
                        align-content: center;
                        background-color: white;
                        border: 1px solid @gzz-medium-gray;
                        display: flex;
                        flex-direction: column;
                        height: 70px;
                        width: 70px;
                        justify-content: center;
                        overflow: hidden;
                        margin: 3px;
                        align-items: center;
                        color: white;
                        font-weight: 500;
                        img{
                            height: 70px;
                        }
                        &.company-logo {
                            border-radius: 50%;
                        }
                    }
                    .consult {
                        font-size: 14px;
                        color: @gzz-dark-gray;
                        span{
                            font-weight: 600;
                        }
                    }
                    .title{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: @primary-color;
                        z-index: 1;
                        margin-left: 10px;
                    }
                }

                .company-name {
                    flex:1;
                    margin-left: 5px;
                    height: 100%;
                    h1 {
                        display: flex;
                        justify-content: space-between;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: 10px;
                        span{
                            padding-top: 2px;
                            font-size: .8em;
                            color: lightgrey;
                        }
                    }
                    .score {
                        display: block;
                        margin-bottom: 10px;
                    }
                    .description{
                        display: flex;
                        flex-direction: row;
                        height: 90%;
                        @media only screen and (max-width: 600px) {
                            .state .name{
                                display: none;
                            }
                        }
                        .data{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            z-index: 1;
                            .state{
                                font-size:  1.5em;
                                color: @gzz-dark-gray;
                                text-align: center;
                            }
                        }
                        .lock{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-size:  2em;
                            position: absolute;
                            top: 15%;
                            left: 30%;
                            .icon{
                                font: normal normal normal 30px/1 FontAwesome;
                                margin-right: 10px;
                                font-size: 4em;
                            }
                            .info{
                                color: @gzz-medium-gray;
                                &:before{
                                    content:"\f023";
                                    .icon;
                                }
                            }
                        }
                        .vote-count {
                            font-size: 14px;
                            color: @gzz-dark-gray;
                            margin-bottom: 10px;
                            a{
                                color: @secondary-color;
                                cursor: pointer;
                            }
                            &.complex{
                                margin-bottom: 0;
                            }
                            &.email{
                                &:before{
                                    content:"\f0e0";
                                    font: normal normal normal 20px/1 FontAwesome;
                                    margin-right: 5px;
                                }
                            }
                            &.message{
                                &:before{
                                    content:"\f075";
                                    font: normal normal normal 20px/1 FontAwesome;
                                    margin-right: 5px;
                                }
                            }
                            .subcontainer{
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                .name{
                                    &:before{
                                        content:"\f007";
                                        font: normal normal normal 20px/1 FontAwesome;
                                        margin-right: 5px;
                                    }
                                }
                                .phone{
                                    &:before{
                                        content:"\f095";
                                        font: normal normal normal 20px/1 FontAwesome;
                                        margin-right: 5px;
                                    }
                                }
                                div{
                                    margin-bottom: 10px;
                                }
                            }
                            span{
                                font-size: 1em;
                                font-weight: 600;
                            }
                        }
                    }

                    .actions {
                        .actions-space {
                            margin-left: 10px;
                        }
                    }

                }
                .confirm-removal {
                    flex:1;
                    margin-left: 15px;
                    .actions {
                        margin-top: 10px;
                    }
                }

                .date {
                    font-size: 14px;
                    color: @gzz-dark-gray;
                }
            }
        }
    }


    trix-toolbar{
        margin-top: 20px;
    }   
    trix-toolbar .button_groups {
        button.code {
            display: none;
        }
        button.link {
            display: none;
        }
        button.strike {
            display: none;
        }
        button.quote {
            display: none;
        }
        button.increase {
            display: none;
        }
        button.decrease {
            display: none;
        }
    }

    trix-editor{
        min-height: 150px;
        margin-bottom: 10px;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .edit-logo-form{
        .subtitule{
            text-align: center;
            padding-bottom: 40px;
        }

        .cropArea, .image-saved-container {
            overflow: hidden;
            max-width: @site-max-width;
            min-height: 100%;
            min-width: @site-min-width;
            padding-top: 40px;
            text-align: center;
            h3{
                text-align: center;
            }
        }
        img-crop, .image-saved{
            height: 420px;
            @media (max-width: 600px){
                height: 220px;
            }
        }
        .upload-button{
            padding-top: 40px;
        }
        .image-form{
            padding-top: 40px;
            .select-button{
                padding-bottom: 40px;
                border-bottom: solid 1px @gzz-light-gray;
            }
        }
    }

    @media (max-width: 600px){
        img-crop, .image-saved{
            height: 220px;
        }
        .load-image-step{
            .subtitule{
                padding-bottom: 20px;
            }
            .cropArea, .image-saved-container {
                text-align: center;
                padding-top: 20px;
            }
            .upload-button{
                padding-top: 20px;
            }
            .image-form{
                padding-top: 20px;
                .select-button{
                    padding-bottom: 20px;
                }
            }
        }
    }
}
