{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZL95pQHjWYOszZIN0uxA7Ktiob9rKdzY"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.js"></script>
<script src="/libs/angular-trix/dist/angular-trix.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.js"></script>

<!-- Upload -->
<script src="//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.min.js"></script>
<script src="/libs/ngImgCropFullExtended/ng-img-crop.js"></script>
<link rel="stylesheet" href="/libs/ngImgCropFullExtended/ng-img-crop.css">

<div data-ng-controller="MyAccountCtrl" data-ng-show="data.userLoaded==true">
    <header class="page-header">
        <h1 class="title-hero">Mi cuenta</h1>
    </header>
    <div class="leads" data-ng-hide="!ix.isUserCompany || ix.showWelcome || ix.showWelcome2">
        <div class="alert alert-neutral" data-ng-show="data.info.company.leads > 10">
            Contactos disponibles: {{data.info.company.leads}} <a href="/paquetes"><i class="fa fa-question-circle"></i></a>
        </div>
        <div class="alert alert-positive" data-ng-show="!data.info.company.leads || data.info.company.leads == 0">
            No pierdas contactos!
            <br/> Contrat&aacute; un paquete <a href="/paquetes">ahora</a>
        </div>
        <div class="alert alert-positive" data-ng-show="data.info.company.leads > 0 && data.info.company.leads <= 10">
            Te quedan pocos contactos!
            <br/> Contrat&aacute; un paquete <a href="/paquetes">ahora</a>
        </div>
    </div>
    <nav>
        <button data-gzz-ref="mis-datos" class="menu" data-ng-class="{selected:(ix.section=='mis-datos')}">
            <span>Datos</span>
        </button>
        <button data-gzz-ref="contraseña" class="menu" data-ng-class="{selected:(ix.section=='contraseña')}">
            <span>Contrase&ntilde;a</span>
        </button>
        <button data-gzz-ref="mis-aventuras" class="menu" data-ng-class="{selected:(ix.section=='mis-aventuras')}" data-ng-show="ix.isUserCompany">
            <span>Mis aventuras</span>
        </button>
        <button data-gzz-ref="mi-pagina" class="menu" data-ng-class="{selected:(ix.section=='mi-pagina')}" data-ng-show="ix.isUserCompany">
            <span>Mi página</span>
        </button>
        <button class="menu" data-ng-show="ix.isUserCompany" data-ng-class="{selected:(ix.section=='mis-paquetes')}" data-ng-click="showPackages();">
            <span>Mis paquetes</span>
        </button>
        <button class="menu" data-ng-show="ix.isUserCompany" data-ng-class="{selected:(ix.section=='mis-consultas')}" data-ng-click="showContact();">
            <span>Mis consultas</span>
        </button>
    </nav>
    <div class="my-form" data-ng-show="ix.section=='mis-datos'">
        <div class="colores" data-ng-show="ix.showWelcome2">
            <span class="welcome">¡Bienvenido!</span>
            <p>Completá los datos de contacto y mejora tu experiencia <span class="bold">Llamaway</span></p>
        </div>
        <div data-ng-if="ix.infoUpdated" class="alert alert-positive">
            Tus datos se actualizaron exitosamente.
        </div>
        <form class="sign-form base-form" name="myAccountForm" gzz-validate="info" data-ng-submit="updateInfo()" novalidate>
            <label class="form-field-text" data-gzz-valid="!ix.isUserCompany || data.info.company.contactName" data-ng-show="ix.isUserCompany">
                <span class="field-label">Nombre de contacto</span>
                <input type="text" data-ng-model="data.info.company.contactName" required="" class="ng-pristine data-ng-invalid data-ng-invalid-required data-ng-touched">
                <div class="error-message data-ng-binding">Completá este dato</div>
            </label>
            <label class="form-field-text" data-gzz-valid="!ix.isUserCompany || data.info.company.phone" data-ng-show="ix.isUserCompany">
                <span class="field-label">Teléfono (con código de área)</span>
                <input type="tel" name="phone" data-ng-model="data.info.company.phone" required="" class="ng-pristine data-ng-untouched data-ng-invalid data-ng-invalid-required">
                <div class="error-message data-ng-binding">Completá este dato</div>
            </label>
            <label class="form-field-text" data-gzz-valid="data.info.email && !ix.emailConflict">
                <span class="field-label">Email</span>
                <input type="email" name="email" data-ng-model="data.info.email" required>
                <div class="error-message">
                    <span data-ng-show="myAccountForm.email.$error.required">{{data.genericErrorMessage}}</span>
                    <span data-ng-show="ix.emailConflict">{{data.existingUser}}</span>
                    <span data-ng-show="!ix.emailConflict && !myAccountForm.email.$error.required">{{data.invalidFormat}}</span>
                </div>
            </label>
            <label class="form-field-select">
                <span class="field-label">
					¿Cada cuánto deseas recibir notificaciones de preguntas y respuestas?
				</span>
                <span class="arrow">
					<select data-ng-model="data.info.notificationConfig.messageDaysFrequency">
						<option value="0">Instantaneo</option>
						<option value="1">Resumen diario</option>
						<option value="7">Resumen semanal</option>
						<option value="-1">Nunca</option>
					</select>
				</span>
                <div class="error-message">
                    {{data.genericErrorMessage}}
                </div>
            </label>
            <div class="button-stack">
                <button class="button button-primary button-lg button-block" data-ng-class="{waiting:ix.submitting == 'info'}" data-ng-disabled="ix.submitting == 'info'">
                    {{ix.submitting?'Actualizando':'Actualizar'}}
                </button>
                <button class="button button-naked button-sm" data-ng-click="sendValidateEmail()">Enviar email de validación</button>
            </div>
        </form>
    </div>
    <div class="my-reviews" data-ng-show="ix.section=='contraseña'">
        <div data-ng-if="ix.passwordUpdated" class="alert alert-positive">
            Se actualizó tu contrase&ntilde;a
        </div>
        <form class="sign-form base-form" name="passwordForm" gzz-validate="pass" data-ng-submit="updatePassword()" novalidate>
            <label class="form-field-text" data-gzz-valid="data.password.length  == 0 || (data.password.length >=6 && data.password.length <= 20)">
                <span class="field-label">Contraseña</span>
                <input type="password" data-ng-model="data.password">
                <div class="error-message">
                    {{data.invalidPasswordLength}}
                </div>
            </label>
            <label class="form-field-text" data-gzz-valid="data.password == confirm_password">
                <span class="field-label">Confirmaci&oacute;n de contrase&ntilde;a</span>
                <input type="password" data-ng-model="confirm_password">
                <div class="error-message">
                    La confirmacion de contrese&ntilde;a erronea
                </div>
            </label>
            <div class="button-stack">
                <button class="button button-primary button-lg button-block" data-ng-class="{waiting:ix.submitting == 'pass'}" data-ng-disabled="ix.submitting == 'pass'">
                    {{ix.submitting?'Actualizando':'Actualizar'}}
                </button>
            </div>
        </form>
    </div>
    <div class="my-form" data-ng-show="ix.section=='mi-pagina' && ix.isUserCompany">
        <div class="colores" data-ng-show="ix.showWelcome">
            <span class="welcome">¡Bienvenido!</span>
            <p>En esta seccion podrás crear tu página personalizada. Llena los siguientes campos, comparte tu URL y comienza a vivir la experiencia <span class="bold">Llamaway</span></p>
        </div>
        <div data-ng-if="ix.pageUpdated" class="alert alert-positive">
            Se actualizaron los datos correctamente.
        </div>

        <form class="sign-form base-form" name="myPageForm" gzz-validate="myPageForm" ng-show="ix.show=='editPage'" ng-init="ix.show='editPage'" novalidate>
            <label class="form-field-text" data-gzz-valid="data.info.company.name && !data.isInvalidName" data-ng-show="ix.isUserCompany">
                <span class="field-label">Razón social o nombre de tu empresa</span>
                <input type="text" data-ng-model="data.info.company.name" required="" class="ng-pristine ng-invalid ng-invalid-required ng-touched" data-ng-change="changeCompanyName()" data-ng-blur="verifyPageName()">
                <div class="error-message ng-binding" data-ng-show="!data.info.company.name">Completá este dato</div>
                <div class="error-message ng-binding" data-ng-show="data.info.company.name && data.isInvalidName">Nombre inválido</div>
            </label>
            <label class="form-field-multiselect" data-gzz-valid="data.activities.length >0">
                <span class="field-label">¿Que tipo de aventuras realizas?</span>
                <span class="arrow">
                    <div isteven-multi-select
                            input-model="multiselect.listActivityType"
                            output-model="data.activities"
                            output-properties="id name"
                            button-label="<[ name ]>"
                            item-label="<[ name ]>"
                            tick-property="check"
                            helper-elements=""
                            translation="multiselect.localLang">
                    </div>
                </span>
                <div class="error-message">{{data.genericErrorMessage}}</div>
            </label>
            <label class="form-field-text" data-ng-class="{'on-error':ix.existingPageName}" data-gzz-valid="data.info.company.pageName && !data.isInvalidPageName && !ix.existingPageName" data-ng-show="ix.isUserCompany">
                <span class="field-label">Nombre de la pagina</span>
                <span class="field-label small">Elige un nombre corto sin espacios para que puedas enviar turistas directo a tu P&aacute;gina. Ejemplo: “{{{url}}}/e/ejemplo”</span>
                <input type="text" data-ng-model="data.info.company.pageName" required="" class="ng-pristine ng-invalid ng-invalid-required ng-touched light" data-ng-change="changePageName()" data-ng-blur="verifyPageName()">
                <div class="error-message ng-binding" data-ng-show="!ix.existingPageName && !data.isInvalidPageName">{{data.genericErrorMessage}}</div>
                <div class="error-message ng-binding" data-ng-show="!ix.existingPageName && data.isInvalidPageName">Debe tener una longitud mayor a 4 caracteres.</div>
                <div class="error-message ng-binding" data-ng-show="ix.existingPageName">Este nombre de p&aacute;gina ya est&aacute; siendo utilizado.</div>
            </label>
            <label class="form-field" data-ng-show="ix.existsPageName">
                <span class="field-label">Url</span>
                <span class="field-text pageUrl">
					<a href="/e/{{data.info.company.pageName}}" alt="Ir a mi pagina">https://{{{url}}}/e/{{data.info.company.pageName}}</a>
				</span>
            </label>
            <div class="form-field-text" data-gzz-valid="data.info.company.description">
                <span class="field-label">Mi descripción</span>
                <trix-editor angular-trix data-ng-model="data.info.company.description" class="trix-content" trix-attachment-add="trixAttachmentAdd(e, editor);" trix-change="trixChange(e, editor);">
                </trix-editor>
                <div class="error-message ng-binding">{{data.genericErrorMessage}}</div>
            </div>
            <label class="form-field-text" data-gzz-valid="isValidLocation">
                <span class="field-label">Ubicación</span>
                <div class="arrow location">
                    <gzz-google-location data-ng-model="data.info.company.golocation.formatted_address"></gzz-google-location>
                    <gzz-location-button data-ng-model="data.info.company.golocation" data-ng-go-to-search="true"></gzz-google-location-button>
                </div>
                <div class="error-message ng-binding" data-ng-show="!isValidLocation">Ubicación Inválida (Formato: Localidad - Provincia - País)</div>
            </label>
            <label class="form-field-button">
                <span class="field-label">Logo del perfil</span>
                <button type="button" class="button button-block" ng-click="ix.show='editLogo'">
                    Cambiar logo
                </button>
            </label>
            <div class="button-stack">
                <button class="button button-primary button-lg button-block" data-ng-click="updatePage()" data-ng-class="{waiting:ix.submitting == 'page'}" data-ng-disabled="ix.submitting == 'page'">
                    {{ix.submitting?'Actualizando':'Actualizar'}}
                </button>
            </div>
        </form>

        <form class="edit-logo-form base-form" ng-show="ix.show=='editLogo'" novalidate>
            <div class="button-stack select-button">
                <button class="button button-block button-primary button-lg" ng-model="picFile" ngf-select accept="image/*">
                    Cambiar logo del perfil
                </button>
            </div>

            <div class="image-saved-container" ng-show="!picFile">
                <!--Imagen ya subida anteriormente-->
                <img class="image-saved" ngf-thumbnail="data.info.company.profile_picture.url">
            </div>
            

            <div ng-show="picFile">
                <div ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                    <div class="title-rg subtitule">
                        Elegí que parte de la foto vas a subir
                    </div>
                    <img-crop   image="picFile  | ngfDataUrl" 
                                result-image="croppedDataUrl" ng-init="croppedDataUrl=''" 
                                area-type="rectangle" result-image-format="image/jpeg"
                                aspect-ratio="1" init-max-area="true" live-view="blockingObject">
                    </img-crop>
                </div>
            
                <div class="button-stack upload-button">
                    <button class="button button-block button-primary button-lg" ng-click="upload(picFile.name)">
                        Subir foto
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="my-reviews" data-ng-show="ix.section=='mis-aventuras' && ix.isUserCompany">
        <div class="review" data-ng-repeat="adventure in data.info.adventures">
            <div data-ng-show="!adventure.deleted" class="review-proper">
                <div class="company-logo">
                    <img data-ng-src="{{adventure.profile_picture.length ? adventure.profile_picture[0].url : adventure.profile_picture.url}}">
                </div>
                <div class="company-name" data-ng-show="!adventure.showRemove">
                    <h1 class="title-sm">{{adventure.name}}</h1>
                    <span data-gzz-stars max="5" value="adventure.generalScore" class="score"></span>
                    <p data-ng-if="adventure.viewCount" class="vote-count">{{adventure.viewCount}} <span data-ng-if="adventure.viewCount==1">profesional ley&oacute;</span><span data-ng-if="adventure.viewCount!=1">profesionales leyeron</span> esta opinion</p>
                    <p data-ng-if="adventure.upVotesCount" class="vote-count">A {{adventure.upVotesCount}} <span data-ng-if="adventure.upVotesCount==1">profesional le</span><span data-ng-if="adventure.upVotesCount!=1">profesionales les</span> sirvió esta opinion</p>
                    <div class="actions">
                        <a class="button button-sm button-naked" ga-click="User,ViewReview" href="/aventura/{{adventure.safeUrlName}}_{{adventure._id}}">Ver</a>
                        <a class="button button-sm button-naked actions-space" ga-click="User,EditReview" href="/editar-aventura/{{adventure.safeUrlName}}_{{adventure._id}}">Editar</a>
                        <button ga-click="User,DeleteReview" class="button button-naked button-sm actions-space" data-ng-click="askRemove(adventure)">
                            Eliminar
                        </button>
                    </div>
                </div>
                <div data-ng-show="adventure.showRemove" class="confirm-removal">
                    <p>¿Seguro que querés eliminar la aventura <strong>{{adventure.name}}?</strong></p>
                    <div class="actions">
                        <button class="button button-sm" data-ng-click="askRemove(adventure)">Cancelar</button>
                        <button ga-click="User,DeleteReview" class="button button-sm button-primary" data-ng-click="removeAdventure(adventure)">Eliminar</button>
                    </div>
                    <div class="date">
                        <span>{{adventure.updated_at | date : 'd/M/yyyy'}}</span>
                    </div>
                </div>
                <div data-ng-show="adventure.deleted" class="alert alert-neutral">
                    Eliminaste la aventura {{adventure.name}}
                </div>
            </div>
        </div>
        <div class="not-review" data-ng-show="data.info.adventures.length < 1">
            <h2 class="title-sm">No has cargado ninguna aventura todavía. No te quedes afuera!</h2>
        </div>
        <div class="search button-stack">
            <a ga-click="User, createAventure, MyAccount" href="/nueva-aventura" class="button button-sm button-primary">
                Crear aventura
            </a>
        </div>
    </div>
    <div class="my-reviews packages" data-ng-show="ix.section=='mis-paquetes' && ix.isUserCompany">
        <div id="{{package._id}}" class="package" data-ng-repeat="package in data.packages" data-ng-class="{'selected': selectedPackage == package._id }">
            <div class="review-proper">
                <span class="date">{{package.createdDate | date:'dd/MM/yyyy' : '-0300'}}</span>
                
                <div class="packageTitle">
                    <div class="company-logo {{package.title}}">
                        {{package.title}}
                    </div>
                    <div class="title">
                        <h1 class="title-sm">Paquete {{package.title}}</h1>
                        <div class="consult"><span>Nº :</span> {{package._id | limitTo:10 }}</div>
                    </div>
                </div>
                <div class="company-name">
                    <div class="description">
                        <div>
                            <p class="vote-count">{{package.dischargeLeads}} contactos</p>
                            <p class="vote-count">Precio: $ {{package.price}}</p>
                        </div>
                        <div class="state">
                            <span class="info" data-ng-if="package.state == 'pending'" data-ng-click="retomarPago(package._id)"><span class="name">Pendiente</span></span>
                            <span class="enable" data-ng-if="package.state == 'enable_backoffice'"><span class="name">Acreditado</span></span>
                            <span class="info" data-ng-if="package.state == 'intention_payment_mp'" data-ng-click="retomarPago(package._id)"><span class="name">Retomar pago</span></span>
                            <span class="enable" data-ng-if="package.state == 'enable_mp'"><span class="name">Acreditado</span></span>
                            <span data-ng-if="package.state == 'other_mp'">
                                <span class="info" data-ng-if="package.mp.payment.status == 'in_process'" alt="MercadoPago está procesando tu pago"><span class="name">Procesando</span></span>
                                <span class="cancel" data-ng-if="package.mp.payment.status == 'rejected'" alt="El pago fue rechazado por MercadoPago. Inténtelo nuevamente en su sitio"><span class="name">Rechazado</span></span>
                                <span class="info" data-ng-if="package.mp.payment.status == 'in_mediation'" alt="Se ha iniciado una disputa en MercadoPago."><span class="name">Disputa</span></span>
                                <span class="cancel" data-ng-if="package.mp.payment.status == 'cancelled'" alt="Cancelaste tu pago o el tiempo expiró."><span class="name">Cancelado</span></span>
                                <span class="info" data-ng-if="package.mp.payment.status == 'refunded'" alt="El pago te fue devuelto."><span class="name">Devolución</span></span>
                                <span class="info" data-ng-if="package.mp.payment.status == 'charged_back'" alt="Te fue hecho un contracargo en la tarjeta."><span class="name">Contracargo</span></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="not-review" data-ng-show="data.packages.length < 1">
            <h2 class="title-sm">No has comprado ningún paquete. No pierdas contactos!</h2>
        </div>
        <div class="search button-stack">
            <a ga-click="User, createAventure, MyAccount" href="/paquetes" class="button button-sm button-primary">
                Contratar un paquete
            </a>
        </div>
    </div>
    <div class="my-reviews" data-ng-show="ix.section=='mis-consultas' && ix.isUserCompany">
        <div class="container-lead">
            <ng-card id="{{lead._id}}" class="lead" data-ng-repeat="lead in data.leads" data-ng-class="{'pending' : lead.state == 'pending','selected': selectedLead == lead._id }" data-ng-click="unlock(lead)">
                <div class="review-proper">
                    <span class="date">{{lead.contactDate | date:'dd/MM/yyyy' : '-0300'}}</span>
                    <div class="adventure">
                        <div class="logo" data-ng-if="lead.adventure">
                            <img ng-src="{{lead.adventure.profile_picture.length ? lead.adventure.profile_picture[0].url : lead.adventure.profile_picture.url}}">
                        </div>
                        <div class="logo company-logo" data-ng-if="!lead.adventure">
                            <img src="{{data.info.company.profile_picture.url}}" alt="{{data.info.company.name}} logo" />
                        </div>
                        <div class="title">
                            <h1 class="title-sm">{{lead.adventure.name ? 'Consulta en Aventura' : 'Consulta a Compañia'}}</h1>
                            <div class="consult"><span>Nº :</span> {{lead._id | limitTo:10 }}</div>
                        </div>
                    </div>
                    <div class="company-name">
                        <div class="description">
                            <div class="data">
                                <div>
                                    <div class="vote-count" data-ng-show="lead.adventure"><span>Aventura:</span> {{lead.adventure.name}}</div>
                                    <div class="vote-count complex">
                                        <div class="subcontainer">
                                            <div class="name"> {{lead.contactName ? lead.contactName : '******'}}</div>
                                            <div class="phone"> {{lead.phone ? lead.phone : '****-****'}}</div>
                                        </div>
                                    </div>
                                    <div class="vote-count email" data-ng-show="lead.email"> <a href="mailto:{{lead.email}}">{{lead.email}}</a></div>
                                    <div class="vote-count email" data-ng-hide="lead.email"> ******</div>
                                    <div class="vote-count message"> {{lead.description ? lead.description : '******'}}</div>
                                </div>
                            </div>
                            <div class="lock" data-ng-if="lead.state == 'pending'">
                                <span class="info"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-card>
            <div class="not-review" data-ng-show="data.leads.length < 1">
                <h2 class="title-sm">Todavia no tenés ninguna consulta!</h2>
            </div>
        </div>
        <div class="not-review" data-ng-show="data.leads.length < 1">
            <h2 class="title-sm">No tenés consultas.</h2>
        </div>
    </div>