@import '../../less/mobile/forms';
@import '../../less/mobile/cards';
@import '../../less/global/directives';

[data-ng-controller="LlamashopCtrl"]{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 56px;
    .main-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.fullscreen{
            height: 100%;
            min-height: 100%;
            border-bottom: none;
        }
        min-height: 300px;
        background-image: url(https://res.cloudinary.com/llamaway/image/upload/v1476758521/background-home-mobile_tnwwrz.jpg);
        background-size: cover;
        color: white;
        padding: 20px;
        padding-bottom: 40px;
        h1 {
            font-size: 3em;
            font-weight: 400;
            font-family: 'Amatica SC', cursive;
            text-align: center;
        }
        h2{
            padding-top: 20px;
            font-weight: 300;
            text-align: center;
        }
    }
    .store-section{
        .title{
            border-bottom: solid 1px #dac9db;
        }
        .stores{
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .store{
            width: 150px;
            height: 150px;
            margin: 10px;
            border : solid 1px #dac9db;
            display: flex;
            justify-content: center;
            .image-container{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
        }
    }
    .contact{
        .title{
            padding: 40px 20px 40px 20px;
        }
    }
    @media only screen and (max-width: 600px){
        .store-section{
            .store{
                width: 120px;
                height: 120px;
            }
        }
    }
}
