{{={{{ }}}=}}
<div data-ng-controller="LlamashopCtrl">
    <section class="main-banner">
        <h1 class="name">
            SHOPPING LLAMAWAY
        </h1>
        <h2>
            Conseguí lo que necesitas para tu aventura
        </h2>
    </section>
    <section class="store-section">
        <h2 class="title">
            Tiendas destacadas
        </h2>
        <div class="stores">
            <a href="http://www.universalkayak.com/" target="_blank" class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1474435210/universal-kayak_dexsyf.jpg" alt="Tienda Universal Kayak">
                </div>
            </a>
            <a href="http://www.frontlimitbotas.com.ar/" target="_blank" class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1475126424/frontlimitSponsor_puqcsn.png" alt="Tienda Frontlimit">
                </div>
            </a>
            <a href="http://www.atenassportshop.com/" target="_blank" class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1476763168/logo_atenas_lqe3bi.jpg" alt="Tienda Atenas Sport Shop">
                </div>
            </a>
            <a href="http://www.makalu.com.ar/" target="_blank" class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1476763465/Makalu_z22iup.png" alt="Tienda Makalu">
                </div>
            </a>
            <a href="http://www.campingcenter.com.ar/" target="_blank" class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1476763732/campingcenter_mofyed.png" alt="Tienda Camping Center">
                </div>
            </a>
            <a class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1468189700/open-store_fzaemt.png" alt="Tienda Llamaway libre">
                </div>
            </a>
            <a class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1468189700/open-store_fzaemt.png" alt="Tienda Llamaway libre">
                </div>
            </a>
            <a class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1468189700/open-store_fzaemt.png" alt="Tienda Llamaway libre">
                </div>
            </a>
            <a class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1468189700/open-store_fzaemt.png" alt="Tienda Llamaway libre">
                </div>
            </a>     
            <a class="store">
                <div class="image-container">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                        data-src="https://res.cloudinary.com/llamaway/image/upload/v1468189700/open-store_fzaemt.png" alt="Tienda Llamaway libre">
                </div>
            </a>       
        </div>
    </section>
    <section class="contact">
        <h2 class="title">
            ¿Querés tener tu tienda? Escribínos a comercial@llamaway.com
        </h2>
    </section>
</div>