@import 'base';
@import '../global/cards';

ng-card {
    &.share .card-content .card-title{
      display: flex;
      align-items: center;
      .button-twitter{
            margin-left: 16px;
      }
      .button-facebook{
            margin-left: 48px;
      }
    }
    .cardActivity {
        .title {
            font-size: 1.3em;
            font-weight: 300;
        }
    }
}

ng-card .card-title {
   font-size: 1.3em;
   font-weight: 300;
}

ng-card .card-content {
   &.viewAll{
      p.card-text{
         .short-card{
            max-height: 100%;
         }
      }
   }
}

ng-card .card-content p.card-text {
   .short-card{
      max-height: 200px;
   }
}