@import '../global/forms';
@import 'text';
@import 'buttons';

.form-field {
    .field-label {
        font-size: 1em;
    }
}

.form-field-text {
	&:extend(.form-field all);

    input,
    textarea {
        width: 100%;
    }
}

.form-field-select{
    .arrow{
        display: block;
        position: relative;
        &:after{
            position: absolute;
            right: 10px;
            top:12px;
            color: @gzz-dark-gray;
        }
    }
    select {
        width: 100%;
        padding: 6px 0 15px;
        border-bottom: 1px solid @gzz-medium-gray;
        &:focus {
            border-bottom-color: @gzz-coal;
        }
    }
}

.form-field-check{
    input[type=checkbox] + label:before {
        font-size: 4em;
    }
    input[type=checkbox]:checked + label:before {
        font-size: 4em;
    }
}
trix-editor{
    margin-bottom: 8px;
}