{{={{{ }}}=}}
<div ng-controller="FaqsCtrl">
	<div class="faqs">
		<div class="classic">
			<div class="container">
				<header>
					<h1>Preguntas frecuentes</h1>
				</header>
				<section class="responses">
					<h2>Preguntas generales</h2>
					<div class="response">
						<h3>¿Qué es Llamaway?</h3>
						<p>
							Llamaway es el primer sitio destinado a los amantes de la aventura. En Llamaway podrán registrarse tanto viajeros, como guías y empresas. Nuestra misión es que cada vez más gente se anime a la aventura, y que cada vez sea más fácil para los guías encontrar a esa gente. Creemos que no necesitas viajar para vivir una aventura, con Llamaway vas a poder encontrar aventuras cerca de tu casa. Y si te vas de viaje, vas a poder encontrar que hay para hacer en ese lugar mucho más fácil y rápido. 
						</p>
					</div>
					<div class="response">
						<h3>¿Llamaway es una agencia de viajes?</h3>
						<p>
							No, Llamaway ofrece una plataforma para guías, proveedores y agencias de turismo para promover fácilmente lo que ofrecen a sus clientes y les permite comunicarse directamente con ellos. Nuestra intención es la de facilitar el proceso en el que los viajeros buscan aventuras y los guias / empresas encuentran clientes.  
						</p>
					</div>
					<div class="response">
						<h3>¿Tengo que pagar para usar Llamaway?</h3>
						<p>
							Para cumplir nuestra misión y visión, Llamaway es y siempre será gratis. Los guías o empresas podrán adquirir un plan pago para contar con beneficios extras, por ejemplo para la exposición y poder regular la cantidad de contactos posibles que pueden recibir por cada perfil.  
						</p>
					</div>

					<h2>Preguntas para usuarios</h2>
					<div class="response">
						<h3>¿Que es “Mi Perfil”?</h3>
						<p>
							Aparte de poder buscar aventuras y empresas para que te asesoren tendrás tu propio historial donde incluirá el listado de consultas realizadas.
						</p>
					</div>
					<div class="response">
						<h3>¿Cómo buscar en Llamaway?</h3>
						<p>
							Ya sea que estés buscando una aventura, un curso, una agencia o un guía, podemos ayudarte a encontrarlo en nuestro sitio web. 
							Existen cuatro formas principales de buscar en Llamaway: 
							Por palabra clave: El cuadro de búsqueda general se encuentra en la parte superior de nuestra página de inicio. En los resultados de una búsqueda general se incluyen la página de Llamaway de un negocio o destino que contengan tus palabras clave, estas podrán ser filtradas por aventuras o bien por “empresas” ( guías, agencias, profesores, etc ) 
							Por cercanía: Búsqueda cercana a mí: utiliza el botón de “aventuras cerca mío” que está en la página principal para buscar y encontrar fácilmente aventuras, experiencias, guías, cosas que hacer, agencias y profesores que estén en un radio menor a 20km cercanos a usted. 
							Por categoría: si aún no sabes que aventura quieres hacer pero sabes qué estilo quieres, te recomendamos buscar por categoría, hay 12 diferentes para cada tipo de persona. Por lugar: En la página principal encontraras un listado de los lugares más solicitados a nivel nacional.  
						</p>
					</div>
					<div class="response">
						<h3>¿Cómo puedo saber si las agencias/guías y profesores registrados en Llamaway están calificados?</h3>
						<p>
							El equipo de Llamaway hace un análisis de los guías y profesores que estén registrados en Llamaway y promueve sus servicios a través del portal, en función de su certificado y experiencia. 
							Sin embargo, es su responsabilidad verificar que el profesional contactado cuente con la capacitación y experiencia necesarias para ti. Para saber más sobre esto envíenos un email a soporte@llamaway.com
						</p>
					</div>
					<div class="response">
						<h3>¿Cómo me contacto con los guías/agencias?</h3>
						<p>
							Cuando encuentres una aventura o una empresa/guía a la cual quieras consultarle sobre disponibilidad de aventuras o algún detalle extra solo tendrás que hacer click en consultar! Se abrirá un formulario donde podrás escribir la consulta y luego verás el teléfono de ellos por si prefieres hablar telefónicamente.
						</p>
					</div>
					<div class="response">
						<h3>¿Cómo consigo equipos para mis aventuras?</h3>
						<p>
							Tenemos nuestra Llama Shop donde podrás encontrar todas las tiendas recomendadas para buscar los mejores equipos.
						</p>
					</div>


					<h2>Preguntas para guías, agencias y empresas</h2>
					<div class="response">
						<h3>¿Qué es un usuario empresa?</h3>
						<p>
							Al iniciar sesión en mi cuenta, Llamaway te preguntará si es aventurero o empresa. Si querés ofrecer aventuras o experiencias entonces serás empresa y te pedirá que introduzcas tu nombre de usuario y contraseña. Tu nombre de usuario es el mismo que el nombre de usuario que creaste al registrarte.
						</p>
					</div>
					<div class="response">
						<h3>¿Que es “Mi Cuenta”?</h3>
						<p>
							Aparte de poder crear aventuras y ofrecerlas para que lo contacten tendrás tu propia página de empresa donde incluirá el listado de servicios ofrecidos como así también detalles tuyos y formas de contacto. Es por eso que muchas veces, esta sección la utilizan muchos guías como su tarjeta de presentación a modo de Currículum Vitae. 
						</p>
					</div>
					<div class="response">
						<h3>¿Cuáles son los criterios / requisitos para crear/ofrecer una Aventura?</h3>
						<p>
							Hay 8 criterios para ofrecer una aventura y habilitarla para recibir consultas. Incluyen, nombre de la experiencia, y breves descripciones completas, idioma, medios de pago, moneda, precios y las dificultades. Por último, debe tener una respuesta aceptable de consultas de los aventureros. Si Llamaway detecta que responde después de muchos días se desactiva momentáneamente la aventura.
						</p>
					</div>
					<div class="response">
						<h3>¿Cómo subo una foto?</h3>
						<p>
							Para añadir una foto, haga click en el botón Examinar cuando esté creando una aventura y seleccione una foto de tu base de datos personal de imágenes. Tené en cuenta que el orden de cargar tus fotos, es el orden en que aparecerán en la vista de la galería. Asegúrese de incluir sólo las fotos que pertenecen a esa experiencia en particular, ya que será representaciones visuales de tu itinerario. Hace click en el botón Subir fotos después de la elección de su archivo.
						</p>
					</div>
					<div class="response">
						<h3>¿Cuántas imágenes puedo subir a una aventura?</h3>
						<p>
							No hay un mínimo a la cantidad de fotos que se cargan en un álbum, pero recomendamos a los usuarios subir 3 fotografías para asegurarse de que la galería para su viaje esté completamente llena. Además, recomendamos que cada aventura tenga imágenes originales que no se repitan con otras, y que el tamaño de la foto sea de al menos 800x800 px para garantizar la cantidad de consultas recibidas
						</p>
					</div>
					<div class="response">
						<h3>¿Por qué debería incluir buenas fotos?</h3>
						<p>
							Por favor, se selectivo con las fotos que decidís cargar. Los clientes serán más propensos a mirar su aventura si las fotos que ven son estimulantes y tienen buenas imágenes. Las fotografías deben tener una imagen clara con la composición atractiva. Tenga en cuenta que las fotos con colores vivos (color y saturación) tienden a atraer la atención del espectador un poco más. Si desea ver ejemplos de buenas fotos vea alguna aventura recomendada de la página principal.
						</p>
					</div>
					<div class="response">
						<h3>Ya tengo mi sitio web y / o de mi página de Facebook, ¿por qué registrarse aquí?</h3>
						<p>
							Llamaway es una nueva manera para que usted pueda mejorar su visibilidad entre una comunidad de personas que buscan su tipo de servicios. La plataforma es un canal adicional para que usted pueda adquirir nuevos clientes, teniendo en cuenta que se promueve lo que usted ofrece a sus clientes a través de nuestros socios (grandes tiendas al aire libre de equipos, festival de cine de montaña, plataforma de noticias de montaña en línea, escuelas e instituciones estatales) y a través de los canales de comunicación innovadores que no se puede acceder fácilmente.
						</p>
					</div>
					<div class="response">
						<h3>No soy muy bueno con internet ni con la plataforma de la comunidad Llamaway, ¿puedo obtener algún apoyo?</h3>
						<p>
							Por supuesto, estaremos más que encantados en ayudarte en la creación de una página de perfil y en la posibilidad de subir una o varias aventuras en el que guías a tus clientes. Por favor, pónte en contacto con nosotros escribiéndonos a soporte@llamaway.com
						</p>
					</div>
					<div class="response">
						<h3>Estoy a cargo de una asociación / escuela, ¿podemos promover aquí nuestra información?</h3>
						<p>
							Claro, siempre y cuando se haga a través de los responsables y que las instituciones o escuelas estén reconocidas por el estado. 
							Por favor, pónte en contacto con nosotros a través de consultas@llamaway.com para más información.
						</p>
					</div>
					<div class="response">
						<h3>¿Qué es la TRA (Tiempo de Respuesta Aceptable)?</h3>
						<p>
							En Llamaway buscamos que la experiencia de nuestros aventureros sea única y muchas veces eso implica que encuentren una aventura en su lugar de ocio y esparcimiento desde su celular por lo tanto los proveedores deben responder en no menos de 48hs en temporada baja y en no menos de 12hs en temporada alta para poder garantizar el mejor tiempo de resolución en la búsqueda de nuevas experiencias.
						</p>
					</div>
					<div class="response">
						<h3>¿Cómo se me notificará acerca de las consultas?</h3>
						<p>
							Llamaway te notificará acerca de las consultas vía e-mail, usando el contacto que has proporcionado.
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
