@import '../../less/global/directives';
@import '../../less/global/alerts';
@import '../../less/global/layout';
@import '../../less/desktop/forms';
@import '../../less/desktop/buttons';
@import '../../less/desktop/text';

[ng-controller="PrivacyNoticeCtrl"]{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    .form-field-text{
        width: 100%;
        input, textarea{
            width: 100%;
        }
    }
    .faqs{
        header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px;
            color:@primary-color;
            border-bottom: 2px solid @secondary-color;
            &.welcome{
                color: white;
                background-color: @secondary-color;
                text-align: center;
                h1{
                    font-family: 'Amatica SC', cursive;
                    font-size: 1.5em;
                    font-weight: 700;
                }
            }
        }
    }
    .faqs{
        .page-header{
            margin-top: initial;
        }
        display: flex;
        flex-direction: column;
        flex:1;
        .classic {
            background-size: cover;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid @gzz-medium-gray;
            .container{
                background-color: white;
                margin: 60px 0px 0px 0px;
                .sign-form{
                    padding-bottom: 0px;
                }
            }
            .responses{
                padding: 16px;
                h2{
                    color: #542959;
                    font-size: 1.2em;
                    font-weight: 700;
                    border-bottom: 1px solid @gzz-medium-gray;
                    padding-bottom: 10px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                h3{
                    font-size: 1em;
                    color: #542959;
                }
                ul{
                    margin-left: 16px;
                }
                .response{
                    p{
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}
