{{={{{ }}}=}}
<div ng-controller="PrivacyNoticeCtrl">
	<div class="faqs">
		<div class="classic">
			<div class="container">
				<header>
					<h1>POLÍTICA DE PRIVACIDAD DE Llamaway S.A.</h1>
				</header>
				<section class="responses">
					<div class="response">
						<p>
							Llamaway es un servicio en línea que brinda recomendaciones sobre aventuras, excursiones, proveedores de turismo, profesores deportivos, guías de viaje y mucho más. Nuestro Sitio Web forma parte de Llamaway S.A®, que es propiedad de y se encuentra operada por Llamaway S.A. Se puede encontrar más información sobre Llamaway S.A en la sección "términos y condiciones" que se encuentra más abajo.
							<br>
							Entendemos que suministrar información en línea supone mucha confianza de su parte. Nos tomamos muy en serio su confianza y le damos alta prioridad para garantizar la seguridad y confidencialidad de la información personal que nos proporciona. Antes de enviar su información personal a nuestro Sitio Web, por favor lea esta Política cuidadosamente para enterarse de nuestras prácticas en materia de privacidad. Al visitar el Sitio Web de Llamaway, http://www.llamaway.com, usted acepta las prácticas que se describen en la presente.
						</p>
					</div>

					<h2>Qué información recolectamos sobre usted</h2>
					<div class="response">
						<h3>En General.</h3>
						<p>
							Recibimos y almacenamos toda la información que usted ingresa en nuestro Sitio Web o que nos brinda de cualquier otra forma. Esto incluye información que puede identificarlo ("información personal"), incluyendo su nombre y apellido, número telefónico, domicilio postal, dirección de correo electrónico, nombre de usuario y contraseña. También podemos solicitarle información sobre sus planes, estilo y preferencias de viaje, incluyendo pedidos de experiencias, selección de indumentaria, información sobre programas de alquiler de equipos, y opciones de guías contratados, equipajes y expedición de pasajes. Puede elegir no proporcionarnos información, pero en general se necesita información sobre usted para que pueda disfrutar de los beneficios de ser un miembro registrado. Por ejemplo, sólo los miembros registrados pueden publicar reseñas de aventuras/experiencias, participar en foros de debate, enviar por correo electrónico el contenido de Llamaway a sí mismos y a terceros, tener acceso a boletines y contenidos de planificación de aventuras exclusivas para miembros, y participar en encuestas, concursos o sorteos. Además, también se necesita información para que nos pueda hacer una pregunta o iniciar otras operaciones en nuestro sitio.
						</p>
					</div>
					<div class="response">
						<h3>Información sobre Terceros.</h3>
						<p>
							Usted tendrá la oportunidad de proporcionar información de contacto para otras personas a través de nuestro Sitio Web. Debe obtener el consentimiento de otras personas antes de suministrar información personal de dichas personas a Llamaway.
						</p>
					</div>
					<div class="response">
						<h3>Información de otras Fuentes.</h3>
						<p>
							También podemos obtener periódicamente información sobre usted, tanto personal como no personal, de entidades vinculadas, socios comerciales y otras fuentes de terceros independientes, y agregarla o agruparla a otra información sobre usted. Por ejemplo, si visita Llamaway pulsando sobre un banner publicitario ("click-through") ubicado en un sitio operado por uno de nuestros socios comerciales y se ha registrado con dicho socio, en ese caso la información sobre usted que le ha suministrado a ese socio podrá compartirse con nosotros. Los ejemplos de otra información que podemos recibir incluyen información de contacto e información demográfica.
						</p>
					</div>
					<div class="response">
						<h3>Información Automática.</h3>
						<p>
							Cuando usted visita Llamaway recopilamos automáticamente cierta información sobre su computadora. Por ejemplo, recopilaremos datos de sesión, incluida su dirección IP, software de navegadores Web y sitio web que lo remite. También podemos recabar información sobre su actividad en línea, tal como el contenido visualizado y las páginas visitadas. Una de nuestras metas al recopilar esta información automática es ayudarnos a entender los intereses de nuestros usuarios y personalizar su experiencia como usuario.
						</p>
					</div>
					<div class="response">
						<h3>Cookies y Otras Tecnologías Web.</h3>
						<p>
							Las cookies son pequeños archivos de texto de datos y pueden almacenarse en el disco duro de su computadora (si lo permite su navegador Web). Llamaway.com.ar y sus sitios web asociados utilizan cookies para los siguientes fines generales:
							<ul>
								<li>Ayudarnos a reconocer su navegador como un visitante previo y guardar y recordar algunas preferencias que pueden haberse establecido mientras que su navegador visitaba nuestro sitio. Por ejemplo, si se registra en nuestro sitio, podemos usar cookies para recordar su información de registro de forma tal que no necesite registrarse en nuestro sitio cada vez que hace una visita. También podemos registrar su contraseña en una cookie, si usted tildó el casillero titulado "Guarde esta contraseña para iniciar sesión automáticamente". Por favor tenga en cuenta que las IDs de miembros, contraseñas y cualquier otra información relacionada con la cuenta incluida en esas cookies se encuentran encriptadas con fines de seguridad.</li>
								<li>Ayudarnos a personalizar el contenido, experiencia del sitio web y anuncios publicitarios provistos a usted en nuestros sitios web y en otros sitios web de Internet. Por ejemplo, cuando usted ingresa a una página web, nosotros, nuestros proveedores de servicios, o nuestros socios, establecemos automáticamente una cookie para reconocer su navegador a medida que navega en Internet y así podemos presentarle información y publicidad en base a sus intereses aparentes. </li>
								<li>Ayudar a medir e investigar la efectividad de funciones y ofrecimientos del Sitio Web, anuncios publicitarios y comunicaciones de correo electrónico (determinando cuáles son los correos electrónicos que abre y procesa).</li>
							</ul>
							La sección de Ayuda de la barra de herramientas en la mayoría de los navegadores debe indicarle cómo prevenir que su navegador acepte nuevas cookies, cómo hacer para que su navegador le notifique cuando recibe una nueva cookie o cómo desactivar la mayoría de los tipos de cookies. Por favor tenga en cuenta que si se niega a aceptar cookies es probable que no pueda tener acceso a muchas de las herramientas de viajes que se ofrecen en nuestros sitios.
							<br>
							En nuestros sitios también es posible que se utilicen web beacons (también llamados gifs transparentes, etiquetas pixel o web bugs) que son pequeños gráficos con un único identificador, similar en función a las cookies, que se colocan en el código de una página Web. Usamos web beacons para monitorear los patrones de tráfico de usuarios de una página dentro de nuestros sitios a otra, entregar o comunicarse con cookies, entender si usted ha accedido a nuestro sitio desde un anuncio publicitario en línea exhibido en el sitio web de un tercero y mejorar el desempeño del sitio. También podemos permitir que nuestros proveedores de servicios utilicen web beacons para ayudarnos a entender cuáles correos electrónicos han sido abiertos por los destinatarios y rastrear el tráfico de visitantes y acciones realizadas en nuestro sitio. Esto nos ayuda a medir la efectividad de nuestro contenido y de otros ofrecimientos.
						</p>
					</div>
					<div class="response">
						<h3>Exhibición de Publicidad/Sus Opciones</h3>
						<p>
							<i>
							Información recopilada para acercarle publicidad pertinente
							</i>
							<br>
							Llamaway y sus sitios web asociados se han comprometido a proveerle contenido e información pertinente en nuestros sitios. Para hacerlo podemos recolectar información sobre sus búsquedas relacionadas con aventuras/experiencias, por ejemplo, excursiones o paseos, y utilizar esta información para acercarle publicidad en nuestros sitios o en otro lugar en línea que se ajuste a sus intereses aparentes. Por ejemplo, si busca una experiencia en el Chalten, Santa Cruz, Argentina en Llamaway.com.ar, podrá ver una publicidad de una excursión del Chalten en Llamaway.com.ar o en otro sitio web que visite.
							<br>
							No compartimos su información personal (como direcciones de correo electrónico) con terceros no asociados para que le brinden publicidad. Puede elegir no recibir la pertinente publicidad en línea en otros sitios web, en base a sus búsquedas relacionadas con experiencias y aventuras en Llamaway.com.ar, enviando un mail a legales@llamaway.com.ar
							<br>
							<i>
							Información recopilada por socios comerciales y redes publicitarias para acercarle publicidad pertinente
							</i>
							<br>
							Muchos de los anuncios publicitarios que usted ve en la familia de sitios Llamaway.com.ar son brindados por Llamway.com.ar o sus proveedores de servicios. Pero también permitimos que terceros recopilen información sobre sus actividades en línea a través de cookies y otras tecnologías. Estos terceros incluyen (1) socios comerciales que recaban la información cuando usted visualiza o interactúa con uno de sus anuncios publicitarios en nuestros sitios, y (2) redes publicitarias que recopilan información sobre sus intereses cuando usted visualiza o interactúa con uno de los anuncios publicitarios que colocan en muchos sitios web de Internet. La información recopilada por estos terceros se utiliza para hacer predicciones de sus características, intereses o preferencias, y para exhibir publicidad en nuestros sitios y a través de Internet, publicidad hecha a la medida de sus intereses aparentes.
							<br>
							Por favor tenga en cuenta que no tenemos acceso a ni control sobre las cookies u otras tecnologías que pueden utilizar estos terceros para recopilar información sobre sus intereses y las prácticas de información de estos terceros no están cubiertas por esta Política de Privacidad. 
							<br>
							Si accede a servicios de terceros, como servicios de medios sociales, ya sea mediante nuestro Sitio Web o antes de acceder a nuestro Sitio Web, podemos recopilar información como su nombre de usuario, contraseña u otra información accesible para nosotros mediante dichos servicios para mejorar y personalizar el uso de nuestro Sitio Web.
						</p>
					</div>

					<h2>Qué información recolectamos sobre usted</h2>
					<div class="response">
						<p>
							Llamaway  utiliza la información que recopila sobre usted para los siguientes fines generales: para el registro y manejo de su cuenta, incluyendo facilitar su acceso a y uso de nuestro sitio; comunicarnos con usted en general, incluso para darle información sobre Llamaway e invitaciones de la comunidad Llamaway; publicar sus reseñas, mensajes en los foros y otro contenido para la comunidad Llamaway; contestar sus preguntas y comentarios; medir el interés en nuestros productos, servicios y sitios web y mejorarlos; notificarle ofertas especiales y productos o servicios que puedan interesarle y que nosotros o nuestros socios comerciales tenemos disponibles; personalizar su experiencia con Llamaway; solicitarle información, incluyendo a través de encuestas; resolver controversias o problemas; prevenir actividades potencialmente prohibidas o ilegales; hacer valer nuestros Términos de Uso; y cualquier otro fin que se le haya descripto en el punto de recopilación.
							<br>
							Si se ha registrado como guía o gerente de una agencia de viajes o bien de proveedor de aventuras/experiencias, le enviaremos mensajes de correo electrónico a la dirección de correo electrónico que nos proporcione.
						</p>
					</div>

					<h2>Con quiénes compartimos su información</h2>
					<div class="response">
						<h3>Llamaway puede compartir su información con las siguientes entidades:</h3>
						<p>
							<ul>
								<li>Terceros proveedores que proveen servicios o funciones en nuestra representación, incluyendo analítica empresarial, atención al cliente, marketing, distribución de encuestas o programas de sorteos y prevención de fraudes. También podemos autorizar a terceros proveedores a que recopilen información en nuestra representación, incluyendo la que sea necesaria para operar funciones de nuestro sitio web o para facilitar la entrega de publicidad en línea hecha a la medida de sus intereses. Los terceros proveedores tienen acceso a y pueden recopilar información sólo según sea necesario para realizar sus funciones y no se les permite compartir o utilizar la información para ningún otro fin.</li>
								<li>Socios comerciales con quienes podemos ofrecer productos o servicios conjuntamente. Usted sabrá si un tercero participa en un producto o servicio que ha solicitado porque su nombre aparecerá ya sea junto con el nuestro o separadamente. Si elige tener acceso a estos servicios opcionales, podemos compartir información sobre usted, incluida su información personal, con esos socios. Por favor tenga en cuenta que no controlamos las prácticas de privacidad de estos terceros socios comerciales y que esta Política de Privacidad no cubre las prácticas de privacidad de los terceros socios comerciales mencionados. Por lo tanto, lo alentamos a revisar las políticas de privacidad de estos terceros socios comerciales.</li>
								<li>Sitos Web Asociados Si otro sitio web lo remitió a Llamaway, podemos compartir su información de registro, como su nombre, dirección de correo electrónico, domicilio postal, número telefónico y preferencias de viaje, con ese sitio web que lo remite. No hemos establecido limitaciones al uso de información personal de los sitios web que lo remiten y lo alentamos a que revise las políticas de privacidad de cualquier sitio web que lo haya remitido a Llamaway.</li>
								<li>Sociedades dentro de nuestro grupo corporativo Podemos compartir su información personal dentro del Grupo de Medios Llamaway así como también con nuestras sociedades controlantes, sociedades vinculadas, y sitios web locales e internacionales. El hecho de compartir estos datos nos permite darle información sobre productos y servicios relacionados con viajes y otros temas que pueden interesarle. En la medida en que nuestra sociedad controlante y sociedades vinculadas tengan acceso a su información, éstas seguirán prácticas que, por lo menos, son tan restrictivas como las descriptas en esta Política de Privacidad. También cumplirán con las leyes aplicables que regulan la transmisión de comunicaciones promocionales y, como mínimo, le darán la oportunidad en cualquier correo electrónico que envíen de elegir no recibir esos mensajes de correo electrónico en el futuro.</li>
							</ul>	
						</p>
						<h3>También podemos compartir su información:</h3>
						<ul>
							<li>En respuesta a citaciones, órdenes judiciales u otros procesos válidos; para establecer o ejercer nuestros derechos; para defendernos de reclamos judiciales, o de otro modo según lo exija la ley. En esos casos nos reservamos el derecho de oponer o renunciar a cualquier excepción legal o derecho que nos corresponda.</li>
							<li>Cuando consideremos que es necesario investigar, prevenir o tomar medidas respecto de actividades ilegales o presumiblemente ilegales; para proteger y defender los derechos, los bienes o la seguridad de Llamaway, nuestros clientes o terceros; y en relación con nuestros Términos de Servicios y otros contratos.</li>
							<li>En relación con una operación societaria, tal como una desinversión, fusión por absorción, fusión propiamente dicha o venta de activos o en el improbable supuesto de quiebra.</li>
						</ul>
						<br>
						Si elige crear un perfil en Llamaway, se podrá visualizar e identificar públicamente determinada información en su perfil a través de su nombre de pantalla. Podrá visualizar su perfil como lo verá el público en general. Además, si elige participar en nuestros programas de comunicaciones de miembro a miembro, otros miembros de Llamaway podrán contactarlo utilizando Llamway.com.ar o un intermediario; sin embargo, Llamaway no compartirá su dirección de correo electrónico con ningún otro miembro ni la exhibirá en ninguna forma pública. Todos los miembros de Llamaway tienen la opción de desactivar las funciones de comunicación de miembro a miembro en cualquier momento.
						<br>
						Salvo por lo dispuesto anteriormente, se le notificará cuando se vaya a compartir su información personal con terceros y usted tendrá la oportunidad de elegir que no compartamos esa información.
						<br>
						También podemos compartir información general o anónima con terceros, incluidos anunciantes e inversores. Por ejemplo, podemos decirles a nuestros anunciantes la cantidad de visitantes que recibe nuestro Sitio Web o los hoteles y destinos vacacionales más populares. Esta información no contiene ninguna información personal y se utiliza para desarrollar contenido y servicios que esperamos sean de su interés. 
					</div>

					<h2>Cómo puede ejercer sus derechos de acceso, actualización y supresión en relación con su información</h2>
					<div class="response">
						<p>
							Tomamos medidas razonables para asegurar que su información esté relacionada con su uso previsto, sea precisa y completa. Puede tener acceso a su información de contacto, actualizarla y eliminarla visitando la página de mis datos en el Sitio Web de Llamaway. Puede cerrar su cuenta Llamaway contactándonos en la dirección de correo electrónico que se indica más abajo. Le enviaremos un correo electrónico para confirmar su solicitud. Por favor tenga en cuenta que luego de cerrar una cuenta no podrá registrarse ni acceder a su información personal. Sin embargo, podrá abrir una cuenta nueva en cualquier momento. Por favor observe también que si las leyes aplicables lo permiten nosotros podemos retener determinada información asociada con su cuenta en nuestros archivos, incluyendo para fines analíticos así como también para la integridad del mantenimiento de registros.
						</p>
					</div>

					<h2>Sus opciones con respecto a la recolección y utilización de su información</h2>
					<div class="response">
						<p>
							<ul>
								<li>Como ya se mencionó, usted puede optar por no darnos ninguna información, aunque sea necesaria para aprovechar determinadas funciones que se ofrecen en Llamaway.</li>
								<li>También puede tener acceso a, agregar, actualizar o suprimir su información y cerrar su cuenta como se describió precedentemente.</li>
								<li>Como miembro registrado de Llamaway, usted puede modificar sus opciones de suscripción de correo electrónico en cualquier momento en la página de Perfil de Miembros. Sea o no un miembro registrado de Llamaway, usted tendrá la oportunidad de cancelar su suscripción de los mensajes promocionales en el correo electrónico que le enviemos. Por favor tenga en cuenta que nos reservamos el derecho a enviarle otras comunicaciones, incluyendo los anuncios de servicios, mensajes administrativos y encuestas relacionadas con su cuenta Llamaway; sin embargo, le ofreceremos la oportunidad de optar por dejar de recibirlos.</li>
								<li>Comunicaciones por correo electrónico. Llamaway.com.ar quiere que aproveche las oportunidades relacionadas con viajes que se ofrecen en nuestro Sitio Web. Una forma de hacerlo es enviándole mensajes de correo electrónico que contienen información sobre sus intereses aparentes relacionados con viajes. Por ejemplo, si realiza una búsqueda de una excursión en San Luis. Argentina o reseñas u aventuras de San Luis en Llamaway.com.ar, podemos enviarle un mensaje de correo electrónico recordándole las ofertas especiales de excursiones o aventuras en San Luis. Similarmente, si usted recibe un correo electrónico sobre San Luis y demuestra interés en guias, excursiones o reseñas de aventuras locales de San Luis pulsando afirmativamente en un enlace sobre aventuras en San Luis en el correo electrónico, podrá recibir un correo electrónico sobre ofertas de aventuras o excursiones de San Luis. Pensamos que estos mensajes de correo electrónico le proporcionarán información útil sobre las ofertas especiales relacionadas con viajes que se consiguen a través de nuestros sitios. Por favor tenga en cuenta que tendrá la oportunidad de optar por no recibir estos mensajes de correo electrónico en el mensaje de correo electrónico que le enviemos.</li>
								<li>La sección de Ayuda de la barra de herramientas en la mayoría de los navegadores le indicará cómo impedir que su navegador acepte nuevas cookies, cómo hacer que el navegador le notifique cuando reciba una nueva cookie, o cómo desactivar las cookies totalmente. Por favor tenga en cuenta que, si usted se niega a aceptar cookies de Llamaway, no podrá tener acceso a secciones de nuestro sitio.</li>
							</ul>
						</p>
					</div>

					<h2>Cómo protegemos su información</h2>
					<div class="response">
						<p>
							Queremos que se sienta seguro de utilizar Llamaway y nos hemos comprometido a proteger la información que recolectamos. Aunque ningún sitio web puede garantizar la seguridad, hemos implementado adecuadas medidas de seguridad y confidencialidad de índole administrativa, técnica y de organización para ayudar a proteger la información personal que usted nos proporciona. Por ejemplo, sólo los empleados autorizados pueden tener acceso a la información personal y sólo pueden hacerlo para funciones comerciales permitidas. Además, usamos encriptación cuando transmitimos su información personal entre su sistema y el nuestro y empleamos firewalls y sistemas de detección de intrusos para ayudar a impedir que personas no autorizas tengan acceso a su información personal.
						</p>
					</div>

					<h2>Privacidad de los menores</h2>
					<div class="response">
						<p>
							Llamaway es un sitio con audiencia general y no ofrece servicios destinados a menores de edad. Si una persona que sabemos que es menor de 18 años nos envía información personal, eliminaremos o destruiremos dicha información tan pronto como sea razonablemente posible.
						</p>
					</div>

					<h2>Enlaces Externos</h2>
					<div class="response">
						<p>
							Si alguna sección del Sitio Web de Llamaway lo enlaza con otros sitios web, esos sitios web externos no operan bajo esta Política de Privacidad. Recomendamos que revise las declaraciones de privacidad anunciadas en esos otros sitios web para entender sus procedimientos de recolección, utilización y divulgación de información personal.
						</p>
					</div>

					<h2>Visita a nuestros Sitios Web desde fuera de Argentina</h2>
					<div class="response">
						<p>
							Si usted visita nuestro Sitio Web desde fuera de Argentina, por favor tenga en cuenta que su información puede ser transferida, almacenada y procesada Argentina, donde se encuentran nuestros servidores y opera nuestra base central de datos. Es posible que las leyes de protección de datos y otras leyes de Argentina y otros países no sean tan amplias como las de su país pero por favor tenga la seguridad de que Llamaway efectivamente toma medidas de acuerdo con los requisitos de las leyes aplicables para asegurar que se proteja su privacidad. Al usar nuestros servicios usted entiende que su información puede ser transferida a nuestras instalaciones y las de terceros con quiénes la compartimos como se ha señalado en esta Política.
						</p>
					</div>

					<h2>Sus derechos de privacidad en Buenos Aires</h2>
					<div class="response">
						<p>
							La ley nacional 25.326 permite el acceso a la información personal que divulgamos a terceros para sus fines directos de marketing. Para hacer una solicitud de ese tipo, por favor contáctenos a: legales@llamaway.com
						</p>
					</div>

					<h2>Modificaciones de esta Política de Privacidad</h2>
					<div class="response">
						<p>
							Llamaway podrá actualizar esta Política de Privacidad en el futuro. Notificaremos a nuestros miembros las modificaciones sustanciales de esta Política de Privacidad ya sea enviando un aviso a la dirección de correo electrónico que nos ha proporcionado o colocando un aviso visible en nuestro Sitio Web.
						</p>
					</div>

					<h2>Cómo puede contactarnos</h2>
					<div class="response">
						<p>
							Si tiene alguna pregunta sobre esta Política de Privacidad, por favor contáctenos a: consultas@llamaway.com
							<br>
								Llamaway SA
							<br>
							Juana Manso 1181, 5° piso departamento 503 de la Ciudad Autónoma de Buenos Aires, Argentina
						</p>
					</div>

					<h2>Elección del derecho aplicable y jurisdicción.</h2>
					<div class="response">
						<p>
						El presente contrato se rige por las leyes de la Ciudad Autónoma de Buenos Aires, República Argentina. Por el presente se somete a la exclusiva jurisdicción y fuero de los tribunales de la Ciudad Autónoma de Buenos Aires, República Argentina y acepta que es adecuado iniciar actuaciones en esos tribunales para todas las controversias que se originen o relacionen con el uso de este Sitio Web. Acepta que todos los reclamos que usted tenga contra LLAMAWAY S.A. que se originen o relacionen con el Sitio deben iniciarse y resolverse en un tribunal con competencia en razón de la materia de la Ciudad Autónoma de Buenos Aires.
						<br>
						Esta Política de Privacidad tiene vigencia a partir del 21/09/2016
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
