@import '../../less/global/colors';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/desktop/alerts';
@import '../../less/desktop/forms';
@import '../../less/desktop/buttons';
@import '../../less/desktop/text';
@import '../../less/desktop/cards';
@import '../../less/desktop/modal';

@site-max-width: 750px;
@site-min-width: 320px;

[data-ng-controller="EditAdventureCtrl"] {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    flex:1;

    .container{
        width: 1280px;
        margin: auto; 
    }
    .back{
        width: 100%;
        margin: 20px auto;
        a{
            text-decoration: initial;
            color: @primary-color;
            font-size: 1.2rem;
            .fa{
                font-size: 1.5rem;
                margin-right: 10px;
            }
        }
    }
    .form-field-text{
        width: auto;
    }
    .swiper-lazy-preloader{
        z-index:1;
    }
    .swiper-button-next{
        right: 30px;
    }
    trix-toolbar {
        margin-top: 20px;
    }
    trix-toolbar .button_groups {
        button.code {
            display: none;
        }
        button.link {
            display: none;
        }
        button.strike {
            display: none;
        }
        button.quote {
            display: none;
        }
        button.increase {
            display: none;
        }
        button.decrease {
            display: none;
        }
    }
    trix-editor {
        min-height: 400px;
        max-height: 420px;
        min-width: 900px;
        max-width: 1000px;
        overflow: auto;
    }
    .sliderContainer{
        display: flex;
        margin-top: 16px;
        padding-left: 8px;
        font-weight: 300;
        input{
            margin-left: 16px;
            width: 100px;
        }
    }
    .half-rzslider {
        width: 50%
    }
    .modalContent{
        .withoutPrice{
            .sliderContainer {
                padding-left: 24px;
                rzslider{
                    min-width: 250px;
                    max-width: 250px;
                    margin-right: 24px;
                }
            }
        }
        .rowPrice{
            display: flex;
            .currency{
                flex:1
            }
            .price{
                margin-left: 16px;
                flex:1;
                input{
                    margin-top: 16px;
                    width: auto;
                }
            }
            .sliderContainer{
                padding-left: 40px;
                flex: 2;
                justify-content: space-between;
            }
        }
        .difficulty{
            .sliderContainer{
                padding-right: 8px;
            }
        }
    }
    .rz-pointer:after {
        background: #ffb400;
    }
    .rz-pointer.rz-active:after {
        background: #ffb400;
    }
    .rz-tick-value{
        display: none;
    }
    .rz-tick-legend{
        top:-32px !important;
        max-width: none !important;
    }


    .main-card{
        display: flex;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin-top: 16px;
        background-color: white;
        .general-data{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 500px;
            .description{
                display: flex;
                flex-direction: row;
                flex-basis: 33%;
                padding: 24px 16px 16px 24px;
                position: relative;
                .name{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: @primary-color;
                    .place {
                        padding-top: 8px;
                    }
                }
                border-bottom: 1px solid @gzz-light-gray;
            }
            .specs {
                display: flex;
                justify-content: space-around;
                flex-basis: 33%;
                padding: 16px 24px 16px 0px;
                font-size: 20px;
                border-bottom: 1px solid @gzz-light-gray;
                position: relative;
                .icon {
                    font-size: 32px;
                    padding-bottom: 8px;
                }
                .time, .difficulty {
                    display: flex;
                    flex-basis: 33%;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    span {
                        text-align: center;
                    }
                }
                .type {
                    display: flex;
                    flex-basis: 34%;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .sprite-acuatico {
                        background-position: 0 0 !important;
                    }
                    .sprite-avistaje {
                        background-position: -54px 0 !important;
                    }
                    .sprite-cabalgata {
                        background-position: -108px 0 !important;
                    }
                    .sprite-camping {
                        background-position: -162px 0 !important; 
                    }
                    .sprite-ciclismo {
                        background-position: -215px 0 !important;//
                    } 
                    .sprite-extremo {
                        background-position: -269px 0 !important;
                    }
                    .sprite-invernal {
                        background-position: -323px 0 !important;
                    } 
                    .sprite-expedicion {
                        background-position: -376px 0 !important;//
                    } 
                    .sprite-montanismo {
                        background-position: -430px 0 !important;
                    }
                    .sprite-pesca {
                        background-position: -484px 0 !important;
                    } 
                    .sprite-otros {
                        background-position: -538px 0 !important;
                    } 
                    &div {
                        width: 70%;
                    }
                }
            }
            .pricing{
                display: flex;
                flex-basis: 33%;
                position: relative;
                .price{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    flex: 1;
                    padding-left: 24px;
                }
                .pay-methods{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex : 1;
                    margin: 0 16px;
                    .payment-item{
                        padding-bottom: 8px;
                    }
                }
                

            }
        }

        .editButton{
            cursor: pointer;
            color:@secondary-color;
            font-size: 30px;
            position: absolute;
            top:16px;
            right: 16px;
            z-index: 1;
            &.images{
                background-color: RGBA(255,255,255, 0.9);
                border-radius: 3px;
                padding: 0 4px;
            }
        }

        .errorParent{
            -webkit-box-shadow: inset 0px 0px 30px 10px rgba(255,0,0,0.5);
            -moz-box-shadow: inset 0px 0px 30px 10px rgba(255,0,0,0.5);
            box-shadow: inset 0px 0px 30px 10px rgba(255,0,0,0.5);
        }
    }
    .section-image-container {
        padding: 0px;
        overflow: hidden;
        position: relative;
        .swiper-container {
            width: 850px;
            height: 500px;
            .swiper-slide {
                display: flex;
                align-content: center;
                justify-content: center;
                margin: auto 0;
                text-align: center;
                .large{
                    position: absolute;
                    width: 100%;
                    left: 0;
                }
                .swiper-lazy{
                    margin: auto;
                    position: relative;
                    z-index: 2;
                    max-height: 100%;
                }
            }
        }
    }
    .details {
        font-size: 1.2em;
        display: flex;
        .errorParent{
            -webkit-box-shadow: inset 0px 0px 30px 10px rgba(255,0,0,0.5);
            -moz-box-shadow: inset 0px 0px 30px 10px rgba(255,0,0,0.5);
            box-shadow: inset 0px 0px 30px 10px rgba(255,0,0,0.5);
        }
        ng-card{
            margin: 24px 0px 0px 0px;
            background-color: white;
            .card-title{
                font-size: 20px;
                color: @primary-color;
            }
            .card-text{
                font-size: 16px;
                line-height: 1.5em; 
                color: @primary-color;
            }
        }
        .right {
            flex: 1;
            .button-stack{
                margin: 1.5rem 0.5rem 0.5rem 0.5rem;
            }
        }
        .left {
            flex: 3;
            .description, .aboutUs{
                .editButton{
                    cursor: pointer;
                    color:@secondary-color;
                    font-size: 30px;
                    position: absolute;
                    top:16px;
                    right: 16px;
                }
            }
            .card-title {
                color: #6A2871;
            }
            .view-more {
                text-align: center;
                background: rgb(246, 244, 249);
                a {
                    margin-right: 0px!important;
                    color: #6A2871!important;
                }
            }
            .aboutUs {
                .card-content .company {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    .logo {
                        width: 100px;
                        background-color: white;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        align-content: center;
                        background-color: white;
                        border: 1px solid @gzz-medium-gray;
                        margin-right: 20px;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            flex-grow: 0;
                        }
                    }
                    .data {
                        margin-top: 0;
                        .company-name {
                            font-size: 1.3em;
                            font-weight: 300;
                            text-transform: capitalize;
                        }
                        .location {
                            i {
                                color: @gzz-dark-gray;
                                padding-right: 10px;
                            }
                            span {
                                color: @gzz-dark-gray;
                                font-size: 1em;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
        .map {
            width: 100%;
            height: 400px;
            margin: auto;
        }
    }
}
