{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZL95pQHjWYOszZIN0uxA7Ktiob9rKdzY">
</script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.js"></script>
<script src="/libs/angular-trix/dist/angular-trix.min.js"></script>

<script src="/libs/angular-filter/dist/angular-filter.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.js"></script>

<!-- Traer estoy dinamicamente:Roque -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57d1e8c211028a70b19365e6/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<div data-ng-controller="EditAdventureCtrl" data-ng-init='data.adventure._id="{{{adventureId}}}"'>
	<div class="container">
		<div class="back">
	        <a href="/mi-cuenta#/mis-aventuras">
	            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
	            Mis Aventuras
	        </a>
    	</div>
    	<section class="main-card">
    		<div class="section-image-container">
			    <div class="swiper-container">
			        <div class="swiper-wrapper">
		        		<div class="swiper-slide" data-ng-repeat="picture in viewAdventure.profile_picture">
	        				<img data-src="{{picture.url}}" class="swiper-lazy image large">
            				<div class="swiper-lazy-preloader"></div>
		            	</div>
			        </div>
			        <!-- Add Pagination -->
			        <div class="swiper-pagination"></div>
			        <!-- Add Arrows -->
			        <div class="swiper-button-next"></div>
			        <div class="swiper-button-prev"></div>
			    </div>
			    <div class="editButton images">
	                <i class="fa fa-pencil-square-o" aria-hidden="true" data-ng-click="goToLoadImages()"></i>
	            </div>
			</div>
            <div class="general-data">
                <div class="description nameMain">
                    <div class="name">
                        <h1 class="title">
                            {{viewAdventure.name}}
                        </h1>
                        <div class="place">
                            {{formatted_address}}
                        </div>
                    </div>
                    <div class="editButton">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" data-ng-click="showEdit('editMain')"></i>
                    </div>
                </div>
                <div class="specs">
                    <div class="time">
                        <span class="icon material-icons" aria-hidden="true">schedule</span>
                        <span>{{viewAdventure.duration}}</span>
                    </div>
                    <div class="difficulty">
                        <span class="icon material-icons" aria-hidden="true">fitness_center</span>
                        <span>{{viewAdventure.difficulty}}</span>
                    </div>
                    <div class="type">
                        <div data-ng-repeat="activityType in viewAdventure.activityType | limitTo : 4">
                            <div class='activity-sprite {{activityType.class}}'
                                style="background:url('{{urlImageSprite}}')
                                no-repeat top left; width: 50px; height: 50px;">
                            </div>
                        </div>
                    </div>
                    <div class="editButton">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" data-ng-click="showEdit('editSpec')"></i>
                    </div>
                </div>
                <div class="pricing paymethod">
                    <div class="price" data-ng-show="viewAdventure.withoutPrice == 0">
                    	{{viewAdventure.price}} {{viewAdventure.currency == 0 ? 'ARS' : 'USD'}}
                    </div>
	                <div class="price" data-ng-show="viewAdventure.withoutPrice == 1">
	                    Consultar precio
	                </div>
	                <div class="price" data-ng-show="viewAdventure.withoutPrice == 2">
	                    Gratuita
	                </div>
                    <div class="pay-methods" data-ng-show="viewAdventure.payMethod && viewAdventure.payMethod.length > 0">
                        <div class="payment-item" data-ng-repeat="payMethod in viewAdventure.payMethod">
                            <span>{{payMethod.name}}</span>
                        </div>
                    </div>
                    <div class="editButton">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" data-ng-click="showEdit('editPaymentMethod')"></i>
                    </div>
                </div>
            </div>
        </section>


	    <div class="container">
	        <section class="details">
	            <div class="left">
	                <ng-card class="description edition">
	                    <card-content data-ng-class="{'viewAll':ix.viewAllDescription}" card-title="Descripcion de la aventura" card-text="<div class='short-card'>{{viewAdventure.description}}</div>">
	                    </card-content>
                        <card-action data-ng-style="{'display': (viewAdventure.description.length > 360) ? ' ' : 'none'}" class="center">
                            <a data-ng-style="{'display': !ix.viewAllDescription ? 'block' : 'none'}" data-ng-click="ix.viewAllDescription=!ix.viewAllDescription">Ver Más
                                <i data-ng-class="{'fa fa-chevron-down':!ix.viewAllDescription}" aria-hidden="true"></i>
                            </a>
                            <a data-ng-style="{'display': ix.viewAllDescription ? 'block' : 'none'}" data-ng-click="ix.viewAllDescription=!ix.viewAllDescription">Ver Menos
                                <i data-ng-class="{'fa fa-chevron-up':ix.viewAllDescription}" aria-hidden="true"></i>
                            </a>
                        </card-action>
	                    <div class="editButton">
	                        <i class="fa fa-pencil-square-o" aria-hidden="true" data-ng-click="showEdit('editDescription')"></i>
	                    </div>
	                </ng-card>
	                <ng-card>
	                    <div class="card-content">
	                        <span class="card-title">Ubicación</span>
	                        <div class='map'></div>
	                    </div>
	                </ng-card>
	            </div>
	        </section>
		    <div gzz-modal="" class="modal" data-close="closeModal">
		        <div class="modalContent large" data-ng-show="ix.show=='create'" data-ng-init="ix.show='create'">
		            <div class="header">
		                <span class="title">Editar aventura</span>
		                <span data-ng-click="closeModal()" class="close">
		                	<i class="fa fa-times" aria-hidden="true"></i>
		                </span>
		            </div>
		            <form gzz-validate="editAdventure" class="base-form">
		                <label class="form-field-text" data-gzz-valid="data.adventure.name && !data.isInvalidAdventureName" data-parentError="nameMain" data-ng-show="ix.editMain">
		                    <span class="field-label">Nombre de la aventura</span>
                            <input type="text" data-ng-trim="false" data-ng-model="data.adventure.name" maxlength="80">
                            <p class="field-form-hint">Restan {{80 - data.adventure.name.length}} caracteres.</p>
		                    <div class="error-message">{{data.genericErrorMessage}}</div>
		                </label>
						<label class="form-field-multiselect" data-gzz-valid="data.adventure.activityType.length >0" data-ng-show="ix.editSpec" data-parentError="specs">
							<span class="field-label">Tipo de aventura</span>
							<span class="arrow">
								<div isteven-multi-select
										input-model="multiselect.listActivityType"
					    				output-model="data.adventure.activityType"
					    				output-properties="id name"
							    		button-label="<[ name ]>"
							    		item-label="<[ name ]>"
							    		tick-property="check"
							    		helper-elements=""
							    		translation="multiselect.localLang">
								</div>
							</span>
							<div class="error-message">{{data.genericErrorMessage}}</div>
						</label>


		                <div class="form-field-text" data-gzz-valid="data.adventure.description" data-ng-show="ix.editDescription" data-parentError="edition">
		                    <span class="field-label">Descripción</span>
		                    <trix-editor angular-trix data-ng-model="data.adventure.description" class="trix-content" trix-attachment-add="trixAttachmentAdd(e, editor);" trix-change="trixChange(e, editor);" placeholder="Escribinos el detalle de la aventura!" prevent-trix-file-accept = "true">
		                    </trix-editor>
	                        <p class="field-form-hint">Restan {{10000 - data.adventure.description.length}} caracteres.</p>
		                    <div class="error-message">{{data.genericErrorMessage}}</div>
		                </div>
		                <label class="form-field-text" data-gzz-valid="isValidLocation && data.adventure.golocation && data.adventure.golocation.formatted_address" data-ng-show="ix.editMain" data-parentError="nameMain">
		                    {{data.adventure.golocation}}
		                    <span class="field-label">Ciudad o localidad</span>
		                    <div class="arrow">
		                        <gzz-google-location data-ng-model="data.adventure.golocation.formatted_address" />
		                    </div>
                            <div class="error-message ng-binding" data-ng-show="!isValidLocation">Ubicación Inválida (Formato: Localidad - Provincia - País)</div>
		                </label>
		                <label class="form-field-text" data-gzz-valid="data.adventure.place && !data.isInvalidPlaceName" data-ng-show="ix.editMain" data-parentError="nameMain">
		                    <span class="field-label">Nombre del lugar</span>
		                    <input type="text" data-ng-model="data.adventure.place" />
		                    <div class="error-message">{{data.genericErrorMessage}}</div>
		                </label>

						<label class="form-field-text slider-field" data-ng-show="ix.editSpec" data-parentError="specs">
							<span class="field-label">
								¿Duración de la aventura?
							</span>
							<div class="sliderContainer" data-gzz-valid="data.adventure.place && !data.isInvalidPlaceName">
								<rzslider class="half-rzslider" rz-slider-model="data.adventure.takeDays" rz-slider-high="takeDaysSlider.maxValue" rz-slider-options="takeDaysSlider.options"></rzslider>
								<input type="number" min=1 max="{{data.adventure.takeDays == 0 ? 24 : 31}}" data-ng-model="data.adventure.duration">
							</div>
							<div class="error-message">
								{{data.genericErrorMessage}}
							</div>
						</label>

						<label class="form-field-text slider-field difficulty" data-ng-show="ix.editSpec" data-parentError="specs">
							<span class="field-label">
								Esfuerzo
							</span>
							<div class="sliderContainer">
								<rzslider rz-slider-model="data.adventure.difficulty" rz-slider-high="difficultySlider.maxValue" rz-slider-options="difficultySlider.options"></rzslider>
							</div>
							<div class="error-message">
								{{data.genericErrorMessage}}
							</div>
						</label>

			            <label class="form-field-text slider-field withoutPrice" data-ng-show="ix.editPaymentMethod">
			                <span class="field-label">
			                    Tipo
			                </span>
			                <div class="sliderContainer">
			                    <rzslider class="half-rzslider" rz-slider-model="data.adventure.withoutPrice" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"></rzslider>
			                </div>
			                <div class="error-message">{{data.genericErrorMessage}} con un tipo válido</div>
			            </label>
			            <div class="rowPrice" >
			                <label class="form-field-text slider-field currency" data-ng-show="ix.editPaymentMethod && data.adventure.withoutPrice == 0" data-parentError="paymethod">
			                    <span class="field-label">
			                        Moneda
			                    </span>
			                    <div class="sliderContainer">
			                        <rzslider class="half-rzslider" rz-slider-model="data.adventure.currency" rz-slider-high="currencySlider.maxValue" rz-slider-options="currencySlider.options"></rzslider>
			                    </div>
			                    <div class="error-message">{{data.genericErrorMessage}} con una moneda válida</div>
			                </label>
			                 <label class="form-field-text slider-field price" data-gzz-valid="data.adventure.price > 0 || data.adventure.withoutPrice != 0" data-ng-show="ix.editPaymentMethod && !data.adventure.withoutPrice" data-parentError="paymethod">
			                    <span class="field-label">
			                        Precio
			                    </span>
			                    <input type="number" min=1 maxlength="6" data-ng-model="data.adventure.price" data-ng-disabled="data.adventure.withoutPrice">
			                    <div class="error-message">{{data.genericErrorMessage}} con un precio válido</div>
			                </label>
			            </div>


			       	 	<label class="form-field-multiselect" data-gzz-valid="data.adventure.payMethod.length >0 || data.adventure.withoutPrice == 2" data-parentError="paymethod" data-ng-show="ix.editPaymentMethod && data.adventure.withoutPrice != 2">
							<span class="field-label">Método de pago</span>
							<span class="arrow">
								<div isteven-multi-select
					    				input-model="multiselect.payMethods"
					    				output-model="data.adventure.payMethod"
					    				output-properties="id name"
					    				item-label="<[ name ]>"
					    				tick-property="check"
					    				button-label="<[ name ]>"
					    				helper-elements=""
					    				translation="multiselect.localLang">
								</div>
							</span>
							<div class="error-message">{{data.genericErrorMessage}}</div>
						</label>
		                <div class="button-stack">
		                    <button class="button button-block button-primary button-lg" data-ng-class="{waiting:ix.submitting == true}" data-ng-click="saveData()">
		                        Aceptar
		                    </button>
		                </div>
		            </form>
		        </div>
		    </div>
		    <div gzz-modal="" class="modal errorToast" data-close="closeErrorModal">
		        <div class="modalContent">
			        <div class="alert alert-negative">
			           Tienes un error en los campos que ingresaste.<br/>
			           Revisa los datos en la sección sombreada con rojo.
			        </div>
		        </div>
		    </div>
	    </div>
	</div>

</div>
