{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZL95pQHjWYOszZIN0uxA7Ktiob9rKdzY"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.js"></script>
<script src="/libs/angular-trix/dist/angular-trix.min.js"></script>

<script src="/libs/angular-filter/dist/angular-filter.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57d1e8c211028a70b19365e6/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<div data-ng-controller="EditAdventureCtrl" data-ng-init='data.adventure._id="{{{adventureId}}}"'>
	<div data-ng-show="ix.show=='create'" data-ng-init="ix.show='create'">
		<header class="page-header">
			<h1 class="title-hero">Editar la aventura</h1>
		</header>
		<form gzz-validate="editAdventure" class="base-form">
			<label class="form-field-text" data-gzz-valid="data.adventure.name && !data.isInvalidAdventureName">
				<span class="field-label">Nombre de la aventura</span>
				<input type="text" data-ng-model="data.adventure.name">
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

			<label class="form-field-multiselect" data-gzz-valid="data.adventure.activityType.length >0">
				<span class="field-label">Tipo de aventura</span>
				<span class="arrow">
					<div isteven-multi-select
							input-model="multiselect.listActivityType"
		    				output-model="data.adventure.activityType"
		    				output-properties="id name"
				    		button-label="<[ name ]>"
				    		item-label="<[ name ]>"
				    		tick-property="check"
				    		helper-elements=""
		    				translation="multiselect.localLang">
					</div>
				</span>
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

	        <div class="form-field-text" data-gzz-valid="data.adventure.description">
				<span class="field-label">Descripción</span>
				<trix-editor angular-trix data-ng-model="data.adventure.description" class="trix-content"
				trix-attachment-add="trixAttachmentAdd(e, editor);"
				trix-change="trixChange(e, editor);"
				placeholder="Escribinos el detalle de la aventura!"
				>
				</trix-editor>
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</div>

			<label class="form-field-text" data-gzz-valid="isValidLocation && data.adventure.golocation && data.adventure.golocation.formatted_address">
				<span class="field-label">Ciudad o localidad</span>
				<div class="arrow">
                    <gzz-google-location data-ng-model="data.adventure.golocation.formatted_address" />
				</div>
                <div class="error-message ng-binding" data-ng-show="!isValidLocation">Ubicación Inválida (Formato: Localidad - Provincia - País)</div>
			</label>

			<label class="form-field-text" data-gzz-valid="data.adventure.place && !data.isInvalidPlaceName">
				<span class="field-label">Nombre del lugar</span>
				<input type="text" data-ng-model="data.adventure.place">
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

			<label class="form-field-text slider-field">
				<span class="field-label">¿Duración de la aventura?</span>
				<div class="sliderContainer">
					<rzslider class="half-rzslider" rz-slider-model="data.adventure.takeDays" rz-slider-options="takeDaysSlider.options"></rzslider>
					<input type="number" min=1 max="{{data.adventure.takeDays == 0 ? 24 : 31}}" data-ng-model="data.adventure.duration">
				</div>
			</label>

			<label class="form-field-text slider-field">
				<span class="field-label">
					Esfuerzo
				</span>
				<div class="sliderContainer">
					<rzslider rz-slider-model="data.adventure.difficulty" rz-slider-high="difficultySlider.maxValue" rz-slider-options="difficultySlider.options"></rzslider>
				</div>
				<div class="error-message">
					{{data.genericErrorMessage}}
				</div>
			</label>
			
			<label class="form-field-text">
                    <span class="field-label">
                        Tipo
                    </span>
                    <div class="sliderContainer">
                        <rzslider class="" rz-slider-model="data.adventure.withoutPrice" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"></rzslider>
                    </div>
                    <div class="error-message">{{data.genericErrorMessage}} con un tipo válido</div>
       	 	</label>

			<label class="form-field-text slider-field" data-ng-show="data.adventure.withoutPrice == 0">
				<span class="field-label">
					Moneda
				</span>
				<div class="sliderContainer">
					<rzslider class="half-rzslider" rz-slider-model="data.adventure.currency" rz-slider-high="currencySlider.maxValue" rz-slider-options="currencySlider.options"></rzslider>
				</div>
				<div class="error-message">{{data.genericErrorMessage}} con una moneda válida</div>
			</label>

			<label class="form-field-text" data-ng-show="data.adventure.withoutPrice == 0" data-gzz-valid="data.adventure.price > 0 || data.adventure.withoutPrice != 0">
                <div class="container">
    				<span class="field-label">Precio</span>
					<input type="number" min="1" maxlength="6" data-ng-model="data.adventure.price" data-ng-disabled="data.adventure.withoutPrice">
					<div class="error-message">{{data.genericErrorMessage}} con un precio válido</div>
                </div>
       	 	</label>

       	 	<label class="form-field-multiselect" data-gzz-valid="data.adventure.payMethod.length >0 || data.adventure.withoutPrice == 2" data-ng-show="data.adventure.withoutPrice != 2">
				<span class="field-label">Método de pago</span>
				<span class="arrow">
					<div isteven-multi-select
		    				input-model="multiselect.payMethods"
		    				output-model="data.adventure.payMethod"
		    				output-properties="id name"
		    				item-label="<[ name ]>"
		    				tick-property="check"
		    				button-label="<[ name ]>"
		    				helper-elements=""
		    				translation="multiselect.localLang">
					</div>
				</span>
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

			<label class="form-field-button">
				<span class="field-label">Imágenes de la aventura</span>
				<a type="button" class="button button-block" data-ng-click="goToLoadImages()">
					Cambiar imágenes
				</a>
			</label>

			<div class="button-stack">
				<button class="button button-block button-primary button-lg" data-ng-class="{waiting:ix.submitting == true}"  data-ng-click="editAdventure()" >
					Actualizar
				</button>
			</div>
		</form>
	</div>

	<div data-ng-show="ix.show=='thanks'" class="thanks">
		<h3 class="title-hero">¡Listo! Actualizamos tu aventura <strong>{{data.adventure.name}}</strong></h3>

		<div class="button-stack">
			<button class="button button-primary button-lg button-block" data-ng-click="goToAdventure()">Ver la aventura</button>
			<a href="/mi-cuenta#/mis-aventuras" class="button button-lg">Volver a Mis Aventura</a>
		</div>
	</div>
</div>
