@import '../../less/global/colors';
@import '../../less/global/directives';

@import '../../less/mobile/layout';
@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/text';

@site-max-width: 750px;
@site-min-width: 320px;

[data-ng-controller="EditAdventureCtrl"]{
	background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    .page-header{
        margin-top: 56px;
        box-sizing: initial;
    }
	.thanks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        margin-top: 56px;
        text-align: center;
		padding: 20px;
		button{
			margin-top: 20px;
		}
	}

	trix-toolbar{
        margin-top: 20px;
    }   
    trix-toolbar .button_groups {
        button.code {
            display: none;
        }
        button.link {
            display: none;
        }
        button.strike {
            display: none;
        }
        button.quote {
            display: none;
        }
        button.increase {
            display: none;
        }
        button.decrease {
            display: none;
        }
    }

    trix-editor{
        min-height: 150px;
    }

    .half-rzslider{
    	width: 50%,
    }
    .sliderContainer{
    	margin-top: 20px;
    	text-align: center;
    }
    .slider-field{
    	padding-bottom: 40px;
    }

    .rz-pointer:after{
    	background: #ffb400;
    }
    .rz-pointer.rz-active:after{
    	background: #ffb400;
    }
    .rz-tick-value{
        display: none;
    }
    .rz-tick-legend{
        top:-32px !important;
        max-width: none !important;
    }
    .form-field-text .rowPrice{
        display: flex;
        .container{
            flex: 2;
        }
        .form-field-check{
            display: flex;
            align-items: center;
            flex: 3;
            margin-left: 8px;
            input{
                margin-top: 12px;
                margin-right: 10px;
                color: @secondary-color;
            }
             input[type=checkbox]{
                &:before{
                    content:"\f096";
                    font: normal normal normal 20px/1 FontAwesome;
                }
            }
            input[type=checkbox]:checked {
                &:before{
                    content:"\f046";
                    font: normal normal normal 20px/1 FontAwesome;
                }
            }
            label{
                display: flex;
                align-items: center;
            }
        }
    }
}
