@import '../global/cards.less';
ng-card {
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    &.share .card-content .card-title{
      display: flex;
      align-items: center;
      .button-twitter{
            margin-left: 16px;
      }
      .button-facebook{
            margin-left: 48px;
      }
    }
    .card-content {
       &.viewAll{
          p.card-text{
             .short-card{
                max-height: 100%;
             }
          }
       }
    }

    .card-content p.card-text {
       .short-card{
          max-height: 200px;
       }
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0;
    }
    .card-content {
       &.viewAll{
          p.card-company-text{
            padding: 10px 20px 10px 20px;
             .short-company-card{
                max-height: 100%;
             }
          }
       }
    }
    .card-content p.card-company-text {
      padding: 10px 20px 10px 20px;
       .short-company-card{
          max-height: 40px;
       }
    }

    card-action {
        display: flex;
        justify-content: space-around;
        padding: 0;
        div {
            button{
                width: 100%;
                height: 36px;
                cursor: pointer;
                color: @primary-color;
            }
            border-right: 1px solid @gzz-medium-gray;
            border-top: 1px solid @gzz-medium-gray;
            flex: 1;
			text-align: center;
            &:last-child {
                border-right: initial;
            }
        }
    }
}
