@import '../global/forms';
@import 'text';
@import 'buttons';

.base-form {
    background-color: white;
}

.form-field {
    margin-bottom: 24px;
    width: 500px;
    .field-label {
        font-size: 1em;
    }
    .error-message {
        padding: 9px 0 7px 22px;
        &:before {
            top: 6px;
        }
    }
}

.form-field-trix{
    width: 100%;
}

.form-field-text, .form-field-trix {
    &:extend(.form-field all);

    input,
    textarea {
        margin-top: 5px;
        padding-left: 5px;
        border: 1px solid @grey-red-color;
        border-radius: 5px;
        width: 500px;
        padding: 10px;
        &:focus {
            border-color: @primary-color;
        }
    }
    &[data-gzz-valid].on-error {
        .field-label {
            color: @gzz-sriracha;
        }
        input,
        textarea {
            border: 1px solid @grey-red-color !important;
        }
        .error-message {
            display: block;
        }
    }
    &.inputNumber{
        width: 100px;
        input{
            width: 100px;
        }
    }
}

.form-field-select{
    &:extend(.form-field all);
    .arrow{
        display: flex;
        position: relative;
        &:after{
            font-family: "Material Icons";
            content:'\e5c5';
            font-size: 24px;
            pointer-events: none;

            position: relative;
            right: 3px;
            top: 0;
            background: @primary-color;
            border-radius: 0px 5px 5px 0px;
            //height: 49px;
            margin: 10px 0 -1px;
            width: 70px;
            /* text-align: center; */
            /* vertical-align: middle; */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
        }
    }

    select {
        width: 500px;
        border: 1px solid @grey-red-color;
        padding: 10px;
        border-radius: 5px;
        option{
            padding: 10px;
        }
        &:focus {
            border-color: @primary-color;
        }
    }

    .error-message {
        border-color: transparent;
    }
}

.form-field-radio {
    margin-bottom: 0;
    width: initial;
    gzz-radio {
        padding: 10px;
        margin-bottom: 0;
    }
}

.form-field-check{
    input[type=checkbox] + label:before {
      cursor: pointer;
    }
    input[type=checkbox]  + label{
        cursor: pointer;
    }
}