@import '../global/modal';

.modal{
	.modalContent{
		min-width: 500px;
		&.large{
			min-width: 700px;
		}
		.header{
			padding: 16px;
		    font-size: 1.5rem;
			.close{
			    position: absolute;
			    right: 20px;
			    font-size: 24px;
			    font-weight: 400;
			    color:@gzz-medium-gray;
			    cursor: pointer;
			}
		}
		form{
	        padding: 16px;
		}
	}
}

[gzz-modal]{
	&:extend(.modal);
	&:extend(.modal all);
}