//
// Alerts
// --------------------------------------------------

//Mixins
// -------------------------

.alert-variant(@background; @border; @text-color) {
  background-color: @background;
  border-color: @border;
  color: @text-color;

  hr {
    border-top-color: darken(@border, 5%);
  }
  .alert-link {
    color: darken(@text-color, 10%);
  }
}

// Base styles
// -------------------------

@alert-padding: 10px;
@alert-margin: 20px;

.alert {
  border-radius: 1px;
  border: 2px solid transparent;
  box-shadow: 0px 1px 1px 0px fade(@gzz-coal, 10%);
  margin: @alert-margin;
  padding: @alert-padding;
  text-align: center;
  font-size: 16px;

  // Headings for larger alerts
  .alert-title {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    color: @gzz-coal;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: (@alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-positive {
  .alert-variant(@secondary-color; @secondary-color; darken(@gzz-mint, 20%));
}

.alert-neutral {
  .alert-variant(@gzz-light-gray; @secondary-color; darken(@secondary-color, 20%));
}

.alert-warning {
  .alert-variant(@gzz-light-gray; @gzz-corn; darken(@gzz-corn, 30%));
}

.alert-negative {
  .alert-variant(@gzz-light-gray; @gzz-sriracha; darken(@gzz-sriracha, 20%));
}
