@import 'dropzone';

&.activity-1 { background-position: 0 0 !important; }
&.activity-2 { background-position: -65px 0 !important; }//+65
&.activity-3 { background-position: -131px 0 !important; }//+66
&.activity-4 { background-position: -197px 0 !important; }//+66
&.activity-5 { background-position: -262px 0 !important; }//+65
&.activity-6 { background-position: -328px 0 !important; }//+66
&.activity-7 { background-position: -393px 0 !important; }//+65
&.activity-8 { background-position: -459px 0 !important; }//+66
&.activity-9 { background-position: -524px 0 !important; }//+65
&.activity-10 { background-position: -590px 0 !important; }//+66
&.activity-11 { background-position: -655px 0 !important; }//+65

&.x-small-activity-1 { background-position: 0 0 !important; }
&.x-small-activity-2 { background-position: -39px 0 !important; }//+38
&.x-small-activity-3 { background-position: -78px 0 !important; }//+39
&.x-small-activity-4 { background-position: -118px 0 !important; }//+38
&.x-small-activity-5 { background-position: -157px 0 !important; }//+39
&.x-small-activity-6 { background-position: -196px 0 !important; }//+38
&.x-small-activity-7 { background-position: -234px 0 !important; }//+39
&.x-small-activity-8 { background-position: -274px 0 !important; }//+38
&.x-small-activity-9 { background-position: -313px 0 !important; }//+39
&.x-small-activity-10 { background-position: -352px 0 !important; }//+38
&.x-small-activity-11 { background-position: -391px 0 !important; }//+39

&.x-small2-activity-1 { background-position: 0 0 !important; }
&.x-small2-activity-2 { background-position: -65px 0 !important; }//+38
&.x-small2-activity-3 { background-position: -131px 0 !important; }//+39
&.x-small2-activity-4 { background-position: -197px 0 !important; }//+38
&.x-small2-activity-5 { background-position: -263px 0 !important; }//+39
&.x-small2-activity-6 { background-position: -328px 0 !important; }//+38
&.x-small2-activity-7 { background-position: -393px 0 !important; }//+39
&.x-small2-activity-8 { background-position: -459px 0 !important; }//+38
&.x-small2-activity-9 { background-position: -524px 0 !important; }//+39
&.x-small2-activity-10 { background-position: -589px 0 !important; }//+38
&.x-small2-activity-11 { background-position: -654px 0 !important; }//+39

*, *:before, *:after {
  box-sizing: inherit;
}
body,html{
	box-sizing: border-box;
	margin: 0px;
	padding:0;
	background-color: white;
	color:@primary-color;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
}
html{
	height: 100%;
}
body{
	min-height: 100%;
	font-size: 16px;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}

input[type=submit].hidden{
	// se usa para poner inputs type submit ocultos para que funcione el submit cuando se presiona enter
	// no se puede usar display none

	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}

button{
	border: none;
	background-color: transparent;
	padding: 0;
	outline: none;
	line-height: 1;
	appearance: none;
	-webkit-appearance: none;
	font-size: 16px;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	margin: 0;
	padding: 0;
}

ul.list{
	margin: 0;
	padding: 0;
	li{
		margin: 0 0 0 15px;
		padding: 0;
	}
}
// avoid margin top h tags problem
h1,h2,h3,h4,h5,h6{
	margin: 0;
}

h1{
	font-size: 1.5rem;
	font-weight: 400;
}

h2{
	
}


h1:first-child, h2:first-child, h3:first-child{
    margin-top: 0;
}


h2.title{
    font-size: 1.5em;
    font-weight: 300;
    padding: 20px 0;
    border-top: solid 1px @grey-red-color;
    background-color: white;
    text-align: center;
    color: @primary-color;
}

fieldset{
	margin: 0;
	padding: 0;
	border: none;
}

input{
	margin: 0;
}

p{
	margin: 0;
}

.note{
	background-color: red;
	color:white;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	margin: 10px 0;
	display: none;
	.development &{
		display: block;
	}
}

.todo{
	//clase para texto pendiente de redacción
	position: relative;
	&:before{
		content: 'TODO: ';
		background-color: red;
		color:white;
		padding: 3px;
		margin-right: 3px;
		display: inline-block;
		font-weight: 400;
		position: absolute;
		top: -20px;
	}
}

.page-header{
    box-sizing: initial;
 }

 .colores{
 	background-color: @secondary-color;
 	color: white;
 	padding: 10px;
 	text-align: center;
 }

input[type=text]::-ms-clear { display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
