@import 'base';
/*!
 * author: Nestor Paez
 * version: 0.0.1
 * license: MIT
 * homepage: http://github.com/npaez/angular-cards
 */
ng-card {
   display: block;
   position: relative;
   margin: 0.5rem 0.5rem 0.5rem 0.5rem;
   background-color: #fafafa;
   transition: box-shadow .25s;
   border-radius: 2px;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
   .cardActivity{
      .activity{
         display: flex;
         flex-direction: row;
         align-items: center;
         padding-bottom: 10px;
         .card-img-activity{
            margin-left: 10px;
            margin-right: 10px;
            height: 60px;
            width: 63px;
         }
      }
      .title{
         font-size: 1.3rem;
         font-weight: 300;
         margin-bottom: 10px;
      }
   }
   .card-title{
      margin-bottom: 10px;
   }
}

ng-card .card-img {
   position: relative;
   display: block;
}

ng-card .card-img img {
   display: block;
   border-radius: 2px 2px 0 0;
   position: relative;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
   /*
   max-width: @site-max-width - .5rem;
   min-width: @site-min-width - .5rem;
   max-height: ((@site-max-width - .5rem) / @site-aspect);
   min-height: ((@site-min-width - .5rem) / @site-aspect);
   */
}

ng-card .card-img .card-title {
   color: #fff;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 20px 10px;
}

ng-card .card-title {
   border-bottom: 1px solid rgba(160,160,160,0.2);
   padding-bottom: 20px;
   display: block;
   font-family: 'Roboto';
   padding: 20px;
   color: @primary-color;
}

ng-card .inner {
   padding: 10px;
}

ng-card .card-content {
   font-size: 1em;
   display: block;
   padding: 0;
   border-radius: 0 0 2px 2px;
   ul{
      padding-left: 20px;
      white-space: pre-line;
   }
}

ng-card .card-content .icon-inner i {
   color: #2196f3;
   position: absolute;
   font-size: 30px;
}

ng-card .card-content p.card-text {
   padding: 10px 20px 20px 20px;
   margin: 0;
   color: inherit;
   font-family: 'Roboto';
   overflow-wrap: break-word;
   overflow-y: hidden;
}

ng-card .card-content p.card-company-text {
   padding: 10px 20px 20px 20px;
   margin: 0;
   color: inherit;
   font-family: 'Roboto';
   overflow-wrap: break-word;
   overflow-y: hidden;
}

ng-card card-action {
   display: block;
   padding: 20px;
   text-align: left;
}

ng-card card-action.right-btns {
   text-align: right;
}

ng-card card-action.stack-btns a:not(.btn):not(.btn-large):not(.btn-floating) {
   display: block;
}

ng-card card-action.stack-btns a:not(.btn):not(.btn-large):not(.btn-floating):first-child {
   margin-bottom: 20px;
}

ng-card card-action.right-btns a:not(.btn):not(.btn-large):not(.btn-floating) {
   margin-left: 20px;
   margin-right: 0;
}

ng-card card-action.center {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 20px;
   background-color: @light-primary-color;
   a:not(.btn):not(.btn-large):not(.btn-floating){
      height: 20px;
      color: @primary-color;
      margin-right: 0;
      text-decoration: none;
      text-transform: capitalize;
   }
}

ng-card card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
   color: #2196f3;
   margin-right: 20px;
   transition: color .3s ease;
   text-transform: uppercase;
   text-decoration: none;
   font-family: 'Roboto';
   font-weight: 400;
}

ng-card card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
   color: #90caf9;
}

ng-card card-action.right-btns a.clickleable:not(.btn):not(.btn-large):not(.btn-floating),
ng-card card-action a.clickleable:not(.btn):not(.btn-large):not(.btn-floating) {
   cursor: pointer;
}

ng-card .card-header {
   padding: 20px;
   display: block;
}

ng-card .card-header img.img-src {
   width: 44px;
   border-radius: 50%;
   position: absolute;
   margin-top: -2px;
}

ng-card .card-header .card-subtitle,
ng-card .card-header .card-title {
   margin: 0;
   font-size: 1em;
   font-family: 'Roboto';
   font-weight: 300;
}

ng-card .card-header .card-subtitle {
   color: #888;
}

ng-card .cardAdventure{
   color: @primary-color;
   .card-title{
      padding: 10px 13px;
      font-size: 1.5rem;
      border-bottom: none;
      font-weight: 400;
   }
   ul {
      padding: 10px;
      padding-top: 0;
      position: relative;
      li {
         list-style:none;
         padding: 3px 0px;
         i{
            text-align: center;
            width: 20px;
            color: @gzz-dark-gray;
         }
      }
   }
   .price{
      display: block;
      text-align: right;
      color:@primary-color;
      font-weight: 700;
      font-size: 1.5rem;
      top: 29px;
      right: 40px;
   }
}