//----------------Llamaway--------------------------
//Violeta
@primary-color: #542959;
@grey-red-color: #dac9db;
@light-primary-color: #f7f4f8;
@footer: #282128;
//Naranja
@secondary-color: #F39F00;
//shop
@shop-color: #47bda3;
//colors
@white: #FFFFFF;
//
//@gzz-mint: #1FD75C;
@gzz-mint: #6A2871;

@gzz-coal: #222222;
@gzz-chalk: #F8F8F8;

@generalBackgroundColor: #F7F7F7;

@gzz-light-gray: #EEEEEE;
@gzz-medium-gray: #DDDDDD;
@gzz-dark-gray: #999999;

@gzz-smurf: #2980FF;
@gzz-smurf-hover: #3141A2;

@gzz-corn: #FFBD57;

@gzz-sriracha: #F24233;

//------------------------------------------

@facebook-blue: #3A5795;
@linkedin-blue: #0077B5;
@twitter-blue: #4099FF;



//------------------------------------------
@gmail-red: #e12f1f;
@yahoo-violet: #8a2a8f;
@outlook-blue: #0072c6;