@import 'colors';
@import 'modal';

gzz-input-radios{
	ul{
		list-style-type: none;
	}
}

gzz-location-button{
    a{
    	//margin-top: 20px;
        i{
        	&:not(.withoutText){
        		padding-right: 10px;
        	}
        }
    }
}

gzz-Dropzone{
	.form-field-button {
		.error-message.gzzDropZoneError{
			display: block;
		}
		button{
			color:@white;
			background-color: black;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}
	.dz-started .dz-preview{
		display: block;
		padding-right: 20px;
		&:last-child{
			padding-right: 0;
		}
	}
	.dz-remove{
		color:@white;
		padding:10px 0;
	}
}

gzz-stars{
	font-size: 20px;
	display: block;
	ul{
		font-size: inherit;
		list-style-type: none;
		li{
			display: inline-block;
			position: relative;
			width: 1em;
			+li {
				margin-left: 0.1em;
			}

			.star-base {
				color: @gzz-medium-gray;
				width: 1em;
			}
			.star-fill {
				color: @gzz-corn;
				margin-left: -1em;
				width: 1em;
			}

			.fa-star + .star-base {
				visibility: hidden;
			}

			.fa-star-o {
				visibility: hidden;
			}
		}
	}
}

[gzz-ref]{
	cursor: pointer;
}

[gzz-modal]{
	&:extend(.modal);
	&:extend(.modal all);
}

gzz-radio{
	display: inline-block;
	/*input {
        display: none;
    }*/
}

gzz-checkbox,.gzz-checkbox{
	display: block;
	label{
		display: block;
		input {
	        display: none;
	    }
	}
}

main {
  background: white;
  height: 200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

main div {
  background: black;
  color: white;
  width: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

.cardPaymentMethod {
    .paymentMethods {
	    padding: 10px 20px;
        .paymentMethod {
            padding: 10px 0;
            &:last-child {
                border: none;
            }
        }
    }
    .payment-item {
        display: flex;
        font-size: 1.2em;
        align-items: center;
        padding-bottom: 20px;
        .icon {
            width: 45px;
            height: 45px;
            background-color: grey;
            margin-right: 20px;
            &.Efectivo {
                width: 48px;
                background-position: -55px 0 !important;
            }
            &.débito {
                background-position: -110px 0 !important;
            }
            &.crédito {
                background-position: -165px 0 !important;
            }
        }
    }
}

search-facets{
	@media screen and (max-width: 1024px){
		h2{
			display: none;
		}
	}
	.appliedFilters{
		display: flex;
		flex-wrap: wrap;
		.tag{
		    padding: 8px;
			border-radius: 5px;
			background-color: @primary-color;
			color: white;
			font-size: 0.8em;
		    margin: 8px 8px 0px 0px;
		    cursor: pointer;
		}
		:first-child{
			margin-left: 0px;
		}
	}
	.filters{
		color: @primary-color;
		margin-top: 16px;
        @media screen and (max-width: 1024px){
            margin-top: 0;
        }
        .header{
        	position: relative;
			h3{
			    font-size: 1em;
		        border: 1px solid @primary-color;
		        border-bottom: none;
		        background-color: white;
		        padding: 8px 16px;
		        @media screen and (max-width: 1024px){
		        	border-bottom: 1px solid @primary-color;
		        }
			}
			.filter{
				display: none;
			}
			@media screen and (max-width: 1024px){
		        .filter{
		            display: flex;
		            position: absolute;
		            top: 0;
		            right: 0;
		            width: 56px;
		            height: 100%;
		            justify-content: center;
		            align-items: center;
		        }
			}
        }
		ul.listFilters{
			list-style: none;
			border: 1px solid @primary-color;
			@media screen and (max-width: 1024px){
				visibility: hidden;
				position: absolute;
				&.show{
					position: relative;
					visibility: visible;
				}
			}
			li{
				margin: 8px;
				a{
					&:before{
						position: absolute;
	                    content:"\f096";
	                    font: normal normal normal 20px/1 FontAwesome;
	                    color:@secondary-color;
					}
					&.selected{
						display: flex;
						&:before{
		                    content:"\f046 ";
						}
					}
					span{
						padding-left: 24px;
					}
					display:flex;
					flex: 1;
					justify-content: space-between;
				}
			}
		}
	}
	.maxMin{
		.filters;
        @media screen and (max-width: 1024px){
            >ul >li.row{
        	    justify-content: space-around;
            }
        }
		display: flex;
		flex-direction: column;
		//margin: 8px;
		>ul {
			border: initial;
			list-style: none;
			border: 1px solid @primary-color;
	        @media screen and (max-width: 1024px){
				visibility: hidden;
				position: absolute;
				&.show{
					position: relative;
					visibility: visible;
					li .rzslider {
						display: block;
					}
				}
				&:not(.show){
					li .rzslider {
						display: none;
					}
				}
	        }
			>li{
				margin: 8px;
				&.row{
					display: flex;
					flex-wrap: wrap;
					background-color: initial;
				    padding: 16px 8px 8px;
				    justify-content: space-between;
					label{
						width: auto;
						margin-bottom: 0;
						&.max{
							padding-left: 8px;
						}
						input{
							width: auto;
						}
					}
					button{
						width: auto;
					    margin: 0 0 8px;
					    align-self: flex-end;
					}
					.error-message{
						display: none;
						color:@gzz-sriracha;
					    font-size: 13px;
					    line-height: 1;
					    position: relative;
					    margin: 10px 0 30px 0;
					    padding-left: 22px;

					    &:before {
					        content:"\e000";
					        font-family: "Material Icons";
					        display: block;
					        position: absolute;
					        left: 0;
					        top: -2px;
					        font-size: 18px;
					    }
					}
				}
			}
		}
	}
}

li.sliderContainer{
    display: flex;
    margin: 8px auto !important;
    padding-left: 8px;
    font-weight: 300;
    width: 75%;
    input{
        margin-left: 16px;
        width: 100px;
    }
    .half-rzslider {
        width: 50%
    }
    .rzslider .rz-pointer{
    	&:after{
    		top: 8px;
		    left: 8px;
    	}
	    width: 24px;
    	height: 24px;
	    top: -10px;
    }
    .rz-pointer:after {
        background: #ffb400;
    }
    .rz-pointer.rz-active:after {
        background: #ffb400;
    }
    .rz-tick-value{
        display: none;
    }
    .rz-tick-legend{
        top:-32px !important;
        max-width: none !important;
        min-width: 100px;
    }
}