.dz-started{
	.dz-preview{
		margin-top: 10px;
		display: none;
		.dz-image{
			img{
				height: 80px;
			}
		}
		.dz-details,
		.dz-progress,
		.dz-error-message,
		.dz-success-mark,
		.dz-error-mark{
			display: none;
		}
		&:last-of-type{
			display: block;
		}
	}
}