@import url(https://fonts.googleapis.com/css?family=Amatica+SC:400,700|Roboto:100,100i,300,300i,400,400i,500,700,700i,900,900);
@font-face {
  font-family: 'gzz-icons';
  src: url('/webfonts/gzz-icons.eot?89572736');
  src: url('/webfonts/gzz-icons.eot?89572736#iefix') format('embedded-opentype'),
       url('/webfonts/gzz-icons.woff?89572736') format('woff'),
       url('/webfonts/gzz-icons.ttf?89572736') format('truetype'),
       url('/webfonts/gzz-icons.svg?89572736#gzz-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


@base-font-family: "Roboto", "Helvetica Neue", sans-serif;
@headline-font-family: "Roboto", "Helvetica Neue", sans-serif;

.bold{
	font-weight: bold;
}