@import '../global/colors';
@import '../global/alerts';

input, textarea {
    font-family: @base-font-family;
    background-color: transparent;
    &::placeholder {
        color: @gzz-dark-gray;
        font-weight: 300;
    }
}

.base-form {
    padding: 30px 20px 20px;
}

.form-field {

    width: 100%;
    display: block;
    margin-bottom: 40px;

    .field-text{
        -webkit-appearance: none;
        appearance: none;
        border: none;
        display: block;
        border-bottom: 1px solid @gzz-medium-gray;
        border-radius: 0;
        margin: 10px 0 -1px;
        width: 100%;
        padding: 6px 0 15px;
        font-size: 26px;
        font-weight: 300;
    }

    .field-label {
        font-size: 1em;
        font-weight: 500;
        line-height: .9;
    }

    .field-form-hint {
        color: @gzz-dark-gray;
        font-size: 12px;
        line-height: 1.2;
        margin-top: 5px;
        margin-left: 1px;
    }

    .field-hint {
        font-size: 16px;
        color: @gzz-dark-gray;
    }

    .error-message{
        border-bottom: 1px solid @gzz-sriracha;
        color:@gzz-sriracha;
        display: none;
        font-size: 13px;
        line-height: 1;
        margin-bottom: -1px;
        padding: 0 0 10px 22px;
        position: relative;

        &:before {
            content:"\e000";
            font-family: "Material Icons";
            display: block;
            position: absolute;
            left: 0;
            top: -2px;
            font-size: 18px;
        }
    }

//W3C
    &[gzz-valid].on-error{
        .field-label {
            color: @gzz-sriracha;
        }
        input,textarea {
            border-color: transparent !important;
        }
        .error-message{
            display: block;
        }

    }
    &[data-gzz-valid].on-error{
        .field-label {
            color: @gzz-sriracha;
        }
        input,textarea {
            border-color: transparent !important;
        }
        .error-message{
            display: block;
        }

    }

    &.form-field-simple {
        padding-bottom: 0;
        border-color: transparent;

        .field-label {
            display: block;
            margin-bottom: 10px;
        }
        textarea {
            resize: vertical;
        }
        .error-message{
            margin-top: 10px;
            padding-left: 22px;
            position: relative;
            border-color:transparent;
        }
        //W3C
        &[gzz-valid].on-error{
            input,textarea {
                border-color: @gzz-sriracha !important;
            }
        }
        &[data-gzz-valid].on-error{
            input,textarea {
                border-color: @gzz-sriracha !important;
            }
        }
    }
}

.form-field-text {
    &:extend(.form-field all);

    input,textarea{
        -webkit-appearance: none;
        appearance: none;
        border: none;
        display: block;
        border-bottom: 1px solid @gzz-medium-gray;
        border-radius: 0;
        margin: 0;
        //width: 100%;
        padding: 7px 0;
        &:focus {
            border-bottom-color: @gzz-coal;
        }
        &:disabled{
            background-color: lightGrey;
        }
    }
    input {
        font-size: 1em;
        font-weight: 300;
    }
    textarea{
        font-size: 18px;
        min-height: 80px;
        resize: none;

    }
    .group {
        display: flex;
        margin-top: 10px;
        input {
            width: auto;
            flex: 4;
            margin-top: 0;
        }
        span {
            border-bottom: 1px solid @gzz-medium-gray;
            font-size: 26px;
            color: @gzz-dark-gray;
            font-weight: 300;
            margin: 0 0 -1px;
            padding: 6px 0 0 0;
            flex-grow: 0;
            .focus&{
                border-bottom: 1px solid @gzz-coal;
            }
        }
        *+* {
            padding-left: 13px;
        }
    }

    &.form-field-simple {
        input[type=text],
        input[type=search],
        textarea{
            border-radius: 2px;
            -webkit-appearance: none;
            appearance: none;
            display: block;
            width: 100%;
            padding: 10px;
            border: solid 1px @gzz-medium-gray;
            &:focus {
                border-color: @gzz-coal;
            }
        }
        input[type=text],
        input[type=search] {
            font-size: 22px;
        }
        textarea {
            font-size: 16px;
        }

        .group {
            display: flex;
            input {
                border-radius: 2px;
                -webkit-appearance: none;
                appearance: none;
                display: block;
                width: 100%;
                padding: 10px;
                border: solid 1px @gzz-medium-gray;
                &:focus {
                    border-color: @gzz-coal;
                }
            }
            span {
                font-size: 26px;
                color: @gzz-dark-gray;
                font-weight: 300;
                flex-grow: 0;
                padding: 0;
                border: none;
                margin: 0;
                padding: 10px 0;
            }
            *+* {
                margin-left: 13px;
            }
        }
    }
}

.form-field-stars {
    &:extend(.form-field all);
    border-color: transparent;

    >ul{
        margin: 15px -5px 0;
        display: flex;
        justify-content: space-between;
        color:@gzz-medium-gray;
        @media screen and (min-width: 415px){
            justify-content: flex-start;
        }
        li{
            padding: 0;
            @media screen and (min-width: 415px){
                +li{
                    margin-left: 30px;
                }
            }
            i{
                font-size: 26px;
                color: @gzz-medium-gray;
                &.active{
                    color: @gzz-corn;
                    text-shadow:none;
                }
            }
        }
    }
    .error-message {
        border-color: transparent;
        margin-top: 20px;
    }
}

.form-field-button {
    &:extend(.form-field all);
    button {
        margin: 10px 0 20px;
    }
    .error-message {
        border-color: transparent;
    }
}

[isteven-multi-select]{
    border-bottom: 1px solid @gzz-medium-gray;
}

.form-field-select{
    &:extend(.form-field all);
    .arrow{
        display: block;
        position: relative;
        &:after{
            font-family: "Material Icons";
            content:'\e5c5';
            font-size: 24px;
            color: @gzz-dark-gray;
            pointer-events: none;
        }
    }

    select {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        border-radius: 0;
        border: none;
        display: block;
        font-family: @base-font-family;
        font-size: 1em;
        margin: 10px 0 -1px;
        font-weight: 300;
    }

    .error-message {
        border-color: transparent;
    }
}
.form-field-check{
    input[type=checkbox] { display:none; } /* to hide the checkbox itself */
    input[type=checkbox] + label:before {
      font-family: FontAwesome;
      display: inline-block;
      font: normal normal normal 20px/1 FontAwesome;
    }

    input[type=checkbox] + label:before { 
        content: "\f096";
        color: @secondary-color;
    }
    /* unchecked icon */
    input[type=checkbox] + label:before {
        letter-spacing: 10px;
    }
    /* space between checkbox and label */
    input[type=checkbox]:checked + label:before {
        content: "\f046";
        color: @secondary-color;
    }
    /* checked icon */
    input[type=checkbox]:checked + label:before {
        letter-spacing: 5.5px;
    }
}

.form-field-checklist{
    &:extend(.form-field all);
    .check-list{
        gzz-checkbox {
            border-bottom: 1px solid @gzz-medium-gray;
            label{
                display: flex;
                padding: 10px 0;
                -webkit-appearance: none;
                appearance: none;
                border: none;
                border-radius: 0;
                margin-bottom: -1px;
                width: 100%;
                font-size: 18px;
                i{
                    color: @gzz-mint;
                    font-size: 1.3em;
                    padding:2px 13px 0 0;

                    &.fa-circle-o{
                        color: @gzz-coal;
                    }
                }
            }
            &:active{
                background-color: @gzz-light-gray;
            }
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
    .error-message {
        border-color: transparent;
    }
}

.form-field-radio {

    @border-radius: 15px;

    &:extend(.form-field all);
    border-color: transparent;
    padding-bottom: 22px;

    @radioSidePadding: 20px;

    margin-bottom: 0;
    .contentRadios{
        display:flex;
        flex-direction:row;
        align-items: center;
    }
    gzz-radio {
        display: flex;
        color: @primary-color;
        font-size: 1em;
        height: 30px;
        line-height: 1.5;
        padding-right: @radioSidePadding;
        vertical-align: middle;
        margin-bottom: 10px;
        &:last-child{
            padding-right: 0;
        }

        input[type='radio'] {
            margin: auto 0;
            -webkit-appearance:none;
            min-width:16px;
            height:16px;
            border-radius:50%;
            outline:none;
            box-shadow:0 0 5px 0px gray inset;
        }
        input[type='radio']:hover {
            box-shadow:0 0 5px 0px gray inset;
        }
        input[type='radio']:before {
            content:'';
            display:block;
            width:50%;
            height:50%;
            margin: 22% auto;    
            border-radius:50%;    
        }
        input[type='radio']:checked:before {
            background:@secondary-color;
        }
        label{
            display:flex;
            margin: auto 0;
            span{
                padding-left: 10px;
            }
        }
    }
    .error-message {
        border-color: transparent;
        margin-top: 20px;
    }
}

.form-field-radiogroup {

    @border-radius: 15px;

    &:extend(.form-field all);
    border-color: transparent;
    padding-bottom: 22px;

    .radio-group {
        @radioHeight: 30px;
        @radioSidePadding: 20px;

        display: flex;
        margin-top: 15px;

        gzz-radio {

            border: 2px solid @gzz-medium-gray;
            border-width: 2px 0 2px 2px;
            color: @gzz-coal;
            font-size: 18px;
            height: @radioHeight;
            line-height: 1.5;
            padding: 0 @radioSidePadding;
            vertical-align: middle;
            &:hover {
                background-color: @gzz-light-gray;
            }

            &:first-of-type {
                border-radius: @border-radius 0 0 @border-radius;
            }

            &:last-of-type {
                border-radius: 0 @border-radius @border-radius 0;
                border-right-width: 2px;
            }

            &.checked {
                background-color: @gzz-mint;
                border-color: @gzz-mint;
                color: white;

                +gzz-radio {
                    border-left-width: 0;
                    padding-left: @radioSidePadding + 2px;
                }
            }
        }
    }
    .error-message {
        border-color: transparent;
        margin-top: 20px;
    }
}

.form-field-multiselect{
    &:extend(.form-field all);
    .arrow{
        display: block;
        position: relative;
        &:after{
            font-family: "Material Icons";
            content:'\e5c5';
            font-size: 24px;
            position: absolute;
            right: 10px;
            top:12px;
            pointer-events: none;
            color: @gzz-dark-gray;
        }
    }

    .multiSelect{
        width: 100%;
        
        .caret{
            display: none;
        }
        >button{
            background-image: none;
            border:none;
            font-size: 1em;
            padding: 0px;
            &:hover {
                background-image: none;
            }
        }
        .buttonLabel{
            margin-top: 10px;
            padding-top: 6px; 
            font-size: 1em;
        }
        .checkboxLayer{
            position: relative;
        }
    }

    .error-message {
        border-color: transparent;
    }
}

.form-error-message {
    color:@gzz-sriracha;
    font-size: 13px;
    line-height: 1;
    position: relative;
    margin: 10px 0 30px 0;
    display: block;
    padding-left: 22px;

    &:before {
        content:"\e000";
        font-family: "Material Icons";
        display: block;
        position: absolute;
        left: 0;
        top: -2px;
        font-size: 18px;
    }
}