[class^="gzz-icon-"]:before, [class*=" gzz-icon-"]:before {
  font-family: "gzz-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 

.gzz-icon-m-header-search:before { content: '\e800'; } /* '' */
.gzz-icon-m-header-menu:before { content: '\e801'; } /* '' */
.gzz-icon-m-header-close:before { content: '\e802'; } /* '' */
.gzz-icon-search:before { content: '\e803'; } /* '' */