.page-header {
	background-color: @gzz-chalk;
	padding: 20px;
	border-bottom: 5px solid @gzz-light-gray;

	h1 {
		margin-bottom: 0;
	}

	*+* {
		margin-top: 10px;
	}
}

.company-row {
	padding: 20px;
	display: block;
	border-bottom: 1px solid @gzz-medium-gray;
	display: flex;

	&:hover {
		background-color: @gzz-chalk;
	}

	.logo {
		align-content: center;
		background-color: white;
		border: 1px solid @gzz-medium-gray;
		border-radius: 2;
		display: flex;
		flex-direction: column;
		height: 70px;
		justify-content: center;
		overflow: hidden;
		padding: 3px;
		width: 70px;

		img {
			max-width: 100%;
			max-height: 100%;
			flex-grow: 0;
		}
	}
	.data {
		flex:1;
		margin-left: 15px;

		h1 {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin-bottom: 0;
		}
		.review-count {
			margin-top: 10px;
		}
	}
	.actions{
		text-align: right;
	}
}



//Sin terminar - estilos para visa de mosaico
/*.company-tile {
	padding: 10px;
	border: 1px solid @gzz-light-gray;
	border-radius: 2px;
	display: flex;
	flex-direction: column;

	.logo {
		flex-grow: 10;
		flex-shrink: 10;
		margin-bottom: 10px;
		background-color: pink;
		padding-bottom: 100%;
		position: relative;

		img{
			vertical-align: middle;
			position: absolute;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.data {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.create-review {
		background-color: gold !important;
	}
}*/
