.modal{
	display: none;
	z-index: 998;
	.modalOverlay{
	    background-color: rgba(0,0,0,.8);
	    height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    transition: all 5000ms ease;
	    width: 100%;
	    z-index: 998;
	    opacity: 1;
	}
	.modalContent{
		.header{
	        display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 20px 0;
		    border-bottom: 2px solid @secondary-color;
		}
	    //padding: 20px;
	    background-color: @white;
	    flex-direction: column;
	    position: fixed;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
		overflow: auto;
		z-index: 999;

	    .text{
	        margin-top: 0;
	        margin-bottom: 20px;
	        font-size: 1.7em;
	        color: #01454f;
	        font-weight: 100;
	        font-family: latoLight;
	    }
	    .buttonAction{
	        justify-content: center;
	        align-items: center;
	        display: flex;
	        margin: auto;
	        :last-child{
	            margin-left: 10px;
	        }
	    }

	    @media only screen and (max-width:1920px){
	    	div{
	    		textarea{
	    			height: 150px;
	    		}
	    	}
	    }

	    @media (max-width: 600px){
	        position: fixed;
	    	width: 100%;
	    	border-radius: 0;
    		height: 100vh;
		    .text{
	            font-size: 1.5em;
	            margin-top: 40%;
	        }
	        form{
	            display: flex;
	            flex-direction: column;
	            height: 100%;
	        }
	        padding: 10px;
	        .buttonAction{
	            display: flex;
	            flex-direction:column;
	            justify-content: flex-end;
	            flex-grow: 1;
	            margin: initial;
	            .button{
	                margin: 0;
	            }
	            :last-child{
	                margin-top: 10px;
	                margin-left: auto;
	            }
	        }
	    }
	}
	.close{
		color:black;
		position: relative;
		font-weight: 100;
		font-size: 40px;
	}
	&.show{
		display: flex;
	}
}