@import 'colors';
@import 'fonts';

@base-font-size: 16px;

body {
	color: @gzz-coal;
	font-family: @base-font-family;
	font-size: @base-font-size;
	text-rendering: geometricPrecision;
}

.link {
	color: @gzz-smurf;
	&:hover {
		text-decoration: underline;
	}
}

.title-hero {
	display: block;
	font-family: @headline-font-family;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 10px;
	&.center{
		text-align: center;
	}
}

.title-rg {
	display: block;
	font-size: 1.3em;
	font-weight: 400;
	margin-bottom: 10px;
}

.title-sm {
	display: block;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	.icon {
	    vertical-align: -5px;
	}
}
