{{={{{ }}}=}}
<div ng-controller="TermsCtrl">
	<div class="faqs">
		<div class="classic">
			<div class="container">
				<header>
					<h1>Términos y condiciones</h1>
				</header>
				<section class="responses">
					<h2>Términos y condiciones</h2>
					<div class="response">
						<p>
							Este acuerdo constituye los términos y condiciones establecidos por Llamaway S.A "Llamaway": Agente de viajes, Guias, prestadores independientes del mercado turístico y el "Cliente" participan de pleno derecho y bajo su propia responsabilidad. Llamaway S.A. no se hace de ninguna manera responsable por los eventos ofertados por los agentes que publiciten en su sitio web ni por los paquetes turísticos que el “cliente” seleccione en su sitio web y que finalmente contrate. Llamaway S.A. se reserva el derecho de modificar estos Términos y Condiciones con la periodicidad que considere apropiada sin previo aviso, quedando bajo responsabilidad del usuario el conocimiento de los mismos. El uso sea continuado en forma habitual o especifico en forma puntual de este sitio constituye la aceptación de las modificaciones, adiciones o modificaciones a este acuerdo.

							ES IMPORTANTE QUE LEA ATENTAMENTE LAS CONDICIONES DE USO RELACIONADOS CON ESTE SITIO. SI TIENE ALGUNA PREGUNTA, POR FAVOR CONTACTE AL SERVICIO AL CLIENTE POR CORREO ELECTRONICO consultas@llamaway.com 
						</p>
					</div>
					<div class="response">
						<h3>LLAMAWAY NO ES UN AGENTE DE VIAJES NI CONTRATA A AGENTES DE VIAJE EN SU REPRESENTACION.</h3>
						<p>
							Llamaway tiene una función específica de recopilar y publicitar las ofertas turísticas de los diferentes agentes y operadores turísticos disponibles en el mercado en un solo lugar, para mayor comodidad de usted, el “cliente”. En este sentido Llamaway no percibe comisiones ni pagos de ningún tipo por los planes que usted contrate con alguna de las agencias publicitadas en nuestro sitio, no tenemos injerencia alguna en los precios, itinerarios, guias y profesionales elegidos, alimentos suministrados, destinos y demás elementos que componen o puedan componer el paquete turístico contratado.
							Por este motivo es que usted jamás podrá contratar servicios directamente en la página de Llamaway, sino que el que la aventura que usted seleccione lo redireccionará al portal de la empresa que ofrece dicho servicio, y el contrato que celebre será entre usted, y el agente de viajes que ofrece la aventura que haya seleccionado. Llamaway no se hace responsable por ninguna situación derivada de dicha contratación. 
						</p>
					</div>
					<div class="response">
						<h3>TOUR OPERADOR CAMBIOS DE PRECIOS Y AJUSTES ITINERARIO</h3>
						<p>
							Llamaway trabaja intensamente para verificar y certificar que la información proporcionada por los operadores turísticos, sea precisa, sin embargo, la información precisa sobre precios y disponibilidad es responsabilidad exclusiva de cada operador al participar en Llamaway. Por otra parte, cada contacto para consultar en Llamaway está sujeto a modificaciones de precios e itinerario según lo indicado por el operador turístico. Esto puede incluir adicionales y otros  costos que el operador turístico considere mientras usted está en el viaje, antes o después del mismo. 
						</p>
					</div>
					<div class="response">
						<h3>TOUR POLÍTICA DE CANCELACIÓN</h3>
						<p>
							Cada aventura consultada con LLamaway está sujeta a las condiciones de cancelación específica del operador y del guía asociado.
						</p>
					</div>
					<div class="response">
						<h3>CLIENTES, REQUISITOS DE LOS OPERADORES</h3>
						<p>
							Su participación en una aventura publicitada por Llamaway está sujeta a los términos y condiciones completos de la agencia de viajes o guías. Los términos y condiciones específicos estipulados por el operador turístico pueden incluir o no, la edad, la salud, el peso, la dieta y otras restricciones asociadas con los viajes representados por cada operador participante. Infórmese al respecto consultando con el operador turístico correspondiente antes de contratar un servicio.
						</p>
					</div>
					<div class="response">
						<h3>Pasaportes, seguros, visas y normas VACUNACIÓN</h3>
						<p>
							Si viaja por el mundo, está obligado a tener un pasaporte válido, mantener un seguro apropiado y obtener todas las vacunas y visados necesarios para el país o países en que está viajando. Deberá informarse con el operador turístico con el que contrate el servicio, o con quien el operador lo derive, respecto de las necesidades específicas del destino hacia el cual se dirige.
						</p>
					</div>
					<div class="response">
						<h3>RESPONSABILIDAD - un aviso importante!</h3>
						<p>
						    Todo viaje de aventura conlleva un riesgo asociado y como consecuencia los agentes de viajes afiliados de Llamaway, afiliados Web y los operadores turísticos no asumen ninguna responsabilidad sin importar la causa por lesión, pérdida o daño a una persona o propiedad en relación con cualquier servicio consultado a través de Llamaway, incluyendo pero no limitado a dolor, detención, molestias, retrasos y gastos derivados que se dieran como resultado directa o indirectamente de cuarentenas, huelgas, robos, hurtos, casos de fuerza mayor, el fracaso de cualquier medio de transporte para llegar o salir como estaban programados, sea por perturbaciones civiles, restricciones o regulaciones gubernamentales, o las discrepancias o cambios en el tránsito y demás posibles eventos sobre los que ni los agentes y especialmente Llamaway no tienen control.
							LIMITACIÓN DE RESPONSABILIDAD Y exclusión de garantía USTED RECONOCE, por el uso de este sitio que, SU USO DEL SITIO, su software, contenido y demás materiales e información publicados EN EL SITIO, Y CUALQUIER falla o problema de seguridad en el mismo, corren bajo su propio riesgo.
							PRODUCTOS Y SERVICIOS PUBLICADOS EN ESTE SITIO WEB, toda la información, guias y aventuras, itinerarios, precios, etc pueden poseer inexactitudes. Es responsabilidad de cada operador participante mantener la exactitud de la información presentada en este sitio web, y de cada usuario el verificarla al momento de contratar un servicio en la página web del operador seleccionado. Llamaway  NO GARANTIZA LA EXACTITUD DE LA INFORMACION PUBLICADA POR CADA UNO DE ESTOS OPERADORES Y SE RESERVA EL DERECHO DE MODIFICAR DICHA INFORMACION A MEDIDA QUE LOS OPERADORES LA VAYAN ACTUALIZANDO.
							Toda la información, productos y servicios se publicitan en este sitio web en forma fiel a e idéntica a la suministrada por los operadores, y Llamaway no ofrece ningún tipo de garantía respecto del servicio proporcionado por los operadores turísticos. LLAMAWAY SA NO NEGOCIA, INFLUYE NI MODIFICA EN FORMA ALGUNA LOS PRODUCTOS Y SERVICIOS, SUS FORMAS DE COMERCIALIZACION, IDONEIDAD PARA UN FIN DETERMINADO, CUMPLIMIENTO Y DEMAS CUESTIONES INHERENTES A CADA UNA DE LAS AVENTURAS OFERTADAS POR LAS DIFERENTES AGECIAS DE VIAJE, AFILIADOS WEB, TOUR OPERADORES, ETC.-
							EN NINGÚN CASO LLAMAWAY, SUS AFILIADOS web, y/o los operadores turísticos son RESPONSABLES POR castigos, incidentes, y consecuencias, sean directos, indirectos o de cualquier forma CONECTADOS CON EL USO DE ESTE SITIO WEB O DE CUALQUIER INFORMACIÓN, PRODUCTOS Y SERVICIOS OBTENIDOS A TRAVÉS DE AGENTES QUE HUBIERAN PUBLICITADO INFORMACION EN ESTE SITIO WEB.
						</p>
					</div>

					<div class="response">
						<h3>CLIENTE Y USO DEL SITIO terminación de la cuenta</h3>
						<p>
							El uso de este sitio está sujeto a estos Términos y Condiciones LLAMAWAY. A usted se le otorga, una licencia personal, limitada, revocable, no exclusiva e intransferible para usar el sitio. No puede eliminar o modificar cualquier aviso de confidencialidad, secreto comercial, marca registrada o derechos de autor o código encarnado en el sitio o en cualquiera de los productos, servicios, contenido o material en el sitio publicitado o descargado del mismo o que muestre sobre o en el sitio. Usted puede utilizar el sitio sólo para hacer investigaciones legítimas, consultas y/o contactos y no utilizará el sitio para cualquier otro propósito, incluyendo, pero no limitado a formular consultas fraudulentas, falsas o especulativas o cualquier consulta en previsión de la demanda. El sitio y todos y cada uno contenido del mismo no puede ser copiado, reproducido, republicado, cargado, publicado, transmitido o distribuido sin el consentimiento previo por escrito de LLAMAWAY, y / o sus proveedores de contenido. LLAMAWAY se reserva el derecho de suspender o terminar su cuenta y / o uso del sitio y retirar y eliminar cualquier contenido o información en cualquier momento, sin previo aviso, por cualquier razón, incluyendo, pero no limitado a, (a) cualquier incumplimiento de los Términos y Condiciones, (B) una conducta que LLAMAWAY cree que es perjudicial para otros usuarios del sitio o de la empresa.
						</p>
					</div>
					<div class="response">
						<h3>AGENTE DE VIAJES AFILIADOS</h3>
						<p>
							Las agencias de viajes afiliadas como así también los guías afiliados a LLAMAWAY actúan como contratistas independientes y no son empleados directos de la empresa. Por esta razón, LLAMAWAY no puede garantizar la calidad de la experiencia o la atención que recibe de cualquiera de las agencias de viajes, guías o independientes afiliados a la compañía.
						</p>
					</div>
					<div class="response">
						<h3>INDEMNIZACIÓN</h3>
						<p>
							En caso de reclamo o demanda hecha por terceros, a causa o como resultado de su uso en el sitio, su conexión al sitio y/o su violación de los Términos y Condiciones o su violación de los derechos de otro, usted deberá defender e indemnizar a LLAMAWAY y cualesquiera terceros proveedores y distribuidores y sus funcionarios, directores, empleados y agentes, incluyendo los honorarios de los abogados.
						</p>
					</div>
					<div class="response">
						<h3>LEY APLICABLE Y ARBITRAJE</h3>
						<p>
							Usted acepta que independientemente de cualquier estatuto o ley en contrario, cualquier reclamo o acción que surja de o se relacione con el uso de este sitio o las Condiciones y Términos establecidos en este acuerdo, deberá iniciarse dentro del plazo máximo de un (1) año a partir del momento que diera origen al reclamo o acción, fuera este hecho de su conocimiento o no en ese momento, tras lo cual libera a Llamaway de su responsabilidad y desiste del derecho y de la accion. Estos términos y Condiciones, así como las acciones y reclamos que surgieran del uso del sitio, se regirán y estarán sujetos a las leyes de la ciudad de Buenos Aires, Argentina. 
						</p>
					</div>
					<div class="response">
						<h3>POLÍTICA DE PRIVACIDAD</h3>
						<p>
							Ha leído la política de privacidad LLamaway, así como los términos y condiciones y entiendo que a través del uso del sitio acepto la recopilación y uso de cierta información personal por LLamaway y sus "agentes y afiliados Web de conformidad con los términos de la política de privacidad.
						</p>
					</div>
					<div class="response">
						<h3>DERECHO DE PROPIEDAD Y MARCAS COMERCIALES</h3>
						<p>
							Todos los contenidos de este sitio web son propiedad de LLamaway, Juana Manso 1181, 5° piso departamento 503 de la Ciudad Autónoma de Buenos Aires. Argentina. Todos los derechos reservados a menos que se especifique lo contrario.
						</p>
					</div>
					<div class="response">
						<h3>ACUERDO COMPLETO</h3>
						<p>
							Este acuerdo constituye todos los términos y condiciones acordados para el Cliente y Llamaway SA.
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
