{{={{{ }}}=}}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZL95pQHjWYOszZIN0uxA7Ktiob9rKdzY"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.js"></script>

<script src="/libs/angular-trix/dist/angular-trix.min.js"></script>
<script src="/libs/angular-filter/dist/angular-filter.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.5/trix.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.css">

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57d1e8c211028a70b19365e6/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<div data-ng-controller="NewAdventureCtrl">
	<div data-ng-show="ix.show=='create'" ng-init="ix.show='create'">
		<header class="page-header">
			<h1 class="title-hero">Crear una aventura</h1>
		</header>
		<form gzz-validate="createAdventure" class="base-form">
			<label class="form-field-text" data-gzz-valid="data.adventure.name && !data.isInvalidAdventureName">
				<span class="field-label">Nombre de la aventura</span>
				<input type="text" data-ng-model="data.adventure.name">
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

			<label class="form-field-multiselect" data-gzz-valid="data.adventure.activityType.length >0">
				<span class="field-label">Tipo de aventura</span>
				<span class="arrow">
					<activity-list local-lang="multiselect.localLang" data-ng-model="data.adventure.activityType"></activity-list>
				</span>
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

			<label class="form-field-text" data-gzz-valid="ix.existingPageName || data.company.name && !data.isInvalidName" data-parentError="aboutUs" data-ng-show="!ix.existsPageName">
	            <span class="field-label">Razón social o nombre de tu empresa</span>
	            <input type="text" data-ng-model="data.company.name" required="" class="ng-pristine ng-invalid ng-invalid-required ng-touched" data-ng-change="changeCompanyName()" data-ng-blur="verifyPageName()">
	            <div class="error-message ng-binding" data-ng-show="!data.company.name">Completá este dato</div>
	            <div class="error-message ng-binding" data-ng-show="data.company.name && data.isInvalidName">Nombre inválido</div>
	        </label>

	        <label class="form-field-text" data-ng-class="{'on-error':ix.existingPageName}" data-gzz-valid="ix.existingPageName || data.company.pageName && !data.isInvalidPageName" data-parentError="aboutUs" data-ng-show="!ix.existsPageName">
	            <span class="field-label">Nombre de la pagina</span>
	            <div class="container-url">
	                <span class="field-label small">{{{url}}}/e/{{data.company.pageName ? data.company.pageName : 'mi-pagina'}}</span>
	                <input type="text" data-ng-model="data.company.pageName" required="" class="ng-pristine ng-invalid ng-invalid-required ng-touched light" data-ng-change="changePageName()" data-ng-blur="verifyPageName()">
	            </div>
	            <div class="error-message ng-binding" data-ng-show="!ix.existingPageName && !data.isInvalidPageName">{{data.genericErrorMessage}}</div>
	            <div class="error-message ng-binding" data-ng-show="!ix.existingPageName && data.isInvalidPageName">Debe tener una longitud mayor a 4 caracteres.</div>
	            <div class="error-message ng-binding" data-ng-show="ix.existingPageName">Este nombre de p&aacute;gina ya est&aacute; siendo utilizado.</div>
	        </label>

	        <label class="form-field" data-ng-show="!ix.existsPageName">
	            <span class="field-label">Url</span>
	            <span class="field-text pageUrl">
	                <a href="/e/{{data.company.pageName}}" alt="Ir a mi pagina">https://{{{url}}}/e/{{data.info.company.pageName}}</a>
	            </span>
	        </label>

	        <div class="form-field-text" data-gzz-valid="data.adventure.description">
				<span class="field-label">Descripción</span>
				<trix-editor angular-trix data-ng-model="data.adventure.description" class="trix-content"
				trix-attachment-add="trixAttachmentAdd(e, editor);"
				trix-change="trixChange(e, editor);"
				placeholder="Escribinos el detalle de la aventura!"
				>
				</trix-editor>
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</div>

			<label class="form-field-text" data-gzz-valid="data.adventure.location">
				<span class="field-label">Ciudad o localidad</span>
				<div class="arrow">
					<gzz-google-location data-ng-model="data.adventure.location"/>
				</div>
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

			<label class="form-field-text" data-gzz-valid="data.adventure.place && !data.isInvalidPlaceName">
				<span class="field-label">Nombre del lugar</span>
				<input type="text" ng-model="data.adventure.place">
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

			<label class="form-field-text slider-field">
				<span class="field-label">¿Duración de la aventura?</span>
				<div class="sliderContainer">
					<rzslider class="half-rzslider" rz-slider-model="data.adventure.takeDays" rz-slider-options="takeDaysSlider.options"></rzslider>
					<input type="number" min=1 max="{{data.adventure.takeDays == 0 ? 24 : 31}}" data-ng-model="data.adventure.duration">
				</div>

			</label>

			<label class="form-field-text slider-field">
				<span class="field-label">
					Esfuerzo
				</span>
				<div class="sliderContainer">
					<rzslider rz-slider-model="data.adventure.difficulty" rz-slider-high="difficultySlider.maxValue" rz-slider-options="difficultySlider.options"></rzslider>
				</div>
				<div class="error-message">
					{{data.genericErrorMessage}}
				</div>
			</label>

			<label class="form-field-text">
                    <span class="field-label">
                        Tipo
                    </span>
                    <div class="sliderContainer">
                        <rzslider class="" rz-slider-model="data.adventure.withoutPrice" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"></rzslider>
                    </div>
                    <div class="error-message">{{data.genericErrorMessage}} con un tipo válido</div>
       	 	</label>

			<label class="form-field-text slider-field" data-ng-show="data.adventure.withoutPrice == 0">
				<span class="field-label">
					Moneda
				</span>
				<div class="sliderContainer">
					<rzslider class="half-rzslider" rz-slider-model="data.adventure.currency" rz-slider-high="currencySlider.maxValue" rz-slider-options="currencySlider.options"></rzslider>
				</div>
				<div class="error-message">{{data.genericErrorMessage}} con una moneda válida</div>
			</label>

			<label class="form-field-text" data-gzz-valid="data.adventure.price > 0 || data.adventure.withoutPrice != 0"  data-ng-show="data.adventure.withoutPrice == 0">
                <div class="container">
    				<span class="field-label">Precio</span>
					<input type="number" min="1" maxlength="6" data-ng-model="data.adventure.price" data-ng-disabled="data.adventure.withoutPrice">
					<div class="error-message">{{data.genericErrorMessage}} con un precio válido</div>
                </div>
       	 	</label>

       	 	<label class="form-field-multiselect" data-gzz-valid="data.adventure.payMethod.length >0 || data.adventure.withoutPrice == 2" data-ng-show="data.adventure.withoutPrice != 2">
				<span class="field-label">Método de pago (seleccioná los que apliquen)</span>
				<span class="arrow">
					<div isteven-multi-select
		    				input-model="multiselect.payMethods"
		    				output-model="data.adventure.payMethod"
		    				output-properties="id name"
		    				item-label="<[ name ]>"
		    				tick-property="check"
		    				button-label="<[ name ]>"
		    				helper-elements=""
		    				translation="multiselect.localLang">
					</div>
				</span>
				<div class="error-message">{{data.genericErrorMessage}}</div>
			</label>

			<div class="button-stack">
				<button class="button button-block button-primary button-lg" data-ng-class="{waiting:ix.submitting == true}"  data-ng-click="createAdventure()" >
					Guardar y Cargar Imágenes 
				</button>
			</div>
		</form>
	</div>
</div>
