{{={{{ }}}=}}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZL95pQHjWYOszZIN0uxA7Ktiob9rKdzY"></script>
<div data-ng-controller="HomeCtrl">
    <section class="new-home">
        <h1>
            <p>Un país lleno de aventuras, 
            </p>
            <p>
                un lugar donde encontrarlas.
            </p>
        </h1>
        <div class="search-container">
            <form data-ng-submit="submit($event)" />
            <button type="submit"><i class="gzz-icon-search"></i></button>
            <div gzz-autocomplete="instantSearchResult" gzz-on-select="onSelect">
                <input type="search" name="q" placeholder="{{{text.search_your_adventure}}}" gzz-focus="ix.focusSearchBox" data-ng-model="data.searchQuery" autocomplete="off" autocorrect="off" data-ng-model-options="{debounce: { 'default': 200 } }" autocapitalize="off" data-ng-class="{'on-autocomplete':lists.length}" />
                <div class="list" data-ng-show="lists.length">
                    <div data-ng-repeat="(numberList,list) in lists">
                        <div class="label">{{list.label}}</div>
                        <a data-ng-repeat="(index,item) in list.elements" class="item" data-ng-class="{selected:(index == selectedIndex && numberList == currentList)}" data-ng-href="{{item.link}}" rel="nofollow">
                                {{item.name}}
                            </a>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="about-me">
            <section class="sectionButton button-stack">
                <gzz-location-button data-ng-label="'{{{text.search_adventure_here}}}'" data-ng-lang="'{{{text.search_positionPermissionDenied}}}'" />
            </section>
        </div>
    </section>
    <div class="general-container">
        <div class="main-width">
            <section class="adventure-types">
                <h2>
                    Elige una aventura
                </h2>
                <div class="adventure-type-images">
                    <div class="main-types">
                        <a href="/buscar-aventura#!/filtros--actividad-acuaticas" class="activity" data-ga-click="User, ActivityHome, acuaticas">
                            <div class='sprite-acuatico' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-acuatico'>Acuaticos</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-avistajes" class="activity" data-ga-click="User, ActivityHome, avistaje">
                            <div class='sprite-avistaje' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-avistaje'>Avistaje</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-cabalgatas" class="activity" data-ga-click="User, ActivityHome, cabalgatas">
                            <div class='sprite-cabalgata' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-cabalgata'>Cabalgatas</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-camping" class="activity" data-ga-click="User, ActivityHome, camping">
                            <div class='sprite-camping' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-camping'>Camping</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-ciclismo" class="activity" data-ga-click="User, ActivityHome, ciclismo">
                            <div class='sprite-ciclismo' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-ciclismo'>Ciclismo</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-deportes_extremos" class="activity" data-ga-click="User, ActivityHome, deportes_extremos">
                            <div class='sprite-extremo' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-extremo'>Deportes extremos</span>
                        </a>
                    </div>
                    <div class="secondary-types">
                        <a href="/buscar-aventura#!/filtros--actividad-deportes_invernales" class="activity" data-ga-click="User, ActivityHome, deportes_invernales">
                            <div class='sprite-invernal' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-invernal'>Deportes Invernales</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-expediciones_travesias" class="activity" data-ga-click="User, ActivityHome, expediciones">
                            <div class='sprite-expedicion' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-expedicion'>Expediciones</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-montañismo_trekking" class="activity" data-ga-click="User, ActivityHome, montañismo">
                            <div class='sprite-montanismo' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-montanismo'>Montañismo</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-pesca" class="activity" data-ga-click="User, ActivityHome, pesca">
                            <div class='sprite-pesca' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-pesca'>Pesca</span>
                        </a>
                        <a href="/buscar-aventura#!/filtros--actividad-otros" class="activity" data-ga-click="User, ActivityHome, otros">
                            <div class='sprite-otros' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                no-repeat top left; width: 74px; height: 74px;">
                            </div>
                            <span class='sprite-otros'>Otros</span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="top-places">
                <h2>
                    Top Lugares
                </h2>
                <div class="places">
                    <div class="card" data-ng-click="searchRegion('patagonia')" data-ga-click="User, TopLocations, patagonia">
                        <div class="image-container">
                            <img src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/patagonia_e2pxls.jpg">
                        </div>
                        <div class="text-container">
                            <div class="place-name">
                                Patagonia
                            </div>
                        </div>
                    </div>
                    <div class="card" data-ng-click="searchRegion('norte')" data-ga-click="User, TopLocations, norte">
                        <div class="image-container">
                            <img src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/norte_iqhypl.jpg">
                        </div>
                        <div class="text-container">
                            <div class="place-name">
                                Norte
                            </div>
                        </div>
                    </div>
                    <div class="card" data-ng-click="searchRegion('cuyo')" data-ga-click="User, TopLocations, cuyo">
                        <div class="image-container">
                            <img src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/cuyo_hdp6ny.jpg">
                        </div>
                        <div class="text-container">
                            <div class="place-name">
                                Cuyo
                            </div>
                        </div>
                    </div>
                    <div class="card" data-ng-click="searchRegion('litoral')" data-ga-click="User, TopLocations, litoral">
                        <div class="image-container">
                            <img src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/litoral_ewxrpa.jpg">
                        </div>
                        <div class="text-container">
                            <div class="place-name">
                                Litoral
                            </div>
                        </div>
                    </div>
                    <div class="card" data-ng-click="searchRegion('centro')" data-ga-click="User, TopLocations, centro">
                        <div class="image-container">
                            <img src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/centro_dzwdcb.jpg">
                        </div>
                        <div class="text-container">
                            <div class="place-name">
                                Centro
                            </div>
                        </div>
                    </div>
                    <div class="card" data-ng-click="searchRegion('buenos_aires')" data-ga-click="User, TopLocations, buenos_aires">
                        <div class="image-container">
                            <img src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/buenos_aires_wugmfk.jpg">
                        </div>
                        <div class="text-container">
                            <div class="place-name">
                                Buenos Aires
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="top-adventures">
                <h2>
                    Top Aventuras
                </h2>
                <div class="adventures">
                    <ng-card data-ng-repeat="adventure in data.topAdventures">
                        <a href="/aventura/{{adventure.safeUrlName}}_{{adventure._id}}" data-ga-click="User, TopAdventures, {{adventure._id}}">
                            <div class="card-adventure">
                                <div class="image-container">
                                    <img ng-src="{{adventure.profile_picture.length ? adventure.profile_picture[0].url : adventure.profile_picture.url}}">
                                </div>
                                <div class="aventure-data-container">
                                    <div class="general-data">
                                        <div class="description">
                                            <div class="name">
                                                <h1 class="title">
                                                    {{adventure.name}}
                                                </h1>
                                                <div class="place">
                                                    {{adventure.location.address}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="specs">
                                            <div class="type-container">
                                                <div class="type">
                                                    <div data-ng-repeat="type in adventure.activityType" class='activity-sprite {{type.class}}' style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                                        no-repeat top left; width: 41px; height: 41px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="time">
                                                <span class="icon material-icons" aria-hidden="true">schedule</span>
                                                <div class="data">
                                                    <span>{{adventure.duration}}</span>
                                                    <span data-ng-show="adventure.takeDays">&nbsp;{{adventure.duration>1?'días':'día'}}</span>
                                                    <span data-ng-show="!adventure.takeDays">&nbsp;{{adventure.duration>1?'horas':'hora'}}</span>
                                                </div>
                                            </div>
                                            <div class="difficulty">
                                                <span class="icon material-icons" aria-hidden="true">fitness_center</span>
                                                <span data-ng-show="adventure.difficulty==0">&nbsp;Fácil</span>
                                                <span data-ng-show="adventure.difficulty==1">&nbsp;Normal</span>
                                                <span data-ng-show="adventure.difficulty==2">&nbsp;Difícil</span>
                                                <span data-ng-show="adventure.difficulty==3">&nbsp;Experto</span>
                                            </div>
                                        </div>
                                        <div class="pricing">
                                            <div class="price">
                                                <span class="money-symbol">
                                                    <span class="icon material-icons md-48" aria-hidden="true">attach_money</span>
                                                </span>
                                                <span>
                                                    {{adventure.price?adventure.price:'consultar'}}&nbsp;
                                                </span>
                                                <span data-ng-show="adventure.price" class="currency">
                                                    {{adventure.currency == 0 ? 'ARS' : 'USD'}} 
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-card>
                </div>
            </section>
        </div>
    </div>

    <section class="reviews">
        <h2>Historias en llamaway...</h2>
        <div class="review_row">
            <div class="review">
                <div class="marquee">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/llamaway/image/upload/v1480559026/Rodrigo_n32kpv.png" class="radius">
                    </div>
                    <div class="aventure-data-container">
                        <div class="general-data">
                            <div class="description">
                                <div class="name">
                                    <div class="testimonial">
                                        <blockquote>
                                            A mi viajar me hace feliz. Simplemente me siento pleno.  Ahora con Llamaway puedo encontrar todo tipo de lugares y actividades. Para mí viajar es lo máximo.
                                        </blockquote>
                                    </div>
                                    <div class="space">
                                        <div class="star-wrapper" style="text-align: center;">
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                        </div>
                                        <div class="name">Rodrigo Pedernera</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="marquee">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/llamaway/image/upload/v1480559026/barbara_w2ierp.png" class="radius">
                    </div>
                    <div class="aventure-data-container">
                        <div class="general-data">
                            <div class="description">
                                <div class="name">
                                    <div class="testimonial">
                                        <blockquote>
                                            Hacete la idea y movete. Si quieres escribir un libro, hacelo! Si quieres viajar a un lugar nuevo, busca en llamaway!.
                                        </blockquote>
                                    </div>
                                    <div class="space">
                                        <div class="star-wrapper" style="text-align: center;">
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                        </div>
                                        <div class="name">Barbara De Vito</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="marquee">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/llamaway/image/upload/v1480559026/Nicolas_iutkfx.png" class="radius">
                    </div>
                    <div class="aventure-data-container">
                        <div class="general-data">
                            <div class="description">
                                <div class="name">
                                    <div class="testimonial">
                                        <blockquote>
                                            Hacer deportes extremos, es uno de los grandes placeres de la vida. Con Llamaway tenés de todo para hacer!.
                                        </blockquote>
                                    </div>
                                    <div class="space">
                                        <div class="star-wrapper" style="text-align: center;">
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                        </div>
                                        <div class="name">Nicolas Veiguela</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="marquee">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/llamaway/image/upload/v1480559026/Victoria_relxxq.png" class="radius">
                    </div>
                    <div class="aventure-data-container">
                        <div class="general-data">
                            <div class="description">
                                <div class="name">
                                    <div class="testimonial">
                                        <blockquote>
                                            Me paso horas mirando lo que hay en Llamaway por que encuentro desde cursos a experiencias para mis próximas vacaciones!.
                                        </blockquote>
                                    </div>
                                    <div class="space">
                                        <div class="star-wrapper" style="text-align: center;">
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                            <span class="star">★</span>
                                        </div>
                                        <div class="name">Victoria Sanchez</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="signup-company" data-ng-if="!ix.userLoaded || (ix.userLoaded && ix.isCompany)">
        <h1>
                <p>Soy guía o empresa y</p> 
                <p>quiero ofrecer aventuras</p>
            </h1>
        <div class="signup-container">
            <a data-ng-if="!ix.userLoaded" href="/ingreso#/registrar_empresa" ga-click="User, companyRegister, home" gzz-ref-scroll="top" class="button button-primary button-lg button-block ng-binding" type="button" rel="nofollow">Registrarme</a>
            <a data-ng-if="ix.isCompany" href="/nueva-aventura" ga-click="User, createAventure, home" gzz-ref-scroll="top" class="button button-primary button-lg button-block ng-binding" type="button" rel="nofollow">Crear una aventura</a>
        </div>
    </section>
    <div class="general-container">
        <div class="main-width">
            <section class="others-actions">
                <div class="llamashop">
                    <h3>
                        Encontrá los mejores equipos <br> para tu próxima aventura
                    </h3>
                    <a data-ga-click="User, llamaShop, home" href="/llamashop" class="button button-primary button-lg">
                        Visitá nuestro LlamaShop
                    </a>
                    <!--
                    <button class="button button-primary button-block ng-binding" data-ng-click="">
                        Visita nuestro Llamashop
                    </button>
                    -->
                </div>
                <div class="help">
                    <div class="image">
                        <img src="https://res.cloudinary.com/llamaway/image/upload/v1474666187/sos_plarmu.png" />
                    </div>
                    <div class="container-text">
                        <p class="title">
                            ¿Necesitas ayuda?
                        </p>
                        <p>
                            Estamos para ayudarte,
                            envianos tu consulta a:
                        </p>
                        <p class="email">
                            consultas@llamaway.com.ar
                        </p>
                        <p>
                            y nuestro equipo de rescate
                            irá a ayudarte
                        </p>
                    </div>
                </div>
                <!--
                <div class="suscribe">
                    <div class="container-text">
                        <p>
                            Recibí las mejores aventuras, tips
                        </p>
                        <p>
                            para tu próximo viaje o inspiraciones
                        </p>
                    </div>
                    <a href="" target="_blank" ga-click="User, SuscribeNewsletter, home" class="button button-primary button-lg" type="button" rel="nofollow">Suscribite</a>
                </div>
                -->
            </section>
        </div>
    </div>
</div>
<script>
document.querySelector('.sprite-acuatico').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-avistaje').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-cabalgata').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-camping').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-ciclismo').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-extremo').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-invernal').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-expedicion').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-montanismo').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-pesca').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
document.querySelector('.sprite-otros').style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1471218080/mediumSmall_adventure_types_j0dgde.png')";
</script>
