@import '../../less/mobile/forms';
@import '../../less/mobile/cards';
@import '../../less/global/directives';
@import '../../helpers/autocomplete/styles';
[data-ng-controller="HomeCtrl"] {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .general-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .new-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        height: 500px;
        justify-content: center;
        background-image: url(https://res.cloudinary.com/llamaway/image/upload/v1476757558/background-home_uwuzu1.jpg);
        background-size: cover;
        background-position: right;
        h1 {
            font-size: 3em;
            color: white;
        }
        .search-container {
            width: 40%;
            margin-top: 16px;
            form {
                margin-top: 10px;
                border-bottom: none;
                position: relative;
                padding: 0;
                input {
                    border: 1px solid @white;
                    border-radius: 26px;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: transparent;
                    color: @gzz-chalk;
                    font-size: 1.5em;
                    font-weight: 300;
                    height: 54px;
                    width: 100%;
                    padding-left: 54px;
                    &.on-autocomplete {
                        border-radius: 15px 15px 0 0;
                    }
                    &::placeholder {
                        color: @white;
                        font-weight: 400;
                    }
                }
                .list {
                    background-color: fade(@white, 90%);
                    border: 1px solid @white;
                    border-radius: 0 0 15px 15px;
                    top: 54px;
                    .label {
                        color: @primary-color;
                    }
                    .item {
                        color: @primary-color;
                        &.selected,
                        &:hover {
                            background-color: @gzz-mint;
                            color: @white;
                        }
                    }
                }
                button {
                    text-align: center;
                    position: absolute;
                    height: 54px;
                    width: 54px;
                    padding-right: 0;
                    color: @white;
                    &:hover {
                        color: @gzz-chalk;
                    }
                    z-index:1;
                }
            }
        }
        .about-me {
            margin: 24px;
            .sectionButton {
                padding: 0px;
            }
        }
    }
    .main-width {
        max-width: 1280px;
    }
    .main-width2 {
        width: 100%;
    }
    .adventure-types {
        margin: 24px 0px 24px 0px;
        h2 {
            color: @primary-color;
            padding-bottom: 16px;
            border-bottom: solid 1px @grey-red-color;
            font-weight: 300;
            text-align: center;
            font-size: 28px;
        }
        .adventure-type-images {
            display: flex;
            flex-direction: column;
            .main-types,
            .secondary-types {
                display: flex;
            }
            padding:10px;
            .sprite-acuatico {
                background-position: 0 0 !important;
                font-size: 1.2em;
                color: rgb(43, 130, 199);
            }
            .sprite-avistaje {
                background-position: -74px 0 !important;
                font-size: 1.2em;
                color: rgb(245, 120, 54);
            }
            .sprite-cabalgata {
                background-position: -148px 0 !important;
                font-size: 1.2em;
                color: rgb(250, 198, 24);
            }
            .sprite-camping {
                background-position: -222px 0 !important;
                font-size: 1.2em;
                color: rgb(95, 188, 107);
            }
            .sprite-ciclismo {
                background-position: -296px 0 !important;
                font-size: 1.2em;
                color: rgb(70, 87, 117);
            }
            .sprite-extremo {
                background-position: -370px 0 !important;
                font-size: 1.2em;
                color: rgb(84, 172, 212);
            }
            .sprite-invernal {
                background-position: -444px 0 !important;
                font-size: 1.2em;
                color: rgb(57, 57, 57);
            }
            .sprite-expedicion {
                background-position: -518px 0 !important;
                font-size: 1.2em;
                color: rgb(185, 130, 74);
            }
            .sprite-montanismo {
                background-position: -592px 0 !important;
                font-size: 1.2em;
                color: rgb(227, 74, 58);
            }
            .sprite-pesca {
                background-position: -666px 0 !important;
                font-size: 1.2em;
                color: rgb(116, 113, 108);
            }
            .sprite-otros {
                background-position: -740px 0 !important;
                font-size: 1.2em;
                color: rgb(150, 150, 150);
            }
            .activity {
                text-decoration: none;
                color: initial;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px 0;
                width: 200px;
                img {
                    width: 40px;
                }
                span {
                    min-height: 40px;
                    margin-top: 16px;
                    text-align: center;
                }
            }
        }
    }
    .top-places {
        margin: 0px 0px 24px 0px;
        h2 {
            color: @primary-color;
            padding-bottom: 16px;
            border-bottom: solid 1px @grey-red-color;
            font-weight: 300;
            text-align: center;
            font-size: 28px;
        }
        .places {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .card {
                flex-basis: 30%;
                margin: 20px 20px 20px 0px;
                max-width: 570px;
                max-height: 370px; //Sumo la cajita de texto
                cursor: pointer;
                position: relative;
                .image-container {
                    img {
                        width: 100%;
                    }
                }
                .text-container {
                    position: absolute;
                    bottom: 4px;
                    right: 0px;
                    color: white;
                    background-color: rgba(45, 45, 45, 0.9);
                    padding: 8px;
                }
            }
        }
    }
    .top-adventures {
        margin: 24px 0px 24px 0px;
        h2 {
            color: @primary-color;
            padding-bottom: 16px;
            border-bottom: solid 1px @grey-red-color;
            font-weight: 300;
            text-align: center;
            font-size: 28px;
        }
        .adventures {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 16px;
            ng-card {
                background-color: white;
            }
            .card-adventure {
                width: 300px;
                .image-container {
                    img {
                        width: 100%;
                        max-width: 300px;
                        max-height: 177px;
                    }
                }
                .aventure-data-container {
                    position: relative;
                    background-color: white;
                    .general-data {
                        padding: 8px;
                        display: flex;
                        flex-direction: column;
                        .description {
                            color: @primary-color;
                            .name {
                                .title {
                                    font-size: 20px;
                                }
                            }
                            .place {
                                font-size: 16px;
                                padding-top: 4px;
                                color: grey;
                            }
                        }
                        .specs {
                            display: flex;
                            justify-content: space-around;
                            margin: 12px 0px 12px 0px;
                            color: @primary-color;
                            .icon {
                                font-size: 32px;
                                padding-bottom: 8px;
                            }
                            .time,
                            .difficulty {
                                display: flex;
                                flex-basis: 32%;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                .data {
                                    display: flex;
                                }
                                span {
                                    text-align: center;
                                }
                            }
                            .type-container {
                                display: flex;
                                flex-basis: 36%;
                                align-items: center;
                                justify-content: center;
                                .type {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    align-items: center;
                                    max-width: 106px;
                                    max-height: 106px;
                                    overflow: hidden;
                                    .activity-sprite {
                                        margin: 4px;
                                    }
                                    .sprite-acuatico {
                                        background-position: 0 0 !important;
                                    }
                                    .sprite-avistaje {
                                        background-position: -42px 0 !important;
                                    }
                                    .sprite-cabalgata {
                                        background-position: -85px 0 !important;
                                    }
                                    .sprite-camping {
                                        background-position: -129px 0 !important;
                                    }
                                    .sprite-ciclismo {
                                        background-position: -171px 0 !important;
                                    }
                                    .sprite-extremo {
                                        background-position: -215px 0 !important;
                                    }
                                    .sprite-invernal {
                                        background-position: -258px 0 !important;
                                    }
                                    .sprite-expedicion {
                                        background-position: -301px 0 !important;
                                    }
                                    .sprite-montanismo {
                                        background-position: -344px 0 !important;
                                    }
                                    .sprite-pesca {
                                        background-position: -386px 0 !important;
                                    }
                                    .sprite-otros {
                                        background-position: -430px 0 !important;
                                    }
                                }
                            }
                        }
                        .pricing {
                            position: absolute;
                            top: -53px;
                            right: 0px;
                            color: white;
                            background-color: rgba(45, 45, 45, 0.9);
                            padding: 8px;
                            .money-symbol {
                                .icon {
                                    font-size: 18px;
                                }
                            }
                            .currency {
                                font-size: 16px;
                            }
                            .price {
                                display: flex;
                                align-items: center;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    .signup-company {
        background-image: url(https://res.cloudinary.com/llamaway/image/upload/v1474144674/background-llamas-demo-guide_xjboik.jpg);
        background-size: cover;
        background-position: right;
        height: 500px;
        background-color: grey;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
            margin-left: 64px;
            font-size: 3em;
            color: white;
            font-weight: normal;
        }
        .signup-container {
            margin: 32px 32px 0px 64px;
            align-self: flex-start;
            width: 400px;
            a {
                display: flex;
            }
        }
    }
    .others-actions {
        display: flex;
        justify-content: space-around;
        margin: 32px;
        .llamashop {
            color: rgb(71, 189, 163);
            h3 {
                padding: 0px 32px 32px 0;
                font-weight: normal;
            }
            width: 33%;
            align-items: center;
            a {
                display: flex;
                width: 400px;
                color: white;
                background-color: rgb(71, 189, 163);
                border-color: rgb(71, 189, 163);
            }
        }
        .help {
            width: 33%;
            display: flex;
            justify-content: space-around;
            .image {
                max-height: 200px;
                max-width: 200px;
                img {
                    width: 100%;
                }
            }
            .container-text {
                display: flex;
                flex-direction: column;
                text-align: center;
                .title {
                    color: orange;
                    margin-bottom: 16px;
                }
                .email {
                    color: orange;
                    font-weight: 500;
                }
            }
        }
        .suscribe {
            display: flex;
            width: 33%;
            flex-direction: column;
            justify-content: center;
            .container-text {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 16px;
                p {
                    font-weight: 300;
                    font-size: 20px;
                    color: @primary-color;
                }
            }
            .suscribe-input {
                align-self: center;
                height: 40px;
                min-width: 80%;
            }
        }
    }
    .reviews {
        h2 {
            color: #542959;
            padding-top: 16px;
            border-top: solid 1px #dac9db;
            font-weight: 300;
            text-align: center;
            font-size: 28px;
        }
        .review_row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 24px 0px 24px 0px;
            blockquote {
                display: block;
                background: #fff;
                padding: 0px 0px 0px 0px;
                margin: 0 0 20px;
                position: relative;
                font-family: Georgia, serif;
                font-size: 16px;
                color: #666;
                font-style: italic;
                text-align: justify;
                height: 90px;
            }
            span.star {
                color: #e8bc09;
                display: inline-block;
                font-size: 24px;
                letter-spacing: 0;
                text-decoration: none;
            }
            .review {
                    margin: 0.5rem 0.4rem 0.5rem 0.5rem;
                .marquee {
                    width: 300px;
                    .image-container {
                        display: flex;
                        justify-content: center;
                        padding: 30px 0px 0px 0px;
                        .radius {
                            border-radius: 50%;
                        }
                    }
                    .name {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .space {
                            padding-bottom: 30px;
                            .name {
                                text-align: center;
                                color: #797474;
                                text-align: center;
                                padding: 0px;
                                font-weight: 600;
                                font-size: 18px;
                            }
                            .place {
                                text-align: center;
                                color: rgba(155, 155, 155, 1);
                                text-align: center;
                                padding: 0px;
                                font-size: 18px;
                            }
                        }
                        .testimonial {
                            text-align: center;
                            color: #9b9b9b;
                            text-align: center;
                            line-height: 1.3;
                            padding: 30px 10px 0px 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}