{{={{{ }}}=}}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZL95pQHjWYOszZIN0uxA7Ktiob9rKdzY"></script>
<div data-ng-controller="HomeCtrl">
    <section class="main-banner">
        <h1 class="name">
            <p>Un país lleno de aventuras, 
            </p>
            <p>
                un lugar donde encontrarlas.
            </p>
        </h1>
        <form data-ng-submit="submit($event)"/>
            <button type="submit"><i class="gzz-icon-search"></i></button>
            <div gzz-autocomplete="instantSearchResult" gzz-on-select="onSelect" class="autocomplete">
                <input type="search" name="q" placeholder="{{{text.search_your_adventure}}}" gzz-focus="ix.focusSearchBox" data-ng-model="data.searchQuery" autocomplete="off" autocorrect="off" data-ng-model-options="{debounce: { 'default': 200 } }" autocapitalize="off" data-ng-class="{'on-autocomplete':lists.length}" />
                <div class="list" data-ng-show="lists.length">
                    <div data-ng-repeat="(numberList,list) in lists">
                        <div class="label">{{list.label}}</div>
                        <a data-ng-repeat="(index,item) in list.elements" class="item" data-ng-class="{selected:(index == selectedIndex && numberList == currentList)}" data-ng-href="{{item.link}}" rel="nofollow">
                            {{item.name}}
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="sectionButton button-stack" data-ng-show="!ix.isCompany">
        <gzz-location-button data-ng-label="'{{{text.search_adventure_here}}}'" data-ng-lang="'{{{text.search_positionPermissionDenied}}}'" />
    </section>
    <section class="featured-adventures">
        <h2 class="title">
            Elige una Aventura
        </h2>
        <div class="activities">
            <a href="/buscar-aventura#!/filtros--actividad-acuaticas" class="activity" data-ga-click="User, ActivityHome, acuaticas">
                <div class='sprite-acuatico' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Acuaticos</span>
            </a>

            <a href="/buscar-aventura#!/filtros--actividad-avistajes" class="activity" data-ga-click="User, ActivityHome, avistaje">
                <div class='sprite-avistaje' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Avistaje</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-cabalgatas" class="activity" data-ga-click="User, ActivityHome, cabalgatas">
                <div class='sprite-cabalgata' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Cabalgatas</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-camping" class="activity" data-ga-click="User, ActivityHome, camping">
                <div class='sprite-camping' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Camping</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-ciclismo" class="activity" data-ga-click="User, ActivityHome, ciclismo">
                <div class='sprite-ciclismo' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Ciclismo</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-deportes_extremos" class="activity" data-ga-click="User, ActivityHome, deportes_extremos">
                <div class='sprite-extremo' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Deportes extremos</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-deportes_invernales" class="activity" data-ga-click="User, ActivityHome, deportes_invernales">
                <div class='sprite-invernal' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Deportes Invernales</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-expediciones_travesias" class="activity" data-ga-click="User, ActivityHome, expediciones">
                <div class='sprite-expedicion' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Expediciones</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-montañismo_trekking" class="activity" data-ga-click="User, ActivityHome, montañismo">
                <div class='sprite-montanismo' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Montañismo</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-pesca" class="activity" data-ga-click="User, ActivityHome, pesca">
                <div class='sprite-pesca' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Pesca</span>
            </a>
            <a href="/buscar-aventura#!/filtros--actividad-otros" class="activity" data-ga-click="User, ActivityHome, otros">
                <div class='sprite-otros' 
                    style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                    no-repeat top left; width: 61px; height: 61px;">
                </div>
                <span>Otros</span>
            </a>
        </div>
    </section>
    <!-- Hardcode hasta tener los lugares -->
    <section>
        <h2 class="title">
            Top Lugares
        </h2>
        <div class="top-places">
            <a rel="nofollow">
                <ng-card data-ng-click="searchRegion('patagonia')" data-ga-click="User, TopLocations, patagonia">
                    <card-img data-img-src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/patagonia_e2pxls.jpg" data-img-title="Patagonia">
                    </card-img>
                </ng-card>
            </a>
            <a rel="nofollow">
                <ng-card data-ng-click="searchRegion('norte')" data-ga-click="User, TopLocations, norte">
                    <card-img data-img-src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/norte_iqhypl.jpg" data-img-title="Norte">
                    </card-img>
                </ng-card>
            </a>
            <a rel="nofollow">
                <ng-card data-ng-click="searchRegion('cuyo')" data-ga-click="User, TopLocations, cuyo">
                    <card-img data-img-src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/cuyo_hdp6ny.jpg" data-img-title="Cuyo">
                    </card-img>
                </ng-card>
            </a>
            <a rel="nofollow">
                <ng-card data-ng-click="searchRegion('litoral')" data-ga-click="User, TopLocations, litoral">
                    <card-img data-img-src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/litoral_ewxrpa.jpg" data-img-title="Litoral">
                    </card-img>
                </ng-card>
            </a>
            <a rel="nofollow">
                <ng-card data-ng-click="searchRegion('centro')" data-ga-click="User, TopLocations, centro">
                    <card-img data-img-src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/centro_dzwdcb.jpg" data-img-title="Centro">
                    </card-img>
                </ng-card>
            </a>
            <a rel="nofollow">
                <ng-card data-ng-click="searchRegion('buenos_aires')" data-ga-click="User, TopLocations, buenos_aires">
                    <card-img data-img-src="https://res.cloudinary.com/llamaway/image/upload/v1471926756/buenos_aires_wugmfk.jpg" data-img-title="Buenos Aires">
                    </card-img>
                </ng-card>
            </a>
        </div>
    </section>
    <section class="" data-ng-show="data.topAdventures.length > 0">
        <h2 class="title">
            Top Aventuras
        </h2>
        <div class="topAdventures">
            <ng-card data-ng-repeat="adventure in data.topAdventures">
                <a href="/aventura/{{adventure.safeUrlName}}_{{adventure._id}}"  data-ga-click="User, TopAdventures, {{adventure._id}}">
                    <div class="card-adventure">
                        <div class="image-container">
                            <img ng-src="{{adventure.profile_picture.length ? adventure.profile_picture[0].url : adventure.profile_picture.url}}">
                        </div>
                        <div class="aventure-data-container">
                            <div class="general-data">
                                <div class="description">
                                    <div class="name">
                                        <h1 class="title">
                                            {{adventure.name}}
                                        </h1>
                                        <div class="place">
                                            {{adventure.location.address}}
                                        </div>
                                    </div>
                                </div>
                                <div class="specs">
                                    <div class="type-container">
                                        <div class="type">
                                            <div data-ng-repeat="type in adventure.activityType" class='activity-sprite {{type.class}}'
                                                style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
                                                no-repeat top left; width: 41px; height: 41px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="time">
                                        <span class="icon material-icons" aria-hidden="true">schedule</span>
                                        <div class="data">
                                            <span>{{adventure.duration}}</span>
                                            <span data-ng-show="adventure.takeDays">&nbsp;{{adventure.duration>1?'días':'día'}}</span>
                                            <span data-ng-show="!adventure.takeDays">&nbsp;{{adventure.duration>1?'horas':'hora'}}</span>
                                        </div>
                                    </div>
                                    <div class="difficulty">
                                        <span class="icon material-icons" aria-hidden="true">fitness_center</span>
                                        <span data-ng-show="adventure.difficulty==0">&nbsp;Fácil</span>
                                        <span data-ng-show="adventure.difficulty==1">&nbsp;Normal</span>
                                        <span data-ng-show="adventure.difficulty==2">&nbsp;Difícil</span>
                                        <span data-ng-show="adventure.difficulty==3">&nbsp;Experto</span>
                                    </div>
                                </div>
                                <div class="pricing">
                                    <div class="price">
                                        <span class="money-symbol">
                                            <span class="icon material-icons md-48" aria-hidden="true">attach_money</span>
                                        </span>
                                        <span>
                                            {{adventure.price?adventure.price:'consultar'}}&nbsp;
                                        </span>
                                        <span data-ng-show="adventure.price" class="currency">
                                            {{adventure.currency == 0 ? 'ARS' : 'USD'}} 
                                        </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                     </div>
                </a>
            </ng-card>
        </div>
    </section>

    <ng-card data-ng-show="!ix.userLoaded || (ix.userLoaded && ix.isCompany)" data-ng-show="!ix.userLoaded">
        <card-action class=" button-stack">
            <a data-ng-hide="ix.userLoaded && ix.isCompany" ga-click="User, companyRegister, home" href="/ingreso#/registrar_empresa" class="btn button button-lg button-primary" rel="nofollow">
                {{{text.register_llama1}}}
                <br/>
                {{{text.register_llama2}}}
            </a>
            <a data-ng-show="ix.userLoaded && ix.isCompany" ga-click="User, createAventure, home" href="{{{rootPath}}}nueva-aventura" class="btn button button-lg button-primary" rel="nofollow">
                {{{text.create_adventure}}}
            </a>
        </card-action>
    </ng-card>
    <ng-card class="consult">
        <img src="https://res.cloudinary.com/llamaway/image/upload/v1474666187/sos_plarmu.png" />
        <div>
            <span>¿Necesitas ayuda?</span>
            <p>Estamos para ayudarte, envianos tu consulta a:</p>
            <span class="email">consultas@llamaway.com.ar</span>
            <p>y nuestro equipo de rescate ir&aacute; a ayudarte.</p>
            <p>También podés acceder a nuestra sección de 
                <a href="/preguntas-frecuentes" rel="nofollow">preguntas frecuentes</a>
            </p>
        </div>
    </ng-card>
    <ng-card class="shop" data-ng-show="!ix.userLoaded">
        <card-header card-title="&iexcl;Recib&iacute; las mejores aventuras, tips para tu pr&oacute;ximo viaje o inspiraciones!"></card-header>
        <card-action class="button-stack">
            <a ga-click="User, llamaShop, home" href="/llamashop" class="btn button button-lg button-primary">
                Visitá nuestro LlamaShop
            </a>
        </card-action>
    </ng-card>
</div>

<script>
    document.querySelector('.sprite-acuatico').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-avistaje').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-cabalgata').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-camping').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-ciclismo').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-extremo').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-invernal').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-expedicion').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-montanismo').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-pesca').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
    document.querySelector('.sprite-otros').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
</script>