@import '../../less/mobile/forms';
@import '../../less/mobile/cards';
@import '../../less/global/directives';
@import '../../helpers/autocomplete/styles';

[data-ng-controller="HomeCtrl"]{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 56px;
    .main-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .name{
            font-size: 24px;
            p{
                margin: 8px;
            }
        }
        &.fullscreen{
            min-height: 100vh;
            border-bottom: none;
        }
        min-height: 300px;
        background-image: url(https://res.cloudinary.com/llamaway/image/upload/v1476758521/background-home-mobile_tnwwrz.jpg);
        background-size: cover;
        background-position:left; 
        color: white;
        padding: 20px;
        padding-bottom: 40px;
        h1 {
            font-size: 3em;
            font-weight: 400;
        }
        p{
            margin: 20px 40px;
        }

        form{
            margin-top: 10px;
            width: 90%;
            border-bottom: none;
            position: relative;
            padding: 0;

            .autocomplete{
                height: 42px;
                input{
                    height: 42px;
                }
            }

            input{
                border: 1px solid @white;
                border-radius: 26px;
                -webkit-appearance:none;
                appearance: none;
                background-color: transparent;
                color:@gzz-chalk;
                font-size: 1.5em;
                font-weight: 300;
                width: 100%;
                padding-left: 54px;

                &.on-autocomplete {
                    border-radius: 15px 15px 0 0;
                }

                &::placeholder {
                    color: @white;
                    font-weight: 400;
                }
            }

            .list {
                background-color: fade(@white, 90%);
                border: 1px solid  @white;
                border-radius: 0 0 15px 15px;
                top: 54px;
                .label{
                    color: @primary-color;
                }
                .item {
                    color: @primary-color;
                    padding-left: 32px;
                    &.selected, &:hover {
                        background-color: @gzz-mint;
                        color: @white;
                    }
                }
            }

            button{
                text-align: center;
                position: absolute;
                height: 42px;
                width: 42px;
                padding-right:0;
                color: @white;
                &:hover {
                    color: @gzz-chalk;
                }
                z-index:1;
            }
        }
    }

    section{
        .title{
            font-size: 16px;
        }
    }

    .featured-adventures{
        background-color: white;
        .activities{
            display: flex;
            flex-wrap: wrap;
            border-top: solid 1px @grey-red-color;
            padding:10px; 

           .sprite-acuatico { background-position: 0 0 !important; }
           .sprite-avistaje { background-position: -65px 0 !important; }
           .sprite-cabalgata { background-position: -131px 0 !important; }
           .sprite-camping { background-position: -197px 0 !important; }
           .sprite-ciclismo { background-position: -262px 0 !important; }
           .sprite-extremo { background-position: -328px 0 !important; }
           .sprite-invernal { background-position: -393px 0 !important; }
           .sprite-expedicion { background-position: -459px 0 !important; }
           .sprite-montanismo { background-position: -524px 0 !important; }
           .sprite-pesca { background-position: -589px 0 !important; }
           .sprite-otros { background-position: -655px 0 !important; }

            .activity{
                text-decoration: none;
                color: @primary-color;
                display: flex;
                flex-direction:column;
                align-items: center;
                margin: 10px 0;
                width: 33.33%;
                img{
                    width: 40px;
                }
                span{
                    min-height: 40px;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
        .center{
            float: left;
            width: 100%;
            text-align: -webkit-center;
            padding-left: 4%;
            padding-right: 4%;   
            a{
                @media screen {
                    @media (max-width: 480px) {
                        padding-top: 5%;
                    }
                    @media (min-width: 480px) {
                       padding-top: 10%;
                    }
                }
                float:left;
                color: white;
                .icon{
                    display: table-cell;
                }
                .label{
                    display: table-row;   
                }
            }
        }
    }

    .top-places{
        ng-card{
            margin: 0px 0px 24px 0px;
        }
        .card-title{
            bottom: 0px;
            right: 0px;
            margin-bottom: 0px;
            font-size: 16px;
            padding: 8px;
            left:auto;
            color:white;
            background-color: rgba(45,45,45,0.9);
        }
    }

    .sectionButton {
        background-color: white;
        border-top: solid 1px @gzz-light-gray;
        padding: 20px;
    }

    .consult{
        background-color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        img{
            height: 80px;
        }
        div{
            max-width: 220px;
            text-align: center;
            span, a{
                &.needHelp{
                    font-size: 1.3em;
                }
                color:@secondary-color;
            }
        }
    }

    .spacing{
        margin: 10px;
        margin-top: 0;
    }

    ng-card{
        box-shadow: initial;
        border-top: solid 1px #dac9db;
        background-color: white;
    }

    .topAdventures{
        ng-card{
            margin: 0px 0px 24px 0px;
        }

        .card-adventure{
            .image-container{
                img{
                    width: 100%;
                }
            }
            .aventure-data-container{
                position: relative;
                background-color: white;
                .general-data{
                    padding: 8px;
                    .description{
                        color:@primary-color;
                        .name{
                            .title{
                                font-size: 20px;
                            }
                        }
                        .place{
                            font-size: 16px;
                            padding-top: 4px;
                            color: grey;
                        }
                    }
                    .specs {
                        display: flex;
                        justify-content: space-around;
                        margin: 12px 0px 12px 0px; 
                        color:@primary-color;
                        .icon {
                            font-size: 32px;
                            padding-bottom: 8px;
                        }
                        .time, .difficulty {
                            display: flex;
                            flex-basis: 32%;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            .data{
                                display: flex;
                            }
                            span {
                                text-align: center;
                            }
                        }
                        .type-container{
                            display: flex;
                            flex-basis: 36%;
                            align-items: center;
                            justify-content: center;
                            .type{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-around;
                                align-items: center;
                                max-width: 106px;
                                max-height: 106px;
                                overflow: hidden;
                                .activity-sprite{
                                    margin: 4px;
                                }
                                .sprite-acuatico { 
                                    background-position: 0 0 !important;
                                }
                                .sprite-avistaje { 
                                    background-position: -42px 0 !important; 
                                }
                                .sprite-cabalgata { 
                                    background-position: -85px 0 !important; 
                                }
                                .sprite-camping { 
                                    background-position: -129px 0 !important; 
                                }
                                .sprite-ciclismo { 
                                    background-position: -171px 0 !important; 
                                }
                                .sprite-extremo { 
                                    background-position: -215px 0 !important; 
                                }
                                .sprite-invernal { 
                                    background-position: -258px 0 !important; 
                                }
                                .sprite-expedicion { 
                                    background-position: -301px 0 !important; 
                                }
                                .sprite-montanismo { 
                                    background-position: -344px 0 !important; 
                                }
                                .sprite-pesca { 
                                    background-position: -386px 0 !important; 
                                }
                                .sprite-otros { 
                                    background-position: -430px 0 !important; 
                                }
                            }
                        }

                    }
                    .pricing{
                        position: absolute;
                        top:-53px;
                        right: 0px;
                        color:white;
                        background-color: rgba(45,45,45,0.9);
                        padding: 8px;
                        .money-symbol{
                            .icon{
                                font-size: 18px;
                            }
                        }
                        .currency{
                            font-size: 16px;
                        }
                        .price{
                            display: flex;
                            align-items: center;
                            font-size: 24px;
                        }
                    }
                }
            }
        }

    }

    .suscribe{
        color:@primary-color;
        .card-header {
            padding: 0 20px;
            text-align: center;
        }
        .card-title {
            border-bottom: none;
        }
        card-action{
            padding-top: 0;
        }
    }

    .shop{
        .suscribe;
        color:@shop-color;
        .card-header {
            .card-title{
                color:@shop-color;    
            }
        }
        card-action .button-primary{
            background-color: @shop-color;
            border-color: @shop-color;
        }
    }

    gzz-location-button a{
        i{
            &:not(.withoutText){
                padding-right: 10px;
            }
        }
    }

    @media only screen and (max-width: 600px){
        .main-banner{
            min-height: 180px;
            .main-logo{
                width: 117px;
                height: 35px;
                background-image: url(https://res.cloudinary.com/llamaway/image/upload/v1474666428/logotipo_n7x0lx.png);
            }
            form{
                input{
                    padding-left: 42px;
                    font-size: 1em;
                }
                .list{
                    top: 32px;
                }
            }
        }
        .featured-adventures .activities .activity{
            width: 33.33%;
        }
        .consult{
            justify-content: center;
            img{
                height: 78px;
                margin-right: 0;
            }
            div{
                margin-left: 0;
                max-width: 400px;
            }
        }
    }
}
