{{={{{ }}}=}}
<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <!-- CRAWLER -->
        <meta name="fragment" content="!">
        <title>{{{{title}}}}</title>
        <meta name="description" content="{{{{metadescription}}}}">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <!--[if !IE]><!-->
            <link href="//{{{dnsPrefetch.fontsGoogleApis}}}" rel="dns-prefetch" />
            <link href="//{{{dnsPrefetch.fontsGsStatic}}}" rel="dns-prefetch" />
            <link href="//{{{dnsPrefetch.ajaxGoogleApis}}}" rel="dns-prefetch" />
            <link href="//{{{dnsPrefetch.maxcdnBootstrapcdn}}}" rel="dns-prefetch" />
            <link href="{{{dnsPrefetch.llamaApi}}}" rel="dns-prefetch" />

        <!--<![endif]-->

        <meta property="og:url"              content="{{{{domain}}}}{{{{currentUrl}}}}" />
        <meta property="og:type"             content="website" />
        <meta property="og:title"            content="{{{{title}}}}" />
        <meta property="og:description"      content="{{{{metadescription}}}}" />
        <meta property="og:image"            content="http://res.cloudinary.com/llamaway/image/upload/v1474417326/logo_llamaway_kyjmjo.png" />
        <meta property="og:image:secure_url" content="https://res.cloudinary.com/llamaway/image/upload/v1474417326/logo_llamaway_kyjmjo.png" />
        <meta property="og:image:width"      content="200" />
        <meta property="og:image:height"      content="200" />
        <meta property="og:locale"           content="es_LA" />

        <link rel="apple-touch-icon" href="http://res.cloudinary.com/llamaway/image/upload/v1477336490/favicon_bi5igy.png">
        <link rel="shortcut icon" href="http://res.cloudinary.com/llamaway/image/upload/v1477336490/favicon_bi5igy.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <base href="/">
        <meta name="msapplication-TileImage" content="https://res.cloudinary.com/llamaway/image/upload/v1471139960/llamita_xtqk6e.png">
        <meta name="msapplication-TileColor" content="#222222">
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">

        {{{#req.env.production}}}
            <meta name="google-site-verification" content="sPIip9ZOfCIktPK8EL2o_4CEgLv2qwHLVfa6f6iJx_w" />
        {{{/req.env.production}}}
        
        <!-- CSS -->
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
              display: none !important;
            }
        </style>

        <script>
            window.appName = '{{{appName}}}';
            window.device = {
                mobile:false,
                desktop:true
            };
            window.env = {{{{envJSON}}}};
            window.log = function(){
                console.log(arguments);
            }

            function addLoadEvent(func) {
                var oldonload = window.onload;
                if(typeof window.onload != 'function') {
                    window.onload = func;
                } else {
                    window.onload = function() {
                        if(oldonload) {
                            oldonload();
                        }
                        func();
                    }
                }
            }
        </script>

        <!-- JS -->
        {{{#req.env.production}}}
            <link rel="stylesheet" href="/dist/apps/mainLayout/desktop.public.{{{finger_print}}}.min.css">
            <link rel="stylesheet" href="/dist/apps/{{{appName}}}/desktop.public.{{{finger_print}}}.min.css">
            <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
        {{{/req.env.production}}}

        {{{#req.env.development}}}
            <link rel="stylesheet" href="/dist/apps/mainLayout/desktop.public.css">
            <link rel="stylesheet" href="/dist/apps/{{{appName}}}/desktop.public.css">
            <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
        {{{/req.env.development}}}

    </head>
    <body data-ng-app="mainLayout" data-ng-cloak class="desktop {{{req.env.name}}}">
        <div data-ng-controller="MainLayoutCtrl" data-app-name="{{{{appName}}}}">
            <div class="mainSpinner">
                <i class="fa fa-spinner icon-spinner"></i>
            </div>
            <header class="top-nav">
                <div class="logo">
                    <a href="/"><img src="https://res.cloudinary.com/llamaway/image/upload/v1471139960/llamita_xtqk6e.png" alt="Llamaway logo">
                        <span class="name">
                            LLAMAWAY
                        </span>
                    </a>
                </div>
                
                <div class="nav-right">
                    <div class="search-box2">
                        <form data-ng-submit="submit($event)" class="ng-pristine ng-valid">
                            <div gzz-autocomplete="instantSearchResult" gzz-on-select="onSelect">
                                <input type="search" name="q" placeholder="Buscá tu aventura" gzz-focus="ix.focusSearchBox" data-ng-model="data.searchQuery" data-ng-model-options="{debounce: { 'default': 200 } }" autocomplete="off" autocorrect="off" autocapitalize="off" class="ng-pristine ng-valid ng-scope ng-isolate-scope ng-touched">

                                <button type="submit" class="btn-square ng-scope"><i class="gzz-icon-search"></i></button>

                                <div class="list ng-scope ng-hide" data-ng-show="lists.length ">
                                    <div data-ng-repeat="(numberList,list) in lists">
                                        <div class="label">{{list.label}}</div>
                                        <a data-ng-repeat="(index,item) in list.elements" class="item" data-ng-class="{selected:(index == selectedIndex && numberList == currentList)}" data-ng-href="{{item.link}}">
                                            {{item.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <a href="/preguntas-frecuentes" rel="nofollow" class="help">Ayuda</a>

                    <a class="notifications" data-ng-if="user.companyId" data-ng-class="{'enable':notifications.length > 0}" data-ng-click="toggleNotifications()">
                        <span class="notifCount" data-ng-if="notifications.length > 0">{{notifications.length}}</span> Notificaciones
                    </a>

                    <div class="notification" data-ng-show="showNotif">
                        <div data-ng-if="notifications && notifications.length > 0" data-ng-repeat="notification in notifications">
                            <a href="/mi-cuenta#/mis-consultas/{{notification.lead._id}}" data-ng-if="notification.type =='lead'" data-ng-click="toggleNotifications()" nofollow>
                                <ng-card class="{{notification.type}}">
                                    <div class="containerLead">
                                        <div class="notifTitle title-sm">
                                            <span data-ng-if="!notification.lead.contactName">Consulta pendiente</span>
                                            <span data-ng-if="notification.lead.contactName">{{notification.lead.contactName}}</span>
                                            <p class="subText" data-ng-if="notification.lead.description">{{notification.lead.description | limitTo:30 }}...</p>
                                            <div class="subText" data-ng-if="!notification.lead.contactName && lead.adventure">Aventura: {{notification.lead.adventure.name}}</div>
                                            <span class="date" data-ng-if="notification.contactDateDays > 0">Hace {{notification.contactDateDays}} {{notification.contactDateLabel}}</span>
                                            <span class="date" data-ng-if="notification.contactDateDays == 0">{{notification.contactDateLabel}}</span>
                                        </div>
                                    </div>
                                </ng-card>
                            </a>
                            <a href="/mi-cuenta#/mis-paquetes/{{notification.package._id}}" data-ng-click="toggleNotifications()" data-ng-if="notification.type =='package'" nofollow>
                                <ng-card class="{{notification.type}}">
                                    <div class="containerLead">
                                        <div class="notifTitle title-sm">
                                            <div>
                                                <div data-ng-if="notification.package.state == 'intention_payment_mp' || notification.package.state == 'pending' || notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'in_process' || notification.package.mp.payment.status == 'rejected' || notification.package.mp.payment.status == 'in_mediation'">El paquete {{notification.package.title}} que contrataste esta pendiente</div>
                                                <div class="enable" data-ng-if="notification.package.state == 'enable_backoffice' || notification.package.state == 'enable_mp'">El paquete {{notification.package.title}} que contrataste esta acreditado</div>
                                                <div data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'cancelled'">Cancelaste tu pago en MercadoPago</div>
                                                <div data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'refunded'">Tu pago fue reembolsado en MercadoPago</div>
                                                <div data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'charged_back'">Te fue hecho un contracargo en la tarjeta</div>

                                                <div class="subText" data-ng-if="notification.package.state == 'intention_payment_mp'">Retoma tu pago.</div>
                                                <div class="subText" data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'in_process'" alt="MercadoPago está procesando tu pago">MercadoPago esta procesando tu pago</div>
                                                <div class="subText" data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'rejected'" alt="MercadoPago está procesando tu pago">MercadoPago rechazó tu pago. Hacé un nuevo pago.</div>
                                                <div class="subText" data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'in_mediation'" alt="MercadoPago está procesando tu pago">Tu pago está en mediación en MercadoPago</div>
                                            </div>
                                            <span class="date">Hace {{notification.contactDateDays}} {{notification.contactDateLabel}}</span>
                                        </div>
                                    </div>
                                </ng-card>
                            </a>
                        </div>
                        <div data-ng-if="!notifications || notifications.length == 0">
                            <ng-card class="empty">
                                <div class="containerLead">
                                    <div class="notifTitle title-sm">
                                        <div>No tenés notificaciones pendientes</div>
                                    </div>
                                </div>
                            </ng-card>
                        </div>
                        <div class="viewMore">
                            <a href="/mi-cuenta#/mis-consultas" nofollow data-ng-click="toggleNotifications()"><div>Ver Consultas</div></a>
                            <a href="/mi-cuenta#/mis-paquetes" nofollow data-ng-click="toggleNotifications()"><div>Ver Paquetes</div></a>
                        </div>
                    </div>
        
                    <a data-ng-if="!user" data-ng-click="login()" data-ng-click="ix.modal=null" rel="nofollow" class="user">Iniciar sesión</a>
                    <a href="/mi-cuenta#/mis-datos" data-ng-click="ix.modal=null" data-ng-if="user" rel="nofollow" class="user">Mi cuenta</a>

                    <div class="user-status" data-ng-if="user">
                        <a data-ng-click="logout()" rel="nofollow" class="exit">Cerrar sesión</a>
                        <span class="user-name">{{user.first_name}} {{user.last_name}}</span>
                    </div>

                    <a data-ng-if="!user" href="/ingreso#/seleccion" gzz-ref="seleccion" gzz-ref-scroll="top" class="btn button button-lg button-primary location ng-binding" type="button">Registrarme</a>
                </div>
            </header>


            <div class="content">
                {{{{content}}}}
            </div>
            <footer>
                <div class="footer-wrapper">
                    <div class="social">
                        <div><a href="https://www.facebook.com/llamaway" target="_blank"><i class="fa fa-facebook"></i></a></div>
                        <div><a href="https://www.twitter.com/llamaway" target="_blank"><i class="fa fa-twitter"></i></a></div>
                        <div><a href="https://www.linkedin.com/companies/llamaway" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                        <div><a href="https://www.instagram.com/llamawaycom/" target="_blank"><i class="fa fa-instagram"></i></a></div>
                        <div><a href="https://es.pinterest.com/llamaway/" target="_blank"><i class="fa fa-pinterest"></i></a></div>
                    </div>
                    <div class="conditions">
                        <div>
                            <a href="/politica-privacidad">Términos y Politicas de Privacidad</a>
                            &nbsp;|&nbsp;<a href="/preguntas-frecuentes">Preguntas Frecuentes</a>
                        </div>
                        <div class="year">                  
                            Copyright 2016 Llamaway S.A - Todos los derechos reservados
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        {{{#req.env.production}}}
            <script src="/dist/apps/{{{appName}}}/view.public.{{{finger_print}}}.min.js"></script>
            <script src="/dist/apps/mainLayout/view.public.{{{finger_print}}}.min.js"></script>
        {{{/req.env.production}}}

        {{{#req.env.development}}}
            <script src="/dist/apps/{{{appName}}}/view.public.js"></script>
            <script src="/dist/apps/mainLayout/view.public.js"></script>
        {{{/req.env.development}}}

        {{{#gtmId}}}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{{gtmId}}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{{gtmId}}}');</script>
        <!-- End Google Tag Manager -->
        {{{/gtmId}}}

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{{googleAnalyticsId}}}', 'auto');
        ga('send', 'pageview', {
            'page': location.pathname + location.search  + location.hash
        });
        </script>

        <script>
            function initDefer() {
                //Imagenes
                var imgDefer = document.getElementsByTagName('img');
                for (var i=0; i<imgDefer.length; i++) {
                    if(imgDefer[i].getAttribute('data-src')) {
                        imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
                    } 
                }

            }
            window.addLoadEvent(initDefer);

        </script>
    </body>
</html>
