@import '../../less/global/fonts';
@import '../../less/global/base';
@import '../../less/global/colors';
@import '../../less/global/icons';
@import '../../less/desktop/text';
@import '../../less/desktop/forms';

@import '../../helpers/autocomplete/styles';

html,body{
    //background-color: @gzz-coal;
}
body{
    overflow-y: scroll;
}

.mainSpinner{
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: fixed;
    background-color: rgba(34, 34, 34, 0.498039);
    .icon-spinner {
        display: block;
        top:50%;
        left: 50%;
        position: fixed;
        z-index: 100;
        color: @gzz-mint;
        font-size: 36px;
        -webkit-animation: fa-spin 1s infinite steps(8);
        animation: fa-spin 1s infinite steps(8);
    }
}
select{
    option[disabled]{
        color:@gzz-dark-gray;
    }
}
[data-ng-app=mainLayout]{
    //background-color: #FFECB3;
}

[data-ng-controller=MainLayoutCtrl] {
    background-color: @generalBackgroundColor;
    margin: auto;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    &[data-app-name=home],&[data-app-name=signInUp],&[data-app-name=searchResult] {
        .search-box2 {
            display: none;
        }
        padding-top: 0;
    }
    &[data-app-name=signInUp]{
        .menu{
            display: none;
        }
    }

    .top-nav {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        .logo {
            display: flex;
            padding-left: 42px;
            a {
                display: flex;
                align-items: center;
                span{
                    padding-left: 5px;
                    padding-bottom: 5px;
                }
            }
        }
        .name {                
            font-size: 2em;
            font-weight: 600;
            font-family: 'Amatica SC', cursive;
        }
        .nav-right {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            .user-status{
                display: flex;
                align-items: center;
                .exit{
                    .icon;
                    &:before{
                        content:"\f08b";
                    }
                }
            }
            a {
                margin-right: 30px;
            }
            .button-lg {
                padding: 5px 32px;
                border-radius: 3px;
            }
            .search-box2 {
                transform: translateY(0);
                width: 259px;
                z-index: 90;
                margin-right: 30px;
                input[type=search] {
                    -webkit-appearance: none;
                    border-radius: 5px;
                    border: 1px solid #7F7F7F;
                    font-family: @base-font-family;
                    font-size: 16px;
                    font-weight: 300;
                    height: 30px;
                    margin-right: 50px;
                    padding: 5px 10px ;
                    width: 100%;
                }

                .btn-square {
                    color: white;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    background-color: #EF9E21;
                    height: 30px;
                    width: 30px;
                    border-radius: 5px;
                    font-size: 13px;
                }
                &.data-ng-hide {
                    transform: translateY(-100%);
                }
                &.data-ng-hide-add.data-ng-hide-add-active,
                &.data-ng-hide-remove.data-ng-hide-remove-active {
                    transition: transform 300ms cubic-bezier(0.620, -0.130, 0.390, 1.290);
                }
            }
        }
        .icon{
            color: @primary-color;
            margin-right: 30px;
            &:before{
                margin-right: 10px;
                font: normal normal normal 20px/1 FontAwesome;
            }            
        }
        .notifications{
            position: relative;
            .icon;
            &:before{
                content:"\f0f3";
            }
            &.enable{
                &:before{
                    color: @secondary-color;
                    font-size: 25px;
                }
                .notifCount{
                    color: white;
                    top: 2px;
                    left: 8px;
                }
            }

            .notifCount{
                position:absolute;
            }
        }

        .notification:after, .notification:before {
            bottom: 100%;
            left: 75px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .notification:after {
            border-color: rgba(250, 250, 250, 0);
            border-bottom-color: #fafafa;
            border-width: 8px;
            margin-left: -8px;
        }
        .notification:before {
            border-color: rgba(221, 221, 221, 0);
            border-bottom-color: #DDDDDD;
            border-width: 9px;
            margin-left: -9px;
        }
        .notification {
            background-color: white;
            position: absolute;
            top: 45px;
            right: 100px;
            z-index: 100;
            display: flex;
            flex-direction: column;
            -webkit-transition: box-shadow 0.25s;
            transition: box-shadow 0.25s;
            border-radius: 2px;
            box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            max-width: 350px;
            min-width: 350px;

            ng-card {
                margin:0;
                border-radius: 0;
                box-shadow: initial;
            }
            a{
                margin-right: 0;
            }
            .empty {
                position: relative;
                flex:1;
                border-bottom: 1px solid @gzz-medium-gray;
                .containerLead{
                    padding: 10px 5px 20px 5px;
                    display: flex;
                    flex-direction:row;

                    &:before{
                        content:"\f075";
                        color: @gzz-dark-gray;
                        font: normal normal normal 30px/1 FontAwesome;
                        margin-right: 5px;
                    }
                    .notifTitle {
                        margin-left: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-bottom: 0;
                        font-size: 1em;
                    }
                }
            }
            .lead {

                .empty;

                position: relative;
                flex:1;
                border-bottom: 1px solid @gzz-medium-gray;
                .containerLead .notifTitle {
                    .date{
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        padding-top: 2px;
                        font-size: .8em;
                        color: lightgrey;
                    }
                    .subText{
                        color: @gzz-dark-gray;
                    }
                }
            }
            .package {
               .lead;
               .containerLead{
                    &:before{
                        margin: 0 9px;
                        content:"\f155";
                    }
                }
            }
            div.viewMore{
                display: flex;
                padding: 5px;
                a{
                    &:hover{
                        color: @secondary-color;
                    }
                    display: flex;
                    justify-content: center;
                    flex: 1;
                }
            }
        }

        .help{
            .icon;
            &:before{
                content:"\f128";
            }
        }
        .user{
            .icon;
            &:before{
                content:"\f007";
            }
        }
    }    
    .search-box {
        background-color: white;
        margin: auto;
        //max-width: @site-max-width;
        padding-top: 56px;
        padding: 10px 10px;
        transform: translateY(0);
        width: 100%;
        z-index: 90;
        input[type=search] {
            -webkit-appearance: none;
            background-color: @gzz-light-gray;
            border-radius: 5px;
            border: none;
            font-family: @base-font-family;
            font-size: 20px;
            font-weight: 300;
            height: 40px;
            margin-right: 50px;
            padding: 5px 10px ;
            width: 100%;
        }
        button{
            color: black;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        &.data-ng-hide {
            transform: translateY(-100%);
        }
        &.data-ng-hide-add.data-ng-hide-add-active,
        &.data-ng-hide-remove.data-ng-hide-remove-active {
            transition: transform 300ms cubic-bezier(0.620, -0.130, 0.390, 1.290);
        }


        [gzz-autocomplete]{
            .list {
                position: relative;
                border-radius: 0 0 5px 5px;
                border: none;
                border-top: 1px solid @gzz-medium-gray;
                background-color: @gzz-light-gray;
                box-shadow: 0 -5px 0 @gzz-light-gray;
                font-size: 20px;

                .item {
                    &.selected, &:hover {
                        background-color: @gzz-medium-gray;
                    }
                }
                .label{
                    border-bottom: solid 1px white;
                }
            }
        }
    }
    .main-menu {
        background-color: white;
        margin: auto;
        //max-width: @site-max-width;
        padding-top: 56px;
        position: fixed;
        top: 0;
        transform: translateY(0);
        width: 100%;
        z-index: 90;
        &.data-ng-hide {
            transform: translateY(-100%);
        }
        &.data-ng-hide-add.data-ng-hide-add-active,
        &.data-ng-hide-remove.data-ng-hide-remove-active {
            transition: transform 300ms cubic-bezier(0.620, -0.130, 0.390, 1.290);
        }
        nav {
            padding: 40px 20px 50px;
            > *+* {
                margin-top: 20px;
            }
            a {
                font-size: 28px;
                font-weight: 300;
                display: block;
                &:hover {
                    color: @gzz-mint;
                }
            }
            .user-name, .current-country {
                font-size: 14px;
                color: @gzz-dark-gray;
                display: block;
            }

            label.form-field-select{
                padding: 0;
            }
        }
    }
    .overlay {
        background-color: fade(@gzz-coal, 95%);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        transition: all 5000ms ease;
        width: 100%;
        z-index: 80;
        opacity: 1;
        &.data-ng-hide {
            opacity: 0;
        }
        &.data-ng-hide-add.data-ng-hide-add-active,
        &.data-ng-hide-remove.data-ng-hide-remove-active {
            transition: all 300ms ease;
        }
        // &.ng-hide-add {
        //   opacity:0;
        // }
        // &.ng-hide-remove {
        //   opacity:1;
        // }
    }
    [ui-view] {
        position: relative;
    }
    .content{
        display: flex;
        flex-direction: column;
        flex:1;
    }
    footer{
        font-weight: 200;
        display: flex;
        flex-direction: column;
        min-height: 100px;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        .social{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: white;
                min-width: 24px;
                min-height: 24px;
                &:not(:first-child){
                    margin-left: 20px;
                }
            }
            span {
                color: #ffffff;
            }
        }
        .conditions{
            text-align: center;
            margin-top: 6px;
            div{
                margin-top: 6px;
            }
            a{
                color: white;
            }
            .year{
                color: white;
                margin-bottom: 6px;
            }
        }
        .footer-wrapper {            
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0px 35px;
            flex-direction: column;
        }
        color: white;
        background-color: @footer;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1920px){
        footer{
            .social{
                justify-content: center;
                div{
                    min-width: 36px;
                    min-height: 36px;
                    font-size: 1.2em;
                    &:not(:first-child){
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}
