@import '../../less/global/fonts';
@import '../../less/global/base';
@import '../../less/global/colors';
@import '../../less/global/icons';
@import '../../less/mobile/base';
@import '../../less/mobile/text';
@import '../../less/mobile/forms';

@import '../../helpers/autocomplete/styles';

html,body{
    background-color: @gzz-coal;
}
body{
    overflow-y: scroll;
}

.mainSpinner{
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: fixed;
    background-color: rgba(34, 34, 34, 0.498039);
    .icon-spinner {
        display: block;
        top:50%;
        left: 50%;
        position: fixed;
        z-index: 100;
        color: @gzz-mint;
        font-size: 36px;
        -webkit-animation: fa-spin 1s infinite steps(8);
        animation: fa-spin 1s infinite steps(8);
    }
}
select{
    option[disabled]{
        color:@gzz-dark-gray;
    }
}
[data-ng-app=mainLayout]{
    background-color: #FFECB3;
}

[data-ng-controller=MainLayoutCtrl] {
    background-color: @gzz-chalk;
    margin: auto;
    max-width: @site-max-width;
    min-height: 100vh;
    min-width: @site-min-width;
    position: relative;
    display: flex;
    flex-direction: column;
    &[data-app-name=home]{
        overflow-y: hidden;
        .top-nav {
            .logo {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                position: relative;
                left: initial;
                top: initial;
            }
        }
    }
    &[data-app-name=home],&[data-app-name=signInUp] {
        padding-top: 0;
        .top-nav{
            border-bottom: none;
            box-shadow: none;
            button{
                &.search{
                    display: none;
                }
                &.notifications{
                    display: none;
                    &.enable{
                        display: flex;
                        right: 56px;
                    }
                }
            }
        }
    }
    &[data-app-name=signInUp]{
        .menu{
            display: none;
        }
    }
    .top-nav {
        background-color: white;
        border-bottom: solid 3px @gzz-light-gray;
        height: 56px;
        max-width: @site-max-width;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        box-shadow: 0 1px 1px fade(@gzz-coal, 10%);

        .logo {
            left: 19px;
            position: absolute;
            top: 5px;
        }
        button {
            color: @primary-color;
            height: 56px;
            position: absolute;
            top: 0;
            font-size: 56px;
            &.menu, &.menu-close {
                right: 0;
                width: 56px;
            }
            &.search,
            &.search-close {
                right: 56px;
                width: 56px;
            }
            &.menuClose,
            &.search-close {
                border-bottom: 5px solid black;
                height: 56px;
            }
            i:before {
                margin: 0;
            }
            &.notifications{
                right: 112px;
                width: 56px;
                display: flex;
                justify-content: center;
                &:before{
                    content:"\f0f3";
                    font: normal normal normal 20px/1 FontAwesome;
                }
                &.enable{
                    &:before{
                        color: @secondary-color;
                        font-size: 25px;
                    }
                    .notifCount{
                        font-size: .3em;
                        color: white;
                        top: 20px;
                    }
                }

                .notifCount{
                    position:absolute;
                }
            }
        }
    }
    .search-box {
        background-color: white;
        margin: auto;
        max-width: @site-max-width;
        padding-top: 56px;
        padding: 66px 10px 10px;
        position: fixed;
        top: 0;
        transform: translateY(0);
        width: 100%;
        z-index: 90;
        input[type=search] {
            -webkit-appearance: none;
            background-color: @gzz-light-gray;
            border-radius: 5px;
            border: none;
            font-family: @base-font-family;
            font-size: 20px;
            font-weight: 300;
            height: 40px;
            margin-right: 50px;
            padding: 5px 10px ;
            width: 100%;
        }
        button{
            color: black;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        &.data-ng-hide {
            transform: translateY(-100%);
        }
        &.data-ng-hide-add.data-ng-hide-add-active,
        &.data-ng-hide-remove.data-ng-hide-remove-active {
            transition: transform 300ms cubic-bezier(0.620, -0.130, 0.390, 1.290);
        }


        [gzz-autocomplete]{
            .list {
                position: relative;
                border-radius: 0 0 5px 5px;
                border: none;
                border-top: 1px solid @gzz-medium-gray;
                background-color: @gzz-light-gray;
                box-shadow: 0 -5px 0 @gzz-light-gray;
                font-size: 20px;

                .item {
                    &.selected, &:hover {
                        background-color: @gzz-medium-gray;
                    }
                }
                .label{
                    border-bottom: solid 1px white;
                }
            }
        }
    }
    .main-menu {
        background-color: white;
        margin: auto;
        max-width: @site-max-width;
        padding-top: 56px;
        position: fixed;
        top: 0;
        transform: translateY(0);
        width: 100%;
        z-index: 90;
        &.data-ng-hide {
            transform: translateY(-100%);
        }
        &.data-ng-hide-add.data-ng-hide-add-active,
        &.data-ng-hide-remove.data-ng-hide-remove-active {
            transition: transform 300ms cubic-bezier(0.620, -0.130, 0.390, 1.290);
        }
        nav {
            padding: 20px;
            > *+* {
                margin-top: 20px;
            }
            a {
                font-size: 28px;
                font-weight: 300;
                display: block;
                &:hover {
                    color: @gzz-mint;
                }
            }
            .user-name, .current-country {
                font-size: 14px;
                color: @gzz-dark-gray;
                display: block;
            }

            label.form-field-select{
                padding: 0;
            }

            &.notif{
                padding: 0;
            }

            .notification:after, .notification:before {
                bottom: 100%;
                left: 75px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            .notification:after {
                border-color: rgba(250, 250, 250, 0);
                border-bottom-color: #fafafa;
                border-width: 8px;
                margin-left: -8px;
            }
            .notification:before {
                border-color: rgba(221, 221, 221, 0);
                border-bottom-color: #DDDDDD;
                border-width: 9px;
                margin-left: -9px;
            }
            .notification {
                background-color: white;
                display: flex;
                flex-direction: column;
                border-radius: 2px;

                ng-card {
                    display: flex;
                    margin:0;
                    border-radius: 0;
                    box-shadow: initial;
                }
                .empty{
                    &.containerLead{
                        display: flex;
                        flex-direction:row;
                        padding: 20px;
                        position: relative;
                        flex:1;
                        border-bottom: 1px solid @gzz-medium-gray;
                        &:before{
                            content:"\f075";
                            color: @gzz-dark-gray;
                            font: normal normal normal 30px/1 FontAwesome;
                            margin-right: 5px;
                        }
                        .notifTitle {
                            margin-left: 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-bottom: 0;
                            font-size: 1em;
                        }
                    }
                }
                .lead {
                    position: relative;
                    flex:1;
                    border-bottom: 1px solid @gzz-medium-gray;
                    .containerLead {
                        display: flex;
                        flex-direction:row;
                        padding: 10px;
                        position: relative;
                        flex:1;
                        &:before{
                            content:"\f075";
                            color: @gzz-dark-gray;
                            font: normal normal normal 30px/1 FontAwesome;
                            margin-right: 5px;
                        }
                        .notifTitle {
                            margin-left: 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-bottom: 0;
                            .date{
                                position: absolute;
                                bottom: 5px;
                                right: 5px;
                                padding-top: 2px;
                                font-size: .8em;
                                color: lightgrey;
                            }
                            .subText{
                                color: @gzz-dark-gray;
                            }
                        }
                    }
                }
                .package {
                   .lead;
                   .containerLead{
                        &:before{
                            margin: 0 9px;
                            content:"\f155";
                        }
                    }
                }
                div.viewMore{
                    display: flex;
                    padding: 5px 20px;
                    a:first-child{
                        border-right: solid 1px @gzz-light-gray;;
                    }
                    a{
                        justify-content: center;
                        font-size: 1em;
                        &:hover{
                            color: @secondary-color;
                        }
                        display: flex;
                        flex: 1;
                    }
                }
            }
        }
    }
    .overlay {
        background-color: fade(@gzz-coal, 95%);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        transition: all 5000ms ease;
        width: 100%;
        z-index: 80;
        opacity: 1;
        &.data-ng-hide {
            opacity: 0;
        }
        &.data-ng-hide-add.data-ng-hide-add-active,
        &.data-ng-hide-remove.data-ng-hide-remove-active {
            transition: all 300ms ease;
        }
        // &.ng-hide-add {
        //   opacity:0;
        // }
        // &.ng-hide-remove {
        //   opacity:1;
        // }
    }
    [ui-view] {
        position: relative;
    }
    .content{
        display: flex;
        flex-direction: column;
        flex:1;
    }
    footer{
        display: flex;
        flex-direction: column;
        min-height: 100px;
        justify-content: center;
        .social{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: white;
                min-width: 36px;
                min-height: 36px;
                &:not(:first-child){
                    margin-left: 20px;
                }
            }
        }
        .conditions{
            text-align: center;
            margin-top: 10px;
            div{
                padding-bottom: 8px;
                a{
                    color: white;
                }
            }
            .year{
                margin: 10px 0;
                font-size: 14px;
            }
        }
        color: white;
        background-color: @footer;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1920px){
        footer{
            .social{
                justify-content: center;
                div{
                    min-width: 36px;
                    min-height: 36px;
                    font-size: 1.2em;
                    &:not(:first-child){
                        margin-left: 60px;
                    }
                }
            }
        }
    }
}
