{{={{{ }}}=}}
<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <!-- CRAWLER -->
        <meta name="fragment" content="!">
        <title>{{{{title}}}}</title>
        <meta name="description" content="{{{{metadescription}}}}">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <!--[if !IE]><!-->
            <link href="//{{{dnsPrefetch.fontsGoogleApis}}}" rel="dns-prefetch" />
            <link href="//{{{dnsPrefetch.fontsGsStatic}}}" rel="dns-prefetch" />
            <link href="//{{{dnsPrefetch.ajaxGoogleApis}}}" rel="dns-prefetch" />
            <link href="//{{{dnsPrefetch.maxcdnBootstrapcdn}}}" rel="dns-prefetch" />
            <link href="{{{dnsPrefetch.llamaApi}}}" rel="dns-prefetch" />

        <!--<![endif]-->

        <meta property="og:url"              content="{{{{domain}}}}{{{{currentUrl}}}}" />
        <meta property="og:type"             content="website" />
        <meta property="og:title"            content="{{{{title}}}}" />
        <meta property="og:description"      content="{{{{metadescription}}}}" />
        <meta property="og:image"            content="http://res.cloudinary.com/llamaway/image/upload/v1474417326/logo_llamaway_kyjmjo.png" />
        <meta property="og:image:secure_url" content="https://res.cloudinary.com/llamaway/image/upload/v1474417326/logo_llamaway_kyjmjo.png" />
        <meta property="og:image:width"      content="200" />
        <meta property="og:image:height"      content="200" />
        <meta property="og:locale"           content="es_LA" />

        <link rel="apple-touch-icon" href="http://res.cloudinary.com/llamaway/image/upload/v1477336490/favicon_bi5igy.png">
        <link rel="shortcut icon" href="http://res.cloudinary.com/llamaway/image/upload/v1477336490/favicon_bi5igy.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <base href="/">
        <meta name="msapplication-TileImage" content="https://res.cloudinary.com/llamaway/image/upload/v1471139960/llamita_xtqk6e.png">
        <meta name="msapplication-TileColor" content="#222222">
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">

        <!-- CSS -->
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
              display: none !important;
            }
        </style>

        <script>
            window.appName = '{{{appName}}}';
            window.device = {
                mobile:true,
                desktop:false
            };
            window.env = {{{{envJSON}}}};
            window.log = function(){
                console.log(arguments);
            }

            function addLoadEvent(func) {
                var oldonload = window.onload;
                if(typeof window.onload != 'function') {
                    window.onload = func;
                } else {
                    window.onload = function() {
                        if(oldonload) {
                            oldonload();
                        }
                        func();
                    }
                }
            }
        </script>

        <!-- JS -->
        {{{#req.env.production}}}
            <link rel="stylesheet" href="/dist/apps/mainLayout/mobile.public.{{{finger_print}}}.min.css">
            <link rel="stylesheet" href="/dist/apps/{{{appName}}}/mobile.public.{{{finger_print}}}.min.css">
            <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
        {{{/req.env.production}}}

        {{{#req.env.development}}}
            <link rel="stylesheet" href="/dist/apps/mainLayout/mobile.public.css">
            <link rel="stylesheet" href="/dist/apps/{{{appName}}}/mobile.public.css">
            <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
        {{{/req.env.development}}}

    </head>
    <body data-ng-app="mainLayout" data-ng-cloak class="mobile {{{req.env.name}}}">
        <div data-ng-controller="MainLayoutCtrl" data-app-name="{{{{appName}}}}">
            <div class="mainSpinner">
                <i class="fa fa-spinner icon-spinner"></i>
            </div>
            <header class="top-nav">
                <div class="logo">
                    <a href="/"><img src="https://res.cloudinary.com/llamaway/image/upload/v1471139960/llamita_xtqk6e.png" alt="Llamaway logo"></a>
                </div>

                <button class="notifications" data-ng-if="user.companyId" data-ng-class="{'enable':notifications.length > 0}" data-ng-click="toggleNotifications()">
                    <span class="notifCount" data-ng-if="notifications.length > 0">{{notifications.length}}</span>
                </button>

                <button class="menu" data-ng-click="ix.modal='menu'" data-ng-show="ix.modal!='menu'">
                    <i class="gzz-icon-m-header-menu"></i>
                </button>

                <button class="search" data-ng-click="ix.modal='searchBox'; ix.focusSearchBox=true;" data-ng-show="ix.modal!='searchBox'">
                    <i class="gzz-icon-m-header-search"></i>
                </button>

                <button class="menu-close" data-ng-click="ix.modal=null" data-ng-show="ix.modal=='menu'">
                    <i class="gzz-icon-m-header-close"></i>
                </button>

                <button class="search-close" data-ng-click="ix.modal=null" data-ng-show="ix.modal=='searchBox'">
                    <i class="gzz-icon-m-header-close"></i>
                </button>
            </header>

            <div class="search-box" data-ng-show="ix.modal=='searchBox'">
                <form data-ng-submit="submit($event)">
                    <div gzz-autocomplete="instantSearchResult" gzz-on-select="onSelect">
                        <input type="search"
                               name="q"
                               placeholder="Busc&aacute; tu aventura"
                               gzz-focus="ix.focusSearchBox"
                               data-ng-model="data.searchQuery"
                               data-ng-model-options="{debounce: { 'default': 200 } }"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off">

                        <button type="submit"><i class="gzz-icon-search"></i></button>

                        <div class="list" data-ng-show="lists.length ">
                            <div data-ng-repeat="(numberList,list) in lists">
                                <div class="label">{{list.label}}</div>
                                <a data-ng-repeat="(index,item) in list.elements"
                                class="item"
                                data-ng-class="{selected:(index == selectedIndex && numberList == currentList)}"
                                data-ng-href="{{item.link}}">
                                    {{item.name}}
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="main-menu" data-ng-show="ix.modal=='menu' || ix.modal=='notification'">
                <nav data-ng-hide=" ix.modal=='notification'" data-ng-show="ix.modal=='menu'">
                    <a data-ng-if="!user" data-ng-click="login()" data-ng-click="ix.modal=null" rel="nofollow">Iniciar sesión</a>
                    <a href="/mi-cuenta#/mis-datos" data-ng-click="ix.modal=null" data-ng-if="user" rel="nofollow">Mi cuenta</a>
                    <div data-ng-if="user">
                        <a data-ng-click="logout()" rel="nofollow">Cerrar sesión</a>
                        <span class="user-name">{{user.first_name}} {{user.last_name}}</span>
                    </div>
                </nav>
                <nav data-ng-show="ix.modal=='notification'" data-ng-class="{'notif':ix.modal=='notification'}">
                    <div class="notification">
                        <div data-ng-if="notifications && notifications.length > 0" data-ng-repeat="notification in notifications">
                            <ng-card class="{{notification.type}}" data-ng-if="notification.type =='lead'" data-ng-click="showLeads(notification.lead._id)">
                                <div class="containerLead">
                                    <div class="notifTitle title-sm">
                                        <span data-ng-if="!notification.lead.contactName">Consulta pendiente</span>
                                        <span data-ng-if="notification.lead.contactName">{{notification.lead.contactName}}</span>
                                        <p class="subText" data-ng-if="notification.lead.description">{{notification.lead.description | limitTo:30 }}...</p>
                                        <div class="subText" data-ng-if="!notification.lead.contactName && lead.adventure">Aventura: {{notification.lead.adventure.name}}</div>
                                        <span class="date" data-ng-if="notification.contactDateDays > 0">Hace {{notification.contactDateDays}} {{notification.contactDateLabel}}</span>
                                        <span class="date" data-ng-if="notification.contactDateDays == 0">{{notification.contactDateLabel}}</span>
                                    </div>
                                </div>
                            </ng-card>
                            <ng-card class="{{notification.type}}" data-ng-click="showPackages(notification.package._id)" data-ng-if="notification.type =='package'">
                                <div class="containerLead">
                                    <div class="notifTitle title-sm">
                                        <div>
                                            <div data-ng-if="notification.package.state == 'intention_payment_mp' || notification.package.state == 'pending' || notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'in_process' || notification.package.mp.payment.status == 'rejected' || notification.package.mp.payment.status == 'in_mediation'">El paquete {{notification.package.title}} que contrataste esta pendiente</div>
                                            <div class="enable" data-ng-if="notification.package.state == 'enable_backoffice' || notification.package.state == 'enable_mp'">El paquete {{notification.package.title}} que contrataste esta acreditado</div>
                                            <div data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'cancelled'">Cancelaste tu pago en MercadoPago</div>
                                            <div data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'refunded'">Tu pago fue reembolsado en MercadoPago</div>
                                            <div data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'charged_back'">Te fue hecho un contracargo en la tarjeta</div>
                                            <div class="subText" data-ng-if="notification.package.state == 'intention_payment_mp'">Retoma tu pago.</div>
                                            <div class="subText" data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'in_process'" alt="MercadoPago está procesando tu pago">MercadoPago esta procesando tu pago</div>
                                            <div class="subText" data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'rejected'" alt="MercadoPago está procesando tu pago">MercadoPago rechazó tu pago. Hacé un nuevo pago.</div>
                                            <div class="subText" data-ng-if="notification.package.state == 'other_mp' && notification.package.mp.payment.status == 'in_mediation'" alt="MercadoPago está procesando tu pago">Tu pago está en mediación en MercadoPago</div>
                                        </div>
                                        <span class="date">Hace {{notification.contactDateDays}} {{notification.contactDateLabel}}</span>
                                    </div>
                                </div>
                            </ng-card>
                        </div>
                        <div data-ng-if="!notifications || notifications.length == 0">
                            <div class="empty containerLead">
                                <div class="notifTitle title-sm">
                                    <div>No tenés notificaciones pendientes</div>
                                </div>
                            </div>
                        </div>
                        <div class="viewMore">
                            <a href="" nofollow data-ng-click="showLeads()"><div>Ver Consultas</div></a>
                            <a href="" nofollow data-ng-click="showPackages()"><div>Ver Paquetes</div></a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="overlay" data-ng-click="ix.modal=''" data-ng-class="{'ng-hide':(ix.modal!='menu' && ix.modal!='searchBox' && ix.modal!='notification')}"></div>

            <div class="content">
                {{{{content}}}}
            </div>
            <footer>
                <div class="footer-wrapper">
                    <div class="social">
                        <div><a href="https://www.facebook.com/llamaway" target="_blank"><i class="fa fa-facebook"></i></a></div>
                        <div><a href="https://www.twitter.com/llamaway" target="_blank"><i class="fa fa-twitter"></i></a></div>
                        <div><a href="https://www.linkedin.com/companies/llamaway" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                        <div><a href="https://www.instagram.com/llamawaycom/" target="_blank"><i class="fa fa-instagram"></i></a></div>
                        <div><a href="https://es.pinterest.com/llamaway/" target="_blank"><i class="fa fa-pinterest"></i></a></div>
                    </div>
                    <div class="conditions">
                        <div>
                            <a href="/politica-privacidad">Términos y Politicas de Privacidad</a>
                        </div>
                        <div>
                            <a href="/preguntas-frecuentes">Preguntas Frecuentes</a>
                        </div>
                        <div class="year">                  
                            <div>   
                                Copyright 2016 Llamaway S.A<br>
                                Todos los derechos reservados
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        {{{#req.env.production}}}
            <script src="/dist/apps/{{{appName}}}/view.public.{{{finger_print}}}.min.js"></script>
            <script src="/dist/apps/mainLayout/view.public.{{{finger_print}}}.min.js"></script>
        {{{/req.env.production}}}

        {{{#req.env.development}}}
            <script src="/dist/apps/{{{appName}}}/view.public.js"></script>
            <script src="/dist/apps/mainLayout/view.public.js"></script>
        {{{/req.env.development}}}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{{gtmId}}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{{gtmId}}}');</script>
        <!-- End Google Tag Manager -->

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{{googleAnalyticsId}}}', 'auto');
        ga('send', 'pageview', {
            'page': location.pathname + location.search  + location.hash
        });
        </script>

        <script>
            function initDefer() {
                //Imagenes
                var imgDefer = document.getElementsByTagName('img');
                for (var i=0; i<imgDefer.length; i++) {
                    if(imgDefer[i].getAttribute('data-src')) {
                        imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
                    } 
                }

            }
            window.addLoadEvent(initDefer);
            /*
            var deltaScrollY = 0;
            var lastScrollY = 0;
            var nav = document.querySelector('.top-nav');
            window.onscroll = function() {
                deltaScrollY++;
                if(deltaScrollY >20) {
                    deltaScrollY = 0;
                    if(req.device && req.device.isMobile){
                        if(window.scrollY > lastScrollY){
                            nav.style.position = 'absolute';
                        } else {
                            nav.style.position = 'fixed';
                        }
                    }
                    lastScrollY = window.scrollY;
                }
            };
            */
        </script>
    </body>
</html>
