@import '../../less/global/colors';

[gzz-autocomplete], tags-input{
	position: relative;
	.list{
		background-color: white;
		border-radius: 0 0 2px 2px;
		border: solid 1px @gzz-medium-gray;
		box-shadow: 0 1px 2px fade(@gzz-coal, 10%);
		color:@gzz-coal;
		left: 0;
		margin-top: -1px;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 79;
		overflow: hidden;


		.item{
			display: block;
			text-align: left;
			padding: 10px 10px 10px 50px;


			&.selected, &:hover{
				background-color: @gzz-light-gray;
			}

			.name, .email {
				vertical-align: baseline;
				line-height: normal;;
				overflow: hidden;
				display: block;
				@media screen and (min-width: 510px) {
				    display: inline-block;
				}
			}
			.name {
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 100%;
				@media screen and (min-width: 510px) {
					max-width: 40%;
					margin-right: 10px;
				}
			}
			.name+.email {
				color: @gzz-dark-gray;
				font-size: 14px;
				font-weight: 300;
				@media screen and (min-width: 510px) {
					font-weight: 400;
				 	font-size: 16px;
				}
			}
		}
		.label{
			text-align: left;
	        padding: 10px 10px 0px 10px;
	        font-weight: 600;
		}
	}
}
