{{={{{ }}}=}}
<div data-ng-controller="PackageCtrl" data-ng-init='data.packages={{{packages}}}'>
    <section data-section-name="hire">
        <h1 data-ng-hide="flag">
			Contratá el paquete que más se adapte a vos
		</h1>
        <p data-ng-hide="flag">Elegí el pack que vos quieras y tendrás más consultas para ver</p>
        <h1 data-ng-show="flag">
            Para ver los datos del usuario tienes que contratar uno de los siguientes paquetes:
        </h1>

        <div class="packageNew">
            <div class="individualPackage" data-ng-show="package.state" data-ng-repeat="(index, package) in data.packages | orderBy:'order'">
                <div class="image {{'image'+index}}"></div>
                <div class="packageItem {{'package'+index}}">
                    <div class="info">
                        <div class="title"><span>{{package.title}}</span></div>
                        <div class="price"><span class="currency">$</span><span>{{package.price}}</span></div>
                        <div class="leads"><span>{{package.leads}}</span> contactos</div>
                    </div>
                    <div class="buttonContact">
                        <button class="button button-secondary button-lg ng-binding" data-ng-click="contratar(package)">
                            <span class="priceLeads">
                                <span>Contratar</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>            
        </div>


        <div class="notNow">
            <button class="button button-secondary button-lg ng-binding" data-ng-click="notNow()">
                No deseo contratar ningun paquete
            </button>
        </div>
        <div class="unlock">
            <br>Para más información comunicate a <a  href="mailto:comercial@llamaway.com?subject=Consulta de contratación de paquetes" class="moreInformation">comercial@llamaway.com</spaan>
        </div>
    </section>
</div>
