@import '../../less/global/colors';
@import '../../less/global/modal';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';


[data-ng-controller="PackageCtrl"] {
    display: flex;
    flex-direction: column;
    color: @primary-color;
    align-items: center;
    //border-top: 3px solid @grey-red-color;
    flex: 1;

    .maxWidth1440{
        max-width:  1440px;
        min-width: 1132px;
        margin: auto;
    }
    .maxWidth1440;

    .boldText {
        font-weight: 500;
    }
    .secondary {
        color: @secondary-color;
    }

    header {
    }
    section {
        display: flex;
        flex-direction: column;
        padding: 10px;
        flex:1;
    }

    [data-section-name="hire"] {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        justify-content: center;
        width: 100%;
        h1{
            font-size: 2rem;
            font-weight: 600;
            padding: 20px;
            text-align: center;
            border-bottom: none;
        }
        p{
            font-size: 1.5em;
            padding: 20px
        }
        .notNow {
            margin: 20px;
            justify-content: center;
            display: flex;
        }
        .unlock{
            text-align: center;
            margin: 20px;
            h2{
                font-size: 1.3em;
                font-weight: 300;
            }
            p{
                font-size: 1.2em;
            }
            .moreInformation{
                text-decoration: none;
                color: @secondary-color;
                font-weight: 500;
            }
        }

        .packageNew{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            max-width: 900px;
            width: 100%;
            .individualPackage{
                position: relative;
                border-radius: 30px;
                >div{
                    min-width: 250px;
                    min-height: 300px;
                }
                .image{
                    border-radius: 30px;
                    &.image0{
                        background-image: url("https://res.cloudinary.com/llamaway/image/upload/v1480454844/logo1-3_nthxcm.png");
                    }
                    &.image1{
                        background-image: url("https://res.cloudinary.com/llamaway/image/upload/v1480454844/logo2-3_mxrnvw.png");
                    }
                    &.image2{
                        background-image: url("https://res.cloudinary.com/llamaway/image/upload/v1480454844/logo3-3_ughihg.png");
                    }
                }
                .packageItem{
                    border-radius: 30px;
                    position: absolute;
                    top: 0;
                    color: white;
                    //color: @primary-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .info{
                        .title{    
                            display: flex;
                            justify-content: center;
                            font-size: 3em;
                            font-weight: 600;
                            font-family: 'Amatica SC', cursive;
                        }
                        .price{
                            display: flex;
                            align-content: initial;
                            font-size: 36px;
                            margin-left: 20px;
                            padding-top: 20px;
                            .currency{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-right: 10px;
                                font-size: 24px;
                            }
                        }
                        .leads{
                            text-align: center;
                            font-size: 1.5em;
                            padding: 20px;
                        }
                    }
                    .buttonContact{
                        margin: 20px auto;
                    }
                }
                .package0{
                    background-color: rgba(81, 41, 84, 0.9);
                }
                .package1{
                    background-color: rgba(81, 41, 84, 0.9);
                }
                .package2{
                    background-color: rgba(81, 41, 84, 0.9);
                }
            }
        }
    }
}