@import '../../less/global/colors';
@import '../../less/global/modal';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';
@site-max-width: 750px;
@site-min-width: 320px;
[data-ng-controller="PackageCtrl"] {
    background: rgba(84, 41, 89, .4);
    display: flex;
    flex-direction: column;
    color: @primary-color;
    flex: 1;
    .boldText {
        font-weight: 500;
    }
    .secondary {
        color: @secondary-color;
    }
    header {
        margin-top: 56px;
        padding: 20px;
        background-color: white;
        text-align: center;
        border-bottom: none;
    }
    section {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
    }
    [data-section-name="hire"] {
        padding: 0;
        .packages{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid @grey-red-color;
            .benefits {
                display: flex;
                flex-direction: column;
                .benefit{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .name{
                        padding: 10px 0;
                        text-align: center;
                    }
                    .checks{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: stretch;
                        width: 100%;
                        min-height: 50px;
                        >div{
                            flex:1;
                            &:not(.withoutLine){
                                border-right: 1px solid @grey-red-color;
                            }
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            &.icon{
                                font: normal normal normal 20px/1 FontAwesome;
                                color:@secondary-color;
                            }
                            &.check{
                                &:before{
                                    content:"\f00c";
                                } 
                            }
                            &.noCheck{
                                &:before{
                                    content:"\f00d";
                                } 
                            }
                        }
                    }
                }
            }
            .titles {
                display: flex;
                flex-direction: row;
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 48px;
                    text-align: center;
                    border-bottom: 1px solid @primary-color;
                    flex: 1;
                    &.selected{
                        background-color: @primary-color;
                        color: white;
                        border-radius: 10px 10px 0 0;
                    }
                }
                div {
                    padding: 10px;
                }
            }
            .prices{
                display: flex;
                .price {
                    flex:1;
                    border-left: 1px solid @grey-red-color;
                    padding-top: 5px;
                    padding-bottom: 5px;
                   &:first-child{
                        border-left: none;
                    }
                    button {
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        min-width: 72px;
                        min-height: 52px;
                        &.smallPadding{
                            padding: 8px 5px;
                        }
                        .leads {
                            font-size: .8rem;
                        }
                        &:first-child{
                            //margin-left: 0;
                        }
                        .priceLeads .big{
                            display: block;
                        }
                        .priceLeads{
                            &:not(.big){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .notNow {
            margin: 20px;
            justify-content: center;
            display: flex;
        }
        .unlock{
            text-align: center;
            margin: 20px;
            h2{
               font-weight: 300;
            }
            .moreInformation{
                text-decoration: none;
                color: @secondary-color;
                font-weight: 500;
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        [data-section-name="hire"] {
            .packages{
                .titles{
                    font-size: 1.3em;
                }
                .benefits{
                    font-size: 1.2em;
                }
            }
        }
    }
    @media only screen and (max-width: 600px) {
        [data-section-name="hire"] {
            .packages{
                .titles{
                    font-size: 1.2em;
                    .title{
                        height: 70px;
                    }
                }
                .benefits{
                    font-size: 1.2em;
                    .benefit .checks{
                        font-size: 1em;
                    }   
                }
                .prices .price button{
                    min-width: 72px;
                    min-height: 40px;
                    .priceLeads{
                        &.big{
                            display: none;
                        }   
                        &:not(.big){
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
