{{={{{ }}}=}}
<div data-ng-controller="PackageCtrl" data-ng-init='data.packages={{{packages}}}'>
    <section data-section-name="hire">
        <header>
            <h1 data-ng-hide="flag">
                Contratá el paquete que más se adapte a vos
            </h1>
            <h1 data-ng-show="flag">
                Para ver los datos del usuario tienes que contratar uno de los siguientes paquetes:
            </h1>
        </header>
        <div class="packages">
            <div class="titles">
                <div class="title" data-ng-show="package.state" data-ng-repeat="(index, package) in data.packages | orderBy:'order'">
                    {{package.title}}
                </div>
            </div>
            <div class="benefits">
                <div class="benefit">
                    <div class="checks">
                    	<div></div>
                    	<div class="name">Contactos</div>
                    	<div></div>
                    </div>
                    <div class="checks">
                        <div data-ng-show="package.state" data-ng-repeat="(index, package) in data.packages | orderBy:'order'"><span>{{package.leads}}</span></div>
                    </div>
                </div>
                <div class="benefit">
                    <div class="checks">
                    	<div></div>
                    	<div class="name">Precio</div>
                    	<div></div>
                    </div>
                    <div class="checks">
                        <div data-ng-show="package.state" data-ng-repeat="(index, package) in data.packages | orderBy:'order'"><span>$ {{package.price}}.-</span></div>
                    </div>
                </div>
            </div>
            <div class="prices">
                <div class="price" data-ng-show="package.state" data-ng-repeat="(index, package) in data.packages | orderBy:'order'">
                    <button class="button button-primary button-sm ng-binding" data-ng-click="contratar(package)">
                        <span class="priceLeads">
							<span>Contratar</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="notNow">
            <button class="button button-secondary button-ls ng-binding" data-ng-click="notNow()">
                No deseo contratar ningun paquete
            </button>
        </div>
        <div class="unlock">
            <br>Para más información <span class="moreInformation">Comunicate a comercial@llamaway.com</span>
        </div>
    </section>
</div>
