@import '../../less/global/colors';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/desktop/modal';
@import '../../less/desktop/forms';
@import '../../less/desktop/buttons';
@import '../../less/desktop/cards';

[data-ng-controller="ProfileCtrl"]{
    display: flex;
    flex-direction: column;
    flex: 1;

    .container{
        background: inherit;
        flex:1;
        width:  1280px;
        margin: auto;
        .page-header{
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            border: 0px;
            background-color: white;
            margin-top: 16px;
        }

        .details {
            font-size: 20px;
            display: flex;
            ng-card{
                margin: 24px 0px 0px 0px;
                background-color: white;
                .card-title{
                    font-size: 20px;
                    color: @primary-color;
                }
                .card-text{
                    font-size: 16px;
                    line-height: 1.5em;
                    color: @primary-color;
                }
                .card-company-text{
                    font-size: 16px;
                    line-height: 1.5em;
                    color: @primary-color;
                }
            }
            .right {
                flex-basis: 25%;
                .activities{
                    .activity{
                        padding: 10px 0;
                        &:last-child{
                            border: none;
                        }
                    }
                }
            }
            .left {
                flex-basis: 75%;
                margin-right: 16px;
                .card-title {
                    color: #6A2871;
                }
                .featured-adventures{
                    .adventures{
                        display: flex;
                        flex-wrap: wrap;
                        padding-top: 1px;
                        justify-content: space-around;
                        ng-card{
                            background-color: white;
                        }
                        .card-adventure{
                            width: 300px;
                            .image-container{
                                img{
                                    width: 100%;
                                    max-width: 300px;
                                    max-height: 177px;
                                }
                            }
                            .aventure-data-container{
                                position: relative;
                                background-color: white;

                                .general-data{
                                    padding: 8px;
                                    display: flex;
                                    flex-direction: column;
                                    .description{
                                        color:@primary-color;
                                        .name{
                                            .title{
                                                font-size: 20px;
                                            }
                                        }
                                        .place{
                                            font-size: 16px;
                                            padding-top: 4px;
                                            color: grey;
                                        }
                                    }
                                    .specs {
                                        display: flex;
                                        justify-content: space-around;
                                        margin: 12px 0px 12px 0px; 
                                        color:@primary-color;
                                        .icon {
                                            font-size: 32px;
                                            padding-bottom: 8px;
                                        }
                                        .time, .difficulty {
                                            display: flex;
                                            flex-basis: 32%;
                                            justify-content: center;
                                            flex-direction: column;
                                            align-items: center;
                                            .data{
                                                display: flex;
                                            }
                                            span {
                                                text-align: center;
                                            }
                                        }
                                        .type-container{
                                            display: flex;
                                            flex-basis: 36%;
                                            align-items: center;
                                            justify-content: center;
                                            .type{
                                                display: flex;
                                                flex-wrap: wrap;
                                                justify-content: space-around;
                                                align-items: center;
                                                max-width: 106px;
                                                max-height: 106px;
                                                overflow: hidden;
                                                .activity-sprite{
                                                    margin: 4px;
                                                }
                                                .sprite-acuatico { 
                                                    background-position: 0 0 !important;
                                                }
                                                .sprite-avistaje { 
                                                    background-position: -42px 0 !important; 
                                                }
                                                .sprite-cabalgata { 
                                                    background-position: -85px 0 !important; 
                                                }
                                                .sprite-camping { 
                                                    background-position: -129px 0 !important; 
                                                }
                                                .sprite-ciclismo { 
                                                    background-position: -171px 0 !important; 
                                                }
                                                .sprite-extremo { 
                                                    background-position: -215px 0 !important; 
                                                }
                                                .sprite-invernal { 
                                                    background-position: -258px 0 !important; 
                                                }
                                                .sprite-expedicion { 
                                                    background-position: -301px 0 !important; 
                                                }
                                                .sprite-montanismo { 
                                                    background-position: -344px 0 !important; 
                                                }
                                                .sprite-pesca { 
                                                    background-position: -386px 0 !important; 
                                                }
                                                .sprite-otros { 
                                                    background-position: -430px 0 !important; 
                                                }
                                            }
                                        }
                                    }
                                    .pricing{
                                        position: absolute;
                                        top:-53px;
                                        right: 0px;
                                        color:white;
                                        background-color: rgba(45,45,45,0.9);
                                        padding: 8px;
                                        .money-symbol{
                                            .icon{
                                                font-size: 18px;
                                            }
                                        }
                                        .currency{
                                            font-size: 16px;
                                        }
                                        .price{
                                            display: flex;
                                            align-items: center;
                                            font-size: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .center{
                        float: left;
                        width: 100%;
                        text-align: -webkit-center;
                        padding-left: 4%;
                        padding-right: 4%;
                        a{
                            @media screen {
                                @media (max-width: 480px) {
                                    padding-top: 5%;
                                }
                                @media (min-width: 480px) {
                                   padding-top: 10%;
                                }
                            }
                            float:left;
                            color: white;
                            .icon{
                                display: table-cell;
                            }
                            .label{
                                display: table-row;
                            }
                        }
                    }
                }
                .view-more {
                    text-align: center;
                    background: rgb(246, 244, 249);
                    a {
                        margin-right: 0px!important;
                        color: #6A2871!important;
                    }
                }
                .aboutUs {
                    .card-content .company {
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        .logo {
                            width: 100px;
                            background-color: white;
                            border-radius: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            overflow: hidden;
                            align-content: center;
                            background-color: white;
                            border: 1px solid @gzz-medium-gray;
                            margin-right: 20px;
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                flex-grow: 0;
                            }
                        }
                        .data {
                            margin-top: 0;
                            .company-name {
                                font-size: 1.3em;
                                font-weight: 300;
                                text-transform: capitalize;
                            }
                            .location {
                                i {
                                    color: @gzz-dark-gray;
                                    padding-right: 10px;
                                }
                                span {
                                    color: @gzz-dark-gray;
                                    font-size: 1em;
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .page-header{
        padding: 0;
        .company {
            padding: 16px 2rem;
            position: relative;
            display: flex;
            align-items: center;
            .logo {
                width: 150px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                align-content: center;
                background-color: white;
                border: 1px solid @gzz-medium-gray;
                margin-right: 20px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    flex-grow: 0;
                }
            }
            .data {
                margin-top: 0;
                .company-name {
                    margin-bottom: 0;
                    font-size: 24px;
                    text-transform: capitalize;
                }
                .location {
                    i{
                        color: @gzz-dark-gray;
                        padding-right: 10px;
                    }
                    span{
                        font-size: 1em;
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .actions {
        display: flex;
        margin-top: 20px;
        .button {
            flex: 1;
            margin: 0;
            +.button {
                margin-left: 10px;
            }
            &.contact {
              flex-basis: 2;
              flex-grow: 2;
            }
        }
    }
    .contact{
        padding: 20px;
    }
}