@import '../../less/global/colors';
@import '../../less/global/modal';
@import '../../less/global/directives';
@import '../../less/mobile/forms';
@import '../../less/mobile/layout';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';
@site-max-width: 750px;
@site-min-width: 320px;

[data-ng-controller="ProfileCtrl"]{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    ng-card{
        background-color: white;
        margin: 0px 0px 24px 0px;
    }

    .container{
        background: inherit;
        flex:1;
        .page-header{
            margin-top: 56px;
            box-sizing: initial;
        }

        .adventures{
            .card-adventure{
                .image-container{
                    img{
                        width: 100%;
                    }
                }
                .aventure-data-container{
                    position: relative;
                    background-color: white;
                    .general-data{
                        padding: 8px;
                        .description{
                            color:@primary-color;
                            .name{
                                .title{
                                    font-size: 20px;
                                }
                            }
                            .place{
                                font-size: 16px;
                                padding-top: 4px;
                                color: grey;
                            }
                        }
                        .specs {
                            display: flex;
                            justify-content: space-around;
                            margin: 12px 0px 12px 0px; 
                            color:@primary-color;
                            .icon {
                                font-size: 32px;
                                padding-bottom: 8px;
                            }
                            .time, .difficulty {
                                display: flex;
                                flex-basis: 32%;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                .data{
                                    display: flex;
                                }
                                span {
                                    text-align: center;
                                }
                            }
                            .type-container{
                                display: flex;
                                flex-basis: 36%;
                                align-items: center;
                                justify-content: center;
                                .type{
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    align-items: center;
                                    max-width: 106px;
                                    max-height: 106px;
                                    overflow: hidden;
                                    .activity-sprite{
                                        margin: 4px;
                                    }
                                    .sprite-acuatico { 
                                        background-position: 0 0 !important;
                                    }
                                    .sprite-avistaje { 
                                        background-position: -42px 0 !important; 
                                    }
                                    .sprite-cabalgata { 
                                        background-position: -85px 0 !important; 
                                    }
                                    .sprite-camping { 
                                        background-position: -129px 0 !important; 
                                    }
                                    .sprite-ciclismo { 
                                        background-position: -171px 0 !important; 
                                    }
                                    .sprite-extremo { 
                                        background-position: -215px 0 !important; 
                                    }
                                    .sprite-invernal { 
                                        background-position: -258px 0 !important; 
                                    }
                                    .sprite-expedicion { 
                                        background-position: -301px 0 !important; 
                                    }
                                    .sprite-montanismo { 
                                        background-position: -344px 0 !important; 
                                    }
                                    .sprite-pesca { 
                                        background-position: -386px 0 !important; 
                                    }
                                    .sprite-otros { 
                                        background-position: -430px 0 !important; 
                                    }
                                }
                            }

                        }
                        .pricing{
                            position: absolute;
                            top:-53px;
                            right: 0px;
                            color:white;
                            background-color: rgba(45,45,45,0.9);
                            padding: 8px;
                            .money-symbol{
                                .icon{
                                    font-size: 18px;
                                }
                            }
                            .currency{
                                font-size: 16px;
                            }
                            .price{
                                display: flex;
                                align-items: center;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }

        .featured-adventures{
            background-color: white;
            .center{
                float: left;
                width: 100%;
                text-align: -webkit-center;
                padding-left: 4%;
                padding-right: 4%;   
                a{
                    @media screen {
                        @media (max-width: 480px) {
                            padding-top: 5%;
                        }
                        @media (min-width: 480px) {
                           padding-top: 10%;
                        }
                    }
                    float:left;
                    color: white;
                    .icon{
                        display: table-cell;
                    }
                    .label{
                        display: table-row;   
                    }
                }
            }
        }
    }
    .my-form {
        background-color: @white;
        .alert{
            >img{
                height: 15px;
            }
        }
        .alert+form {
            border-top: 1px solid @gzz-medium-gray;
        }
        form{
            padding: 20px;
            .field-text, .field-label {
                &.small{
                    display: block;
                    font-size: 15px;
                    font-weight: 300;
                }
            }

            .field-text.pageUrl{
                overflow-wrap: break-word;
            }
            .light{
                color: @gzz-dark-gray;
            }
        }

    }
    .company {
        position: relative;
        display: flex;
        align-items: center;
        .logo {
            width: 200px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            align-content: center;
            background-color: white;
            border: 1px solid @gzz-medium-gray;
            margin-right: 20px;
            img {
                max-width: 100%;
                max-height: 100%;
                flex-grow: 0;
            }
        }
        .data {
            margin-top: 0;
            .company-name {
                margin-bottom: 0;
                font-weight: bold;
                text-transform: capitalize;
            }
            .location {
                i{
                    color: @gzz-dark-gray;
                    padding-right: 10px;
                }
                span{
                    font-size: 1em;
                    margin-top: 0;
                }
            }
        }
    }
    .actions {
        display: flex;
        margin-top: 20px;
        .button {
            flex: 1;
            margin: 0;
            +.button {
                margin-left: 10px;
            }
            &.contact {
              flex-basis: 2;
              flex-grow: 2;
            }
        }
    }
}