{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
<script src="/libs/ngmap/build/scripts/ng-map.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyB7JjfMgbUyZmzHQxVxZr0IZkt4cND_ySw"></script>

<div data-ng-controller="ProfileCtrl" data-ng-init='data.companyId="{{{companyId}}}"; data.company={{{{companyJSON}}}};'>
	<div class="container">
		<header class="page-header">
			<div class="company">
				<div class="logo">
					<img src="{{{profile_picture}}}" alt="{{{company.name}}} logo"/>
				</div>
				<div class="data item">
					<h1 class="title-hero company-name">{{{company.name}}}</h1>
					<div class="location">
						<i class="fa fa-map-marker"></i><span>{{{company.golocation.formatted_address}}}</span>
					</div>
					<div class="actions">
						<button class="button button-primary button-sm button-block ng-binding" data-ng-click="showContactForm()">
							Contactar
						</a>
					</div>
				</div>
			</div>
		</header>
		<div data-ng-if="ix.infoUpdated" class="alert alert-positive">
		  <strong>¡Tu consulta fué enviada exitosamente!</strong><br>
		  <p>En breve te llegará un email con los datos del guia</p>
		</div>
		<ng-card class="share">
			<div class="card-content">
				<span class="card-title">
					Compartir
					<button class="button-facebook" data-ng-click="facebookShare()">
						<i class="button-icon" aria-hidden="true"></i>
					</button>
					<button class="button-twitter" data-ng-click="twitterShare()">
						<i class="button-icon" aria-hidden="true"></i>
					</button>
				</span>
			</div>
		</ng-card>
		<ng-card>
		   <card-content card-title="Sobre nosotros" data-ng-class="{'viewAll':ix.viewAllDescription}" card-text="<div class='short-card'>{{{company.description}}}</div>">
		   </card-content>
		   <card-action class="center">
		   	  <a data-ng-click="ix.viewAllDescription=!ix.viewAllDescription">Seguir Leyendo</a>
		   </card-action>
		</ng-card>
		<ng-card>
			<ng-map zoom="11" center="[{{data.company.location.coords.lat + ',' + data.company.location.coords.lng}}]">
				<marker position="[{{data.company.location.coords.lat + ',' + data.company.location.coords.lng}}]" title="location"></marker>
			</ng-map>
		</ng-card>
		<ng-card>
			<card-activity data-ng-title="'Tipos de Actividades'" data-ng-activities="data.company.activities">
			</card-activity>
		</ng-card>
	    <section class="featured-adventures" data-ng-show="data.adventures">
	        <h2 class="title">
	            Aventuras
	        </h2>
	        <div class="adventures">
		        <ng-card data-ng-repeat="adventure in data.adventures">
	                <a href="/aventura/{{adventure.safeUrlName}}_{{adventure._id}}" >
	                    <div class="card-adventure">
	                        <div class="image-container">
	                            <img ng-src="{{adventure.profile_picture.length ? adventure.profile_picture[0].url : adventure.profile_picture.url}}">
	                        </div>
	                        <div class="aventure-data-container">
	                            <div class="general-data">
	                                <div class="description">
	                                    <div class="name">
	                                        <h1 class="title">
	                                            {{adventure.name}}
	                                        </h1>
	                                        <div class="place">
	                                            {{adventure.location.address}}
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="specs">
	                                    <div class="type-container">
	                                        <div class="type">
	                                            <div data-ng-repeat="type in adventure.activityType" class='activity-sprite {{type.class}}'
	                                                style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
	                                                no-repeat top left; width: 41px; height: 41px;">
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="time">
	                                        <span class="icon material-icons" aria-hidden="true">schedule</span>
	                                        <div class="data">
	                                            <span>{{adventure.duration}}</span>
	                                            <span data-ng-show="adventure.takeDays">&nbsp;{{adventure.duration>1?'días':'día'}}</span>
	                                            <span data-ng-show="!adventure.takeDays">&nbsp;{{adventure.duration>1?'horas':'hora'}}</span>
	                                        </div>
	                                    </div>
	                                    <div class="difficulty">
	                                        <span class="icon material-icons" aria-hidden="true">fitness_center</span>
	                                        <span data-ng-show="adventure.difficulty==0">&nbsp;Fácil</span>
	                                        <span data-ng-show="adventure.difficulty==1">&nbsp;Normal</span>
	                                        <span data-ng-show="adventure.difficulty==2">&nbsp;Difícil</span>
	                                        <span data-ng-show="adventure.difficulty==3">&nbsp;Experto</span>
	                                    </div>
	                                </div>
	                                <div class="pricing">
	                                    <div class="price">
	                                        <span class="money-symbol">
	                                            <span class="icon material-icons md-48" aria-hidden="true">attach_money</span>
	                                        </span>
	                                        <span>
	                                            {{adventure.price?adventure.price:'consultar'}}&nbsp;
	                                        </span>
	                                        <span data-ng-show="adventure.price" class="currency">
	                                            {{adventure.currency == 0 ? 'ARS' : 'USD'}} 
	                                        </span>
	                                    </div>
	                                </div>
	                            </div>
	                          </div>
	                     </div>
	                </a>
	            </ng-card>
	        </div>
	    </section>
		<!-- Comiezo del formulario de contacto -->
		<div class="my-form modal" data-ng-class="{'show': ix.showform}">
			<form class="sign-form base-form modalContent" name="ContactForm" gzz-validate="info" data-ng-submit="SendContactInfo()" novalidate>
				<label class="form-field-text" gzz-valid="data.contact.name" data-ng-show="true">
					<span class="field-label">Nombre</span>
					<input type="text" data-ng-model="data.contact.name" required="" class="">
					<div class="error-message data-ng-binding">Completá este dato</div>
				</label>
				<label class="form-field-text" gzz-valid="data.contact.phone" data-ng-show="true">
					<span class="field-label">Teléfono (con código de área)</span>
					<input type="tel" name="phone" data-ng-model="data.contact.phone" required="" class="">
					<div class="error-message data-ng-binding">Completá este dato</div>
				</label>
				<label class="form-field-text" gzz-valid="user.email && !ix.emailConflict">
					<span class="field-label">Email</span>
					<input type="email" name="email" data-ng-model="user.email" required>
					<div class="error-message">
						<span data-ng-show="ContactForm.email.$error.required">{{data.genericErrorMessage}}</span>
						<span data-ng-show="ix.emailConflict">{{data.existingUser}}</span>
						<span data-ng-show="!ix.emailConflict && !ContactForm.email.$error.required">{{data.invalidFormat}}</span>
					</div>
				</label>
				<div class="form-field-text" gzz-valid="data.contact.description">
					<span class="field-label">Consulta</span>
					<input type="text" name="description" data-ng-model="data.contact.description" required>
					<div class="error-message ng-binding">{{data.genericErrorMessage}}</div>
				</div>				
				<div class="button-stack" style="margin-bottom: 10px;">
					<button class="button button-primary button-lg button-block" data-ng-click="sendContactForm()" data-ng-class="{waiting:ix.submitting == 'info'}" data-ng-disabled="ix.submitting == 'info'">
						{{ix.submitting?'Enviando':'Enviar'}}
					</button>
				</div>
				<div class="button-stack">
					<button class="button button-default button-lg button-block" data-ng-click="cancelContactForm()">
						Cancelar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	var load = true;
    var timeoutImage = function(){
        setTimeout(function() {
           if(document.querySelector('.activity-1')){
               load=false;
               document.querySelector('.activity-1').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-2')){
               load=false;
               document.querySelector('.activity-2').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-3')){
               load=false;
               document.querySelector('.activity-3').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-4')){
               load=false;
               document.querySelector('.activity-4').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-5')){
               load=false;
               document.querySelector('.activity-5').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-6')){
               load=false;
               document.querySelector('.activity-6').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-7')){
               load=false;
               document.querySelector('.activity-7').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-8')){
               load=false;
               document.querySelector('.activity-8').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-9')){
               load=false;
               document.querySelector('.activity-9').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-10')){
               load=false;
               document.querySelector('.activity-10').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }
           if(document.querySelector('.activity-11')){
               load=false;
               document.querySelector('.activity-11').style.backgroundImage="url('https://res.cloudinary.com/llamaway/image/upload/v1466710417/small_adventure_types_rjtgxq.jpg')";
           }

            if(load){
                timeoutImage();
            }
        }, 1000);

    }
    timeoutImage();




	function loadImages(){
        var allActivities = document.querySelectorAll('.activity-sprite');
        for(var i=0; i<allActivities.length; i++){
            allActivities[i].style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1475123550/adventure_types_uhc2su.png')";
        }
    }

    window.addLoadEvent(loadImages);

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '172645673106272',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
</script>