{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.js"></script>

<div data-ng-controller="SearchResultCtrl" data-ng-init='data.query={{{{query}}}};data.activityName="{{{{activityName}}}}";'>
	<div class="general-container">

		<div class="header-container" data-ng-show="ix.hasResults || breadcrumbs && breadcrumbs.length > 0">
			<div class="keyword" data-ng-show="searchType == 'query'">
				Resultados de {{searchedQuery || 'aventuras'}}&nbsp;
				<div class="breadcrumb" data-ng-repeat="breadcrumb in breadcrumbs">
					<span data-ng-show="$first">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						&nbsp;
					</span>
					<a href="{{breadcrumb.url}}">
						{{breadcrumb.label}}
					</a>
					<span data-ng-hide="$last">
						&nbsp;
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						&nbsp;
					</span>
				</div>
			</div>
			<div class="keyword" data-ng-show="searchType == 'geoloc'">
				Resultados cerca tuyo&nbsp;
				<div class="breadcrumb" data-ng-repeat="breadcrumb in breadcrumbs">
					<span data-ng-show="$first">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						&nbsp;
					</span>
					<a href="{{breadcrumb.url}}">
						{{breadcrumb.label}}
					</a>
					<span data-ng-hide="$last">
						&nbsp;
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						&nbsp;
					</span>
				</div>
			</div>
			<div class="keyword" data-ng-show="searchType == 'region'">
				Resultados en {{regionFilter.label}}&nbsp;
				<div class="breadcrumb" data-ng-repeat="breadcrumb in breadcrumbs">
					<span data-ng-show="$first">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						&nbsp;
					</span>
					<a href="{{breadcrumb.url}}">
						{{breadcrumb.label}}
					</a>
					<span data-ng-hide="$last">
						&nbsp;
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						&nbsp;
					</span>
				</div>
			</div>
		</div>

	    <div class="container results">
			<div class="firstcol">
			    <form class="search-box2" data-ng-submit="searchQuery()">
			        <div>
			            <input type="search" name="q" placeholder="Buscá una compañia..." data-ng-model="name" autocomplete="off" autocorrect="off" autocapitalize="off" class="ng-pristine ng-valid ng-scope ng-isolate-scope ng-touched">
			            <button type="submit" class="btn-square ng-scope"><i class="gzz-icon-search"></i></button>
			        </div>
			        <div class="result" data-ng-show="data.adventures.count > 0">{{data.adventures.count}} {{data.adventures.count > 1 ? 'aventuras' : 'aventura'}}</div>
			    </form>
		        <div class="filters">
		            <search-facets data-ng-facets="data.adventures.facets" data-ng-facets-stats="data.adventures.facets_stats" data-ng-is-adventure="true" data-ng-filters="{'durationFilter': durationFilter, 'price':priceFilter, 'location': locationFilter, 'activityFilter': activityFilter, 'difficultyFilter':difficultyFilter,'topPlacesFilter':topPlacesFilter, 'region': regionFilter}" data-ng-type="searchType" data-ng-show-facets="data.adventures.count > 1"></search-facets>
		        </div>
			</div>
			<div class="secondcol">
			    <div class="container">
					<div class="noResultTitle" data-ng-show="ix.showWithoutResults || ix.searchMoreWithResults || ix.showWithoutResultsTopAdventures || ix.geolocMore">
						<h1 class="title-rg" data-ng-show="searchType=='geoloc'">
							No encontramos aventuras cerca tuyo.
						</h1>
						<h1 class="title-rg" data-ng-show="searchType=='activity'">
							No encontramos aventuras para la actividad buscada.
						</h1>
						<h1 class="title-rg" data-ng-show="searchType=='query'">
							No encontramos resultados para la busqueda.
						</h1>
						<h2 class="title-sm" data-ng-show="ix.searchMoreWithResults || ix.showWithoutResultsTopAdventures || ix.geolocMore && ix.hasResults">Pero quiza te interesen las siguientes opciones</h2>
					</div>
				</div>
			    <section class="new-gallery" data-ng-show="ix.hasResults">
			    	<ng-card data-ng-repeat="adventure in data.adventures.results">
						<a ng-if="!adventure.sponsored" href="/aventura/{{adventure.safeUrlName}}_{{adventure._id}}">
							<div class="card-adventure">
								<div class="image-container">
	                        		<img ng-src="{{adventure.profile_picture.length ? adventure.profile_picture[0].url : adventure.profile_picture.url}}">
	                    		</div>
								<div class="aventure-data-container">
									<div class="general-data">
										<div class="description">
											<div class="name">
												<h1 class="title">
													{{adventure.name}}
												</h1>
												<div class="place">
													{{adventure.golocation.formatted_address}}
												</div>
											</div>
										</div>
										<div class="specs">
											<div class="type-container">
												<div class="type">
													<div data-ng-repeat="type in adventure.activityType | limitTo:4" class='activity-sprite {{type.class}}'
								                    	style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
								                    	no-repeat top left; width: 41px; height: 41px;">
								                	</div>
												</div>
											</div>
											<div class="time">
												<span class="icon material-icons" aria-hidden="true">schedule</span>
												<div class="data">
													<span>{{adventure.duration}}</span>
													<span data-ng-show="adventure.takeDays">&nbsp;{{adventure.duration>1?'días':'día'}}</span>
													<span data-ng-show="!adventure.takeDays">&nbsp;{{adventure.duration>1?'horas':'hora'}}</span>
												</div>
											</div>
											<div class="difficulty">
												<span class="icon material-icons" aria-hidden="true">fitness_center</span>
												<span data-ng-show="adventure.difficulty==0">&nbsp;Fácil</span>
												<span data-ng-show="adventure.difficulty==1">&nbsp;Normal</span>
												<span data-ng-show="adventure.difficulty==2">&nbsp;Difícil</span>
												<span data-ng-show="adventure.difficulty==3">&nbsp;Experto</span>
											</div>
										</div>
										<div class="pricing">
											<div class="price">
												<span class="money-symbol" data-ng-show = "adventure.price && adventure.price != 0">
													<span class="icon material-icons md-48" aria-hidden="true">attach_money</span>
												</span>
												<span data-ng-show="adventure.price > 0">
													{{adventure.price}}&nbsp;
												</span>
												<span data-ng-hide="adventure.price == 0 || adventure.price > 0">
													consultar
												</span>
												<span data-ng-show="adventure.price > 0" class="currency">
													{{adventure.currency == 0 ? 'ARS' : 'USD'}} 
												</span>
												<span data-ng-show="adventure.price == 0">
													gratuita
												</span>
											</div>
										</div>
										<div class="distance" data-ng-show="adventure._rankingInfo.geoDistance">
											<div class="price">
												<span class="number">
													{{adventure._rankingInfo.geoDistance /1000  |number:2}}&nbsp;
												</span>
												<span class="currency">
													KM
												</span>
											</div>
										</div>
									</div>
			                     </div>
						     </div>
						</a>
						<div class="sponsor-card" ng-if="adventure.sponsored" data-ng-click="showSponsorRedirect(adventure.externalLinkDesktop)">
							<div class="card-adventure">
								<div class="image-container" data-ng-class="{'border':adventure.imageBorder}">
	                        		<img ng-src="{{adventure.image}}">
	                    		</div>
	                    		<div class="aventure-data-container">
									<div class="general-data">
										<div class="description">
											<div class="name">
												<h1 class="title">
													{{adventure.name}}
												</h1>
												<div class="place">
													{{adventure.golocation.formatted_address}}
												</div>
											</div>
										</div>
										<div class="sponsor">
											<div class="image-container">
				                        		<img ng-src="https://res.cloudinary.com/llamaway/image/upload/v1474775830/LlamaAdvice_t9upgr.png">
				                    		</div>
											<div class="advice">
												Llama-Sponsor sugerido para tu búsqueda
											</div>
										</div>
									</div>
			                     </div>
							</div>
						</div>
		 			</ng-card>
			    </section>
		        <div class="pages" data-ng-show="pages.numberPages > 1">
		            <div>
		                <div class="left" ng-style="{'visibility': (pages.currentPage > 1) ? 'visible' : 'hidden'}" data-ng-click="navigatePage(-1)">
		                	<i class="material-icons"  data-gzz-scroll-to="top" data-ng-show="pages.currentPage > 1">navigate_before</i>
		                	Anterior
		                </div>
		                <div class="currentPage">{{pages.currentPage}}</div>
		                <div class="right" ng-style="{'visibility': (pages.currentPage === pages.numberPages) ? 'hidden' : 'visible'}" data-ng-click="navigatePage(1)">
		                	Siguiente
		                    <i class="material-icons"  data-gzz-scroll-to="top" data-ng-show="pages.currentPage != pages.numberPages">navigate_next</i>
		                </div>
		            </div>
		        </div>
			</div>
	    </div>

        <div gzz-modal="" class="modal" data-show="ix.showRedirect" data-close="cancelContactForm">
            <div class="modalContent">
                <div class="header">
                    <span class="title">¿Deseas abrir un enlace Llama-Sponsor?</span>
                </div>
                <div class="actions-container">
                    <a href="{{externalLink}}" target="_blank" class="button button-primary button-lg" data-ng-click="acceptSponsorRedirect()" rel="nofollow">
                        Sí
                    </a>
                    <button class="button button-lg" data-ng-click="cancelSponsorRedirect()">
                        No
                    </button>
                </div>
            </div>
        </div>
	</div>
</div>