@import '../../less/global/colors';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/global/forms';

@import '../../less/desktop/modal';
@import '../../less/desktop/buttons';
@import '../../less/desktop/cards';

[data-ng-controller="SearchResultCtrl"]{
    background-color: @generalBackgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    .keyword{
        display: flex;
        flex-wrap: wrap;
        .breadcrumb{
            display: flex;
            font-size: 0.8em;
            align-items: flex-end;
        }
        .text{
            padding-left: 8px;
            align-self: flex-end;
        }
    }
    .general-container{
        width: 1280px;
        @media only screen and (max-width: 1280px){
            width: 100%;
        }
    }
    .header-container{
        color: @primary-color;
        padding-bottom: 24px;
        padding-top: 24px;
        border-bottom: solid 1px #dac9db;
        font-weight: 300;
        font-size: 28px;
        @media only screen and (max-width: 1280px){
            padding-left: 10px;
        }
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        max-width: 1280px;
        margin-left:8px;
        margin-right:8px;
        &.results{
            margin-top: 16px;
        }
        .noResultTitle {
            padding: 10px;
            border: 1px solid #EEEEEE;
            width: 100%;
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            margin: 0 auto;
            padding: 35px;
            align-items: center;
        }
    }
    .firstcol{
        max-width: 300px;
        padding-right: 8px;
        .filters{
            margin-bottom: 16px;
            h2{
                font-size: 1.2em;
                margin-top: 16px; 
            }
        }
        .search-box2 {
            display: block;
            transform: translateY(0);
            width: 259px;
            z-index: 90;
            margin-top: 1.5rem;
            .result{
                text-align: right;
                font-weight: 500;
                font-size: 1.2em;
                margin-top: 8px;
            }
            input[type=search] {
                background-color: white;
                -webkit-appearance: none;
                border-radius: 5px;
                border: 1px solid #7F7F7F;
                font-family: @base-font-family;
                font-size: 16px;
                font-weight: 300;
                height: 30px;
                margin-right: 50px;
                padding: 5px 10px ;
                width: 100%;
            }

            .btn-square {
                color: white;
                position: absolute;
                right: 0px;
                top: 0px;
                background-color: #EF9E21;
                height: 30px;
                width: 30px;
                border-radius: 5px;
                font-size: 13px;
            }
            &.data-ng-hide {
                transform: translateY(-100%);
            }
            &.data-ng-hide-add.data-ng-hide-add-active,
            &.data-ng-hide-remove.data-ng-hide-remove-active {
                transition: transform 300ms cubic-bezier(0.620, -0.130, 0.390, 1.290);
            }
        }
    }
    .secondcol {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        .pages{
            text-align: center;
            color: @primary-color;
            margin-top: 32px;
            margin-bottom: 32px;
            div{
                margin: 0 auto;
                display: flex;
                .right{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    cursor:pointer;
                }
                .left{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    cursor:pointer;
                }
                div{
                    &.currentPage{
                        font-size: 20px;
                        border: 1px solid @primary-color;
                        border-radius: 5px;
                        padding: 5px 10px;
                        vertical-align: super;
                    }
                    &:not(.currentPage){
                        flex-grow: 1;
                        &.right{
                            text-align: left;
                            padding-left: 40px;
                        }
                        &.left{
                            text-align: right;
                            padding-right: 40px;
                        }
                        >i{
                            font-size: 24px;
                            margin-top:4px;
                        }
                    }
                }
            }
        }
    }

    .new-gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        ng-card{
            background-color: white;
            @media only screen and (max-width: 1280px){
                margin: 0.3rem;
            }
            @media only screen and (min-width: 1440px) and (max-width: 1920px) {
                margin: 0.6rem;
            }
        }
        .sponsor-card{
            cursor: pointer;
        }
        .card-adventure{
            width: 300px;
            .image-container{
                img{
                    width: 100%;
                    max-width: 300px;
                    max-height: 177px;
                }
                &.border{
                    border-bottom: solid 1px #dac9db;
                }
            }
            .aventure-data-container{
                position: relative;
                background-color: white;

                .general-data{
                    padding: 8px;
                    display: flex;
                    flex-direction: column;
                    .description{
                        color:@primary-color;
                        .name{
                            .title{
                                font-size: 20px;
                            }
                        }
                        .place{
                            font-size: 16px;
                            padding-top: 4px;
                            color: grey;
                        }
                    }
                    .sponsor{
                        display: flex;
                        flex-direction: row;
                        margin-top: 16px;
                        .image-container{
                            flex-basis: 30%;
                        }
                        .advice{
                            flex-basis: 70%;
                            display: flex;
                            align-items: center;
                            color: grey;
                        }
                    }
                    .specs {
                        display: flex;
                        justify-content: space-around;
                        margin: 12px 0px 12px 0px; 
                        color:@primary-color;
                        .icon {
                            font-size: 32px;
                            padding-bottom: 8px;
                        }
                        .time, .difficulty {
                            display: flex;
                            flex-basis: 32%;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            .data{
                                display: flex;
                            }
                            span {
                                text-align: center;
                            }
                        }
                        .type-container{
                            display: flex;
                            flex-basis: 36%;
                            align-items: center;
                            justify-content: center;
                            .type{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-around;
                                align-items: center;
                                max-width: 106px;
                                max-height: 106px;
                                overflow: hidden;
                            }
                        }
                    }
                    .pricing{
                        position: absolute;
                        top:-53px;
                        right: 0px;
                        color:white;
                        background-color: rgba(45,45,45,0.9);
                        padding: 8px;
                        .money-symbol{
                            .icon{
                                font-size: 18px;
                            }
                        }
                        .currency{
                            font-size: 16px;
                        }
                        .price{
                            display: flex;
                            align-items: center;
                            font-size: 24px;
                        }
                    }
                    .distance{
                        position: absolute;
                        top:-53px;
                        left: 0px;
                        color:white;
                        background-color: rgba(45,45,45,0.9);
                        padding: 8px;
                        .price{
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            padding: 5px 0px;
                        }
                        .currency{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .no-results {
        padding: 20px;
    }

    .modal{
        .modalContent{
            .actions-container{
                display: flex;
                padding: 16px;
                justify-content: center;
                .button-primary{
                    margin-right: 72px;
                }
            }
        }
    }
	.activity-sprite{
	    margin: 4px;
	}
	.sprite-acuatico { 
	    background-position: 0 0 !important;
	}
	.sprite-avistaje { 
	    background-position: -42px 0 !important; 
	}
	.sprite-cabalgata { 
	    background-position: -85px 0 !important; 
	}
	.sprite-camping { 
	    background-position: -129px 0 !important; 
	}
	.sprite-ciclismo { 
	    background-position: -171px 0 !important; 
	}
	.sprite-extremo { 
	    background-position: -215px 0 !important; 
	}
	.sprite-invernal { 
	    background-position: -258px 0 !important; 
	}
	.sprite-expedicion { 
	    background-position: -301px 0 !important; 
	}
	.sprite-montanismo { 
	    background-position: -344px 0 !important; 
	}
	.sprite-pesca { 
	    background-position: -386px 0 !important; 
	}
	.sprite-otros { 
	    background-position: -430px 0 !important; 
	}
}
