{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.0/rzslider.min.js"></script>

<div data-ng-controller="SearchResultCtrl" data-ng-init='data.query={{{{query}}}};data.activityName="{{{{activityName}}}}";'>
	<header>
		<div class="container">
			<div class="noResultTitle" data-ng-show="ix.showWithoutResults || ix.searchMoreWithResults || ix.showWithoutResultsTopAdventures || ix.geolocMore">
				<h1 data-ng-show="searchType=='geoloc'">
					No encontramos aventuras cerca tuyo.
				</h1>
				<h1 data-ng-show="'searchType'=='activity'">
					No encontramos aventuras para la actividad buscada.
				</h1>
				<h1 data-ng-show="searchType=='query'">
					No encontramos resultados para la busqueda <strong>{{name}}</strong>.
				</h1>
				<div class="normal" data-ng-show="ix.searchMoreWithResults || ix.showWithoutResultsTopAdventures || ix.geolocMore && ix.hasResults">Pero quizá te interesen las siguientes opciones o</div>
				<div class="otherSearch" data-ng-show="searchType=='query'">
	                <button type="button" class="button button-sm" data-ng-click="clearSearch()" onclick="document.querySelector('.top-nav .search').click()">
	                    Realizar otra búsqueda
	                </button>
				</div>
			</div>
		</div>
	</header>

	<div class="header-container" data-ng-show="ix.hasResults">
		<div class="keyword-container">
			<div class="keyword" data-ng-show="searchType == 'query'">
				Resultados de {{name || 'aventuras'}}&nbsp;
			</div>
			<div class="keyword" data-ng-show="searchType == 'geoloc'">
				Resultados cerca tuyo
			</div>
			<div class="keyword" data-ng-show="searchType == 'region'">
				Resultados en {{regionFilter.label}}&nbsp;
			</div>
			<div class="keyword" data-ng-show="searchType == 'activity'">
	        	<a class="text" href="/actividades/{{activityName}}#/">Aventuras {{activityLabel}}</a>
			</div>
		</div>
		<div class="filter" data-ng-click="showMobileFilters(true)">
			<div class="icon-container">
                <i class="fa fa-filter"></i>
            </div>
            <div class="text">Filtrar</div>
		</div>
	</div>

    <section class="adventures-container" data-ng-show="ix.hasResults">
		<ng-card data-ng-repeat="adventure in data.adventures.results">
			<a ng-if="!adventure.sponsored" href="/aventura/{{adventure.safeUrlName}}_{{adventure._id}}">
				<div class="card-adventure">
					<div class="card-img">
						<img ng-src="{{adventure.profile_picture.length ? adventure.profile_picture[0].url : adventure.profile_picture.url}}">
			        </div>
					<div class="aventure-data-container">
						<div class="general-data">
							<div class="description">
								<div class="name">
									<h1 class="title">
										{{adventure.name}}
									</h1>
									<div class="place">
										{{adventure.location.address}}
									</div>
								</div>
							</div>
							<div class="specs">
								<div class="type-container">
									<div class="type">
										<div data-ng-repeat="type in adventure.activityType" class='activity-sprite {{type.class}}'
					                    	style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
					                    	no-repeat top left; width: 41px; height: 41px;">
					                	</div>
									</div>
								</div>
								<div class="time">
									<span class="icon material-icons" aria-hidden="true">schedule</span>
									<div class="data">
										<span>{{adventure.duration}}</span>
										<span data-ng-show="adventure.takeDays">&nbsp;{{adventure.duration>1?'días':'día'}}</span>
										<span data-ng-show="!adventure.takeDays">&nbsp;{{adventure.duration>1?'horas':'hora'}}</span>
									</div>
								</div>
								<div class="difficulty">
									<span class="icon material-icons" aria-hidden="true">fitness_center</span>
									<span data-ng-show="adventure.difficulty==0">&nbsp;Fácil</span>
									<span data-ng-show="adventure.difficulty==1">&nbsp;Normal</span>
									<span data-ng-show="adventure.difficulty==2">&nbsp;Difícil</span>
									<span data-ng-show="adventure.difficulty==3">&nbsp;Experto</span>
								</div>
							</div>
							<div class="pricing">
								<div class="price">
									<span class="money-symbol" data-ng-show = "adventure.price && adventure.price != 0">
										<span class="icon material-icons md-48" aria-hidden="true">attach_money</span>
									</span>
									<span data-ng-show="adventure.price > 0">
										{{adventure.price}}&nbsp;
									</span>
									<span data-ng-hide="adventure.price == 0 || adventure.price > 0">
										consultar
									</span>
									<span data-ng-show="adventure.price > 0" class="currency">
										{{adventure.currency == 0 ? 'ARS' : 'USD'}} 
									</span>
									<span data-ng-show="adventure.price == 0">
										gratuita
									</span>
								</div>
							</div>
							<div class="distance" data-ng-show="adventure._rankingInfo.geoDistance">
								<div class="price">
									<span class="number">
										{{adventure._rankingInfo.geoDistance /100}}&nbsp;
									</span>
									<span class="currency">
										KM
									</span>
								</div>
							</div>
						</div>
                      </div>
			     </div>
			</a>
			<div class="sponsor-card" ng-if="adventure.sponsored" data-ng-click="showSponsorRedirect(adventure.externalLinkMobile)">
				<div class="card-adventure">
					<div class="image-container" data-ng-class="{'border':adventure.imageBorder}">
                		<img ng-src="{{adventure.image}}">
            		</div>
            		<div class="aventure-data-container">
						<div class="general-data">
							<div class="description">
								<div class="name">
									<h1 class="title">
										{{adventure.name}}
									</h1>
									<div class="place">
										{{adventure.location.address}}
									</div>
								</div>
							</div>
							<div class="sponsor">
								<div class="image-container">
	                        		<img ng-src="https://res.cloudinary.com/llamaway/image/upload/v1474775830/LlamaAdvice_t9upgr.png">
	                    		</div>
								<div class="advice">
									Llama-Sponsor sugerido para tu búsqueda
								</div>
							</div>
						</div>
                     </div>
				</div>
			</div>
	 	</ng-card>
    </section>

	<div class="filter-container" data-ng-show="ix.hasResults">
		<div class="toolbar">
			<div data-ng-click="showMobileFilters(false)" class="option">
			    <div class="icon-container">
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="text">
                    ATRÁS
                </div>
			</div>
			<div data-ng-click="showMobileFilters(false)" class="option">
                <div>APLICAR</div>
            </div>
		</div>
        <search-facets data-ng-facets="data.adventures.facets" data-ng-facets-stats="data.adventures.facets_stats" data-ng-is-adventure="true" data-ng-filters="{'durationFilter': durationFilter, 'price':priceFilter, 'location': locationFilter}" data-ng-type="searchType" data-ng-show-facets="data.adventures.count > 0"></search-facets>
	</div>

    <div class="pages" data-ng-show="pages.numberPages > 1">
        <div>
            <div class="left">
                <i class="material-icons" data-ng-click="navigatePage(-1)" data-gzz-scroll-to="top" data-ng-show="pages.currentPage > 1">navigate_before</i>
            </div>
            <div class="currentPage">{{pages.currentPage}}</div>
            <div class="right">
                <i class="material-icons" data-ng-click="navigatePage(1)" data-gzz-scroll-to="top" data-ng-show="pages.currentPage != pages.numberPages">navigate_next</i>
            </div>
        </div>
    </div>

    <div gzz-modal="" class="modal" data-show="ix.showRedirect" data-close="cancelContactForm">
        <div class="modalContent">
            <div class="header">
                <span class="title">¿Deseas abrir un enlace Llama-Sponsor?</span>
            </div>
            <div class="actions-container">
                <a href="{{externalLink}}" target="_blank" class="button button-primary button-lg" data-ng-click="acceptSponsorRedirect()">
                    Sí
                </a>
                <button class="button button-lg" data-ng-click="cancelSponsorRedirect()">
                    No
                </button>
            </div>
        </div>
    </div>
</div>