@import '../../less/global/colors';
@import '../../less/global/directives';
@import '../../less/global/layout';

@import '../../less/mobile/forms';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';

[data-ng-controller="SearchResultCtrl"]{ 
    display: flex;
    flex-direction: column;
    header {
        background-color: white;
        display: flex;
        margin-top: 56px;
        .container {
            width: 100%;
            .noResultTitle {
                padding: 10px;
                border: 1px solid #EEEEEE;
                .otherSearch{
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                }
            }
            .normal{
                padding-top: 10px;
                font-size: 1.2em;
            }
            .searchCol {
                display: flex;
                flex-direction: row;
                div {
                    &.selected {
                        color: #ffc107;
                    }
                    bordfilterer: 1px solid #EEEEEE;
                    border-top: 0px;
                    padding: 5% 10% 5% 10%;
                    font-size: 2em;
                    flex: 1;
                    text-align: center;
                    width: 90px;
                }
            }
        }
    }

    .header-container{
        display:flex;
        justify-content: space-between;
        align-items: stretch;
        color: @primary-color;
        border-bottom: solid 1px #dac9db;
        font-size: 16px;
        padding: 8px;
        background-color: @generalBackgroundColor;

        .keyword-container{
            display: flex;
            align-items: center;
        }

        .filter{
            display: flex;
            align-items: center;
            .icon-container{
                padding-right: 8px;
                font-size: 20px;
            } 
        }

    }

    ng-card{
        margin: 0px 0px 24px 0px;
    }

    .sponsor-card{
        cursor: pointer;
    }

    .card-adventure{
        .image-container{
            img{
                width: 100%;
            }
            &.border{
                border-bottom: solid 1px #dac9db;
            }
        }
        .aventure-data-container{
            position: relative;
            background-color: white;
            .general-data{
                padding: 8px;
                .description{
                    color:@primary-color;
                    .name{
                        .title{
                            font-size: 20px;
                        }
                    }
                    .place{
                        font-size: 16px;
                        padding-top: 4px;
                        color: grey;
                    }
                }
                .sponsor{
                    display: flex;
                    flex-direction: row;
                    margin-top: 16px;
                    .image-container{
                        flex-basis: 30%;
                    }
                    .advice{
                        flex-basis: 70%;
                        display: flex;
                        align-items: center;
                        color: grey;
                    }
                }
                .specs {
                    display: flex;
                    justify-content: space-around;
                    margin: 12px 0px 12px 0px; 
                    color:@primary-color;
                    .icon {
                        font-size: 32px;
                        padding-bottom: 8px;
                    }
                    .time, .difficulty {
                        display: flex;
                        flex-basis: 32%;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        .data{
                            display: flex;
                        }
                        span {
                            text-align: center;
                        }
                    }
                    .type-container{
                        display: flex;
                        flex-basis: 36%;
                        align-items: center;
                        justify-content: center;
                        .type{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            align-items: center;
                            max-width: 106px;
                            max-height: 106px;
                            overflow: hidden;
                            .activity-sprite{
                                margin: 4px;
                            }
                            .sprite-acuatico { 
                                background-position: 0 0 !important;
                            }
                            .sprite-avistaje { 
                                background-position: -42px 0 !important; 
                            }
                            .sprite-cabalgata { 
                                background-position: -85px 0 !important; 
                            }
                            .sprite-camping { 
                                background-position: -129px 0 !important; 
                            }
                            .sprite-ciclismo { 
                                background-position: -171px 0 !important; 
                            }
                            .sprite-extremo { 
                                background-position: -215px 0 !important; 
                            }
                            .sprite-invernal { 
                                background-position: -258px 0 !important; 
                            }
                            .sprite-expedicion { 
                                background-position: -301px 0 !important; 
                            }
                            .sprite-montanismo { 
                                background-position: -344px 0 !important; 
                            }
                            .sprite-pesca { 
                                background-position: -386px 0 !important; 
                            }
                            .sprite-otros { 
                                background-position: -430px 0 !important; 
                            }
                        }
                    }

                }
                .pricing{
                    position: absolute;
                    top:-53px;
                    right: 0px;
                    color:white;
                    background-color: rgba(45,45,45,0.9);
                    padding: 8px;
                    .money-symbol{
                        .icon{
                            font-size: 18px;
                        }
                    }
                    .currency{
                        font-size: 16px;
                    }
                    .price{
                        display: flex;
                        align-items: center;
                        font-size: 24px;
                    }
                }
                .distance{
                    position: absolute;
                    top:-53px;
                    left: 0px;
                    color:white;
                    background-color: rgba(45,45,45,0.9);
                    padding: 8px;
                    .price{
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        padding: 5px 0px;
                    }
                    .currency{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    section {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
    }
    .pages{
        text-align: center;
        color: @primary-color;
        margin-bottom: 16px;
        div{
            margin: 0 auto;
            display: flex;
            div{
                &.currentPage{
                    border: 1px solid @primary-color;
                    border-radius: 5px;
                    padding: 5px 10px;
                    vertical-align: super;
                }
                &:not(.currentPage){
                    flex-grow: 1;
                    &.right{
                        text-align: left;
                        padding-left: 40px;
                    }
                    &.left{
                        text-align: right;
                        padding-right: 40px;
                    }
                    >i{
                        cursor:pointer;
                        margin: auto 0;
                        flex-grow: 1;
                    }
                }
            }
        }
    }
    @media (max-width: 600px) {
        .adventures-container {
            .card {
                .adventure-detail {
                    padding: 10px;
                    .name,
                    .duration,
                    .location,
                    .difficulty,
                    .qualification-review-price {
                        padding: 5px;
                    }
                }
            }
        }
    }
    .no-results {
        padding: 20px;
    }
    .add-company {
        margin-top: 10px;
    }
    .logo-container {
        height: 150px;
        width: 150px;
        display: flex;
        align-items: center;
        background-color: white;
        overflow: hidden;
        vertical-align: middle;
        img {
            position: relative;
            width: 90px;
        }
        @media (max-width: 600px) {
            height: 100px;
            width: 100px;
            img {
                width: 100px;
            }
        }
    }
    .adventure-logo-container {
        height: 50px;
        width: 200px;
        display: flex;
        align-items: center;
        background-color: white;
        overflow: hidden;
        padding: 3px;
        vertical-align: middle;
        img {
            position: relative;
            width: 200px;
        }
        @media (max-width: 600px) {
            height: 50px;
            width: 200px;
            img {
                width: 200px;
            }
        }
    }
    .picture-container {
        width: 100%;
        height: round(100% / 1.5);
        display: flex;
        align-items: center;
        background-color: white;
        overflow: hidden;
        vertical-align: middle;
        img {
            position: relative;
            width: 100%
        }
        @media (max-width: 600px) {
            width: 100%;
            height: round(100% / 1.5);
            img {
                width: 100%;
            }
        }
    }

    .modal{
        .modalContent{
            .actions-container{
                display: flex;
                padding: 16px;
                justify-content: center;
                .button-primary{
                    margin-right: 72px;
                }
            }
        }
    }
    .adventures-container.showFilter{
        display: none;
    }

    .filter-container{
        width: 100%;
        height:calc(100%);
        position: absolute;
        background-color: white;
        transition: all 500ms ease;
        top: 0px;
        display: none;
        &.showFilter{
            left: 0;
        }
        .toolbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: @primary-color;
            border-bottom: solid 1px #dac9db;
            font-size: 16px;
            background-color: @gzz-light-gray;

            .option{
                display: flex;
                min-height: 56px;
                width: 100px;
                div{
                    margin: auto;
                }
            }
        }
    }

    search-facets{
        .filters, .maxMin{
            .listFilters{
                border-bottom-color: #ffffff;
                li{
                    margin: 16px;
                }
            }
            &.price{
                    border-bottom: 1px solid #542959!important;
            }
            .header{
                h3{
                    border-bottom: none;
                    font-weight: 500;
                }
            }
        }
    }
}