@import '../../less/global/colors';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/desktop/modal';
@import '../../less/desktop/forms';
@import '../../less/desktop/buttons';
@import '../../less/desktop/cards';

[data-ng-controller="AdventureCtrl"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F7F7F7;

    .container{
        max-width: 1280px;
        margin-left:8px;
        margin-right:8px;
    }
    
    .main-card{
        display: flex;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin-top: 16px;
        background-color: white;
        .general-data{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 500px;
            .description{
                display: flex;
                flex-direction: row;
                flex-basis: 25%;
                padding: 24px 16px 16px 24px;
                .name{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: @primary-color;
                    .place {
                        padding-top: 8px;
                    }
                }
                border-bottom: 1px solid @gzz-light-gray;
            }
            .specs {
                display: flex;
                justify-content: space-around;
                flex-basis: 30%;
                padding: 16px 24px 16px 0px;
                font-size: 20px;
                border-bottom: 1px solid @gzz-light-gray;
                .icon {
                    font-size: 32px;
                    padding-bottom: 8px;
                }
                .time, .difficulty {
                    display: flex;
                    flex-basis: 33%;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    span {
                        text-align: center;
                    }
                }
                .type {
                    display: flex;
                    flex-basis: 34%;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .sprite-acuatico {
                        background-position: 0 0 !important;
                    }
                    .sprite-avistaje {
                        background-position: -54px 0 !important;
                    }
                    .sprite-cabalgata {
                        background-position: -108px 0 !important;
                    }
                    .sprite-camping {
                        background-position: -162px 0 !important;
                    }
                    .sprite-ciclismo {
                        background-position: -215px 0 !important;//
                    }
                    .sprite-extremo {
                        background-position: -269px 0 !important;
                    }
                    .sprite-invernal {
                        background-position: -323px 0 !important;
                    }
                    .sprite-expedicion {
                        background-position: -376px 0 !important;//
                    }
                    .sprite-montanismo {
                        background-position: -430px 0 !important;
                    }
                    .sprite-pesca {
                        background-position: -484px 0 !important;
                    }
                    .sprite-otros {
                        background-position: -538px 0 !important;
                    }
                    &div {
                        width: 70%;
                    }
                }
            }
            .pricing{
                display: flex;
                flex-basis: 30%;
                border-bottom: 1px solid @gzz-light-gray;
                .money-symbol{
                    .icon{
                        font-size: 18px;
                    }
                }
                .currency{
                    font-size: 16px;
                }
                .price{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    //flex-basis: 45%;
                    padding-left: 24px;
                    flex: 1;
                }
                .pay-methods{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    //flex-basis: 55%;
                    flex: 1;
                    margin: 0 16px;
                    .payment-item{
                        padding-bottom: 8px;
                    }
                }
            }
            .lead{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 15%;
                .button-stack{
                    width: 50%;
                }
            }
        }
    }

    .details {
        font-size: 1.2em;
        display: flex;
        margin-bottom: 24px; 
        ng-card{
            margin: 24px 0px 0px 0px;
            background-color: white;
            .card-title{
                font-size: 20px;
                color: @primary-color;
            }
            .card-text{
                font-size: 16px;
                line-height: 1.5em;
                color: @primary-color;
            }
            .card-company-text{
                font-size: 16px;
                line-height: 1.5em;
                color: @primary-color;
            }
        }
        .left {
            display: flex;
            flex-direction: column;
            flex-basis: 67%;
            .view-more {
                text-align: center;
                background: rgb(246, 244, 249);
                a {
                    margin-right: 0px!important;
                    color: #6A2871!important;
                }
            }
            .aboutUs {
                .card-content .company {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    .logo {
                        width: 100px;
                        background-color: white;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        align-content: center;
                        background-color: white;
                        border: 1px solid @gzz-medium-gray;
                        margin-right: 20px;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            flex-grow: 0;
                        }
                    }
                    .data {
                        margin-top: 0;
                        .company-name {
                            font-size: 1.3em;
                            font-weight: 300;
                            text-transform: capitalize;
                        }
                        .location {
                            i {
                                color: @gzz-dark-gray;
                                padding-right: 10px;
                            }
                            span {
                                color: @gzz-dark-gray;
                                font-size: 1em;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
        .right{
            margin-left: 16px;
            flex-basis: 33%;
        }
    }

    .similar-adventures{
        .main-title{
            color: @primary-color;
            padding-bottom: 24px;
            padding-top: 24px;
            border-bottom: solid 1px #dac9db;
            font-weight: 300;
            font-size: 28px;
        }
        .adventures-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 16px;
            ng-card{
                background-color: white;
                @media only screen and (max-width: 1280px){
                    margin: 0.3rem;
                }
                @media only screen and (min-width: 1440px) and (max-width: 1920px) {
                    margin: 0.6rem;
                }
            }
            .sponsor-card{
                cursor: pointer;
            }
            .card-adventure{
                width: 300px;
                .image-container{
                    img{
                        width: 100%;
                        max-width: 300px;
                        max-height: 177px;
                    }
                    &.border{
                        border-bottom: solid 1px #dac9db;
                    }
                }
                .aventure-data-container{
                    position: relative;
                    background-color: white;

                    .general-data{
                        padding: 8px;
                        display: flex;
                        flex-direction: column;
                        .description{
                            color:@primary-color;
                            .name{
                                .title{
                                    font-size: 20px;
                                }
                            }
                            .place{
                                font-size: 16px;
                                padding-top: 4px;
                                color: grey;
                            }
                        }
                        .sponsor{
                            display: flex;
                            flex-direction: row;
                            margin-top: 16px;
                            .image-container{
                                flex-basis: 30%;
                            }
                            .advice{
                                flex-basis: 70%;
                                display: flex;
                                align-items: center;
                                color: grey;
                            }
                        }
                        .specs {
                            display: flex;
                            justify-content: space-around;
                            margin: 12px 0px 12px 0px; 
                            color:@primary-color;
                            .icon {
                                font-size: 32px;
                                padding-bottom: 8px;
                            }
                            .time, .difficulty {
                                display: flex;
                                flex-basis: 32%;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                .data{
                                    display: flex;
                                }
                                span {
                                    text-align: center;
                                }
                            }
                            .type-container{
                                display: flex;
                                flex-basis: 36%;
                                align-items: center;
                                justify-content: center;
                                .type{
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    align-items: center;
                                    max-width: 106px;
                                    max-height: 106px;
                                    overflow: hidden;
                                }
                            }
                        }
                        .pricing{
                            position: absolute;
                            top:-53px;
                            right: 0px;
                            color:white;
                            background-color: rgba(45,45,45,0.9);
                            padding: 8px;
                            .money-symbol{
                                .icon{
                                    font-size: 18px;
                                }
                            }
                            .currency{
                                font-size: 16px;
                            }
                            .price{
                                display: flex;
                                align-items: center;
                                font-size: 24px;
                            }
                        }
                        .distance{
                            position: absolute;
                            top:-53px;
                            left: 0px;
                            color:white;
                            background-color: rgba(45,45,45,0.9);
                            padding: 8px;
                            .price{
                                display: flex;
                                align-items: center;
                                font-size: 16px;
                                padding: 5px 0px;
                            }
                            .currency{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        .activity-sprite-similar{
            margin: 4px;
        }
        .sprite-acuatico { 
            background-position: 0 0 !important;
        }
        .sprite-avistaje { 
            background-position: -42px 0 !important; 
        }
        .sprite-cabalgata { 
            background-position: -85px 0 !important; 
        }
        .sprite-camping { 
            background-position: -129px 0 !important; 
        }
        .sprite-ciclismo { 
            background-position: -171px 0 !important; 
        }
        .sprite-extremo { 
            background-position: -215px 0 !important; 
        }
        .sprite-invernal { 
            background-position: -258px 0 !important; 
        }
        .sprite-expedicion { 
            background-position: -301px 0 !important; 
        }
        .sprite-montanismo { 
            background-position: -344px 0 !important; 
        }
        .sprite-pesca { 
            background-position: -386px 0 !important; 
        }
        .sprite-otros { 
            background-position: -430px 0 !important; 
        }
    }

    .map {
        width: 100%;
        height: 400px;
        margin: auto;
    }
    .main-company {
        display: flex;
        align-items: center;
        .logo {
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
            padding: 0px 20px 0px 20px;
            flex-basis: 25%;
        }
        .name {
            .title {
                font-size: 1.2em;
                color: #6A2871;
            }
            .place {
                font-size: 1em;
                padding-top: 10px;
                color: grey;
            }
        }
    }
    .my-form {
        .alert {
            >img {
                height: 15px;
            }
        }
        .alert+form {
            border-top: 1px solid @gzz-medium-gray;
        }
        form {
            background-color: @white;
            .field-text,
            .field-label {
                &.small {
                    display: block;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
            .field-text.pageUrl {
                overflow-wrap: break-word;
            }
            .light {
                color: @gzz-dark-gray;
            }
        }
    }
    .base-form {
        padding: 75px 20px 20px;
    }
    section {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
    }
    .section-image-container {
        padding: 0px;
        .swiper-container {
            width: 850px;
            height: 500px;
            .swiper-button-next{
                right: 30px;
            }
            .swiper-slide {
                display: flex;
                align-content: center;
                justify-content: center;
                margin: auto 0;
                text-align: center;
                .large{
                    width: 100%;
                }
                .swiper-lazy{
                    margin: auto;
                    position: relative;
                    z-index: 2;
                    max-height: 100%;
                }
            }
        }
    }

    .modal{
        .modalContent{
            width: 530px;
        }
        .conditions{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 16px;
            padding-bottom: 16px;
            justify-content: center;
            font-size: 16px;
            a{
                font-size: 16px;
                opacity: 0.6;
                color: @secondary-color;
            }
        }
    }

    .post-lead-modal{
        .body{
            padding: 16px;
            font-size: 16px;
            text-align: center;
            .actions-container{
                margin-top: 16px;
                display: flex;
                justify-content: center;
                .actions{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    button{
                        width: 200px;
                    }
                }
            }
        }
    }
}
