{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>

<!-- Traer estoy dinamicamente:Roque -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>

<div data-ng-controller="AdventureCtrl" data-ng-init='data.adventureId="{{{adventureId}}}"; data.adventure={{{{adventureJSON}}}};'>
	<div class="container">
		<div data-ng-if="ix.infoUpdated" class="alert alert-positive">
			<strong>¡Tu consulta fué enviada exitosamente!</strong><br>
		  	<p>En breve te llegará un email con los datos del guia</p>
		</div>

		<section class="section-image-container">
		    <div class="swiper-container">
		        <div class="swiper-wrapper">
		        	{{{#adventure.profile_picture}}}
		        		<div class="swiper-slide">
		        			<img data-src="{{{url}}}" class="swiper-lazy image">
            				<div class="swiper-lazy-preloader"></div>
		            	</div>
		        	{{{/adventure.profile_picture}}}
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		        <!-- Add Arrows -->
		        <div class="swiper-button-next"></div>
		        <div class="swiper-button-prev"></div>
		    </div>
		</section>

		 <ng-card class="main">
            <div class="aventure-data-container">
             	<div class="general-data">
                    <div class="description">
                        <div class="name">
                            <h1 class="title">
                                {{{adventure.name}}}
                            </h1>
                            <div class="place">
								{{{adventure.golocation.formatted_address}}}
                            </div>
                        </div>
                    </div>
                    <div class="specs">
                        <div class="type-container">
							<div class="type">
								{{{#adventure.activityType}}}
									<div class='activity-sprite-similar {{{class}}}'
				                    	style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
				                    	no-repeat top left; width: 41px; height: 41px;">
				                	</div>
								{{{/adventure.activityType}}}
							</div>
                        </div>
                        <div class="time">
							<span class="icon material-icons" aria-hidden="true">schedule</span>
							<span>{{{adventure.duration}}}</span>
                        </div>
                        <div class="difficulty">
							<span class="icon material-icons" aria-hidden="true">fitness_center</span>
							<span>{{{adventure.difficulty}}}</span>
                        </div>
                    </div>
                    
                    <div class="pricing">
						<div class="price">
							<span data-ng-show="data.adventure.price == 0">
								Gratuita
							</span>
							<span data-ng-show="data.adventure.price > 0">
								{{{adventure.price}}} {{data.adventure.currency == 0 ? 'ARS' : 'USD'}}
							</span>
							<span data-ng-hide="data.adventure.price == 0 || data.adventure.price > 0">
								Consultar precio
							</span>
						</div>
						<div class="pay-methods" data-ng-show="data.adventure.payMethod && data.adventure.payMethod.length > 0">
							{{{#adventure.payMethod}}}
		                		<div class='payment-item'>
		                			<span>{{{name}}}</span>
		                		</div>
		                	{{{/adventure.payMethod}}}
						</div>
                    </div>
                    <div class="lead">
						<div class="button-stack">
							<button class="button button-primary button-lg button-block ng-binding" data-ng-click="showContactForm()">
								Contactar
							</button>
						</div>
					</div>
                </div>
            </div>
         </ng-card>

		<section class="details">
			<ng-card>
				<card-content data-ng-class="{'viewAll':ix.viewAllDescription}" card-title="Descripcion de la aventura" card-text="<div class='short-card'>{{{adventure.description}}}</div>">
			   	</card-content>
			   	<card-action class="center">
			   	  	<a data-ng-click="ix.viewAllDescription=!ix.viewAllDescription" rel="nofollow">Seguir Leyendo</a>
			   	</card-action>
			</ng-card>
			<ng-card class="aboutUs" data-ng-show="data.info.company.pageName">
				<card-content card-title="Sobre la empresa" card-sub-content="<a class='company' href='/e/{{data.info.company.pageName}}'>
					    <div class='logo'>
					        <img src='{{data.info.company.profile_picture.url}}' alt='{{data.info.company.name}} logo' />
					    </div>
					    <div class='data item'>
					        <h1 class='company-name'>{{data.info.company.name}}</h1>
					        <div class='location'>
					            <i class='fa fa-map-marker'></i><span>{{data.company_formatted_address}}</span>
					        </div>
					    </div>
					</a>" card-text="{{data.info.company.description}}">
			   	</card-content>
			   	<card-action class="center">
			   	  	<a href="/e/{{data.info.company.pageName}}">Conócenos</a>
			   	</card-action>
			</ng-card>
			<ng-card class="share">
				<div class="card-content">
					<span class="card-title">
						Compartir
						<button class="button-facebook" data-ng-click="facebookShare()">
							<i class="button-icon" aria-hidden="true"></i>
						</button>
						<button class="button-twitter" data-ng-click="twitterShare()">
							<i class="button-icon" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</ng-card>
			<ng-card>
				<div class="card-content">
   					<span class="card-title">Ubicación</span>
   					<div class='map'></div>
   				</div>
			</ng-card>
		</section>

		<section data-ng-if="similarAdventures && similarAdventures.length>0" class="similar-adventures">
			<div class="main-title">
				Aventuras similares
			</div>
			<div class="adventures-container">
				<ng-card data-ng-repeat="adventure in similarAdventures track by adventure._id">
					<a href="/aventura/{{adventure.safeUrlName}}_{{adventure._id}}">
						<div class="card-adventure">
							<div class="image-container">
                        		<img ng-src="{{adventure.profile_picture.length ? adventure.profile_picture[0].url : adventure.profile_picture.url}}">
                    		</div>
							<div class="aventure-data-container">
								<div class="general-data">
									<div class="description">
										<div class="name">
											<h1 class="title">
												{{adventure.name}}
											</h1>
											<div class="place">
												{{adventure.golocation.formatted_address}}
											</div>
										</div>
									</div>
									<div class="specs">
										<div class="type-container">
											<div class="type">
												<div data-ng-repeat="type in adventure.activityType | limitTo:4" class='activity-sprite-similar {{type.class}}'
							                    	style="background:url(data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=)
							                    	no-repeat top left; width: 41px; height: 41px;">
							                	</div>
											</div>
										</div>
										<div class="time">
											<span class="icon material-icons" aria-hidden="true">schedule</span>
											<div class="data">
												<span>{{adventure.duration}}</span>
												<span data-ng-show="adventure.takeDays">&nbsp;{{adventure.duration>1?'días':'día'}}</span>
												<span data-ng-show="!adventure.takeDays">&nbsp;{{adventure.duration>1?'horas':'hora'}}</span>
											</div>
										</div>
										<div class="difficulty">
											<span class="icon material-icons" aria-hidden="true">fitness_center</span>
											<span data-ng-show="adventure.difficulty==0">&nbsp;Fácil</span>
											<span data-ng-show="adventure.difficulty==1">&nbsp;Normal</span>
											<span data-ng-show="adventure.difficulty==2">&nbsp;Difícil</span>
											<span data-ng-show="adventure.difficulty==3">&nbsp;Experto</span>
										</div>
									</div>
									<div class="pricing">
										<div class="price">
											<span class="money-symbol" data-ng-show = "adventure.price && adventure.price != 0">
												<span class="icon material-icons md-48" aria-hidden="true">attach_money</span>
											</span>
											<span data-ng-show="adventure.price > 0">
												{{adventure.price}}&nbsp;
											</span>
											<span data-ng-hide="adventure.price == 0 || adventure.price > 0">
												consultar
											</span>
											<span data-ng-show="adventure.price > 0" class="currency">
												{{adventure.currency == 0 ? 'ARS' : 'USD'}} 
											</span>
											<span data-ng-show="adventure.price == 0">
												gratuita
											</span>
										</div>
									</div>
									<div class="distance" data-ng-show="adventure._rankingInfo.geoDistance">
										<div class="price">
											<span class="number">
												{{adventure._rankingInfo.geoDistance /1000  |number:2}}&nbsp;
											</span>
											<span class="currency">
												KM
											</span>
										</div>
									</div>
								</div>
		                     </div>
					     </div>
					</a>
		 		</ng-card>
			</div>
		</section>

		<!-- Comiezo del formulario de contacto -->
		<div class="my-form modal" data-ng-class="{'show': ix.showform}">
			<form class="sign-form base-form modalContent" name="ContactForm" gzz-validate="info" data-ng-submit="SendContactInfo()" novalidate>
				<label class="form-field-text" gzz-valid="data.contact.name" data-ng-show="true">
					<span class="field-label">Nombre</span>
					<input type="text" data-ng-model="data.contact.name" required="" class="">
					<div class="error-message data-ng-binding">Completá este dato</div>
				</label>
				<label class="form-field-text" gzz-valid="data.contact.phone" data-ng-show="true">
					<span class="field-label">Teléfono (con código de área)</span>
					<input type="tel" name="phone" data-ng-model="data.contact.phone" required="" class="">
					<div class="error-message data-ng-binding">Completá este dato</div>
				</label>
				<label class="form-field-text" gzz-valid="user.email && !ix.emailConflict">
					<span class="field-label">Email</span>
					<input type="email" name="email" data-ng-model="user.email" required>
					<div class="error-message">
						<span data-ng-show="ContactForm.email.$error.required">{{data.genericErrorMessage}}</span>
						<span data-ng-show="ix.emailConflict">{{data.existingUser}}</span>
						<span data-ng-show="!ix.emailConflict && !ContactForm.email.$error.required">{{data.invalidFormat}}</span>
					</div>
				</label>
				<div class="form-field-text" gzz-valid="data.contact.description">
					<span class="field-label">Consulta</span>
					<input type="text" name="description" data-ng-model="data.contact.description" required>
					<div class="error-message ng-binding">{{data.genericErrorMessage}}</div>
				</div>
				<div class="button-stack" style="margin-bottom: 10px;">
					<button class="button button-primary button-lg button-block" data-ng-click="sendContactForm()" data-ng-class="{waiting:ix.submitting == 'info'}" data-ng-disabled="ix.submitting == 'info'">
						{{ix.submitting?'Enviando':'Enviar'}}
					</button>
				</div>
				<div class="button-stack">
					<button class="button button-default button-lg button-block" data-ng-click="cancelContactForm()">
						Cancelar
					</button>
				</div>

			    <div class="conditions">
					Al consultar, <a href="/terminos-condiciones" class="button button-sm button-naked" rel="nofollow">acepto Condiciones del servicio</a>, <!--<a href="" class="button button-sm button-naked">Condiciones sobre pagos</a>,--> <a href="/politica-privacidad" class="button button-sm button-naked" rel="nofollow">Politica de Privacidad y de Cookies</a> de Llamaway.
				</div>

			</form>
		</div>
	</div>
</div>

<script>

	function loadImages(){
		var allPayments = document.querySelectorAll('.payment-item .icon');
		for(var i=0; i<allPayments.length; i++){
        	allPayments[i].style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1468133588/pago_cqrwvt.png')";
        }
        var allActivities = document.querySelectorAll('.activity-sprite-similar');
        for(var i=0; i<allActivities.length; i++){
        	allActivities[i].style.backgroundImage = "url('https://res.cloudinary.com/llamaway/image/upload/v1475123550/adventure_types_uhc2su.png')";
        }
    }

    function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "https://maps.google.com/maps/api/js?key=AIzaSyDZL95pQHjWYOszZIN0uxA7Ktiob9rKdzY";
        document.body.appendChild(element);
    }

    window.addLoadEvent(loadImages);
    window.addLoadEvent(downloadJSAtOnload);

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '172645673106272',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
</script>
