@import '../../less/global/colors';
@import '../../less/global/modal';
@import '../../less/global/directives';
@import '../../less/mobile/forms';
@import '../../less/mobile/layout';
@import '../../less/mobile/buttons';
@import '../../less/mobile/cards';
@site-max-width: 750px;
@site-min-width: 320px;

[data-ng-controller="AdventureCtrl"] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 56px;
    .md-48{
        font-size: 48px;
    }

    ng-card{
        margin: 0px 0px 24px 0px;
        background-color: white;
    }

    .main{
        .aventure-data-container{
            position: relative;
            top:-4px;
            background-color: white;
            .general-data{
                padding: 0px;
                .description{
                    padding: 12px;
                    color:@primary-color;
                    .name{
                        .title{
                            font-size: 20px;
                        }
                    }
                    .place{
                        font-size: 16px;
                        padding-top: 4px;
                        color: grey;
                    }
                    border-bottom: 1px solid @gzz-light-gray;
                }
                .specs {
                    padding: 12px;
                    display: flex;
                    justify-content: space-around;
                    color:@primary-color;
                    .icon {
                        font-size: 32px;
                        padding-bottom: 8px;
                    }
                    .time, .difficulty {
                        display: flex;
                        flex-basis: 32%;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        .data{
                            display: flex;
                        }
                        span {
                            text-align: center;
                        }
                    }
                    .type-container{
                        display: flex;
                        flex-basis: 36%;
                        align-items: center;
                        justify-content: center;
                        .type{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            align-items: center;
                            max-width: 106px;
                            max-height: 106px;
                            overflow: hidden;
                            .activity-sprite{
                                margin: 4px;
                            }
                            .sprite-acuatico { 
                                background-position: 0 0 !important;
                            }
                            .sprite-avistaje { 
                                background-position: -42px 0 !important; 
                            }
                            .sprite-cabalgata { 
                                background-position: -85px 0 !important; 
                            }
                            .sprite-camping { 
                                background-position: -129px 0 !important; 
                            }
                            .sprite-ciclismo { 
                                background-position: -171px 0 !important; 
                            }
                            .sprite-extremo { 
                                background-position: -215px 0 !important; 
                            }
                            .sprite-invernal { 
                                background-position: -258px 0 !important; 
                            }
                            .sprite-expedicion { 
                                background-position: -301px 0 !important; 
                            }
                            .sprite-montanismo { 
                                background-position: -344px 0 !important; 
                            }
                            .sprite-pesca { 
                                background-position: -386px 0 !important; 
                            }
                            .sprite-otros { 
                                background-position: -430px 0 !important; 
                            }
                        }
                    }
                    border-bottom: 1px solid @gzz-light-gray;

                }
                .pricing{
                    padding: 12px;
                    display: flex;
                    flex-basis: 30%;
                    border-bottom: 1px solid @gzz-light-gray;
                    .price{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        flex: 1;
                        span{
                            text-align: center
                        }
                    }
                    .pay-methods{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex: 1;
                        margin-left: 8px;
                        .payment-item{
                            padding-bottom: 8px;
                        }
                    }
                }
                .lead{
                    padding: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-basis: 15%;
                    .button-stack{
                        width: 50%;
                    }
                }
            }
        }
    }

    .details{
        .card-title{
            color:#6A2871;
            font-size: 20px;
            padding: 16px;
        }
        .card-text{
            padding: 8px 16px 16px 16px;
        }
        .view-more{
            text-align: center;
            background: rgb(246, 244, 249);
            a{
                margin-right: 0px!important;
                color: #6A2871!important;
            }

        }
        .payment-item{
            display: flex;
            align-items:center;
            padding-bottom: 20px;
            .icon{
                width: 45px;
                height: 45px;
                background-color: grey; 
                margin-right: 20px;
                &.Efectivo { background-position: -55px 0 !important; } 
                &.débito { background-position: -110px 0 !important; } 
                &.crédito { background-position: -165px 0 !important; } 
            }
        }
        .aboutUs{
            .card-content .company {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 10px;
                .logo {
                    width: 100px;
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    align-content: center;
                    background-color: white;
                    border: 1px solid @gzz-medium-gray;
                    margin-right: 20px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        flex-grow: 0;
                    }
                }
                .data {
                    margin-top: 0;
                    .company-name {
                        font-size: 1.3em;
                        font-weight: 300;
                        text-transform: capitalize;
                    }
                    .location {
                        i{
                            color: @gzz-dark-gray;
                            padding-right: 10px;
                        }
                        span{
                            color: @gzz-dark-gray;
                            font-size: 1em;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }


    .similar-adventures{
        .main-title{
            display:flex;
            justify-content: space-between;
            align-items: stretch;
            color: @primary-color;
            border-bottom: solid 1px #dac9db;
            font-size: 16px;
            padding: 8px;
            background-color: @generalBackgroundColor;
        }
        .adventures-container{
            .card-adventure{
                .image-container{
                    img{
                        width: 100%;
                    }
                    &.border{
                        border-bottom: solid 1px #dac9db;
                    }
                }
                .aventure-data-container{
                    position: relative;
                    background-color: white;
                    .general-data{
                        padding: 8px;
                        .description{
                            color:@primary-color;
                            .name{
                                .title{
                                    font-size: 20px;
                                }
                            }
                            .place{
                                font-size: 16px;
                                padding-top: 4px;
                                color: grey;
                            }
                        }
                        .sponsor{
                            display: flex;
                            flex-direction: row;
                            margin-top: 16px;
                            .image-container{
                                flex-basis: 30%;
                            }
                            .advice{
                                flex-basis: 70%;
                                display: flex;
                                align-items: center;
                                color: grey;
                            }
                        }
                        .specs {
                            display: flex;
                            justify-content: space-around;
                            margin: 12px 0px 12px 0px; 
                            color:@primary-color;
                            .icon {
                                font-size: 32px;
                                padding-bottom: 8px;
                            }
                            .time, .difficulty {
                                display: flex;
                                flex-basis: 32%;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                .data{
                                    display: flex;
                                }
                                span {
                                    text-align: center;
                                }
                            }
                            .type-container{
                                display: flex;
                                flex-basis: 36%;
                                align-items: center;
                                justify-content: center;
                                .type{
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    align-items: center;
                                    max-width: 106px;
                                    max-height: 106px;
                                    overflow: hidden;
                                    .activity-sprite-similar{
                                        margin: 4px;
                                    }
                                    .sprite-acuatico { 
                                        background-position: 0 0 !important;
                                    }
                                    .sprite-avistaje { 
                                        background-position: -42px 0 !important; 
                                    }
                                    .sprite-cabalgata { 
                                        background-position: -85px 0 !important; 
                                    }
                                    .sprite-camping { 
                                        background-position: -129px 0 !important; 
                                    }
                                    .sprite-ciclismo { 
                                        background-position: -171px 0 !important; 
                                    }
                                    .sprite-extremo { 
                                        background-position: -215px 0 !important; 
                                    }
                                    .sprite-invernal { 
                                        background-position: -258px 0 !important; 
                                    }
                                    .sprite-expedicion { 
                                        background-position: -301px 0 !important; 
                                    }
                                    .sprite-montanismo { 
                                        background-position: -344px 0 !important; 
                                    }
                                    .sprite-pesca { 
                                        background-position: -386px 0 !important; 
                                    }
                                    .sprite-otros { 
                                        background-position: -430px 0 !important; 
                                    }
                                }
                            }

                        }
                        .pricing{
                            position: absolute;
                            top:-53px;
                            right: 0px;
                            color:white;
                            background-color: rgba(45,45,45,0.9);
                            padding: 8px;
                            .money-symbol{
                                .icon{
                                    font-size: 18px;
                                }
                            }
                            .currency{
                                font-size: 16px;
                            }
                            .price{
                                display: flex;
                                align-items: center;
                                font-size: 24px;
                            }
                        }
                        .distance{
                            position: absolute;
                            top:-53px;
                            left: 0px;
                            color:white;
                            background-color: rgba(45,45,45,0.9);
                            padding: 8px;
                            .price{
                                display: flex;
                                align-items: center;
                                font-size: 16px;
                                padding: 5px 0px;
                            }
                            .currency{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .map{
        width: 100%;
        height: 400px;
        margin: auto;
    }

    .main-company{
        display: flex;
        align-items:center;
        .logo{
            text-align:center;
            margin-top: auto;
            margin-bottom: auto;
            padding: 0px 20px 0px 20px;
            flex-basis: 25%;
        }
        .name{
            .title{
                font-size: 1.2em;
                color: #6A2871;
            }
            .place{
                font-size: 1em;
                padding-top: 10px;
                color:grey;
            }
        }
    }

    .my-form {
        .alert{
            >img{
                height: 15px;
            }
        }
        .alert+form {
            border-top: 1px solid @gzz-medium-gray;
        }
        form{
            background-color: @white;
            .field-text, .field-label {
                &.small{
                    display: block;
                    font-size: 15px;
                    font-weight: 300;
                }
            }

            .field-text.pageUrl{
                overflow-wrap: break-word;
            }
            .light{
                color: @gzz-dark-gray;
            }
        }

    }
    .base-form {
        padding: 20px 20px 20px;
    }

    section{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
    }
    .section-image-container{
        padding: 0px;
        .swiper-container{
            .swiper-slide{
                text-align: center;
            }
            .image{
                overflow: hidden;
                max-width: 100%;
                height: auto;
            }
        }
    }


    .modalContent{
        .conditions{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 16px;
            padding-bottom: 16px;
            font-size: 16px;
            a{
                font-size: 16px;
                opacity: 0.6;
                color: @secondary-color;
            }
        }
    }
}
