@import '../../less/global/colors';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/desktop/alerts';
@import '../../less/desktop/forms';
@import '../../less/desktop/buttons';
@import '../../less/desktop/text';
@import '../../less/desktop/cards';
@import '../../less/desktop/modal';

[ng-controller="LoadImagesCtrl"] {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    
    .container{
        width: 1280px;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 32px;
        .content {
            margin: auto;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            max-width: 1000px;
        }
    }

    .page-header{
        background-color: white;
        border-bottom: 2px solid @secondary-color;
        .adventure-name{
            font-weight: 300;
        }
    }

    .loadingSpinner{
        display: none;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        position: fixed;
        background-color: rgba(34, 34, 34, 0.498039);
        /*.loadingContainer{
            display: none;
            position: relative;
            top: 30%;
            left: 45%;
            border-radius: 50%;
            background-color: @primary-color;
            height: 300px;
            width: 300px;
            .loading{
                top: 30%;
                padding-top: 67px;
            }
        }
        */
        .radial-progress {
            position: relative;
            top: 30%;
            left: 45%;
            @circle-size: 220px;
            @circle-background: #d6dadc;
            @circle-color: @primary-color;
            @inset-size: 200px;
            @inset-color: #fbfbfb;
            @transition-length: 1s;
            @shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
            @percentage-color: @primary-color;
            @percentage-font-size: 50px;
            @percentage-text-width: 180px;
            margin: 50px;
            width: @circle-size;
            height: @circle-size;
            background-color: @circle-background;
            border-radius: 50%;
            .circle {
                .mask,
                .fill,
                .shadow {
                    width: @circle-size;
                    height: @circle-size;
                    position: absolute;
                    border-radius: 50%;
                }
                .shadow {
                    box-shadow: @shadow inset;
                }
                .mask,
                .fill {
                    -webkit-backface-visibility: hidden;
                    transition: -webkit-transform @transition-length;
                    transition: -ms-transform @transition-length;
                    transition: transform @transition-length;
                    border-radius: 50%;
                }
                .mask {
                    clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
                    .fill {
                        clip: rect(0px, @circle-size/2, @circle-size, 0px);
                        background-color: @circle-color;
                    }
                }
            }
            .inset {
                width: @inset-size;
                height: @inset-size;
                position: absolute;
                margin-left: (@circle-size - @inset-size)/2;
                margin-top: (@circle-size - @inset-size)/2;
                background-color: @inset-color;
                border-radius: 50%;
                box-shadow: @shadow;
                .percentage {
                    height: 100px;
                    width: @percentage-text-width;
                    overflow: hidden;
                    position: absolute;
                    top: (@inset-size - @percentage-font-size) / 2;
                    left: (@inset-size - @percentage-text-width) / 2;
                    line-height: 1;
                    .numbers {
                        margin-top: -@percentage-font-size;
                        transition: width @transition-length;
                        span {
                            width: @percentage-text-width;
                            display: inline-block;
                            vertical-align: top;
                            text-align: center;
                            font-weight: 800;
                            font-size: @percentage-font-size;
                            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                            color: @percentage-color;
                            &.time{
                                font-size: 16px;
                                text-align: initial;
                                font-weight: 400;
                                margin-left: 20px;
                                &.low{
                                   margin-left: 10px; 
                                }
                            }
                        }
                    }
                }
            }
            @i: 0;
            @increment: 180deg / 100;
            .loop (@i) when (@i <=100) {
                &[data-progress="@{i}"] {
                    .circle {
                        .mask.full,
                        .fill {
                            -webkit-transform: rotate(@increment * @i);
                            -ms-transform: rotate(@increment * @i);
                            transform: rotate(@increment * @i);
                        }
                        .fill.fix {
                            -webkit-transform: rotate(@increment * @i * 2);
                            -ms-transform: rotate(@increment * @i * 2);
                            transform: rotate(@increment * @i * 2);
                        }
                    }
                }
                .loop(@i + 1);
            }
            .loop(@i);
        }
    }

    .main-card{
        display: flex;
        background-color: white;
        width: 100%;
        .aside{
            flex-basis: 25%;
            display: flex;
            flex-direction: column;
            border-right: 1px solid @secondary-color;
            padding: 16px;
            .subtitle{
                text-align: center;
            }
            .images{
                display: flex;
                flex-direction: column;
                align-items: center;
                .image-container{
                    width: 250px;
                    .exist-image{
                        position: relative;
                        img{
                            width: 100%;
                            margin-top: 16px;
                        }
                        .delete-image{
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top:18px;
                            right: 1px;
                            font-size: 32px;
                            width: 26px;
                            height: 26px;
                            color: @secondary-color;
                            background-color: white;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                    .empty-image{
                        display: flex;
                        margin-top: 16px;
                        justify-content: center;
                        align-items: center;
                        background-color: #F7F7F7;
                        height: 143px;
                        width: 250px;
                        font-size: 32px;
                        font-family: 'Amatica SC', cursive;
                    }
                }
            }
            .action-container{
                display: flex;
                justify-content: center;
                margin-top: 16px;
            }
        }
        .body{
            flex-basis: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            form{
                .body-title{
                    text-align: center;
                    padding: 16px;
                }
                .image-container{
                    text-align: center;
                    .empty-images{
                        width: 600px;
                    }
                    .picture-crop-container{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .subtitule{
                            margin-bottom: 32px;
                        }
                        img-crop{
                            width: 600px;
                            height: 353px;
                        }
                    }
                }
                .actions-container{
                    margin-top: 16px;
                    display: flex;
                    justify-content: center;
                    .upload-button{
                        display: flex;
                        justify-content: space-between;
                        width: 500px;
                        button{
                            width: 200px;
                        }
                    }
                }
                .more-images{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    a{
                        color: @secondary-color;
                    }
                }

            }
        }
    }
}
