@import '../../less/global/colors';
@import '../../less/global/directives';
@import '../../less/global/layout';
@import '../../less/desktop/alerts';
@import '../../less/desktop/forms';
@import '../../less/desktop/buttons';
@import '../../less/desktop/text';
@import '../../less/desktop/cards';
@import '../../less/desktop/modal';

[ng-controller="LoadImagesCtrl"] {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    flex: 1;
    
    .container{
        display: flex;
        flex: 1;
        width: 100%;
        margin: auto;
        margin-top: 32px;
        .loadingSpinner{
            display: none;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            position: absolute;
            z-index: 100;
            background-color: rgba(34, 34, 34, 0.498039);
            .radialContainer{
                display: flex;
                height: 100vh;
                .radial-progress {
                    @circle-size: 220px;
                    @circle-background: #d6dadc;
                    @circle-color: @primary-color;
                    @inset-size: 200px;
                    @inset-color: #fbfbfb;
                    @transition-length: 1s;
                    @shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
                    @percentage-color: @primary-color;
                    @percentage-font-size: 50px;
                    @percentage-text-width: 180px;
                    margin: auto;
                    width: @circle-size;
                    height: @circle-size;
                    background-color: @circle-background;
                    border-radius: 50%;
                    .circle {
                        .mask,
                        .fill,
                        .shadow {
                            width: @circle-size;
                            height: @circle-size;
                            position: absolute;
                            border-radius: 50%;
                        }
                        .shadow {
                            box-shadow: @shadow inset;
                        }
                        .mask,
                        .fill {
                            -webkit-backface-visibility: hidden;
                            transition: -webkit-transform @transition-length;
                            transition: -ms-transform @transition-length;
                            transition: transform @transition-length;
                            border-radius: 50%;
                        }
                        .mask {
                            clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
                            .fill {
                                clip: rect(0px, @circle-size/2, @circle-size, 0px);
                                background-color: @circle-color;
                            }
                        }
                    }
                    .inset {
                        width: @inset-size;
                        height: @inset-size;
                        position: absolute;
                        margin-left: (@circle-size - @inset-size)/2;
                        margin-top: (@circle-size - @inset-size)/2;
                        background-color: @inset-color;
                        border-radius: 50%;
                        box-shadow: @shadow;
                        .percentage {
                            height: 100px;
                            width: @percentage-text-width;
                            overflow: hidden;
                            position: absolute;
                            top: 65px;
                            left: (@inset-size - @percentage-text-width) / 2;
                            line-height: 1;
                            .numbers {
                                margin-top: -@percentage-font-size;
                                transition: width @transition-length;
                                span {
                                    width: @percentage-text-width;
                                    display: inline-block;
                                    vertical-align: top;
                                    text-align: center;
                                    font-weight: 800;
                                    font-size: @percentage-font-size;
                                    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                    color: @percentage-color;
                                    &.time{
                                        font-size: 16px;
                                        text-align: initial;
                                        font-weight: 400;
                                        margin-left: 20px;
                                        &.low{
                                           margin-left: 10px; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @i: 0;
                    @increment: 180deg / 100;
                    .loop (@i) when (@i <=100) {
                        &[data-progress="@{i}"] {
                            .circle {
                                .mask.full,
                                .fill {
                                    -webkit-transform: rotate(@increment * @i);
                                    -ms-transform: rotate(@increment * @i);
                                    transform: rotate(@increment * @i);
                                }
                                .fill.fix {
                                    -webkit-transform: rotate(@increment * @i * 2);
                                    -ms-transform: rotate(@increment * @i * 2);
                                    transform: rotate(@increment * @i * 2);
                                }
                            }
                        }
                        .loop(@i + 1);
                    }
                    .loop(@i);
                }
            }
        }
        .content{
            flex: 1;
            margin: initial;
            .page-header{
                margin-top: 24px;
                padding: 8px;
                .title-hero{
                    font-size: 20px;
                }
                .adventure-name{
                    font-weight: 300;
                }
            }

            .main-card{
                display: flex;
                flex-direction: column;
                flex: 1;
                background-color: white;
                width: 100%;
                .all-images{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    .body-title{
                        text-align: center;
                        padding: 16px;
                    }
                    .subtitle{
                        text-align: center;
                    }
                    .images{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .image-container{
                            position: relative;
                            margin-right: 5px;
                            &:last-child{
                                margin-right: 0;
                            }
                            .exist-image{
                                position: relative;
                                img{
                                    width: 100%;
                                    margin-top: 16px;
                                }
                                .delete-image{
                                    position: absolute;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    top:18px;
                                    right: 1px;
                                    font-size: 32px;
                                    width: 26px;
                                    height: 26px;
                                    color: @secondary-color;
                                    background-color: white;
                                    border-radius: 50%;
                                }
                            }
                            .action{
                                position: absolute;
                                bottom: 8px;
                                right: 12px;
                                font-size: 32px;
                            }
                        }
                    }
                    .action-container{
                        display: flex;
                        justify-content: center;
                        margin-top: 32px;
                        margin-bottom: 32px;
                    }
                }
                .body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    form{
                        .image-container{
                            text-align: center;
                            .picture-crop-container{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .subtitule{
                                    font-size: 16px;
                                    margin-top: 32px;
                                    margin-bottom: 32px;
                                }
                                img-crop{
                                    width: 320px;
                                    height: 188px;
                                }
                            }
                        }
                        .actions-container{
                            margin-top: 32px;
                            margin-bottom: 32px;
                            display: flex;
                            justify-content: center;
                            .upload-button{
                                display: flex;
                                width: 100%;
                                justify-content: space-around;
                                button{
                                    width: 150px;
                                }
                            }
                        }
                        .more-images{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            a{
                                color: @secondary-color;
                            }
                            .title{
                                margin: 16px 0;
                            }
                            .subtitle{
                                margin-left: 16px;
                            }
                            .buttonContainer{
                                margin-top: 32px;
                                margin-bottom: 32px;
                            }
                        }

                    }
                }
            }
        }
    }
}
