{{={{{ }}}=}}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<!-- Upload -->
<script src="//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.min.js"></script>
<script src="/libs/ngImgCropFullExtended/ng-img-crop.js"></script>
<link rel="stylesheet" href="/libs/ngImgCropFullExtended/ng-img-crop.css">

<!-- Traer estoy dinamicamente:Roque -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57d1e8c211028a70b19365e6/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<div ng-controller="LoadImagesCtrl" ng-init='data.adventure._id="{{{adventureId}}}"'>
	<div class="container">
	    <div class="loadingSpinner">
	    	<div class="radialContainer">
				<div class="radial-progress" data-progress="0">
				    <div class="circle">
				        <div class="mask full">
				            <div class="fill"></div>
				        </div>
				        <div class="mask half">
				            <div class="fill"></div>
				            <div class="fill fix"></div>
				        </div>
				        <div class="shadow"></div>
				    </div>
				    <div class="inset">
				        <div class="percentage">
				            <div class="numbers"><span>-</span><span>{{progressPercentage}}%</span><span class="time" data-ng-class="{'low':low}">Restan {{restTime  | number:0}} segundos <a href="" alt="Recordá que el tiempo de subida de la imagen varia según tu conexión y tamaño de la imagen."><i class="fa fa-question-circle" data-ng-show="low"></i></a></span></div>
				        </div>
				    </div>
				</div>
	    		
	    	</div>	
	    </div>
		<div class="content">
			<header class="page-header">
	        	<h1 class="title-hero">Cargar imágenes de <span class="adventure-name">{{data.adventure.name}}</span></h1>
	    	</header>
	    	<div class="main-card">
	    		<div class="all-images" data-ng-show="!picFile.name">
	    			<div class="body-title" data-ng-show="!picFile.name && data.adventure.profile_picture.length < 3">
		            	Podés subir hasta 3 imágenes por aventura
		        	</div>
	                <div class="images">
	                    <div class="image-container" data-ng-if="data.adventure.profile_picture && data.adventure.profile_picture.length > 0" 
	                    	data-ng-repeat="picture in data.adventure.profile_picture">
	                    	<div class="exist-image">
		                    	<img data-ng-src="{{picture.url}}">
		                        <span data-ng-click="deleteImage(picture.imageId)" class="delete-image">
		                            <i class="fa fa-times-circle" aria-hidden="true"></i>
		                        </span>
		                    </div>
	                    </div>
	                </div>
	            </div>

	    		<div class="body">	
		            <form name="image-form" class="image-form">
		                <div class="image-container" data-ng-show="!picFile.name || data.adventure.profile_picture.length < 3">
		              		<div class="picture-crop-container" ng-show="picFile">
			                    <div ng-model="picFile" ngf-pattern="image/*" class="cropArea">
			                        <div class="title-rg subtitule">
			                            Elegí que parte de la foto vas a subir
			                        </div>
			                        <img-crop   image="picFile  | ngfDataUrl"
			                                    result-image="croppedDataUrl" ng-init="croppedDataUrl=''"
			                                    area-type="rectangle" result-image-format="image/jpeg"
			                                    aspect-ratio="1.7" result-image-size="'max'" init-max-area="true" live-view="blockingObject">
			                        </img-crop>
			                    </div>
			                </div>
		                </div>
		                <div class="actions-container" data-ng-show="data.adventure.profile_picture.length < 3">
		                	<div data-ng-show="picFile.name" class="upload-button">

		                        <button class="button button-lg" ng-model="picFile" accept="image/*"
		                        data-ng-show="picFile.name" data-ng-click="cleanImage()" data-ngf-select>
		                            Cambiar imagen
		                        </button>

		                        <button class="button button-primary" ng-click="upload(picFile.name)">
		                            Subir foto
		                        </button>
		                    </div>
		                    
		                	<div data-ng-show="!picFile.name" class="button-stack select-button">
			                    <button class="button button-block button-primary button-lg" ng-model="picFile" ngf-select accept="image/*" data-ng-show="!picFile.name">
			                        Seleccionar imagen
			                    </button>
			                    <button data-ng-click="finish()" 
			                    class="button button-block button-lg button-secondary">
			                        Finalizar carga de imágenes
			                    </button>
			                </div>
		                </div>

		               	<div class="more-images" data-ng-show="data.adventure.profile_picture.length > 2">
		               		<div class="title">¿Querés agregar más imágenes?</div>
		               		<div class="subtitle">Comunicate con nuestro equipo <a href="mailto:comercial@llamaway.com" target="_blank">comercial@llamaway.com</a></div>
		                	<div class="buttonContainer" data-ng-show="!picFile.name" class="button-stack select-button">
			                    <button data-ng-click="finish()" 
			                    class="button button-block button-lg button-secondary">
			                        Finalizar carga de imágenes
			                    </button>
			                </div>
		                </div>
		            </form>
	    		</div>
			</div>
		</div>
	</div>
</div>
